<SidebarContainer>
  <:sidebar>
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content au-o-box">
        <form
          {{on "reset" this.resetFilters}}
          class="au-o-grid au-o-grid--small"
        >
          <div class="au-o-grid__item au-u-1-2@small au-u-1-1@medium">
            <AuLabel for="filter-name">Naam</AuLabel>
            <OrganizationSelectByName
              @id="filter-name"
              @selected={{this.name}}
              @onChange={{this.setName}}
              class="grow"
            />
          </div>
          <div class="au-o-grid__item au-u-1-2@small au-u-1-1@medium">
            <AuLabel for="filter-identifier">Identificator</AuLabel>
            <OrganizationSelectByIdentifier
              @id="filter-identifier"
              @selected={{this.identifier}}
              @onChange={{this.setIdentifier}}
              class="grow"
            />
          </div>
          <div class="au-o-grid__item au-u-1-2@small au-u-1-1@medium">
            <AuLabel for="filter-municipality">Gemeente</AuLabel>
            <MunicipalitySelectByName
              @selected={{this.municipality}}
              @onChange={{this.setMunicipality}}
              @selectedProvince={{this.province}}
              @id="filter-municipality"
            />
          </div>
          <div class="au-o-grid__item au-u-1-2@small au-u-1-1@medium">
            <AuLabel for="filter-province">
              Provincie
              <AuIcon @icon="circle-question" @alignment="right" />
              <EmberTooltip @text="Kies een Vlaamse provincie of het Brussels Hoofdstedelijk gewest" />
            </AuLabel>
            <ProvinceSelect
              @selected={{this.province}}
              @onChange={{this.setProvince}}
              @selectedMunicipality={{this.municipality}}
              @id="filter-province"
            />
          </div>
          {{#if this.currentSession.hasUnitRole}}
            <div class="au-o-grid__item au-u-1-2@small au-u-1-1@medium">
              <AuLabel for="organization-type">Type organisatie</AuLabel>
              <OrganizationTypeMultipleSelect
                @selected={{this.organizationTypes}}
                @onChange={{this.setOrganizationTypes}}
                @selectedClassificationIds={{this.classificationIds}}
                @allowClear={{true}}
                @id="organization-type"
              />
            </div>
          {{/if}}
          <div class="au-o-grid__item au-u-1-2@small au-u-1-1@medium">
            <AuLabel for="classification">Type</AuLabel>
            <ClassificationMultipleSelect
              @selected={{this.classificationIds}}
              @onChange={{this.setClassificationIds}}
              @allowClear={{true}}
              @selectedRecognizedWorshipTypeId={{this.recognizedWorshipTypeId}}
              @selectedOrganizationTypes={{this.organizationTypes}}
              @id="classification"
            />
          </div>
          {{#if this.currentSession.hasWorshipRole}}
            <div class="au-o-grid__item au-u-1-2@small au-u-1-1@medium">
              <AuLabel for="recognized-worship-types">Soort eredienst</AuLabel>
              <RecognizedWorshipTypeSelect
                @selected={{this.recognizedWorshipTypeId}}
                @onChange={{this.setRecognizedWorshipTypeId}}
                @allowClear={{true}}
                @selectedClassificationId={{this.classificationIds}}
                @id="recognized-worship-types"
              />
            </div>
          {{/if}}
          <div class="au-o-grid__item au-u-1-2@small au-u-1-1@medium">
            <AuLabel for="statuses">Status</AuLabel>
            <OrganizationStatusSelect
              @selected={{this.organizationStatus}}
              @onChange={{this.setOrganizationStatus}}
              @allowClear={{true}}
              @id="statuses"
            />
          </div>
          <div class="au-o-grid__item">
            <AuButton @skin="link" type="reset">
              <AuIcon @icon="cross" @alignment="left" />
              Herstel alle filters
            </AuButton>
          </div>
        </form>
      </div>
    </div>
  </:sidebar>
  <:content>
    <AuDataTable
      @content={{this.organizations}}
      @isLoading={{this.showTableLoader}}
      @page={{this.page}}
      @size={{this.size}}
      as |t|
    >
      <t.menu as |menu|>
        <menu.general>
          <PageHeader class="au-o-box">
            <:title>Organisaties</:title>
            <:action>
              <SecuredArea>
                <:edit>
                  <AuLink
                    @route="organizations.new"
                    @icon="add"
                    @iconAlignment="left"
                    @skin="button"
                  >
                    Nieuw
                  </AuLink>
                </:edit>
              </SecuredArea>
            </:action>
          </PageHeader>
        </menu.general>
      </t.menu>
      <t.content class="au-c-data-table__table--small" as |c|>
        <c.header>
          <AuDataTableThSortable
            @field="name"
            @currentSorting={{this.sort}}
            @label="Naam"
          />
          <AuDataTableThSortable
            @field="classification_name"
            @currentSorting={{this.sort}}
            @label="Type"
          />
          {{#if this.currentSession.hasWorshipRole}}
            <AuDataTableThSortable
              @field="recognized_worship_type_name"
              @currentSorting={{this.sort}}
              @label="Soort eredienst"
            />
          {{/if}}
          <AuDataTableThSortable
            @field="province"
            @currentSorting={{this.sort}}
            @label="Provincie"
          />
          <AuDataTableThSortable
            @field="municipality"
            @currentSorting={{this.sort}}
            @label="Gemeente"
          />
          <AuDataTableThSortable
            @field="status"
            @currentSorting={{this.sort}}
            @label="Status"
          />
        </c.header>
        {{#if this.hasErrored}}
          <TableMessage::Error />
        {{else if this.hasNoResults}}
          <TableMessage>
            <p>
              Er werden geen zoekresultaten gevonden. Kijk na op spelfouten, of
              probeer een andere zoekopdracht. Indien een organisatie ontbreekt,
              meld dit aan
              <a
                class="au-c-link"
                href="mailto:{{config 'contactEmail'}}"
              >{{config "contactEmail"}}</a>
              of
              <AuLink @route="organizations.new">maak een organisatie aan.</AuLink>
            </p>
          </TableMessage>
        {{else}}
          <c.body as |organization|>
            <td>
              <AuLink @route={{organization.route}} @model={{organization.id}}>
                {{#if organization.legal_name}}
                  {{organization.legal_name}}
                {{else}}
                  {{organization.name}}
                {{/if}}
              </AuLink>
            </td>
            <td>{{organization.classification_name}}</td>
            {{#if this.currentSession.hasWorshipRole}}
              <td>{{organization.recognized_worship_type_name}}</td>
            {{/if}}
            <td>{{organization.province}}</td>
            <td>{{organization.municipality}}</td>
            <td>
              {{#if organization.status}}
                <OrganizationStatus
                  @id={{organization.status_id}}
                  @label={{organization.status}}
                />
              {{/if}}
            </td>
          </c.body>
        {{/if}}
      </t.content>
    </AuDataTable>
  </:content>
</SidebarContainer>
