{{page-title "Voeg organisatie toe"}}
{{breadcrumb "Voeg organisatie toe"}}

<div class="au-c-body-container au-c-body-container--scroll">
  <PageHeader class="au-u-margin au-u-margin-bottom-large">
    <:title>Voeg organisatie toe</:title>
    <:action>
      <div class="au-u-text-right">
        <AuButtonGroup class="au-c-button-group--align-right">
          <AuLink @route="organizations" @skin="button-secondary">
            Annuleer
          </AuLink>
          <AuButton
            @loading={{this.createOrganizationTask.isRunning}}
            type="submit"
            form="organization-creation-form"
            @icon="add"
            @iconAlignment="left"
          >
            Voeg toe
          </AuButton>
        </AuButtonGroup>
        <Error::Save @showSaveError={{this.hasValidationErrors}} />
      </div>
    </:action>
  </PageHeader>

  <form
    class="au-o-box au-o-flow au-o-flow--large"
    id="organization-creation-form"
    aria-label="organization-creation-form"
    {{on "submit" (perform this.createOrganizationTask)}}
  >
    <EditCard @containsRequiredFields={{true}}>
      <:title>Organisatie</:title>
      <:card as |Card|>
        <Card.Columns>
          <:left as |Item|>
            <Item @labelFor="organization-abb-name" @required={{true}}>
              <:label>Naam</:label>
              <:content as |hasError|>
                <TrimInput
                  @width="block"
                  @disabled={{true}}
                  @value={{this.currentOrganizationModel.abbName}}
                  @onUpdate={{fn (mut this.currentOrganizationModel.name)}}
                  @error={{hasError}}
                  id="organization-abb-name"
                />
              </:content>
              <:helpText>
                {{help-text "abbName"}}
              </:helpText>
            </Item>
            <Item
              @labelFor="organization-legal-name"
              @required={{true}}
              @errorMessage={{this.currentOrganizationModel.error.legalName.message}}
            >
              <:label>Juridische naam</:label>
              <:content as |hasError|>
                <TrimInput
                  @width="block"
                  @value={{this.currentOrganizationModel.legalName}}
                  @onUpdate={{this.setNames}}
                  @error={{hasError}}
                  id="organization-legal-name"
                />
              </:content>
              <:helpText>
                {{help-text "legalName"}}
              </:helpText>
            </Item>
            <Item
              @labelFor="organization-alternative-names"
              @required={{false}}
            >
              <:label>Alternatieve naam</:label>
              <:content as |hasError|>
                <TrimInput
                  @width="block"
                  @disabled={{false}}
                  @value={{this.currentOrganizationModel.alternativeName}}
                  @onUpdate={{this.setAlternativeNames}}
                  @error={{hasError}}
                  id="organization-alternative-names"
                />
              </:content>
              <:helpText>
                {{help-text "alternativeNames"}}
              </:helpText>
            </Item>
            <Item
              @labelFor="classification-select"
              @required={{true}}
              @errorMessage={{this.currentOrganizationModel.error.classification.message}}
            >
              <:label>Type organisatie</:label>
              <:content as |hasError|>
                <ClassificationSelect
                  @selected={{this.currentOrganizationModel.classification}}
                  @selectedRecognizedWorshipTypeId={{this.currentOrganizationModel.recognizedWorshipType.id}}
                  @onChange={{this.organizationConverter}}
                  @restrictForNewOrganizations={{true}}
                  @error={{hasError}}
                  @id="classification-select"
                />
              </:content>
            </Item>
            {{#if this.currentOrganizationModel.isWorshipAdministrativeUnit}}
              <Item
                @labelFor="recognized-worship-type-select"
                @required={{true}}
                @errorMessage={{this.currentOrganizationModel.error.recognizedWorshipType.message}}
              >
                <:label>Soort eredienst</:label>
                <:content as |hasError|>
                  <RecognizedWorshipTypeSelect
                    @selected={{this.currentOrganizationModel.recognizedWorshipType}}
                    @onChange={{this.setRecognizedWorshipType}}
                    @allowClear={{true}}
                    @selectedClassificationId={{this.currentOrganizationModel.classification.id}}
                    @error={{hasError}}
                    @id="recognized-worship-type-select"
                  />
                </:content>
              </Item>
            {{/if}}
            {{#if this.currentOrganizationModel.isWorshipService}}
              <Item @labelFor="denomination">
                <:label>Strekking</:label>
                <:content>
                  <TrimInput
                    @width="block"
                    @value={{this.currentOrganizationModel.denomination}}
                    @onUpdate={{fn
                      (mut this.currentOrganizationModel.denomination)
                    }}
                    id="denomination"
                  />
                </:content>
              </Item>
              <Item @alignTop={{true}}>
                <:label>Grensoverschrijvend</:label>
                <:content>
                  <AuRadioGroup
                    @alignment="inline"
                    @name="is-cross-border"
                    @selected={{boolean
                      this.currentOrganizationModel.crossBorder
                    }}
                    @onChange={{fn
                      (mut this.currentOrganizationModel.crossBorder)
                    }}
                    as |Group|
                  >
                    <Group.Radio @value={{true}}>Ja</Group.Radio>
                    <Group.Radio @value={{false}}>Nee</Group.Radio>
                  </AuRadioGroup>
                </:content>
              </Item>
            {{/if}}
            {{#if
              (and
                this.currentOrganizationModel.isMunicipality
                this.currentOrganizationModel.scope.locatedWithin
              )
            }}
              <Item @labelFor="regio">
                <:label>Regio</:label>
                <:content>
                  {{this.currentOrganizationModel.scope.locatedWithin}}
                </:content>
              </Item>
            {{/if}}
            {{#if this.currentOrganizationModel.isIgs}}
              <Item
                @labelFor="expectedEndDate"
                @errorMessage={{this.currentOrganizationModel.error.expectedEndDate.message}}
              >
                <:label>Geplande einddatum</:label>
                <:content as |hasError|>
                  <Datepicker
                    @onChange={{fn
                      (mut this.currentOrganizationModel.expectedEndDate)
                    }}
                    @error={{hasError}}
                  />
                </:content>
              </Item>
              <Item @labelFor="purpose">
                <:label>Doel</:label>
                <:content>
                  <RichTextEditor
                    @onChange={{fn (mut this.currentOrganizationModel.purpose)}}
                    @value={{this.currentOrganizationModel.purpose}}
                  />
                </:content>
              </Item>
            {{/if}}
          </:left>
          <:right as |Item|>
            <Item
              @labelFor="status-select"
              @required={{true}}
              @errorMessage={{this.currentOrganizationModel.error.organizationStatus.message}}
            >
              <:label>Status</:label>
              <:content as |hasError|>
                <OrganizationStatusSelect
                  @selected={{this.currentOrganizationModel.organizationStatus}}
                  @onChange={{fn
                    (mut this.currentOrganizationModel.organizationStatus)
                  }}
                  @error={{hasError}}
                  @id="status-select"
                />
              </:content>
            </Item>
            <Item
              @labelFor="kbo-identifier"
              @errorMessage={{@model.identifierKBO.error.structuredIdentifier}}
              @required={{true}}
            >
              <:label>{{@model.identifierKBO.idName}}</:label>
              <:content as |hasError|>
                <AuInput
                  @width="block"
                  @error={{hasError}}
                  autocomplete="off"
                  value={{@model.structuredIdentifierKBO.localId}}
                  id="kbo-identifier"
                  class="au-c-input--mask"
                  placeholder="____.___.___"
                  {{au-inputmask
                    options=(hash mask="####.###.###" placeholder="_")
                  }}
                  {{on "input" this.setKbo}}
                />
              </:content>
              <:error as |error|>
                <Error::KboNumber @error={{error}} />
              </:error>
            </Item>
            <Item
              @labelFor="sharepoint-identifier"
              @errorMessage={{@model.identifierSharepoint.error.structuredIdentifier.message}}
            >
              <:label>{{@model.identifierSharepoint.idName}}</:label>
              <:content as |hasError|>
                <TrimInput
                  @width="block"
                  @value={{@model.structuredIdentifierSharepoint.localId}}
                  @onUpdate={{fn
                    (mut @model.structuredIdentifierSharepoint.localId)
                  }}
                  @error={{hasError}}
                  id="sharepoint-identifier"
                />
              </:content>
            </Item>
          </:right>
        </Card.Columns>
      </:card>
    </EditCard>

    {{#if (editable-contact-data this.currentOrganizationModel)}}
      <Site::ContactEditCard
        @address={{@model.address}}
        @primaryContact={{@model.contact}}
        @secondaryContact={{@model.secondaryContact}}
      >
        <:title>Primaire contactgegevens</:title>
      </Site::ContactEditCard>
    {{else}}
      <div class="au-u-max-width-large">
        <AuHeading @level="3" @skin="5" class="au-u-margin-bottom-tiny">
          Primaire contactgegevens
        </AuHeading>
        <p class="au-u-margin-bottom-small">
          De primaire contactgegevens kunnen niet langer in het OP ingegeven
          worden. Gelieve de contactgegevens (adres, telefoonnummers, e-mail en
          website) in te geven in de
          <AuLinkExternal
            href="https://controle.contactgegevens.lokaalbestuur.vlaanderen.be/"
          >
            controle omgeving van de contactapp
          </AuLinkExternal>. Deze contactgegevens stromen door naar het
          OrganisatiePortaal. De organisaties kunnen hun eigen gegevens nadien
          zelf aanpassen via de Contactapp.
        </p>
      </div>
    {{/if}}

    {{#if
      (and
        this.currentOrganizationModel.classification
        (not this.currentOrganizationModel.isAssociationOther)
        (not this.currentOrganizationModel.isCorporationOther)
      )
    }}
      <EditCard @containsRequiredFields={{true}}>
        <:title>Gerelateerde organisaties</:title>
        <:card as |Card|>
          {{#if this.currentOrganizationModel.isWorshipAdministrativeUnit}}
            <Card.Columns>
              <:left as |Item|>
                {{#if this.currentOrganizationModel.isCentralWorshipService}}
                  <Item @labelFor="related-worship-services">
                    <:label>Bestuur van de eredienst</:label>
                    <:content>
                      <WorshipServiceMultipleSelect
                        @selected={{this.worshipServices}}
                        @onChange={{fn (mut this.worshipServices)}}
                        @limitToActiveOrganizations={{true}}
                        id="related-worship-services"
                      />
                    </:content>
                  </Item>
                {{/if}}
                {{#if this.currentOrganizationModel.hasCentralWorshipService}}
                  <Item
                    @labelFor="related-central-worship-service"
                    @required={{false}}
                  >
                    <:label>Centraal bestuur</:label>
                    <:content as |hasError|>
                      <CentralWorshipSelect
                        @selected={{this.centralWorshipService}}
                        @onChange={{fn (mut this.centralWorshipService)}}
                        @limitToActiveOrganizations={{true}}
                        @error={{hasError}}
                        @id="related-central-worship-service"
                      />
                    </:content>
                  </Item>
                {{/if}}
                <Item
                  @labelFor="related-representative-body"
                  @required={{true}}
                  @errorMessage={{this.representativeBodyError}}
                >
                  <:label>Representatief orgaan</:label>
                  <:content as |hasError|>
                    {{! NOTE: No need to explicitly filter for active
                      organizations. There is currently only one inactive
                      representative body and that is blacklisted in the
                      component. }}
                    <RepresentativeBodySelect
                      @selected={{this.representativeBody}}
                      @onChange={{fn (mut this.representativeBody)}}
                      @error={{hasError}}
                      @id="related-representative-body"
                    />
                  </:content>
                </Item>
              </:left>
            </Card.Columns>
          {{else}}
            <Card.Columns>
              <:left as |Item|>
                {{#if
                  (or
                    this.currentOrganizationModel.isAgb
                    this.currentOrganizationModel.isDistrict
                    this.currentOrganizationModel.isIgs
                    this.currentOrganizationModel.isPoliceZone
                    this.currentOrganizationModel.isAssistanceZone
                  )
                }}
                  <Item
                    @labelFor="related-gemeente"
                    @required={{or this.currentOrganizationModel.isAgb this.currentOrganizationModel.isIgs this.currentOrganizationModel.isPoliceZone this.currentOrganizationModel.isAssistanceZone}}
                    @errorMessage={{this.municipalityError}}
                  >
                    <:label>Gemeente</:label>
                    <:content as |hasError|>
                      <MunicipalitySelect
                        @selected={{this.municipality}}
                        @onChange={{this.setMunicipality}}
                        @error={{hasError}}
                        @limitToActiveOrganizations={{true}}
                        @id="related-gemeente"
                      />
                    </:content>
                  </Item>

                  {{#if this.municipality}}
                    <Item>
                      <:label>Provincie</:label>
                      <:content>{{this.province.abbName}}</:content>
                    </Item>
                  {{/if}}

                  {{#if this.currentOrganizationModel.isAgb}}
                    <Item @required={{true}}>
                      <:label>Werd opgericht door</:label>
                      <:content>{{this.municipality.abbName}}</:content>
                    </Item>
                  {{/if}}

                  {{#if this.currentOrganizationModel.isIgs}}
                    <Item
                      @labelFor="participants-igs"
                      @required={{true}}
                      @errorMessage={{this.participantsError}}
                    >
                      <:label>Heeft als participanten</:label>
                      <:content as |hasError|>
                        <OrganizationMultipleSelect
                          @selected={{this.participants}}
                          @onChange={{fn (mut this.participants)}}
                          @classificationCodes={{this.currentOrganizationModel.participantClassifications}}
                          @limitToActiveOrganizations={{true}}
                          @error={{hasError}}
                          @id="participants-igs"
                        />
                      </:content>
                    </Item>
                  {{/if}}
                {{else}}
                  {{#if
                    (or
                      this.currentOrganizationModel.isOcmwAssociation
                      this.currentOrganizationModel.isPevaMunicipality
                      this.currentOrganizationModel.isPevaProvince
                    )
                  }}
                    <Item
                      @labelFor="founders-ocmw-association-peva"
                      @required={{true}}
                      @errorMessage={{this.foundersError}}
                    >
                      <:label>Werd opgericht door</:label>
                      <:content as |hasError|>
                        <OrganizationMultipleSelect
                          @selected={{this.founders}}
                          @onChange={{this.addFounders}}
                          @classificationCodes={{this.currentOrganizationModel.founderClassifications}}
                          @limitToActiveOrganizations={{true}}
                          @error={{hasError}}
                          @id="founders-ocmw-association-peva"
                        />
                      </:content>
                    </Item>

                    <Item @labelFor="participants-ocmw-association-peva">
                      <:label>Heeft als participanten</:label>
                      <:content as |hasError|>
                        <OrganizationMultipleSelect
                          @selected={{this.participants}}
                          @onChange={{fn (mut this.participants)}}
                          @classificationCodes={{this.currentOrganizationModel.participantClassifications}}
                          @limitToActiveOrganizations={{true}}
                          @error={{hasError}}
                          @id="participants-ocmw-association-peva"
                        />
                      </:content>
                    </Item>
                  {{else}}
                    {{! Only APBs remain here }}
                    <Item
                      @labelFor="related-province"
                      @required={{true}}
                      @errorMessage={{this.provinceError}}
                    >
                      <:label>Provincie</:label>
                      <:content as |hasError|>
                        {{! NOTE: No need to explicitly filter for active
                          provinces as they are all active. }}
                        <ProvinceOrganizationSelect
                          @selected={{this.province}}
                          @selectedMunicipality={{this.municipality}}
                          @allowClear={{not this.municipality}}
                          @onChange={{this.setProvince}}
                          @error={{hasError}}
                          @id="related-province"
                        />
                      </:content>
                    </Item>

                    <Item
                      @labelFor="related-municipality"
                      @required={{true}}
                      @errorMessage={{this.municipalityError}}
                    >
                      <:label>Gemeente</:label>
                      <:content as |hasError|>
                        <MunicipalitySelect
                          @selected={{this.municipality}}
                          @selectedProvince={{this.province}}
                          @allowClear={{true}}
                          @onChange={{this.setMunicipality}}
                          @limitToActiveOrganizations={{true}}
                          @error={{hasError}}
                          @id="related-municipality"
                        />
                      </:content>
                    </Item>

                    <Item @labelFor="founder-province" @required={{true}}>
                      <:label>Werd opgericht door</:label>
                      <:content>{{this.province.abbName}}</:content>
                    </Item>
                  {{/if}}
                {{/if}}
              </:left>
            </Card.Columns>
          {{/if}}
        </:card>
      </EditCard>
    {{/if}}
  </form>
</div>