{{page-title "Voeg organisatie toe"}}
{{breadcrumb "Voeg organisatie toe"}}

<div class="au-c-body-container au-c-body-container--scroll">
  <PageHeader class="au-u-margin au-u-margin-bottom-large">
    <:title>Voeg organisatie toe</:title>
    <:action>
      <div class="au-u-text-right">
        <AuButtonGroup class="au-c-button-group--align-right">
          <AuLink @route="organizations" @skin="button-secondary">
            Annuleer
          </AuLink>
          <AuButton
            @loading={{this.createOrganizationTask.isRunning}}
            type="submit"
            form="organization-creation-form"
            @icon="add"
            @iconAlignment="left"
          >
            Voeg toe
          </AuButton>
        </AuButtonGroup>
        <Error::Save @showSaveError={{this.hasValidationErrors}} />
      </div>
    </:action>
  </PageHeader>

  <form
    class="au-o-box au-o-flow au-o-flow--large"
    id="organization-creation-form"
    aria-label="organization-creation-form"
    {{on "submit" (perform this.createOrganizationTask)}}
  >
    <EditCard @containsRequiredFields={{true}}>
      <:title>Organisatie</:title>
      <:card as |Card|>
        <Card.Columns>
          <:left as |Item|>
            <Item @labelFor="organization-abb-name" @required={{true}}>
              <:label>Naam</:label>
              <:content as |hasError|>
                <TrimInput
                  @width="block"
                  @disabled={{true}}
                  @value={{this.currentOrganizationModel.abbName}}
                  @onUpdate={{fn (mut this.currentOrganizationModel.name)}}
                  @error={{hasError}}
                  id="organization-abb-name"
                />
              </:content>
              <:helpText>
                {{help-text "abbName"}}
              </:helpText>
            </Item>
            <Item
              @labelFor="organization-legal-name"
              @required={{true}}
              @errorMessage={{this.currentOrganizationModel.error.legalName.message}}
            >
              <:label>Juridische naam</:label>
              <:content as |hasError|>
                <TrimInput
                  @width="block"
                  @value={{this.currentOrganizationModel.legalName}}
                  @onUpdate={{this.setNames}}
                  @error={{hasError}}
                  id="organization-legal-name"
                />
              </:content>
              <:helpText>
                {{help-text "legalName"}}
              </:helpText>
            </Item>
            <Item
              @labelFor="organization-alternative-names"
              @required={{false}}
            >
              <:label>Alternatieve naam</:label>
              <:content as |hasError|>
                <TrimInput
                  @width="block"
                  @disabled={{false}}
                  @value={{this.currentOrganizationModel.alternativeName}}
                  @onUpdate={{this.setAlternativeNames}}
                  @error={{hasError}}
                  id="organization-alternative-names"
                />
              </:content>
              <:helpText>
                {{help-text "alternativeNames"}}
              </:helpText>
            </Item>
            <Item
              @labelFor="classification-select"
              @required={{true}}
              @errorMessage={{this.currentOrganizationModel.error.classification.message}}
            >
              <:label>Type bestuur</:label>
              <:content as |hasError|>
                <ClassificationSelect
                  @selected={{this.currentOrganizationModel.classification}}
                  @selectedRecognizedWorshipTypeId={{this.currentOrganizationModel.recognizedWorshipType.id}}
                  @onChange={{this.organizationConverter}}
                  @restrictForNewBestuurseenheden={{true}}
                  @error={{hasError}}
                  @id="classification-select"
                />
              </:content>
            </Item>
            {{#if this.currentOrganizationModel.isWorshipAdministrativeUnit}}
              <Item
                @labelFor="recognized-worship-type-select"
                @required={{true}}
                @errorMessage={{this.currentOrganizationModel.error.recognizedWorshipType.message}}
              >
                <:label>Soort eredienst</:label>
                <:content as |hasError|>
                  <RecognizedWorshipTypeSelect
                    @selected={{this.currentOrganizationModel.recognizedWorshipType}}
                    @onChange={{this.setRecognizedWorshipType}}
                    @allowClear={{true}}
                    @selectedClassificationId={{this.currentOrganizationModel.classification.id}}
                    @error={{hasError}}
                    @id="recognized-worship-type-select"
                  />
                </:content>
              </Item>
            {{/if}}
            {{#if this.currentOrganizationModel.isWorshipService}}
              <Item @labelFor="denomination">
                <:label>Strekking</:label>
                <:content>
                  <TrimInput
                    @width="block"
                    @value={{this.currentOrganizationModel.denomination}}
                    @onUpdate={{fn
                      (mut this.currentOrganizationModel.denomination)
                    }}
                    id="denomination"
                  />
                </:content>
              </Item>
              <Item @alignTop={{true}}>
                <:label>Grensoverschrijvend</:label>
                <:content>
                  <ul class="au-c-list-inline">
                    <li class="au-c-list-inline__item">
                      <AuControlRadio
                        @label="Ja"
                        @name="is-cross-border"
                        @value={{this.currentOrganizationModel.crossBorder}}
                        @identifier="cross-border-true"
                        @onChange={{fn
                          (mut this.currentOrganizationModel.crossBorder)
                          true
                        }}
                        checked={{this.currentOrganizationModel.crossBorder}}
                      />
                    </li>
                    <li class="au-c-list-inline__item">
                      <AuControlRadio
                        @label="Nee"
                        @name="is-cross-border"
                        @value={{this.currentOrganizationModel.crossBorder}}
                        @identifier="cross-border-false"
                        @onChange={{fn
                          (mut this.currentOrganizationModel.crossBorder)
                          false
                        }}
                        checked={{not
                          this.currentOrganizationModel.crossBorder
                        }}
                      />
                    </li>
                  </ul>
                </:content>
              </Item>
            {{/if}}
            {{#if
              (and
                this.currentOrganizationModel.isMunicipality
                this.currentOrganizationModel.scope.locatedWithin
              )
            }}
              <Item @labelFor="regio">
                <:label>Regio</:label>
                <:content>
                  {{this.currentOrganizationModel.scope.locatedWithin}}
                </:content>
              </Item>
            {{/if}}
            {{#if this.currentOrganizationModel.isIgs}}
              <Item
                @labelFor="expectedEndDate"
                @errorMessage={{this.currentOrganizationModel.error.expectedEndDate.message}}
              >
                <:label>Geplande einddatum</:label>
                <:content as |hasError|>
                  <Datepicker
                    @onChange={{fn
                      (mut this.currentOrganizationModel.expectedEndDate)
                    }}
                    @error={{hasError}}
                  />
                </:content>
              </Item>
              <Item @labelFor="purpose">
                <:label>Doel</:label>
                <:content>
                  <RichTextEditor
                    @onChange={{fn (mut this.currentOrganizationModel.purpose)}}
                    @value={{this.currentOrganizationModel.purpose}}
                  />
                </:content>
              </Item>
            {{/if}}
          </:left>
          <:right as |Item|>
            <Item
              @labelFor="status-select"
              @required={{true}}
              @errorMessage={{this.currentOrganizationModel.error.organizationStatus.message}}
            >
              <:label>Status</:label>
              <:content as |hasError|>
                <OrganizationStatusSelect
                  @selected={{this.currentOrganizationModel.organizationStatus}}
                  @onChange={{fn
                    (mut this.currentOrganizationModel.organizationStatus)
                  }}
                  @error={{hasError}}
                  @id="status-select"
                />
              </:content>
            </Item>
            <Item
              @labelFor="kbo-identifier"
              @errorMessage={{@model.identifierKBO.error.structuredIdentifier}}
              @required={{true}}
            >
              <:label>{{@model.identifierKBO.idName}}</:label>
              <:content as |hasError|>
                <AuInput
                  @maskPlaceholder="_"
                  autocomplete="off"
                  @mask="####.###.###"
                  @onChange={{this.setKbo}}
                  @width="block"
                  @value={{@model.structuredIdentifierKBO.localId}}
                  @error={{hasError}}
                  id="kbo-identifier"
                  placeholder="____.___.___"
                />
              </:content>
              <:error as |error|>
                <Error::KboNumber @error={{error}} />
              </:error>
            </Item>
            <Item
              @labelFor="sharepoint-identifier"
              @errorMessage={{@model.identifierSharepoint.error.structuredIdentifier.message}}
            >
              <:label>{{@model.identifierSharepoint.idName}}</:label>
              <:content as |hasError|>
                <TrimInput
                  @width="block"
                  @value={{@model.structuredIdentifierSharepoint.localId}}
                  @onUpdate={{fn
                    (mut @model.structuredIdentifierSharepoint.localId)
                  }}
                  @error={{hasError}}
                  id="sharepoint-identifier"
                />
              </:content>
            </Item>
          </:right>
        </Card.Columns>
      </:card>
    </EditCard>

    {{#if
      (or
        (is-feature-enabled "edit-contact-data")
        this.currentOrganizationModel.isPrivateOcmwAssociation
      )
    }}
      <Site::ContactEditCard
        @address={{@model.address}}
        @primaryContact={{@model.contact}}
        @secondaryContact={{@model.secondaryContact}}
      >
        <:title>Primaire contactgegevens</:title>
      </Site::ContactEditCard>
    {{else}}
      <div class="au-u-max-width-large">
        <AuHeading @level="3" @skin="5" class="au-u-margin-bottom-tiny">
          Primaire contactgegevens
        </AuHeading>
        <p class="au-u-margin-bottom-small">
          De primaire contactgegevens kunnen niet langer in het OP ingegeven
          worden. Gelieve de contactgegevens (adres, telefoonnummers, e-mail en
          website) in te geven in de
          <AuLinkExternal
            href="https://controle.contactgegevens.lokaalbestuur.vlaanderen.be/"
          >
            controle omgeving van de contactapp
          </AuLinkExternal>. Deze contactgegevens stromen door naar het
          OrganisatiePortaal. De organisaties kunnen hun eigen gegevens nadien
          zelf aanpassen via de Contactapp.
        </p>
      </div>
    {{/if}}

    {{#if this.currentOrganizationModel.classification}}
      <EditCard @containsRequiredFields={{true}}>
        <:title>Gerelateerde organisaties</:title>
        <:card as |Card|>
          {{#if this.currentOrganizationModel.isWorshipAdministrativeUnit}}
            <Card.Columns>
              <:left as |Item|>
                {{#if this.currentOrganizationModel.isCentralWorshipService}}
                  <Item @labelFor="related-worship-service">
                    <:label>Bestuur van de eredienst</:label>
                    <:content>
                      <WorshipServiceMultipleSelect
                        @selected={{this.currentOrganizationModel.subOrganizations}}
                        @onChange={{fn
                          (mut this.currentOrganizationModel.subOrganizations)
                        }}
                        id="related-worship-service"
                      />
                    </:content>
                  </Item>
                {{/if}}
                {{#if this.currentOrganizationModel.hasCentralWorshipService}}
                  <Item
                    @labelFor="related-central-worship-service"
                    @required={{false}}
                    @errorMessage={{this.currentOrganizationModel.error.isSubOrganizationOf.message}}
                  >
                    <:label>Centraal bestuur</:label>
                    <:content as |hasError|>
                      <CentralWorshipSelect
                        @selected={{this.currentOrganizationModel.isSubOrganizationOf}}
                        @onChange={{fn
                          (mut
                            this.currentOrganizationModel.isSubOrganizationOf
                          )
                        }}
                        @error={{hasError}}
                        @id="related-central-worship-service"
                      />
                    </:content>
                  </Item>
                {{/if}}
                <Item
                  @labelFor="related-representative-body"
                  @required={{true}}
                  @errorMessage={{this.currentOrganizationModel.error.isAssociatedWith.message}}
                >
                  <:label>Representatief orgaan</:label>
                  <:content as |hasError|>
                    <RepresentativeBodySelect
                      @selected={{this.currentOrganizationModel.isAssociatedWith}}
                      @onChange={{fn
                        (mut this.currentOrganizationModel.isAssociatedWith)
                      }}
                      @error={{hasError}}
                      @id="related-representative-body"
                    />
                  </:content>
                </Item>
              </:left>
            </Card.Columns>
          {{else}}
            <Card.Columns>
              <:left as |Item|>
                {{#if
                  (or
                    this.currentOrganizationModel.isOCMW
                    this.currentOrganizationModel.isAgb
                    this.currentOrganizationModel.isDistrict
                    this.currentOrganizationModel.isIgs
                    this.currentOrganizationModel.isPoliceZone
                    this.currentOrganizationModel.isAssistanceZone
                    this.currentOrganizationModel.isPevaMunicipality
                  )
                }}
                  <Item
                    @labelFor="related-gemeente"
                    @required={{(or
                      this.currentOrganizationModel.isAgb
                      this.currentOrganizationModel.isIgs
                      this.currentOrganizationModel.isPoliceZone
                      this.currentOrganizationModel.isAssistanceZone
                      this.currentOrganizationModel.isPevaMunicipality
                    )}}
                    @errorMessage={{this.currentOrganizationModel.error.isSubOrganizationOf.message}}
                  >
                    <:label>Gemeente</:label>
                    <:content as |hasError|>
                      <OrganizationSelect
                        @selected={{this.currentOrganizationModel.isSubOrganizationOf}}
                        @onChange={{this.setRelation}}
                        @classificationCodes={{this.currentOrganizationModel.municipalityClassificationCode}}
                        @error={{hasError}}
                        @id="related-gemeente"
                      />
                    </:content>
                  </Item>

                  {{#if this.currentOrganizationModel.isSubOrganizationOf}}
                    <Item>
                      <:label>
                        Provincie
                      </:label>
                      <:content>
                        {{this.currentOrganizationModel.isSubOrganizationOf.isSubOrganizationOf.abbName}}
                      </:content>
                    </Item>
                  {{/if}}

                  {{#if
                    (or
                      this.currentOrganizationModel.isAgb
                      this.currentOrganizationModel.isPevaMunicipality
                    )
                  }}
                    <Item
                      @labelFor="oprichting-gemeente"
                      @required={{true}}
                      @errorMessage={{this.currentOrganizationModel.error.wasFoundedByOrganizations.message}}
                    >
                      <:label>Werd opgericht door</:label>
                      <:content as |hasError|>
                        <OrganizationSelect
                          @disabled={{true}}
                          @selected={{this.currentOrganizationModel.isSubOrganizationOf}}
                          @onChange={{this.setRelation}}
                          @classificationCodes={{this.currentOrganizationModel.founderClassifications}}
                          @error={{hasError}}
                          @id="oprichting-gemeente"
                        />
                      </:content>
                    </Item>
                  {{/if}}

                  {{#if this.currentOrganizationModel.isIgs}}
                    <Item
                      @labelFor="has-participants"
                      @required={{true}}
                      @errorMessage={{this.currentOrganizationModel.error.hasParticipants.message}}
                    >
                      <:label>Heeft als participanten</:label>
                      <:content as |hasError|>
                        <OrganizationMultipleSelect
                          @selected={{this.currentOrganizationModel.hasParticipants}}
                          @onChange={{this.setHasParticipants}}
                          @classificationCodes={{this.currentOrganizationModel.participantClassifications}}
                          @error={{hasError}}
                          @id="has-participants"
                        />
                      </:content>
                    </Item>
                  {{/if}}

                  {{#if this.currentOrganizationModel.isPevaMunicipality}}
                    <Item
                      @labelFor="has-participants-peva-municipality"
                      @errorMessage={{this.currentOrganizationModel.error.hasParticipants.message}}
                    >
                      <:label>Heeft als participanten</:label>
                      <:content as |hasError|>
                        <OrganizationMultipleSelect
                          @selected={{this.currentOrganizationModel.hasParticipants}}
                          @onChange={{this.setHasParticipants}}
                          @classificationCodes={{this.currentOrganizationModel.participantClassifications}}
                          @error={{hasError}}
                          @id="has-participants-peva-municipality"
                        />
                      </:content>
                    </Item>
                  {{/if}}
                {{else}}
                  {{#if this.currentOrganizationModel.isOcmwAssociation}}
                    <Item
                      @labelFor="oprichting-ocmw-association"
                      @required={{true}}
                      @errorMessage={{this.currentOrganizationModel.error.wasFoundedByOrganizations.message}}
                    >
                      <:label>Werd opgericht door</:label>
                      <:content as |hasError|>
                        <OrganizationMultipleSelect
                          @selected={{this.currentOrganizationModel.wasFoundedByOrganizations}}
                          @onChange={{this.setRelation}}
                          @classificationCodes={{this.currentOrganizationModel.founderClassifications}}
                          @error={{hasError}}
                          @id="oprichting-ocmw-association"
                        />
                      </:content>
                    </Item>

                    <Item
                      @labelFor="has-participants-ocmw-association"
                      @errorMessage={{this.currentOrganizationModel.error.hasParticipants.message}}
                    >
                      <:label>Heeft als participanten</:label>
                      <:content as |hasError|>
                        <OrganizationMultipleSelect
                          @selected={{this.currentOrganizationModel.hasParticipants}}
                          @onChange={{this.setHasParticipants}}
                          @classificationCodes={{this.currentOrganizationModel.participantClassifications}}
                          @error={{hasError}}
                          @id="has-participants-ocmw-association"
                        />
                      </:content>
                    </Item>
                  {{else}}
                    {{! Only APBs and PEVA province remain here }}
                    <Item
                      @labelFor="related-provincie"
                      @required={{(or
                        this.currentOrganizationModel.isApb
                        this.currentOrganizationModel.isPevaProvince
                      )}}
                      @errorMessage={{this.currentOrganizationModel.error.isSubOrganizationOf.message}}
                    >
                      <:label>Provincie</:label>
                      <:content as |hasError|>
                        <ProvinceOrganizationSelect
                          @selected={{this.currentOrganizationModel.isSubOrganizationOf}}
                          @selectedMunicipality={{this.currentOrganizationModel.isAssociatedWith}}
                          @allowClear={{(not
                            this.currentOrganizationModel.isAssociatedWith
                          )}}
                          @onChange={{this.setRelation}}
                          @error={{hasError}}
                          @id="related-provincie"
                        />
                      </:content>
                    </Item>

                    {{#if this.currentOrganizationModel.isApb}}
                      <Item
                        @labelFor="related-gemeente"
                        @required={{true}}
                        @errorMessage={{this.currentOrganizationModel.error.isAssociatedWith.message}}
                      >
                        <:label>Gemeente</:label>
                        <:content as |hasError|>
                          <OrganizationSelect
                            @selected={{this.currentOrganizationModel.isAssociatedWith}}
                            @selectedProvince={{this.currentOrganizationModel.isSubOrganizationOf}}
                            @allowClear={{true}}
                            @onChange={{fn
                              (mut
                                this.currentOrganizationModel.isAssociatedWith
                              )
                            }}
                            @classificationCodes={{this.currentOrganizationModel.municipalityClassificationCode}}
                            @error={{hasError}}
                            @id="related-gemeente"
                          />
                        </:content>
                      </Item>
                    {{/if}}

                    <Item
                      @labelFor="opgericht-provincie"
                      @required={{true}}
                      @errorMessage={{this.currentOrganizationModel.error.isSubOrganizationOf.message}}
                    >
                      <:label>Werd opgericht door</:label>
                      <:content as |hasError|>
                        <ProvinceOrganizationSelect
                          @disabled={{true}}
                          @selected={{this.currentOrganizationModel.isSubOrganizationOf}}
                          @onChange={{this.setRelation}}
                          @error={{hasError}}
                          @id="opgericht-provincie"
                        />
                      </:content>
                    </Item>

                    {{#if this.currentOrganizationModel.isPevaProvince}}
                      <Item
                        @labelFor="has-participants-peva-province"
                        @errorMessage={{this.currentOrganizationModel.error.hasParticipants.message}}
                      >
                        <:label>Heeft als participanten</:label>
                        <:content as |hasError|>
                          <OrganizationMultipleSelect
                            @selected={{this.currentOrganizationModel.hasParticipants}}
                            @onChange={{this.setHasParticipants}}
                            @classificationCodes={{this.currentOrganizationModel.participantClassifications}}
                            @error={{hasError}}
                            @id="has-participants-peva-province"
                          />
                        </:content>
                      </Item>
                    {{/if}}
                  {{/if}}
                {{/if}}
              </:left>
            </Card.Columns>
          {{/if}}
        </:card>
      </EditCard>
    {{/if}}
  </form>
</div>