<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-o-flow au-o-flow--large">
    <PageHeader>
      <:title>Bewerk vestiging</:title>
      <:subtitle>
        {{@model.address.fullAddress}},
        {{@model.administrativeUnit.name}}
      </:subtitle>
      <:action>
        <div>
          <AuButtonGroup class="au-c-button-group--align-right">
            <AuButton
              @loading={{this.save.isRunning}}
              @disabled={{this.save.isRunning}}
              type="submit"
              form="edit-vestiging-form"
            >
              Opslaan
            </AuButton>

            <AuLink
              @route="administrative-units.administrative-unit.sites.site"
              @skin="button-secondary"
            >
              Annuleer
            </AuLink>
          </AuButtonGroup>
          <ReportWrongData />
        </div>
      </:action>
    </PageHeader>

    <form
      id="edit-vestiging-form"
      aria-label="Edit site"
      {{on "submit" (perform this.save)}}
    >
      <div class="au-o-flow au-o-flow--large">
        <EditCard>
          <:title>Kerngegevens</:title>
          <:card as |Card|>
            <Card.Columns>
              <:left as |Item|>
                <Item @labelFor="site-type">
                  <:label>Type vestiging</:label>
                  <:content>
                    <SiteTypeSelect
                      @selected={{@model.site.siteType}}
                      @onChange={{fn (mut @model.site.siteType)}}
                      @id="site-type"
                    />
                  </:content>
                </Item>
              </:left>
              <:right as |Item|>
                <Item>
                  <:label>Primair correspondentieadres</:label>
                  <:content>
                    <ul class="au-c-list-inline">
                      <li class="au-c-list-inline__item">
                        <AuControlRadio
                          @label="Ja"
                          @name="is-primary-site"
                          @value={{this.isPrimarySite}}
                          @identifier="primary-site-true"
                          @onChange={{fn (mut this.isPrimarySite) true}}
                          checked={{this.isPrimarySite}}
                        />
                      </li>
                      <li class="au-c-list-inline__item">
                        <AuControlRadio
                          @label="Nee"
                          @name="is-primary-site"
                          @value={{this.isPrimarySite}}
                          @identifier="primary-site-false"
                          @onChange={{fn (mut this.isPrimarySite) false}}
                          checked={{not this.isPrimarySite}}
                        />
                      </li>
                    </ul>
                  </:content>
                </Item>
              </:right>
            </Card.Columns>
          </:card>
        </EditCard>

        <Site::ContactEditCard
          @address={{@model.address}}
          @primaryContact={{@model.primaryContact}}
          @secondaryContact={{@model.secondaryContact}}
          @isAddressSearchEnabledInitially={{if
              (or (not @model.address.id) @model.address.addressRegisterUri)
            true
            false
          }}
        >
          <:title>Contactgegevens</:title>
        </Site::ContactEditCard>
      </div>
    </form>
  </div>
</div>