<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-o-flow au-o-flow--large">
    <PageHeader>
      <:title>Bewerk vestiging</:title>
      <:subtitle>
        {{@model.site.address.fullAddress}},
        {{@model.administrativeUnit.name}}
      </:subtitle>
    </PageHeader>

    <form
      id="edit-vestiging-form"
      aria-label="Edit site"
      {{on "submit" (perform this.save)}}
    >
      <div class="au-o-flow au-o-flow--large">
        <EditCard>
          <:title>Kerngegevens</:title>
          <:card as |Card|>
            <Card.Columns>
              <:left as |Item|>
                <Item>
                  <:label>Type vestiging</:label>
                  <:content>
                    <SiteTypeSelect
                      @selected={{@model.site.siteType}}
                      @onChange={{fn (mut @model.site.siteType)}}
                    />
                  </:content>
                </Item>
              </:left>
              <:right as |Item|>
                <Item>
                  <:label>Primair correspondentieadres</:label>
                  <:content>
                    <ul class="au-c-list-inline">
                      <li class="au-c-list-inline__item">
                        <AuControlRadio
                          @label="Ja"
                          @name="is-primary-site"
                          @value={{this.isPrimarySite}}
                          @identifier="primary-site-true"
                          @onChange={{fn (mut this.isPrimarySite) true}}
                          checked={{this.isPrimarySite}}
                        />
                      </li>
                      <li class="au-c-list-inline__item">
                        <AuControlRadio
                          @label="Nee"
                          @name="is-primary-site"
                          @value={{this.isPrimarySite}}
                          @identifier="primary-site-false"
                          @onChange={{fn (mut this.isPrimarySite) false}}
                          checked={{not this.isPrimarySite}}
                        />
                      </li>
                    </ul>
                  </:content>
                </Item>
              </:right>
            </Card.Columns>
          </:card>
        </EditCard>

        <EditCard>
          <:title>Contactgegevens</:title>
          <:card as |Card|>
            <Card.Columns>
              <:left as |Item|>
                <Item @labelFor="primary-site-address-street-name">
                  <:label>Straat</:label>
                  <:content>
                    <AuInput
                      @value={{@model.site.address.street}}
                      @width="block"
                      id="primary-site-address-street-name"
                    />
                  </:content>
                </Item>
                <Item @labelFor="primary-site-address-bus-number">
                  <:label>Busnummer</:label>
                  <:content>
                    <AuInput
                      @value={{@model.site.address.boxNumber}}
                      @width="block"
                      id="primary-site-address-bus-number"
                    />
                  </:content>
                </Item>
                <Item>
                  <:label>Gemeente</:label>
                  <:content>
                    <MunicipalitySelect
                      @selected={{this.model.site.address.municipality}}
                      @onChange={{fn
                        (mut this.model.site.address.municipality)
                      }}
                    />
                  </:content>
                </Item>
                <Item @labelFor="primary-site-contact-phone-number">
                  <:label>Telefoonnummer</:label>
                  <:content>
                    <AuInput
                      @value={{@model.site.contacts.firstObject.telephone}}
                      @width="block"
                      id="primary-site-contact-phone-number"
                    />
                  </:content>
                </Item>
              </:left>
              <:right as |Item|>
                <Item @labelFor="primary-site-address-house-number">
                  <:label>Huisnummer</:label>
                  <:content>
                    <AuInput
                      @value={{@model.site.address.number}}
                      @width="block"
                      id="primary-site-address-house-number"
                    />
                  </:content>
                </Item>

                <Item @labelFor="primary-site-address-postal-code">
                  <:label>Postcode</:label>
                  <:content>
                    <AuInput
                      @value={{@model.site.address.postcode}}
                      @width="block"
                      id="primary-site-address-postal-code"
                    />
                  </:content>
                </Item>
                <Item>
                  <:label>Provincie</:label>
                  <:content>
                    <ProvinceSelect
                      @selected={{this.model.site.address.province}}
                      @onChange={{fn (mut this.model.site.address.province)}}
                    />
                  </:content>
                </Item>
                <Item @labelFor="primary-site-contact-website">
                  <:label>Website</:label>
                  <:content>
                    <AuInput
                      @value={{@model.site.contacts.firstObject.website}}
                      @width="block"
                      id="primary-site-contact-website"
                    />
                  </:content>
                </Item>
              </:right>
            </Card.Columns>
          </:card>
        </EditCard>

        <AuButtonGroup>
          <AuButton
            @loading={{this.save.isRunning}}
            @disabled={{this.save.isRunning}}
            type="submit"
          >
            Opslaan
          </AuButton>

          <AuLink
            @route="administrative-units.administrative-unit.sites.site"
            @skin="button-secondary"
          >
            Annuleer
          </AuLink>
        </AuButtonGroup>
      </div>
    </form>
  </div>
</div>