<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-o-flow au-o-flow--large">
    <PageHeader>
      <:title>Vestiging: {{@model.site.address.fullAddress}}</:title>
      <:subtitle>{{@model.administrativeUnit.name}}</:subtitle>
      <:action>
        <AuLink
          @route="administrative-units.administrative-unit.sites.site.edit"
          @skin="button-secondary"
          @icon="pencil"
          @iconAlignment="left"
        >
          Bewerk
        </AuLink>
      </:action>
    </PageHeader>

    <DataCard>
      <:title>Kerngegevens</:title>
      <:card as |Card|>
        <Card.Grid as |Item|>
          <Item>
            <:label>Vestigingstype</:label>
            <:content>{{@model.site.siteType.label}}</:content>
          </Item>
          <Item>
            <:label>Primair correspondentieadres</:label>
            <:content>{{if
                (eq @model.site.id @model.administrativeUnit.primarySite.id)
                "Ja"
                "Nee"
              }}
            </:content>
          </Item>
        </Card.Grid>
      </:card>
    </DataCard>

    <DataCard>
      <:title>Contactgegevens</:title>
      <:card as |Card|>
        <Card.Grid as |Item|>
          <Item>
            <:label>Adres</:label>
            <:content>{{@model.site.address.fullAddress}}</:content>
          </Item>
          <Item>
            <:label>Provincie</:label>
            <:content>{{@model.site.address.province}}</:content>
          </Item>
          {{#if @model.site.contacts.firstObject.telephone}}
            <Item>
              <:label>Telefoonnummer</:label>
              <:content
              >{{@model.site.contacts.firstObject.telephone}}</:content>
            </Item>
          {{/if}}
          {{#if @model.site.contacts.firstObject.website}}
            <Item>
              <:label>Website</:label>
              <:content>{{@model.site.contacts.firstObject.website}}</:content>
            </Item>
          {{/if}}
        </Card.Grid>
      </:card>
    </DataCard>
  </div>
</div>