<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-o-flow au-o-flow--large">
    <PageHeader>
      <:title>Vestiging: {{@model.site.address.fullAddress}}</:title>
      <:subtitle>{{@model.administrativeUnit.name}}</:subtitle>
      <:action>
        <SecuredArea>
          <:edit>
            <AuLink
              @route="administrative-units.administrative-unit.sites.site.edit"
              @skin="button-secondary"
              @icon="pencil"
              @iconAlignment="left"
            >
              Bewerk
            </AuLink>
          </:edit>
          <:read-only>
            <ReportWrongData />
          </:read-only>
        </SecuredArea>
      </:action>
    </PageHeader>

    <DataCard>
      <:title>Kerngegevens</:title>
      <:card as |Card|>
        <Card.Columns>
          <:left as |Item|>
            <Item>
              <:label>Type vestiging</:label>
              <:content>{{@model.site.siteType.label}}</:content>
            </Item>
          </:left>
          <:right as |Item|>
            <Item>
              <:label>Primair correspondentieadres</:label>
              <:content>{{if
                  (eq @model.site.id @model.administrativeUnit.primarySite.id)
                  "Ja"
                  "Nee"
                }}
              </:content>
            </Item>
          </:right>

        </Card.Columns>
      </:card>
    </DataCard>

    <DataCard>
      <:title>Contactgegevens</:title>
      <:card as |Card|>
        <Card.Columns>
          <:left as |Item|>
            <Item>
              <:label>Adres</:label>
              <:content>{{@model.site.address.fullAddress}}</:content>
            </Item>
            <Item>
              <:label>Provincie</:label>
              <:content>{{@model.site.address.province}}</:content>
            </Item>
          </:left>
          <:right as |Item|>
            {{#if @model.site.contacts.firstObject.telephone}}
              <Item>
                <:label>Telefoonnummer</:label>
                <:content
                >{{@model.site.contacts.firstObject.telephone}}</:content>
              </Item>
            {{/if}}
            {{#if @model.site.contacts.firstObject.website}}
              <Item>
                <:label>Website</:label>
                <:content>
                  <a
                    href={{@model.site.contacts.firstObject.website}}
                    class="au-c-link"
                    target="_blank"
                    rel="noopener noreferrer"
                  >{{@model.site.contacts.firstObject.website}}
                    (externe link)</a>
                </:content>
              </Item>
            {{/if}}
          </:right>
        </Card.Columns>
      </:card>
    </DataCard>
  </div>
</div>