{{page-title @model.givenName @model.familyName}}
{{breadcrumb
@model.givenName @model.familyName
route="people.person"
model=@model.id
}}

<div class="au-c-main-container__content au-c-main-container__content--block">
    <div class="au-o-box au-d-component-block au-d-component-block--overflow au-o-flow">
        <div class="au-o-flow au-o-flow--tiny">
            <AuToolbar>
                <AuToolbarGroup>
                    <AuHeading @level="2">
                        Persoonlijke gegevens
                    </AuHeading>
                </AuToolbarGroup>
            </AuToolbar>
            <AuToolbar>
                <AuToolbarGroup>
                    <AuHeading @skin="3">
                        {{@model.givenName}} {{@model.familyName}}
                    </AuHeading>
                </AuToolbarGroup>
            </AuToolbar>
        </div>
        <div class="au-o-flow au-o-flow--large">
            <div class="{{ if this.isEditingCore " au-u-hidden-visually" "" }}">
                <AuToolbar class="au-u-margin-bottom-small">
                    <AuToolbarGroup>
                        <AuHeading @level="4" @skin="5">Persoonlijke gegevens</AuHeading>
                    </AuToolbarGroup>
                    <AuToolbarGroup>
                        <AuButton @skin="tertiary" @icon="pencil" @iconAlignment="right" {{on "click"
                            this.toggleEditCoreInfo}}>
                            Bewerk
                        </AuButton>
                    </AuToolbarGroup>
                </AuToolbar>
                <AuCard @standOut={{true}} as |c|>
                    <c.content>
                        <div class="au-flow au-o-flow--large">
                            <div class="au-o-grid">
                                <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                                    <div class="au-o-grid">
                                        <div class="au-o-grid__item au-u-1-4">
                                            <p><strong>Voornaam</strong></p>
                                        </div>
                                        <div class="au-o-grid__item au-u-3-4">
                                            <p>{{@model.givenName}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                                    <div class="au-o-grid">
                                        <div class="au-o-grid__item au-u-1-4">
                                            <p><strong>Geboorte datum</strong></p>
                                        </div>
                                        <div class="au-o-grid__item au-u-3-4">
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="au-o-grid">
                                <div class="au-o-grid__item  au-u-1-1 au-u-1-2@medium">
                                    <div class="au-o-grid">
                                        <div class="au-o-grid__item au-u-1-4">
                                            <p><strong>Achternaam</strong></p>
                                        </div>
                                        <div class="au-o-grid__item au-u-3-4">
                                            <p>{{@model.familyName}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="au-o-grid">
                                <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                                    <div class="au-o-grid">
                                        <div class="au-o-grid__item au-u-1-4">
                                            <p><strong>Roepnaam</strong></p>
                                        </div>
                                        <div class="au-o-grid__item au-u-3-4">
                                            <p>{{@model.firstNameUsed}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </c.content>
                </AuCard>
            </div>
            <div class="{{ if this.isShowingCore " au-u-hidden-visually" "" }}">
                <AuToolbar class="au-u-margin-bottom-small">
                    <AuToolbarGroup>
                        <AuHeading @level="4" @skin="5">Persoonlijke gegevens</AuHeading>
                    </AuToolbarGroup>
                    <AuToolbarGroup>
                        <AuButton @icon="check" @iconAlignment="right" @loading={{this.isSaving}}
                            form="edit-core-info-form" type="submit">
                            Bewaar
                        </AuButton>
                    </AuToolbarGroup>
                </AuToolbar>
                <AuCard as |c|>
                    <c.content>
                        <form class="au-c-form" id="edit-core-info-form" aria-label="edit-core-info-form" {{on "submit"
                            this.editCoreInfo}}>
                            <div class="au-o-grid">
                                <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                                    <div class="au-o-grid">
                                        <div class="au-o-grid__item au-u-1-4">
                                            <p><strong>Voornaam</strong></p>
                                        </div>
                                        <div class="au-o-grid__item au-u-3-4">
                                            <AuLabel for="voornaam" class="au-u-hidden-visually">Voornaam
                                                input</AuLabel>
                                            <AuInput id="voornaam" @width="block" type="text"
                                                value={{@model.givenName}} />
                                        </div>
                                    </div>
                                </div>
                                <div class="au-o-grid__item  au-u-1-1 au-u-1-2@medium">
                                    <div class="au-o-grid">
                                        <div class="au-o-grid__item au-u-1-4">
                                            <p><strong>Geboorte datum</strong></p>
                                        </div>
                                        <div class="au-o-grid__item au-u-3-4">
                                            <AuDatePicker @label="Choose a date" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="au-o-grid">
                                <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                                    <div class="au-o-grid">
                                        <div class="au-o-grid__item au-u-1-4">
                                            <p><strong>Achternaam</strong></p>
                                        </div>
                                        <div class="au-o-grid__item au-u-3-4">
                                            <AuLabel for="achternaam" class="au-u-hidden-visually">Achternaam input
                                            </AuLabel>
                                            <AuInput id="achternaam" @width="block" type="text"
                                                value={{@model.familyName}} />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="au-o-grid">
                                <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                                    <div class="au-o-grid">
                                        <div class="au-o-grid__item au-u-1-4">
                                            <p><strong>Roepnaam</strong></p>
                                        </div>
                                        <div class="au-o-grid__item au-u-3-4">
                                            <AuLabel for="roepnaam" class="au-u-hidden-visually">Roepnaam input
                                            </AuLabel>
                                            <AuInput id="roepnaam" @width="block" type="text"
                                                value={{@model.firstNameUsed}} />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </c.content>
                </AuCard>
            </div>
        </div>
        <div class="au-o-flow au-o-flow--large">
            <div>
                <AuToolbar class="au-u-margin-bottom-small">
                    <AuToolbarGroup>
                        <AuHeading @level="4" @skin="5">Contactgegevens: Gemeentebestuur </AuHeading>
                    </AuToolbarGroup>
                </AuToolbar>
                <AuCard @standOut={{true}} as |c|>
                    <c.content>
                        <div class="au-flow au-o-flow--large">
                            <div class="au-o-grid">
                                <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                                    <div class="au-o-grid">
                                        <div class="au-o-grid__item au-u-1-4">
                                            <p><strong>Organisatie</strong></p>
                                        </div>
                                        <div class="au-o-grid__item au-u-3-4">
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="au-o-grid">
                                <div class="au-o-grid__item  au-u-1-1 au-u-1-2@medium">
                                    <div class="au-o-grid">
                                        <div class="au-o-grid__item au-u-1-4">
                                            <p><strong>Email</strong></p>
                                        </div>
                                        <div class="au-o-grid__item au-u-3-4">
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                                    <div class="au-o-grid">
                                        <div class="au-o-grid__item au-u-1-4">
                                            <p><strong>Telefoonnummer</strong></p>
                                        </div>
                                        <div class="au-o-grid__item au-u-3-4">
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="au-o-grid">
                                <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                                    <div class="au-o-grid">
                                        <div class="au-o-grid__item au-u-1-4">
                                            <p><strong>Adres</strong></p>
                                        </div>
                                        <div class="au-o-grid__item au-u-3-4">
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </c.content>
                </AuCard>
            </div>
        </div>
        <div class="au-o-flow au-o-flow--large">
            <div>
                <AuToolbar class="au-u-margin-bottom-small">
                    <AuToolbarGroup>
                        <AuHeading @level="4" @skin="5">Contactgegevens: Bestuur van de eredienst</AuHeading>
                    </AuToolbarGroup>
                </AuToolbar>
                <AuCard @standOut={{true}} as |c|>
                    <c.content>
                        <div class="au-flow au-o-flow--large">
                            <div class="au-o-grid">
                                <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                                    <div class="au-o-grid">
                                        <div class="au-o-grid__item au-u-1-4">
                                            <p><strong>Organisatie</strong></p>
                                        </div>
                                        <div class="au-o-grid__item au-u-3-4">
                                           <p>
                                            <LinkTo class="au-c-link" @model={{@model.mandatories.firstObject.mandate.governingBody.isTimeSpecializationOf.administrativeUnit.id}} @route="administrative-units.administrative-unit">
                                              {{@model.mandatories.firstObject.mandate.governingBody.isTimeSpecializationOf.administrativeUnit.name}}
                                            </LinkTo>
                                          </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="au-o-grid">
                                <div class="au-o-grid__item  au-u-1-1 au-u-1-2@medium">
                                    <div class="au-o-grid">
                                        <div class="au-o-grid__item au-u-1-4">
                                            <p><strong>Email</strong></p>
                                        </div>
                                        <div class="au-o-grid__item au-u-3-4">
                                            <p>{{@model.mandatories.firstObject.contacts.firstObject.email}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                                    <div class="au-o-grid">
                                        <div class="au-o-grid__item au-u-1-4">
                                            <p><strong>Telefoonnummer</strong></p>
                                        </div>
                                        <div class="au-o-grid__item au-u-3-4">
                                            <p>{{@model.mandatories.firstObject.contacts.firstObject.telephone}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="au-o-grid">
                                <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                                    <div class="au-o-grid">
                                        <div class="au-o-grid__item au-u-1-4">
                                            <p><strong>Adres</strong></p>
                                        </div>
                                        <div class="au-o-grid__item au-u-3-4">
                                            <p>{{@model.mandatories.firstObject.contacts.firstObject.contactAddress.fullAddress}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                                    <div class="au-o-grid">
                                        <div class="au-o-grid__item au-u-1-4">
                                            <p><strong>GSM nummer</strong></p>
                                        </div>
                                        <div class="au-o-grid__item au-u-3-4">
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </c.content>
                </AuCard>
            </div>
        </div>
    </div>
</div>