<PageHeader class="au-o-box">
  <:title>Bestuursorganen</:title>
  <:subtitle>{{@model.administrativeUnit.name}}</:subtitle>
</PageHeader>

<AuDataTable
  @content={{@model.governingBody.hasTimeSpecializations}}
  @noDataMessage="Geen bestuursorganen"
  as |t|
>
  <t.content as |c|>
    <c.header>
      <th class="au-c-data-table__header-title">Type bestuursorgaan</th>
      <th class="au-c-data-table__header-title">Periode</th>
      <th class="au-c-data-table__header-title">Status</th>
      <th></th>
    </c.header>
    <c.body as |gbody|>
      <td><AuLink
          @route="administrative-units.administrative-unit.governing-bodies.governing-body"
          @model={{gbody.id}}
        >{{@model.governingBody.classification.label}}</AuLink></td>
      <td>{{gbody.period}}</td>
      <td><GoverningBodyStatus @date={{gbody.endDate}} /></td>
      <td><AuLink
          @route="administrative-units.administrative-unit.governing-bodies"
        >Bewerk</AuLink></td>
    </c.body>
  </t.content>
</AuDataTable>