<PageHeader class="au-o-box">
  <:title>Bestuursorganen</:title>
  <:subtitle>{{@model.administrativeUnit.name}}</:subtitle>
  <:alert>
    <SecuredArea>
      <:edit>
        <AuAlert
          @alertIcon="info-circle"
          @alertskin="info"
          @alertsize="small"
          class="au-u-margin-bottom-small au-u-margin-top-small"
        >
          <p>Stuur een
            <a
              class="au-c-link"
              href="mailto: organisaties.abb@vlaanderen.be"
            >mail naar de helpdesk</a>
            om een nieuw bestuursorgaan te laten aanmaken.</p>
        </AuAlert>
      </:edit>
      <:read-only>
        <ReportWrongData />
      </:read-only>
    </SecuredArea>
  </:alert>
</PageHeader>

<AuDataTable
  @content={{@model.governingBodies}}
  @noDataMessage="Geen bestuursorganen"
  as |t|
>
  <t.content as |c|>
    <c.header>
      <th class="au-c-data-table__header-title">Type bestuursorgaan</th>
      <th class="au-c-data-table__header-title">Periode</th>
      <th class="au-c-data-table__header-title">Status</th>
      <SecuredArea>
        <:edit>
          <th></th>
        </:edit>
      </SecuredArea>
    </c.header>
    <c.body as |governingBody|>
      <td>
        <AuLink
          @route="administrative-units.administrative-unit.governing-bodies.governing-body"
          @model={{governingBody.id}}
        >
          {{@model.governingBodyClassification.label}}
        </AuLink>
      </td>
      <td>{{governingBody.period}}</td>
      <td><GoverningBodyStatus @date={{governingBody.endDate}} /></td>
      <SecuredArea>
        <:edit>
          <td>
            <AuLink
              @route="administrative-units.administrative-unit.governing-bodies.governing-body.edit"
              @model={{governingBody.id}}
            >
              Bewerk
            </AuLink>
          </td>
        </:edit>
      </SecuredArea>
    </c.body>
  </t.content>
</AuDataTable>