<EditCard @containsRequiredFields={{true}}>
  <:title>Heeft relatie met</:title>
  <:card as |Card|>
    <Card.Columns>
      <:left as |Item|>
        <Item
          @labelFor="related-gemeente"
          @required={{false}}
          @errorMessage={{@model.administrativeUnit.error.isSubOrganizationOf.validation}}
        >
          <:label>Gemeente</:label>
          <:content as |hasError|>
            <MunicipalitySelect
              @selected={{@model.administrativeUnit.isSubOrganizationOf}}
              @onChange={{fn
                (mut @model.administrativeUnit.isSubOrganizationOf)
              }}
              @error={{hasError}}
              @id="related-gemeente"
            />
          </:content>
        </Item>
        <Item @labelFor="related-municipality">
          <:label>Provincie</:label>
          <:content>
            {{@model.administrativeUnit.isSubOrganizationOf.isSubOrganizationOf.name}}
          </:content>
        </Item>
      </:left>
    </Card.Columns>
  </:card>
</EditCard>

<div>
  {{#if @model.administrativeUnit.error.hasParticipants.validation}}
    <div>
      <AuHelpText @error={{true}}>{{@model.administrativeUnit.error.hasParticipants.validation}}</AuHelpText>
    </div>
  {{/if}}

  <AuDataTable
    id="clonedRelatedOrganizations"
    @content={{@model.clonedRelatedOrganizations}}
    @noDataMessage="Geen bestuur"
    as |t|
  >
    <t.content as |c|>
      <c.header>
        <th>Type relatie</th>
        <th>Type organisatie</th>
        <th>Organisatie</th>
        <th>Status</th>
        <th></th>
      </c.header>
      <c.body as |organization|>
        <td>
          <RelationTypeSelect
            @selected={{organization.relationType}}
            @onChange={{fn @updateRelationType organization}}
            @administrativeUnit={{@model.administrativeUnit}}
            id="relation-type"
          />
        </td>
        <td>
          {{organization.classification.label}}
        </td>
        <td>
          <AdministrativeUnitSelect
            @selected={{organization}}
            @onChange={{fn @updateRelatedOrganization organization}}
            @classificationCodes={{@classificationCodesIgsParticipants}}
          />
        </td>
        <td>
          <OrganizationStatus
            @id={{organization.organizationStatus.id}}
            @label={{organization.organizationStatus.label}}
          />
        </td>
        <td>
          <AuButton
            @alert={{true}}
            @icon="bin"
            @iconAlignment="left"
            @skin="link"
            {{on
              "click"
              (fn @removeRelatedOrganization organization)
            }}
          >
            Verwijder
          </AuButton>
        </td>
      </c.body>
    </t.content>
  </AuDataTable>

  <div class="au-o-box au-o-box--small">
    <AuButton
      @skin="secondary"
      @width="block"
      @icon="add"
      @iconAlignment="left"
      {{on "click" @addNewRelatedOrganization}}
    >
      Voeg nieuwe gerelateerde organisatie toe
    </AuButton>
  </div>
</div>
