<EditCard @containsRequiredFields={{true}}>
  <:title>Heeft relatie met</:title>
  <:card as |Card|>
    <Card.Columns>
      <:left as |Item|>
        <Item
          @labelFor="related-gemeente"
          @required={{true}}
          @errorMessage={{@model.organization.error.isSubOrganizationOf.message}}
        >
          <:label>Gemeente</:label>
          <:content as |hasError|>
            <MunicipalitySelect
              @selected={{@model.organization.isSubOrganizationOf}}
              @onChange={{fn (mut @model.organization.isSubOrganizationOf)}}
              @error={{hasError}}
              @id="related-gemeente"
            />
          </:content>
        </Item>
        <Item @labelFor="related-municipality">
          <:label>Provincie</:label>
          <:content>
            {{@model.organization.isSubOrganizationOf.isSubOrganizationOf.abbName}}
          </:content>
        </Item>
      </:left>
    </Card.Columns>
  </:card>
</EditCard>

<div>
  <AuHeading @level="3" @skin="5" class="au-u-margin-bottom-tiny">
    Heeft als participanten
  </AuHeading>

  {{#if @model.organization.error.hasParticipants.message}}
    <div>
      <AuHelpText
        @error={{true}}
      >{{@model.organization.error.hasParticipants.message}}</AuHelpText>
    </div>
  {{/if}}

  <AuDataTable
    id="hasParticipants"
    @content={{@model.hasParticipants}}
    @noDataMessage="Geen bestuur"
    as |t|
  >
    <t.content as |c|>
      <c.header>
        <th>Type organisatie</th>
        <th>Organisatie</th>
        <th>Status</th>
        <th></th>
      </c.header>
      <c.body as |organization|>
        <td>
          {{organization.classification.label}}
        </td>
        <td>
          <OrganizationSelect
            @selected={{organization}}
            @onChange={{fn @updateHasParticipants organization}}
            @classificationCodes={{@classificationCodesIgsParticipants}}
          />
        </td>
        <td>
          <OrganizationStatus
            @id={{organization.organizationStatus.id}}
            @label={{organization.organizationStatus.label}}
          />
        </td>
        <td>
          <AuButton
            @alert={{true}}
            @icon="bin"
            @iconAlignment="left"
            @skin="link"
            {{on "click" (fn @removeHasParticipants organization)}}
          >
            Verwijder
          </AuButton>
        </td>
      </c.body>
    </t.content>
  </AuDataTable>

  <div class="au-o-box au-o-box--small">
    <AuButton
      @skin="secondary"
      @width="block"
      @icon="add"
      @iconAlignment="left"
      {{on "click" @addNewHasParticipants}}
    >
      Voeg nieuwe gerelateerde organisatie toe
    </AuButton>
  </div>
</div>
