<AuDataTable
  id="clonedRelatedOrganizations"
  @content={{@model.clonedRelatedOrganizations}}
  @noDataMessage="Geen bestuur"
  as |t|
>
  <t.content as |c|>
    <c.header>
      <AuDataTableThSortable @field="relationType" @label="Type relatie" @currentSorting={{@sort}} />
      <AuDataTableThSortable @field="classification.label" @label="Type organisatie" @currentSorting={{@sort}} />
      <AuDataTableThSortable @field="name" @label="Organisatie" @currentSorting={{@sort}} />
      <AuDataTableThSortable @field="organizationStatus.label" @label="Status" @currentSorting={{@sort}} />
      <th></th>
    </c.header>
    <c.body as |organization|>
      <td>
        {{organization.relationType}}
      </td>
      <td>
        {{organization.classification.label}}
      </td>
      <td>
        <MunicipalitySelect
          @selected={{organization}}
          @onChange={{fn @updateRelatedOrganization organization}}
          id="related-municipality"
        />
      </td>
      <td>
        <OrganizationStatus
          @id={{organization.organizationStatus.id}}
          @label={{organization.organizationStatus.label}}
        />
      </td>
      <td>
        <AuButton
          @alert={{true}}
          @icon="bin"
          @iconAlignment="left"
          @skin="link"
          {{on
            "click"
            (fn @removeRelatedOrganization organization)
          }}
        >
          Verwijder
        </AuButton>
      </td>
    </c.body>
  </t.content>
</AuDataTable>

<div class="au-o-box au-o-box--small">
  <AuButton
    @skin="secondary"
    @width="block"
    @icon="add"
    @iconAlignment="left"
    {{on "click" @addNewRelatedOrganization}}
  >
    Voeg nieuwe gerelateerde organisatie toe
  </AuButton>
</div>
