<EditCard @containsRequiredFields={{true}}>
  <:title>Heeft relatie met</:title>
  <:card as |Card|>
    <Card.Columns>
      <:left as |Item|>
        <Item
          @labelFor="related-provincie"
          @required={{false}}
          @errorMessage={{@model.administrativeUnit.error.isSubOrganizationOf.message}}
        >
          <:label>Provincie</:label>
          <:content as |hasError|>
            <ProvinceOrganizationSelect
              @selected={{@model.administrativeUnit.isSubOrganizationOf}}
              @onChange={{fn
                (mut @model.administrativeUnit.isSubOrganizationOf)
              }}
              @error={{hasError}}
              @id="related-provincie"
            />
          </:content>
        </Item>
        <Item @labelFor="related-ocmw">
          <:label>OCMW</:label>
          <:content>
            {{@model.administrativeUnit.isAssociatedWith.abbName}}
          </:content>
        </Item>
      </:left>
    </Card.Columns>
  </:card>
</EditCard>

{{#if @model.administrativeUnit.foundedOrganizations.length}}
  <div>
    <AuHeading @level="3" @skin="5" class="au-u-margin-bottom-tiny">
      Heeft relatie met
    </AuHeading>
    <AuDataTable
      id="foundedOrganizations"
      @content={{@model.administrativeUnit.foundedOrganizations}}
      @noDataMessage="Geen bestuur"
      as |t|
    >
      <t.content as |c|>
        <c.header>
          <AuDataTableThSortable
            @field="classification.label"
            @label="Type organisatie"
            @currentSorting={{@sort}}
          />
          <AuDataTableThSortable
            @field="name"
            @label="Organisatie"
            @currentSorting={{@sort}}
          />
          <AuDataTableThSortable
            @field="organizationStatus.label"
            @label="Status"
            @currentSorting={{@sort}}
          />
        </c.header>
        <c.body as |subOrganization|>
          <td>
            {{subOrganization.classification.label}}
          </td>
          <td>
            <AuLink
              @route="administrative-units.administrative-unit"
              @model={{subOrganization.id}}
            >
              {{subOrganization.abbName}}
            </AuLink>
          </td>
          <td>
            <OrganizationStatus
              @id={{subOrganization.organizationStatus.id}}
              @label={{subOrganization.organizationStatus.label}}
            />
          </td>
        </c.body>
      </t.content>
    </AuDataTable>
  </div>
{{/if}}