<EditCard @containsRequiredFields={{true}}>
  <:title>Heeft relatie met</:title>
  <:card as |Card|>
    <Card.Columns>
      <:left as |Item|>
        <Item
          @labelFor="related-provincie"
          @required={{false}}
          @errorMessage={{@model.administrativeUnit.error.isSubOrganizationOf.validation}}
        >
          <:label>Provincie</:label>
          <:content as |hasError|>
            <ProvinceOrganizationSelect
              @selected={{@model.administrativeUnit.isSubOrganizationOf}}
              @onChange={{@updateRelatedOrg}}
              @error={{hasError}}
              @id="related-provincie"
            />
          </:content>
        </Item>
          <Item
          @labelFor="related-gemeente"
          @required={{false}}
          @errorMessage={{@model.administrativeUnit.error.isAssociatedWith.validation}}
        >
          <:label>Gemeente</:label>
          <:content as |hasError|>
            <MunicipalitySelect
              @selected={{@model.administrativeUnit.isAssociatedWith}}
              @onChange={{fn
                (mut @model.administrativeUnit.isAssociatedWith)
              }}
              @error={{hasError}}
              @id="related-gemeente"
            />
          </:content>
        </Item>
      </:left>
    </Card.Columns>
  </:card>
</EditCard>

{{#if @model.clonedRelatedOrganizations.length}}
  <div>
    <AuHeading @level="3" @skin="5" class="au-u-margin-bottom-tiny">
      Heeft relatie met
    </AuHeading>
    <AuDataTable id="relatedMemberships" @content={{@model.relatedMemberships}}
      @noDataMessage="Geen bestuur" as |t|>
      <t.content as |c|>
        <c.header>
          <th>Type relatie</th>
          <th>Type organisatie</th>
          <th>Organisatie</th>
          <th>Status</th>
        </c.header>
        <c.body as |membership|>
          <td>
            {{membership.role.opLabel}}
          </td>
          <td>
            {{membership.member.classification.label}}
          </td>
          <td>
            <AuLink @route="administrative-units.administrative-unit" @model={{membership.member.id}}>
              {{membership.member.name}}
            </AuLink>
          </td>
          <td>
            <OrganizationStatus @id={{membership.member.organizationStatus.id}}
              @label={{membership.member.organizationStatus.label}} />
          </td>
        </c.body>
      </t.content>
    </AuDataTable>
  </div>
{{/if}}