<EditCard @containsRequiredFields={{true}}>
  <:title>Heeft relatie met</:title>
  <:card as |Card|>
    <Card.Columns>
      <:left as |Item|>
        <Item
          @labelFor="related-provincie"
          @required={{false}}
          @errorMessage={{@model.administrativeUnit.error.isSubOrganizationOf.validation}}
        >
          <:label>Provincie</:label>
          <:content as |hasError|>
            <ProvinceOrganizationSelect
              @selected={{@model.administrativeUnit.isSubOrganizationOf}}
              @onChange={{fn
                (mut @model.administrativeUnit.isSubOrganizationOf)
              }}
              @error={{hasError}}
              @id="related-provincie"
            />
          </:content>
        </Item>
        <Item @labelFor="related-ocmw">
          <:label>OCMW</:label>
          <:content>
            {{@model.administrativeUnit.isAssociatedWith.name}}
          </:content>
        </Item>
      </:left>
    </Card.Columns>
  </:card>
</EditCard>

{{#if @model.relatedMemberships.length}}
  <div>
    <AuDataTable id="relatedMemberships" @content={{@model.relatedMemberships}}
      @noDataMessage="Geen bestuur" as |t|>
      <t.content as |c|>
        <c.header>
          <th>Type relatie</th>
          <th>Type organisatie</th>
          <th>Organisatie</th>
          <th>Status</th>
        </c.header>
        <c.body as |membership|>
          <td>
            {{membership.role.opLabel}}
          </td>
          <td>
            {{membership.member.classification.label}}
          </td>
          <td>
            <AuLink @route="administrative-units.administrative-unit" @model={{membership.member.id}}>
              {{membership.member.name}}
            </AuLink>
          </td>
          <td>
            <OrganizationStatus @id={{membership.member.organizationStatus.id}}
              @label={{membership.member.organizationStatus.label}} />
          </td>
        </c.body>
      </t.content>
    </AuDataTable>
  </div>
{{/if}}