<AuDataTable
  id="relatedMemberships"
  @content={{@model.relatedMemberships}}
  @noDataMessage="Geen bestuur"
  as |t|
>
  <t.content as |c|>
    <c.header>
      <th>Type relatie</th>
      <th>Type organisatie</th>
      <th>Organisatie</th>
      <th>Status</th>
      <th></th>
    </c.header>
    <c.body as |membership|>
      <td>
        <RelationTypeSelect
          @selected={{membership.role}}
          @onChange={{fn (mut membership.role)}}
          @administrativeUnit={{@model.administrativeUnit}}
          id="relation-type"
        />
      </td>
      <td>
        {{membership.member.classification.label}}
      </td>
      <td>
        <MunicipalitySelect
          @selected={{membership.member}}
          @onChange={{fn @updateMembership membership}}
          id="related-municipality"
        />
      </td>
      <td>
        <OrganizationStatus
          @id={{membership.member.organizationStatus.id}}
          @label={{membership.member.organizationStatus.label}}
        />
      </td>
      <td>
        <AuButton
          @alert={{true}}
          @icon="bin"
          @iconAlignment="left"
          @skin="link"
          {{on
            "click"
            (fn @removeMembership membership)
          }}
        >
          Verwijder
        </AuButton>
      </td>
    </c.body>
  </t.content>
</AuDataTable>

<div class="au-o-box au-o-box--small">
  <AuButton
    @skin="secondary"
    @width="block"
    @icon="add"
    @iconAlignment="left"
    {{on "click" @addNewMembership}}
  >
    Voeg nieuwe gerelateerde organisatie toe
  </AuButton>
</div>
