{{#if @model.relatedMemberships.length}}
  <div>
    <AuDataTable 
      id="relatedMemberships"
      @content={{@model.relatedMemberships}}
      @page={{@page}}
      @size={{@size}}
      @noDataMessage="Geen bestuur" as |t|>
      <t.menu as |menu|>
        <menu.general>
          <div class="au-o-grid au-u-margin-bottom-tiny">
            <div class="au-o-grid__item au-u-1-2@medium au-u-1-1@small">
              <AuToggleSwitch
                @label="Verberg niet actieve organisaties"
                @checked={{@organizationStatus}}
              />
            </div>
            <div class="au-o-grid__item au-u-1-2@medium au-u-1-1@small">
              <MembershipRoleSelect
                @selected={{@selectedRelationType}}
                @onChange={{@setFilterRelationType}}
                @allowClear={{true}}
                id="relation-type"
              />
            </div>
          </div>
        </menu.general>
      </t.menu>
        <t.content as |c|>
          <c.header>
            <AuDataTableThSortable @field="role.label" @label="Type relatie" @currentSorting={{@sort}} />
            <AuDataTableThSortable @field="member.classification.label" @label="Type organisatie" @currentSorting={{@sort}} />
            <AuDataTableThSortable @field="member.name" @label="Organisatie" @currentSorting={{@sort}} />
            <AuDataTableThSortable @field="member.organizationStatus.label" @label="Status" @currentSorting={{@sort}} />
          </c.header>
          <c.body as |membership|>
            <td>
              {{membership.role.opLabel}}
            </td>
            <td>
              {{membership.member.classification.label}}
            </td>
            <td>
              <AuLink @route="administrative-units.administrative-unit" @model={{membership.member.id}}>
                {{membership.member.name}}
              </AuLink>
            </td>
            <td>
              <OrganizationStatus @id={{membership.member.organizationStatus.id}}
                @label={{membership.member.organizationStatus.label}} />
            </td>
          </c.body>
        </t.content>
    </AuDataTable>
  </div>
{{/if}}
