<DataCard>
  {{! TODO: Can have multiple founders }}
  <:title>Heeft relatie met</:title>
  <:card as |Card|>
    <Card.Columns>
      <:left as |Item|>
        <Item>
          <:label>Werd opgericht door:</:label>
          <:content>
            <AuLink
              @route="administrative-units.administrative-unit.core-data"
              @model={{@model.wasFoundedByOrganization.id}}
            >
              {{@model.wasFoundedByOrganization.name}}
            </AuLink>
          </:content>
        </Item>
      </:left>
    </Card.Columns>
  </:card>
</DataCard>

{{#if @model.administrativeUnit.foundedOrganizations.length}}
  <div>
    <AuHeading @level="3" @skin="5" class="au-u-margin-bottom-tiny">
      Heeft relatie met
    </AuHeading>
    <AuDataTable
      id="foundedOrganizations"
      @content={{@model.administrativeUnit.foundedOrganizations}}
      @page={{@page}}
      @size={{@size}}
      @noDataMessage="Geen bestuur"
      as |t|
    >
      <t.menu as |menu|>
        <menu.general>
          <div class="au-o-box">
            <AuToggleSwitch
              @label="Verberg niet actieve organisaties"
              @checked={{@organizationStatus}}
            />
          </div>
        </menu.general>
      </t.menu>
      <t.content as |c|>
        <c.header>
          <AuDataTableThSortable
            @field="classification.label"
            @label="Type organisatie"
            @currentSorting={{@sort}}
          />
          <AuDataTableThSortable
            @field="name"
            @label="Organisatie"
            @currentSorting={{@sort}}
          />
          <AuDataTableThSortable
            @field="organizationStatus.label"
            @label="Status"
            @currentSorting={{@sort}}
          />
        </c.header>
        <c.body as |subOrganization|>
          <td>
            {{subOrganization.classification.label}}
          </td>
          <td>
            <AuLink
              @route="administrative-units.administrative-unit"
              @model={{subOrganization.id}}
            >
              {{subOrganization.name}}
            </AuLink>
          </td>
          <td>
            <OrganizationStatus
              @id={{subOrganization.organizationStatus.id}}
              @label={{subOrganization.organizationStatus.label}}
            />
          </td>
        </c.body>
      </t.content>
    </AuDataTable>
  </div>
{{/if}}

{{#if @model.participatesIn.length}}
  <div>
    <AuHeading @level="3" @skin="5" class="au-u-margin-bottom-tiny">
      Participeert in
    </AuHeading>
    <AuDataTable
      id="participatesIn"
      @content={{@model.participatesIn}}
      @noDataMessage="Geen bestuur"
      as |t|
    >
      <t.content as |c|>
        <c.header>
          <AuDataTableThSortable
            @field="classification.label"
            @label="Type organisatie"
            @currentSorting={{@sort}}
          />
          <AuDataTableThSortable
            @field="name"
            @label="Organisatie"
            @currentSorting={{@sort}}
          />
          <AuDataTableThSortable
            @field="organizationStatus.label"
            @label="Status"
            @currentSorting={{@sort}}
          />
        </c.header>
        <c.body as |organization|>
          <td>
            {{organization.classification.label}}
          </td>
          <td>
            <AuLink
              @route="administrative-units.administrative-unit"
              @model={{organization.id}}
            >
              {{organization.name}}
            </AuLink>
          </td>
          <td>
            <OrganizationStatus
              @id={{organization.organizationStatus.id}}
              @label={{organization.organizationStatus.label}}
            />
          </td>
        </c.body>
      </t.content>
    </AuDataTable>
  </div>
{{/if}}

{{#if @model.hasParticipants.length}}
  <div>
    <AuHeading @level="3" @skin="5" class="au-u-margin-bottom-tiny">
      Heeft als participanten
    </AuHeading>
    <AuDataTable
      id="hasParticipants"
      @content={{@model.hasParticipants}}
      @noDataMessage="Geen bestuur"
      as |t|
    >
      <t.content as |c|>
        <c.header>
          <AuDataTableThSortable
            @field="classification.label"
            @label="Type organisatie"
            @currentSorting={{@sort}}
          />
          <AuDataTableThSortable
            @field="name"
            @label="Organisatie"
            @currentSorting={{@sort}}
          />
          <AuDataTableThSortable
            @field="organizationStatus.label"
            @label="Status"
            @currentSorting={{@sort}}
          />
        </c.header>
        <c.body as |organization|>
          <td>
            {{organization.classification.label}}
          </td>
          <td>
            <AuLink
              @route="administrative-units.administrative-unit"
              @model={{organization.id}}
            >
              {{organization.name}}
            </AuLink>
          </td>
          <td>
            <OrganizationStatus
              @id={{organization.organizationStatus.id}}
              @label={{organization.organizationStatus.label}}
            />
          </td>
        </c.body>
      </t.content>
    </AuDataTable>
  </div>
{{/if}}