{{#if @model.subOrganizations.length}}
  <div>
    <AuHeading @level="3" @skin="5" class="au-u-margin-bottom-tiny">
      Heeft relatie met
    </AuHeading>
    <AuDataTable 
      id="subOrganizations" 
      @content={{@model.subOrganizations}}
      @page={{@page}}
      @size={{@size}}
      @noDataMessage="Geen bestuur" as |t|>
      <t.content as |c|>
        <c.header>
          <AuDataTableThSortable @field="classification.label" @label="Type organisatie" @currentSorting={{@sort}} />
          <AuDataTableThSortable @field="name" @label="Organisatie" @currentSorting={{@sort}} />
          <AuDataTableThSortable @field="organizationStatus.label" @label="Status" @currentSorting={{@sort}} />
        </c.header>
        <c.body as |subOrganization|>
          <td>
            {{subOrganization.classification.label}}
          </td>
          <td>
            <AuLink @route="administrative-units.administrative-unit" @model={{subOrganization.id}}>
              {{subOrganization.name}}
            </AuLink>
          </td>
          <td>
            <OrganizationStatus @id={{subOrganization.organizationStatus.id}}
              @label={{subOrganization.organizationStatus.label}} />
          </td>
        </c.body>
      </t.content>
    </AuDataTable>
  </div>
{{/if}}