<div>
  Om de gerelateerde gemeenten te zien, ga naar
  <LinkTo
    class="au-c-link"
    @model={{@model.administrativeUnit.id}}
    @route="administrative-units.administrative-unit.local-involvements.index"
  >
    Betrokken lokale besturen
  </LinkTo>
</div>

<DataCard>
  <:title>Behoort tot</:title>
  <:card as |Card|>
    <Card.Columns>
      <:left as |Item|>
        {{#if @model.isAssociatedWith.name}}
          <Item>
            <:label>Representatief orgaan</:label>
            <:content>
              <AuLink @route="organizations.organization.core-data" @model={{@model.isAssociatedWith.id}}>
                {{@model.isAssociatedWith.name}}
              </AuLink>
            </:content>
          </Item>
        {{/if}}
      </:left>
    </Card.Columns>
  </:card>
</DataCard>

{{#if @model.relatedMemberships.length}}
  <div>
    <AuDataTable 
      id="relatedMemberships"
      @content={{@model.relatedMemberships}}
      @page={{@page}}
      @size={{@size}}
      @noDataMessage="Geen bestuur" as |t|>
      <t.menu as |menu|>
        <menu.general>
          <div class="au-o-box">
            <AuToggleSwitch
              @label="Verberg niet actieve organisaties"
              @checked={{@organizationStatus}}
            />
          </div>
        </menu.general>
      </t.menu>
      <t.content as |c|>
        <c.header>
          <AuDataTableThSortable @field="relationType" @label="Type relatie" @currentSorting={{@sort}} />
          <AuDataTableThSortable @field="classification.label" @label="Type organisatie" @currentSorting={{@sort}} />
          <AuDataTableThSortable @field="name" @label="Organisatie" @currentSorting={{@sort}} />
          <AuDataTableThSortable @field="organizationStatus.label" @label="Status" @currentSorting={{@sort}} />
        </c.header>
        <c.body as |membership|>
          <td>
            {{membership.role.opLabel}}
          </td>
          <td>
            {{membership.member.classification.label}}
          </td>
          <td>
            <AuLink @route="administrative-units.administrative-unit" @model={{membership.member.id}}>
              {{membership.member.name}}
            </AuLink>
          </td>
          <td>
            <OrganizationStatus @id={{membership.member.organizationStatus.id}}
              @label={{membership.member.organizationStatus.label}} />
          </td>
        </c.body>
      </t.content>
    </AuDataTable>
  </div>
{{/if}}
