<div>
  <AuHeading @level="3" @skin="5" class="au-u-margin-bottom-tiny">
    Participeert in
  </AuHeading>
  <AuDataTable
    id="participatesIn"
    @content={{@model.participatesIn}}
    @noDataMessage="Geen bestuur"
    as |t|
  >
    <t.content as |c|>
      <c.header>
        <AuDataTableThSortable
          @field="classification.label"
          @label="Type organisatie"
          @currentSorting={{@sort}}
        />
        <AuDataTableThSortable
          @field="name"
          @label="Organisatie"
          @currentSorting={{@sort}}
        />
        <AuDataTableThSortable
          @field="organizationStatus.label"
          @label="Status"
          @currentSorting={{@sort}}
        />
      </c.header>
      <c.body as |organization|>
        <td>
          {{organization.classification.label}}
        </td>
        <td>
          <AuLink
            @route="organizations.organization"
            @model={{organization.id}}
          >
            {{organization.abbName}}
          </AuLink>
        </td>
        <td>
          <OrganizationStatus
            @id={{organization.organizationStatus.id}}
            @label={{organization.organizationStatus.label}}
          />
        </td>
      </c.body>
    </t.content>
  </AuDataTable>
</div>