<DataCard>
  <:title>Heeft relatie met</:title>
  <:card as |Card|>
    <Card.Columns>
      <:left as |Item|>
        <Item>
          <:label>
            Provincie
          </:label>
          <:content>
            <AuLink
              @route="administrative-units.administrative-unit"
              @model={{@model.isSubOrganizationOf.isSubOrganizationOf.id}}
            >
              {{@model.isSubOrganizationOf.isSubOrganizationOf.name}}
            </AuLink>
          </:content>
        </Item>
        <Item>
          <:label>Gemeente</:label>
          <:content>
            <AuLink
              @route="administrative-units.administrative-unit.core-data"
              @model={{@model.isSubOrganizationOf.id}}
            >
              {{@model.isSubOrganizationOf.name}}
            </AuLink>
          </:content>
        </Item>

        <Item>
          <:label>Werd opgericht door</:label>
          <:content>
            {{! Note: this is somewhat of a hacky way to deal the many
                multiplicity for `wasFoundedByOrganization` since AGBs should
                always have a single founder}}
            <AuList @direction="horizontal" as |Item|>
              {{#each @model.wasFoundedByOrganization as |org|}}
                <Item>
                  <AuLink
                    @route="administrative-units.administrative-unit.core-data"
                    @model={{@model.id}}
                  >{{org.name}}</AuLink>
                </Item>
              {{/each}}
            </AuList>
          </:content>
        </Item>
      </:left>
    </Card.Columns>
  </:card>
</DataCard>

{{#if @model.participatesIn.length}}
  <div>
    <AuHeading @level="3" @skin="5" class="au-u-margin-bottom-tiny">
      Participeert in
    </AuHeading>
    <AuDataTable
      id="participatesIn"
      @content={{@model.participatesIn}}
      @noDataMessage="Geen bestuur"
      as |t|
    >
      <t.content as |c|>
        <c.header>
          <AuDataTableThSortable
            @field="classification.label"
            @label="Type organisatie"
            @currentSorting={{@sort}}
          />
          <AuDataTableThSortable
            @field="name"
            @label="Organisatie"
            @currentSorting={{@sort}}
          />
          <AuDataTableThSortable
            @field="organizationStatus.label"
            @label="Status"
            @currentSorting={{@sort}}
          />
        </c.header>
        <c.body as |organization|>
          <td>
            {{organization.classification.label}}
          </td>
          <td>
            <AuLink
              @route="administrative-units.administrative-unit"
              @model={{organization.id}}
            >
              {{organization.name}}
            </AuLink>
          </td>
          <td>
            <OrganizationStatus
              @id={{organization.organizationStatus.id}}
              @label={{organization.organizationStatus.label}}
            />
          </td>
        </c.body>
      </t.content>
    </AuDataTable>
  </div>
{{/if}}
