<DataCard>
  <:title>Heeft relatie met</:title>
  <:card as |Card|>
    <Card.Columns>
      <:left as |Item|>
        <Item>
          <:label>
            Provincie
          </:label>
          <:content>
            <AuLink @route="administrative-units.administrative-unit" @model={{@model.isSubOrganizationOf.id}}>
              {{@model.isSubOrganizationOf.name}}
            </AuLink>
          </:content>
        </Item>
        <Item>
          <:label>OCMW</:label>
          <:content>
            <AuLink @route="administrative-units.administrative-unit.core-data" @model={{@model.isAssociatedWith.id}}>
              {{@model.isAssociatedWith.name}}
            </AuLink>
          </:content>
        </Item>
      </:left>
    </Card.Columns>
  </:card>
</DataCard>

{{#if @model.relatedOrganizations.length}}
  <div>
    <AuDataTable 
      id="relatedOrganizations"
      @content={{@model.relatedOrganizations}}
      @page={{@page}}
      @size={{@size}}
      @noDataMessage="Geen bestuur" as |t|>
      <t.menu as |menu|>
        <menu.general>
          <div class="au-o-box">
            <AuToggleSwitch
              @label="Verberg niet actieve organisaties"
              @checked={{@organizationStatus}}
            />
          </div>
        </menu.general>
      </t.menu>
      <t.content as |c|>
        <c.header>
          <AuDataTableThSortable @field="relationType" @label="Type relatie" @currentSorting={{@sort}} />
          <AuDataTableThSortable @field="classification.label" @label="Type organisatie" @currentSorting={{@sort}} />
          <AuDataTableThSortable @field="name" @label="Organisatie" @currentSorting={{@sort}} />
          <AuDataTableThSortable @field="organizationStatus.label" @label="Status" @currentSorting={{@sort}} />
        </c.header>
        <c.body as |organization|>
          <td>
            {{organization.relationType}}
          </td>
          <td>
            {{organization.classification.label}}
          </td>
          <td>
            <AuLink @route="administrative-units.administrative-unit" @model={{organization.opUuid}}>
              {{organization.name}}
            </AuLink>
          </td>
          <td>
            <OrganizationStatus @id={{organization.organizationStatus.id}}
              @label={{organization.organizationStatus.label}} />
          </td>
        </c.body>
      </t.content>
    </AuDataTable>
  </div>
{{/if}}
