<div class="au-o-box">
  <AuToolbar>
    <AuToolbarGroup>
      <AuHeading>
        Contactgegevens
      </AuHeading>
    </AuToolbarGroup>
  </AuToolbar>
  <AuHeading @level="2" @skin="3" class="au-u-margin-top-tiny">
    {{@model.person.givenName}} {{@model.person.familyName}}
  </AuHeading>
</div>

<AuDataTable @content={{@model.positions}} @noDataMessage="Geen posities" as |t|>
  <t.content as |c|>
    <c.header>
      <th class="au-c-data-table__header-title">Positie</th>
      <th class="au-c-data-table__header-title">Organisatie</th>
      <th class="au-c-data-table__header-title">Email</th>
      <th class="au-c-data-table__header-title">Telefoonnummer</th>
      <th class="au-c-data-table__header-title">Adres</th>
      <th></th>
    </c.header>
    <c.body as |mandatory|>
      <td>
        <AuLink
          @route="people.person.positions.mandatory"
          @model={{mandatory.id}}
        >
          {{mandatory.mandate.roleBoard.label}}
        </AuLink>
      </td>
      <td>
        {{#let mandatory.mandate.governingBody.isTimeSpecializationOf.administrativeUnit as |administrativeUnit|}}
          {{#if administrativeUnit}}
            <AuLink
              @route="administrative-units.administrative-unit"
              @model={{administrativeUnit.id}}
            >
              {{administrativeUnit.name}}
            </AuLink>
          {{/if}}
        {{/let}}
      </td>
      <td>
        {{mandatory.contacts.firstObject.email}}
      </td>
      <td>
        {{mandatory.contacts.firstObject.telephone}}
      </td>
      <td>
        {{mandatory.contacts.firstObject.contactAddress.fullAddress}}
      </td>
      <td>
        {{!-- TODO Replace this with the correct route --}}
        <AuLink
          @route="people.person.contacts"
        >Bewerk</AuLink>
      </td>
    </c.body>
  </t.content>
</AuDataTable>