{{#let (unique-id) as |id|}}
  {{#if this.isAddressSearchMode}}
    <td>
      <AuLabel
        @for="{{id}}-address-search"
        @required={{@required}}
        @errorMessage={{if @error "Selecteer een adres"}}
        @requiredLabel="*"
        @error={{@errorMessage}}
        class={{@labelClass}}
      >
        Adres
      </AuLabel>
      <AddressRegisterSelector
        @id="{{id}}-address-search"
        @address={{@address}}
        @onChange={{this.handleAddressChange}}
        @error={{@errorMessage}}
      />
      {{#if @errorMessage}}
        <AuHelpText @error={{true}}>{{@errorMessage}}</AuHelpText>
      {{/if}}
      <p class="au-u-margin-top-tiny">
        <AuButton @skin="link" {{on "click" this.toggleInputMode}}>
          Vul adres manueel in
        </AuButton>
      </p>
    </td>

    <td>

      <AuLabel
        @for="{{id}}-address-search-bus-select"
        @required={{not this.isBusNumberSelectionDisabled}}
        @errorMessage={{if @error "Selecteer een adres"}}
        @requiredLabel="*"
        @error={{@errorMessage}}
        class={{@labelClass}}
      >
        Busnummer
      </AuLabel>
      <AddressRegisterBusNumberSelector
        @id="{{id}}-address-search-bus-select"
        @address={{this.addressWithBusNumber}}
        @options={{this.addressesWithBusNumbers}}
        @onChange={{this.handleBusNumberChange}}
        @disabled={{this.isBusNumberSelectionDisabled}}
        @placeholder={{if
          this.showBusNumbersNotAvailableMessage
          "Geen busnummer beschikbaar"
        }}
      />
      {{#if this.selectedAddress}}
        <AuHelpText>
          Staat het correcte busnummer niet in de lijst?
          <AuLinkExternal href="mailto:{{config 'contactEmail'}}">Mail ons</AuLinkExternal>
        </AuHelpText>
      {{/if}}
    </td>

    <td>

      <AuLabel
        @for="{{id}}-contact-address-province"
        @required={{not this.isBusNumberSelectionDisabled}}
        @errorMessage={{@address.error.province.validation}}
        @requiredLabel="*"
        @error={{@errorMessage}}
        class={{@labelClass}}
      >
        Provincie
      </AuLabel>
      <ProvinceSelect
        @selected={{@address.province}}
        @selectedMunicipality={{@address.municipality}}
        @onChange={{fn (mut @address.province)}}
        @id="contact-address-province"
        @error={{@errorMessage}}
      />
      {{#if @errorMessage}}
        <AuHelpText @error={{true}}>{{@errorMessage}}</AuHelpText>
      {{/if}}
    </td>

  {{else}}

    <td>

      <div class="au-o-block">
        <AuLabel
          @for="{{id}}-contact-address-street-name"
          @required={{@required}}
          @errorMessage={{@address.error.street.validation}}
          @requiredLabel="*"
          @error={{@errorMessage}}
          class={{@labelClass}}
        >
          Straat
        </AuLabel>

        <AuInput
          @value={{@address.street}}
          @width="block"
          @error={{@errorMessage}}
          id="{{id}}-contact-address-street-name"
        />
        {{#if @errorMessage}}
          <AuHelpText @error={{true}}>{{@errorMessage}}</AuHelpText>
        {{/if}}
      </div>

      <div class="au-o-block">
        <AuLabel
          @for="{{id}}-contact-address-house-number"
          @required={{@required}}
          @errorMessage={{@address.error.number.validation}}
          @requiredLabel="*"
          @error={{@errorMessage}}
          class={{@labelClass}}
        >
          Huisnummer
        </AuLabel>
        <AuInput
          @value={{@address.number}}
          @width="block"
          @error={{@errorMessage}}
          id="{{id}}-contact-address-house-number"
        />
        {{#if @errorMessage}}
          <AuHelpText @error={{true}}>{{@errorMessage}}</AuHelpText>
        {{/if}}
      </div>
      <div class="au-o-block">
        <AuLabel
          @for="{{id}}-contact-address-postal-code"
          @required={{@required}}
          @errorMessage={{@address.error.postcode.validation}}
          @requiredLabel="*"
          @error={{@errorMessage}}
          class={{@labelClass}}
        >
          Postcode
        </AuLabel>
        <AuInput
          @value={{@address.postcode}}
          @width="block"
          @error={{@errorMessage}}
          id="{{id}}-contact-address-postal-code"
        />
     {{#if @errorMessage}}
          <AuHelpText @error={{true}}>{{@errorMessage}}</AuHelpText>
        {{/if}}
      </div>
      <div class="au-o-block">
        <AuLabel
          @for="{{id}}-contact-address-municipality"
          @required={{@required}}
          @errorMessage={{@address.error.municipality.validation}}
          @requiredLabel="*"
          @error={{@errorMessage}}
          class={{@labelClass}}
        >
          Gemeente
        </AuLabel>
        <MunicipalitySelect
          @selected={{@address.municipality}}
          @selectedProvince={{@address.province}}
          @onChange={{fn (mut @address.municipality)}}
          @id="{{id}}-contact-address-municipality"
          @error={{@errorMessage}}
        />
     {{#if @errorMessage}}
          <AuHelpText @error={{true}}>{{@errorMessage}}</AuHelpText>
        {{/if}}
      </div>
      <div class="au-o-block">
        <AuButton @skin="link" {{on "click" this.toggleInputMode}}>
          Vind adres in lijst
        </AuButton>
      </div>

    </td>
    <td>
      <AuLabel
        @for="{{id}}-contact-address-bus-number"
        @required={{@required}}
        @requiredLabel="*"
        @error={{@errorMessage}}
        class={{@labelClass}}
      >
        Busnummer
      </AuLabel>
      <AuInput
        @value={{@address.boxNumber}}
        @width="block"
        id="{{id}}-contact-address-bus-number"
      />
     {{#if @errorMessage}}
          <AuHelpText @error={{true}}>{{@errorMessage}}</AuHelpText>
        {{/if}}
    </td>
    <td>
      <AuLabel
        @for="{{id}}-contact-address-province"
        @required={{not this.isBusNumberSelectionDisabled}}
        @errorMessage={{@address.error.province.validation}}
        @requiredLabel="*"
        @error={{@errorMessage}}
        class={{@labelClass}}
      >
        Provincie
      </AuLabel>
      <ProvinceSelect
        @selected={{@address.province}}
        @selectedMunicipality={{@address.municipality}}
        @onChange={{fn (mut @address.province)}}
        @id="contact-address-province"
        @error={{@errorMessage}}
      />
           {{#if @errorMessage}}
          <AuHelpText @error={{true}}>{{@errorMessage}}</AuHelpText>
        {{/if}}
    </td>

  {{/if}}
{{/let}}