<div class={{if @error "ember-power-select--error"}} ...attributes>
  <PowerSelectMultiple
    @disabled={{@disabled}}
    @allowClear={{true}}
    @searchEnabled={{true}}
    @loadingMessage="Aan het laden..."
    @noMatchesMessage="Geen resultaten"
    @searchMessage="Typ om te zoeken"
    @searchField="name"
    @search={{perform this.loadAdministrativeUnitMultipleTask}}
    @selected={{@selected}}
    @onChange={{@onChange}}
    @triggerId={{@id}}
    as |administrativeUnit|
  >
    {{administrativeUnit.abbName}}
    ({{administrativeUnit.classification.label}})
  </PowerSelectMultiple>
</div>
