<div class={{if @error "ember-power-select--error"}} ...attributes>
  <PowerSelect
    @disabled={{@disabled}}
    @allowClear={{@allowClear}}
    @searchEnabled={{true}}
    @loadingMessage="Aan het laden..."
    @noMatchesMessage="Geen resultaten"
    @searchMessage="Typ om te zoeken"
    @searchField="name"
    @onChange={{this.triggerChange}}
    @search={{perform this.loadAdministrativeUnitsTask}}
    @selected={{this.selectedAdministrativeUnit}}
    as |administrativeUnit|
  >
    {{administrativeUnit.name}}

    {{#if
      (and
        (not
          (or
            (eq
              administrativeUnit.classification.label
              "Centraal bestuur van de eredienst"
            )
            (eq
              administrativeUnit.classification.label "Bestuur van de eredienst"
            )
          )
        )
        administrativeUnit.classification
      )
    }}
      ({{administrativeUnit.classification.label}})
    {{/if}}
  </PowerSelect>
</div>