<div class={{if @error "ember-power-select--error"}} ...attributes>
  <PowerSelect
    @allowClear={{@allowClear}}
    @searchEnabled={{true}}
    @loadingMessage="Aan het laden..."
    @noMatchesMessage="Geen resultaten"
    @searchMessage="Typ om te zoeken"
    @searchField="name"
    @search={{perform this.loadAdministrativeUnitsTask}}
    @selected={{this.selectedAdministrativeUnit}}
    @onChange={{@onChange}}
    as |administrativeUnit|
  >
    {{#if (has-block)}}
      {{yield administrativeUnit}}
    {{else}}
      {{administrativeUnit.name}}
    {{/if}}
  </PowerSelect>
</div>