<AuMainHeader
  @brandLink="https://www.vlaanderen.be/nl"
  @homeRoute="index"
  @appTitle={{config "appName"}}
  @contactRoute="contact"
>
  {{#if this.environmentName}}
    <div class="au-c-environment-pill {{this.environmentClass}}">
      {{this.environmentName}}
    </div>
  {{/if}}
  {{#if this.session.isAuthenticated}}
    <AuDropdown
      @dropdownTitle={{this.currentSession.user.firstName}}
      @dropdownButtonLabel="Account settings"
      @alignment="right"
    >
      <AuButton
        @skin="tertiary" role="menuitem"
        {{on "click" this.logout}}
      >
        <AuIcon @icon="logout" @alignment="left" />Afmelden
      </AuButton>
    </AuDropdown>
  {{else}}
    {{!--
    TODO: integrate ACM/IDM flow
    <AuButton
      @skin="tertiary"
      @icon="login"
      @iconAlignment="left"
    >
      Aanmelden
    </AuButton> --}}
  {{/if}}
</AuMainHeader>