{{#if this.singlePosition}}
  <form
    id="edit-contact-form-single"
    aria-label="edit-contact-form-single"
    {{on "submit" (perform this.saveContact)}}
  >
    <Position::ContactEditCard
      @address={{this.editingContact.address}}
      @primaryContact={{this.editingContact.primaryContact}}
      @secondaryContact={{this.editingContact.secondaryContact}}
      @isAddressSearchEnabledInitially={{if
        (or
          (not this.editingContact.address.id)
          this.editingContact.address.addressRegisterUri
        )
        true
        false
      }}
    >
      <:title>Contactgegevens</:title>
    </Position::ContactEditCard>
  </form>
{{else}}
  <div class="au-u-max-width-large">
    <AuToolbar>
      <AuToolbarGroup>
        <AuHeading
          @skin={{or @headingSkin "5"}}
          class="au-u-margin-bottom-tiny"
        >
          {{@title}}
        </AuHeading>
      </AuToolbarGroup>
      <AuToolbarGroup>
        <AuButton
          @disabled={{(or
            this.isSelectedContactNewContact this.editingContact
          )}}
          {{on "click" this.newContact}}
          class="au-u-margin-bottom-small"
        >
          Nieuw
        </AuButton>
      </AuToolbarGroup>
    </AuToolbar>

    <AuTable id="contactDetails">
      <:header>
        <tr>
          <th>Adres</th>
          <th>Bus</th>
          <th>Provincie</th>
          <th>E-mail</th>
          <th>Primair telefoonnummer</th>
          <th>Secundair telefoonnummer</th>
          <th>Selecteer</th>
          <th></th>
        </tr>
      </:header>
      <:body>
        {{#each this.positions as |contact|}}

          {{#if
            (and
              (eq
                this.editingContact.primaryContact.id contact.primaryContact.id
              )
            )
          }}

            <tr class="au-u-background-gray-100 tr-top">
              <ContactEditRow
                @address={{this.editingContact.address}}
                @primaryContact={{this.editingContact.primaryContact}}
                @secondaryContact={{this.editingContact.secondaryContact}}
                @isAddressSearchEnabledInitially={{if
                  (or
                    (not this.editingContact.address.id)
                    this.editingContact.address.addressRegisterUri
                  )
                  true
                  false
                }}
              />
              <td>
                <AuControlCheckbox
                  @disabled={{true}}
                  @label=""
                  @checked={{true}}
                />
              </td>
              <td>
                <div>
                  <AuButton @skin="tertiary" {{on "click" this.cancel}}>
                    Annuleer
                  </AuButton>
                </div>

              </td>
            </tr>

          {{else}}

            <tr>
              <td>
                {{contact.primaryContact.contactAddress.fullAddress}}
              </td>
              <td
              >{{contact.primaryContact.contactAddress.boxNumber}}</td>
              <td>
                {{contact.primaryContact.contactAddress.province}}
              </td>
              <td>
                {{contact.primaryContact.email}}
              </td>
              <td>
                {{contact.primaryContact.telephone}}
              </td>
              <td>
                {{contact.secondaryContact.telephone}}
              </td>
              <td>
                <AuControlCheckbox
                  @disabled={{this.editingContact}}
                  @label=""
                  @checked={{(or
                    (and
                      (not this.editingContact)
                      (eq
                        this.selectedContact.primaryContact.id
                        contact.primaryContact.id
                      )
                    )
                    (eq
                      this.editingContact.primaryContact.id
                      contact.primaryContact.id
                    )
                  )}}
                  @onChange={{(perform this.copy contact)}}
                />
              </td>
              <td>
                <AuButton
                  @disabled={{this.editingContact}}
                  @skin="link"
                  {{on "click" (fn this.fixErrorAndSelect contact)}}
                >
                  Corrigeer fout
                </AuButton>
              </td>
            </tr>
          {{/if}}
        {{/each}}
        {{#if
          (and
            this.isNew
            (and
              this.editingContact (not this.editingContact.primaryContact.id)
            )
          )
        }}

          <tr class="au-u-background-gray-100 tr-top">
            <ContactEditRow
              @address={{this.editingContact.address}}
              @primaryContact={{this.editingContact.primaryContact}}
              @secondaryContact={{this.editingContact.secondaryContact}}
              @isAddressSearchEnabledInitially={{if
                (or
                  (not this.editingContact.address.id)
                  this.editingContact.address.addressRegisterUri
                )
                true
                false
              }}
            />
            <td>
              <AuControlCheckbox
                @disabled={{true}}
                @label=""
                @checked={{true}}
              />
            </td>
            <td>
              <AuButton @skin="tertiary" {{on "click" this.cancel}}>
                Annuleer
              </AuButton>
            </td>
          </tr>
        {{/if}}
      </:body>

    </AuTable>
  </div>

{{/if}}