<AddressSearchInTable
  @address={{@address}}
  @isSearchEnabledInitially={{@isAddressSearchEnabledInitially}}
/>
<td>
  <AuLabel
    @for="contact-email"
    @errorMessage={{@primaryContact.error.email.validation}}
    @requiredLabel="*"
    @error={{@primaryContact.error.email.validation}}
    class={{@labelClass}}
  >
    E-mail
  </AuLabel>
  <AuInput
    @width="block"
    @value={{@primaryContact.email}}
    @error={{@primaryContact.error.email.validation}}
    id="contact-email"
  />
  {{#if @primaryContact.error.email.validation}}
    <AuHelpText @error={{true}}>{{@primaryContact.error.email.validation}}</AuHelpText>
  {{/if}}
</td>
<td>
  <AuLabel
    @for="contact-telephone"
    @errorMessage={{@primaryContact.error.telephone.validation}}
    @requiredLabel="*"
    @error={{@primaryContact.error.telephone.validation}}
    class={{@labelClass}}
  >
    Primair telefoonnummer
  </AuLabel>
  <AuInput
    @width="block"
    @value={{@primaryContact.telephone}}
    @error={{@primaryContact.error.telephone.validation}}
    id="contact-telephone"
  />
  {{#if @primaryContact.error.telephone.validation}}
    <AuHelpText @error={{true}}>{{@primaryContact.error.telephone.validation}}</AuHelpText>
  {{/if}}
</td>
<td>
  <AuLabel
    @for="secondary-contact-telephone"
    @errorMessage={{@secondaryContact.error.telephone.validation}}
    @error={{@secondaryContact.error.telephone.validation}}
    @requiredLabel="*"
    class={{@labelClass}}
  >
    Secundair telefoonnummer
  </AuLabel>
  <AuInput
    @width="block"
    @value={{@secondaryContact.telephone}}
    @error={{@secondaryContact.error.telephone.validation}}

    id="secondary-contact-telephone"
  />
  {{#if @secondaryContact.error.telephone.validation}}
    <AuHelpText @error={{true}}>{{@secondaryContact.error.telephone.validation}}</AuHelpText>
  {{/if}}
</td>