<div class={{if @error "ember-power-select--error"}}>
  <PowerSelectMultiple
    @searchEnabled={{false}}
    @allowClear={{or @allowClear true}}
    @searchField="label"
    @loadingMessage="Aan het laden..."
    @noMatchesMessage="Geen resultaten"
    @searchMessage="Typ om te zoeken"
    @options={{@options}}
    @selected={{@selectedMembershipRoles}}
    @onChange={{@onChange}}
    @triggerId={{@id}}
    as |type|
  >
    {{! TODO: list option labels in both directions }}
    {{! TODO: get rid of conditional }}
    {{#if type.length}}
      {{type}}
    {{else}}
      {{type.opLabel}}
    {{/if}}
  </PowerSelectMultiple>
</div>