<div class={{if @error "ember-power-select--error"}} ...attributes>
  <PowerSelect
    @disabled={{@disabled}}
    @allowClear={{@allowClear}}
    @searchEnabled={{true}}
    @loadingMessage="Aan het laden..."
    @noMatchesMessage="Geen resultaten"
    @searchMessage="Typ om te zoeken"
    @searchField="name"
    @onChange={{this.triggerChange}}
    @search={{perform this.loadOrganizationsTask}}
    @selected={{this.selectedOrganization}}
    as |organization|
  >
    {{#if @showKbo}}
      {{#if organization.kboNumber}}
          {{organization.kboNumber}} - {{organization.abbName}}
      {{else}}
          {{organization.abbName}} (geen kbo gevonden)
      {{/if}}
    {{else}}
      {{organization.abbName}}
    {{/if}}
    {{#unless organization.isWorshipAdministrativeUnit}}
      ({{organization.classification.label}})
    {{/unless}}
  </PowerSelect>
</div>