<div class={{if @error "ember-power-select--error"}} ...attributes>
  <PowerSelectMultiple
    @disabled={{@disabled}}
    @allowClear={{true}}
    @searchEnabled={{true}}
    @loadingMessage="Aan het laden..."
    @noMatchesMessage="Geen resultaten"
    @searchMessage="Typ om te zoeken"
    @searchField="name"
    @search={{perform this.loadOrganizationsMultipleTask}}
    @selected={{@selected}}
    @onChange={{@onChange}}
    @triggerId={{@id}}
    as |organization|
  >
    {{organization.abbName}}
    ({{organization.classification.label}})
  </PowerSelectMultiple>
</div>