<div class={{if @error "ember-power-select--error"}}>
  <PowerSelectMultiple
    @searchEnabled={{or @searchEnabled true}}
    @allowClear={{or @allowClear true}}
    @searchField="label"
    @loadingMessage="Aan het laden..."
    @noMatchesMessage="Geen resultaten"
    @searchMessage="Typ om te zoeken"
    @options={{this.organizationTypes}}
    @selected={{this.selectedOrganizationTypes}}
    @onChange={{@onChange}}
    @triggerId={{@id}}
    as |type|
  >
    {{type}}
  </PowerSelectMultiple>
</div>