<div class={{if @error "ember-power-select--error"}} ...attributes>
  <PowerSelect
    @allowClear={{true}}
    @searchEnabled={{true}}
    @loadingMessage="Aan het laden..."
    @noMatchesMessage="Geen resultaten"
    @searchMessage="Typ om te zoeken"
    @search={{perform this.loadPersonTask}}
    @selected={{@selected}}
    @onChange={{this.changed}}
    @triggerId={{@id}}
    as |person|
  >
      {{person.family_name}} {{person.given_name}}
  </PowerSelect>
</div>