<form
  class="au-u-margin-left au-u-margin-right"
  aria-label="people-search-form"
  {{on "submit" (perform this.searchPeopleTask)}}
>
  <SecuredArea>
    <:readOnly>
      <ReportWrongData />
    </:readOnly>
  </SecuredArea>

  <div class="au-o-grid au-o-grid--bottom">
    <p class="au-o-grid__item au-u-1-3@medium au-u-1-1@small">
      <AuLabel for="person-given-name">Voornaam</AuLabel>
      <PersonSearchByName
        @id="person-given-name"
        @fieldName="given_name"
        @selected={{this.searchParams.selectedPerson}}
        @onChange={{this.searchParams.selectPerson}}
        class="block"
      />
    </p>
    <p class="au-o-grid__item au-u-1-3@medium au-u-1-1@small">
      <AuLabel for="person-family-name">Achternaam</AuLabel>
      <PersonSearchByName
        @id="person-family-name"
        @fieldName="family_name"
        @selected={{this.searchParams.selectedPerson}}
        @onChange={{this.searchParams.selectPerson}}
        class="block"
      />
    </p>
    <p class="au-o-grid__item au-u-1-3@medium au-u-1-1@small">
      <AuButton
        @disabled={{not this.canSearch}}
        @loading={{this.searchPeopleTask.isRunning}}
        class="au-u-padding-left au-u-padding-right"
        type="submit"
      >
        Zoek
      </AuButton>
    </p>
  </div>
</form>

{{#if this.searchPeopleTask.last}}
  <div class="person-search-results au-u-margin-top-large">
    <AuDataTable
      @content={{this.searchPeopleTask.lastSuccessful.value}}
      @isLoading={{and
        (not this.searchPeopleTask.lastSuccessful.value)
        (this.searchPeopleTask.isRunning)
      }}
      as |t|
    > 
      <t.content class="au-c-data-table__table--small" as |c|>
        <c.header>
          <th>Voornaam</th>
          <th>Achternaam</th>
          <th></th>
        </c.header>
        {{#if this.searchPeopleTask.last.isError}}
          <TableMessage::Error />
        {{else if (and
          (not this.searchPeopleTask.lastSuccessful.value)
          (not this.searchPeopleTask.isRunning)
        )}}
          <TableMessage::NoResult 
            @personCreationRedirectUrl={{@personCreationRedirectUrl}}
          />
        {{else}}
          {{#if this.searchPeopleTask.isRunning}}
            <tr><td colspan="100%" class="is-loading-data">Aan het laden...</td></tr>
          {{else}} 
            <c.body as |person|>
              <td>
                {{person.givenName}}
              </td>
              <td>
                {{person.familyName}}
              </td>
              <td>
                <AuButton @skin="tertiary" {{on "click" (fn @onSelect person)}} @loading={{@loading}}>
                  Selecteer
                </AuButton>
              </td>
            </c.body>
            {{/if}}
          {{#if (and
            (not this.searchPeopleTask.isRunning)
            (not this.searchPeopleTask.last.isError)
          )}}
            <TableMessage::HasResults />
          {{/if}}
        {{/if}}
      </t.content>
    </AuDataTable>
  </div>
{{/if}}