<div class={{if @error "ember-power-select--error"}}>
  <PowerSelect
    @allowClear={{true}}
    @searchEnabled={{true}}
    @loadingMessage="Aan het laden..."
    @searchField="label"
    @options={{this.positions.value}}
    @selected={{this.selectedPosition}}
    @onChange={{@onChange}}
    @triggerId={{@id}}
    as |position|
  >
    {{position.label}}
  </PowerSelect>
</div>