<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-o-flow au-o-flow--large">
    <PageHeader>
      <:title>{{@contact.role}}</:title>
      <:subtitle>
        {{@person.givenName}}
        {{@person.familyName}}
      </:subtitle>
      <:action>
        <div>
          <AuButtonGroup class="au-c-button-group--align-right">
            <AuButton
              @loading={{this.save.isRunning}}
              @disabled={{this.save.isRunning}}
              {{on "click" (perform this.save)}}
            >
              Opslaan
            </AuButton>

            <AuLink {{on "click" @onCancel}} @skin="button-secondary">
              Annuleer
            </AuLink>
          </AuButtonGroup>
        </div>
      </:action>
    </PageHeader>
    <AuCard as |c|>
      <c.header>
        <AuToolbar>
          <AuToolbarGroup>
            <AuHeading @level="3" @skin="4">
              De wijziging(en) in de contactgegevens zijn opgeslagen. De
              contactgegevens die je zonet bewerkt hebt, worden ook in
              onderstaande posities gebruikt. Wens je de wijziging(en) ook in
              deze posities toe te passen?
            </AuHeading>
          </AuToolbarGroup>
        </AuToolbar>

      </c.header>
      <c.content>

        <AuDataTable
          id="contactDetails"
          @content={{this.positions}}
          @noDataMessage="Geen contactpunten"
          as |t|
        >
          <t.content as |c|>
            <c.header>
              <th>Positie</th>
              <th>Organisatie</th>
              <th>Selecteer</th>
            </c.header>
            <c.body as |contact|>
              <td>
                {{contact.role}}
              </td>
              <td>
                {{contact.administrativeUnit.name}}
              </td>
              <td>
                <AuButton @skin="link" {{on "click" (fn this.select contact)}}>
                  {{#if contact.selected}}
                    <AuControlCheckbox @label="" @checked={{true}} />
                  {{else}}
                    <AuControlCheckbox @label="" @checked={{false}} />
                  {{/if}}
                </AuButton>
              </td>
            </c.body>
          </t.content>

        </AuDataTable>
      </c.content>
    </AuCard>
  </div>
</div>