<div class={{if @error "ember-power-select--error"}}>
  <PowerSelect
    @disabled={{if @disabled true false}}
    @allowClear={{true}}
    @loadingMessage="Aan het laden..."
    @noMatchesMessage="Geen resultaten"
    @searchMessage="Typ om te zoeken"
    @options={{this.provinces}}
    @selected={{@selected}}
    @onChange={{@onChange}}
    @triggerId={{@id}}
    as |province|
  >
    {{province.name}}
  </PowerSelect>
</div>