<div class={{if @error "ember-power-select--error"}}>
  <PowerSelect
    @allowClear={{@allowClear}}
    @searchEnabled={{true}}
    @loadingMessage="Aan het laden..."
    @noMatchesMessage="Geen resultaten"
    @searchMessage="Typ om te zoeken"
    @searchField="label"
    @options={{this.loadRecognizedWorshipTypesTask.last}}
    @selected={{this.selectedRecognizedWorshipType}}
    @onChange={{@onChange}}
    @triggerId={{@id}}
    as |recognizedWorshipType|
  >
    {{recognizedWorshipType.label}}
  </PowerSelect>
</div>