<AuDataTable
  @content={{@content}}
  @sort={{@sort}}
  @page={{@page}}
  @size={{@size}}
  @isLoading={{@isLoading}}
  @noDataMessage={{or @noDataMessage "Geen organisatie"}}
  as |t|
>
  <t.menu as |menu|>
    <menu.general>
      <div class="au-o-box">
        <MembershipRoleSelect
          @disabled={{@unsavedEdit}}
          @options={{@model.roles}}
          @selected={{@selectedRole}}
          @onChange={{fn (mut @selectedRole)}}
          @allowClear={{true}}
        />
      </div>
    </menu.general>
  </t.menu>

  <t.content as |c|>
    <c.header>
      <th>Type relatie</th>
      <th>Type organisatie</th>
      <th>Organisatie</th>
      <th>Status</th>
      <th></th>
    </c.header>

    <c.body as |membership|>
      {{#unless membership.isDeleted}}
        <td>
          {{#let membership.error.role.message as |errorMessage|}}
            <MembershipRoleSelect
              @disabled={{not membership.isNew}}
              @selected={{fn @displayRoleLabel membership}}
              @options={{@model.roles}}
              @onChange={{fn @updateMembershipRole membership}}
              @error={{errorMessage}}
              @id="membership-role"
            />
            {{#if errorMessage}}
              <AuHelpText @error={{true}}>{{errorMessage}}</AuHelpText>
            {{/if}}
          {{/let}}
        </td>
        {{! TODO: get rid of conditionals and duplication here}}
        <td>
          {{#if (eq membership.member.id @model.organization.id)}}
            {{membership.organization.classification.label}}
          {{else}}
            {{membership.member.classification.label}}
          {{/if}}
        </td>
        <td>
          {{#if (eq membership.member.id @model.organization.id)}}
            {{#let membership.error.organization.message as |errorMessage|}}
              <OrganizationSelect
                @disabled={{not (and membership.role membership.isNew)}}
                @selected={{membership.organization}}
                @error={{errorMessage}}
                @onChange={{fn @setOtherRelatedOrganization membership}}
                @classificationCodes={{@model.organization.getClassificationCodesForMembership
                  membership
                }}
              />
              {{#if errorMessage}}
                <AuHelpText @error={{true}}>{{errorMessage}}</AuHelpText>
              {{/if}}
            {{/let}}
          {{else}}
            {{#let membership.error.member.message as |errorMessage|}}
              <OrganizationSelect
                @disabled={{not (and membership.role membership.isNew)}}
                @selected={{membership.member}}
                @onChange={{fn @setOtherRelatedOrganization membership}}
                @error={{errorMessage}}
                @classificationCodes={{@model.organization.getClassificationCodesForMembership
                  membership
                }}
              />
              {{#if errorMessage}}
                <AuHelpText @error={{true}}>{{errorMessage}}</AuHelpText>
              {{/if}}
            {{/let}}
          {{/if}}
        </td>
        <td>
          {{#if (eq membership.member.id @model.organization.id)}}
            <OrganizationStatus
              @id={{membership.organization.organizationStatus.id}}
              @label={{membership.organization.organizationStatus.label}}
            />
          {{else}}
            <OrganizationStatus
              @id={{membership.member.organizationStatus.id}}
              @label={{membership.member.organizationStatus.label}}
            />
          {{/if}}
        </td>
        <td>
          <AuButton
            @alert={{true}}
            @icon="bin"
            @iconAlignment="left"
            @skin="link"
            {{on "click" (fn @removeRelatedOrganization membership)}}
          >
            Verwijder
          </AuButton>
        </td>

        {{#if @confirmNonActiveRelatedOrganization}}
          <ConfirmRelationWithInactiveOrganizationModal
            @onConfirm={{fn @confirmNonActionRelatedOrganization membership}}
            @onCancel={{fn @cancelNonActionRelatedOrganization membership}}
          />
        {{/if}}
      {{/unless}}
    </c.body>
  </t.content>
</AuDataTable>

<div class="au-o-box au-o-box--small">
  <AuButton
    @skin="secondary"
    @width="block"
    @icon="add"
    @iconAlignment="left"
    {{on "click" @addRelatedOrganization}}
  >
    Voeg nieuwe gerelateerde organisatie toe
  </AuButton>
</div>

{{#if @showConfirmMembershipRemoval}}
  <DeleteConfirmationModal
    @onConfirm={{@confirmMembershipRemoval}}
    @onCancel={{@cancelMembershipRemoval}}
    @membership={{@showConfirmMembershipRemoval}}
    @organizationId={{@model.organization.id}}
  />
{{/if}}