<AuDataTable
  @content={{@model.relatedOrganizations}}
  @sort={{@sort}}
  @page={{@page}}
  @size={{@size}}
  @isLoading={{@isLoading}}
  @noDataMessage={{or @noDataMessage "Geen organisatie"}}
  as |t|
>

  <t.menu as |menu|>
    <menu.general>
      <div class="au-o-box">
        <AuToggleSwitch
          @label="Verberg niet actieve organisaties"
          @checked={{@organizationStatus}}
        />
      </div>
    </menu.general>
  </t.menu>

  <t.content as |c|>
    <c.header>
      {{! TODO: use same grey colour as other headers}}
      <th>Type relatie</th>
      <AuDataTableThSortable
        @field="classification.label"
        @label="Type organisatie"
        @currentSorting={{@sort}}
      />
      <AuDataTableThSortable
        @field="name"
        @label="Organisatie"
        @currentSorting={{@sort}}
      />
      <AuDataTableThSortable
        @field="organizationStatus.label"
        @label="Status"
        @currentSorting={{@sort}}
      />
    </c.header>

    <c.body as |organization|>
      <td>
        {{! TODO: create helper to determine correct membership and role}}
        {{find-membership-role @model.organization organization}}
      </td>
      <td>
        {{organization.classification.label}}
      </td>
      <td>
        <AuLink @route="organizations.organization" @model={{organization.id}}>
          {{organization.abbName}}
        </AuLink>
      </td>
      <td>
        <OrganizationStatus
          @id={{organization.organizationStatus.id}}
          @label={{organization.organizationStatus.label}}
        />
      </td>
    </c.body>
  </t.content>
</AuDataTable>