<div>
  <AuDataTable
    @content={{@content}}
    @sort={{@sort}}
    @page={{@page}}
    @size={{@size}}
    @isLoading={{@isLoading}}
    @noDataMessage={{or @noDataMessage "Geen organisatie"}}
    as |t|
  >
    <t.menu as |menu|>
      <menu.general>
        <div class="au-o-box">
          <AuToggleSwitch
            @label="Verberg niet actieve organisaties"
            @checked={{@organizationStatus}}
          />
        </div>
      </menu.general>
    </t.menu>

    <t.content as |c|>
      <c.header>
        {{! TODO: use same grey colour as other headers}}
        <th>Type relatie</th>
        <AuDataTableThSortable
          @field="classification.label"
          @label="Type organisatie"
          @currentSorting={{@sort}}
        />
        <AuDataTableThSortable
          @field="name"
          @label="Organisatie"
          @currentSorting={{@sort}}
        />
        <AuDataTableThSortable
          @field="organizationStatus.label"
          @label="Status"
          @currentSorting={{@sort}}
        />
        <th></th>
      </c.header>

      <c.body as |organization|>
        <td>
          <MembershipRoleMultipleSelect
            @selectedMembershipRoles={{get-memberships-role-labels
              @model.organization
              organization
            }}
            @onChange={{@updateMembershipRoles}}
            @options={{@model.roles}}
            @id="membership-roles"
          />
        </td>
        <td>
          {{#if @model.isWorshipAdministrativeUnit}}
            <WorshipServiceSelect
              @selected={{organization}}
              @onChange={{fn @updateRelatedOrganization organization}}
              id="related-worship-service"
            />
          {{else}}
            <OrganizationSelect
              @selected={{organization}}
              @onChange={{fn @updateRelatedOrganization organization}}
              {{! TODO: correctly limit based on organization classification and any selected membership type}}
              @classificationCodes={{@model.organization.participantClassifications}}
            />
          {{/if}}
        </td>
        <td>
          {{organization.abbName}}
        </td>
        <td>
          <OrganizationStatus
            @id={{organization.organizationStatus.id}}
            @label={{organization.organizationStatus.label}}
          />
        </td>
        <td>
          <AuButton
            @alert={{true}}
            @icon="bin"
            @iconAlignment="left"
            @skin="link"
            {{on "click" (fn @removeRelatedOrganization organization)}}
          >
            Verwijder
          </AuButton>
        </td>
      </c.body>
    </t.content>
  </AuDataTable>

  <div class="au-o-box au-o-box--small">
    <AuButton
      @skin="secondary"
      @width="block"
      @icon="add"
      @iconAlignment="left"
      {{on "click" @addRelatedOrganization}}
    >
      Voeg nieuwe gerelateerde organisatie toe
    </AuButton>
  </div>
</div>