<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <PageHeader class="au-u-margin-bottom-large">
      <:title>Bewerk persoonlijke gegevens</:title>
      <:subtitle>
        {{@model.person.givenName}}
        {{@model.person.familyName}}
      </:subtitle>
      <:action>
        <div>
          <AuButtonGroup>
            <AuButton
              @loading={{this.save.isRunning}}
              @disabled={{this.save.isRunning}}
              type="submit"
            >
              Opslaan
            </AuButton>

            <AuLink
              @route="people.person.personal-information"
              @skin="button-secondary"
            >
              Annuleer
            </AuLink>
          </AuButtonGroup>
          <ReportWrongData />
        </div>
      </:action>
    </PageHeader>

    <form
      id="edit-personal-info-form"
      aria-label="edit-personal-info-form"
      {{on "submit" (perform this.save)}}
    >
      <div class="au-o-flow au-o-flow--large">
        <EditCard @containsRequiredFields={{true}}>
          <:title>Persoonlijke gegevens</:title>
          <:card as |Card|>
            <Card.Columns>
              <:left as |Item|>
                <Item
                  @labelFor="person-given-name"
                  @required={{true}}
                  @errorMessage={{@model.person.error.givenName.validation}}
                >
                  <:label>Voornaam</:label>
                  <:content as |hasError|>
                    <AuInput
                      @value={{@model.person.givenName}}
                      @width="block"
                      @error={{hasError}}
                      id="person-given-name"
                    />
                  </:content>
                </Item>
                <Item
                  @labelFor="person-family-name"
                  @required={{true}}
                  @errorMessage={{@model.person.error.familyName.validation}}
                >
                  <:label>Achternaam</:label>
                  <:content as |hasError|>
                    <AuInput
                      @width="block"
                      @value={{@model.person.familyName}}
                      @error={{hasError}}
                      id="person-family-name"
                    />
                  </:content>
                </Item>
                <Item @labelFor="person-used-name">
                  <:label>Roepnaam</:label>
                  <:content>
                    <AuInput
                      @width="block"
                      @value={{@model.person.firstNameUsed}}
                      id="person-used-name"
                    />
                  </:content>
                </Item>
              </:left>
              {{! TODO: enable this once Date of Birth data is available }}
              {{! <:right as |Item|>
                <Item @labelFor="person-date-of-birth">
                  <:label>Geboorte datum</:label>
                  <:content>
                    <AuDatePicker @id="person-date-of-birth" />
                  </:content>
                </Item>
              </:right> }}
            </Card.Columns>
          </:card>
        </EditCard>
      </div>
    </form>
  </div>
</div>