<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <PageHeader class="au-u-margin-bottom-large">
      <:title>Bewerk persoonlijke gegevens</:title>
      <:subtitle>
        {{@model.person.givenName}}
        {{@model.person.familyName}}
      </:subtitle>
      <:action>
        <div>
          <AuButtonGroup class="au-c-button-group--align-right">
            <AuButton
              @loading={{this.save.isRunning}}
              @disabled={{this.save.isRunning}}
              type="submit"
              form="edit-personal-info-form"
            >
              Opslaan
            </AuButton>

            <AuLink {{on "click" this.cancel}} @skin="button-secondary">
              Annuleer
            </AuLink>
          </AuButtonGroup>
          <ReportWrongData />
        </div>
      </:action>
    </PageHeader>

    <form
      id="edit-personal-info-form"
      aria-label="edit-personal-info-form"
      {{on "submit" (perform this.save)}}
    >
      <div class="au-o-flow au-o-flow--large">
        <EditCard @containsRequiredFields={{true}}>
          <:title>Persoonlijke gegevens</:title>
          <:card as |Card|>
            <Card.Columns>
              <:left as |Item|>
                <Item
                  @labelFor="person-given-name"
                  @required={{true}}
                  @errorMessage={{@model.person.error.givenName.validation}}
                >
                  <:label>Voornaam</:label>
                  <:content as |hasError|>
                    <AuInput
                      @value={{@model.person.givenName}}
                      @width="block"
                      @error={{hasError}}
                      id="person-given-name"
                    />
                  </:content>
                </Item>
                <Item
                  @labelFor="person-family-name"
                  @required={{true}}
                  @errorMessage={{@model.person.error.familyName.validation}}
                >
                  <:label>Achternaam</:label>
                  <:content as |hasError|>
                    <AuInput
                      @width="block"
                      @value={{@model.person.familyName}}
                      @error={{hasError}}
                      id="person-family-name"
                    />
                  </:content>
                </Item>
                <Item @labelFor="person-used-name">
                  <:label>Roepnaam</:label>
                  <:content>
                    <AuInput
                      @width="block"
                      @value={{@model.person.firstNameUsed}}
                      id="person-used-name"
                    />
                  </:content>
                </Item>
              </:left>
              <:right as |Item|>
                {{#unless @model.sensitiveInformation}}
                  <Item>
                    <:label>Geboortedatum</:label>
                    <:content>
                      <AuLink
                        @route="people.person.personal-information.request-sensitive-data"
                        @query={{hash redirectUrl=this.currentURL}}
                      >
                        Consulteer
                      </AuLink></:content>
                  </Item>
                  <Item>
                    <:label>Nationaliteit</:label>
                    <:content>
                      <AuLink
                        @route="people.person.personal-information.request-sensitive-data"
                        @query={{hash redirectUrl=this.currentURL}}
                      >
                        Consulteer
                      </AuLink></:content>
                  </Item>
                  <Item>
                    <:label>Geslacht</:label>
                    <:content>
                      <AuLink
                        @route="people.person.personal-information.request-sensitive-data"
                        @query={{hash redirectUrl=this.currentURL}}
                      >
                        Consulteer
                      </AuLink></:content>
                  </Item>
                  <Item>
                    <:label>Rijksregisternummer</:label>
                    <:content>
                      <AuLink
                        @route="people.person.personal-information.request-sensitive-data"
                        @query={{hash redirectUrl=this.currentURL}}
                      >
                        Consulteer
                      </AuLink></:content>
                  </Item>
                {{/unless}}
                {{#if @model.sensitiveInformation}}
                  <Item @labelFor="person-date-of-birth"
                    @errorMessage={{this.birthDateValidation.errorMessage}}
                  >
                    <:label>Geboortedatum</:label>
                    <:content  as |hasError|>
                      <Datepicker
                        @id="person-date-of-birth"
                        @min={{this.minDate}}
                        @max={{this.maxDate}}
                        @error={{hasError}}
                        @value={{@model.sensitiveInformation.dateOfBirth}}
                        @onValidate={{this.validateBirthDate
                        }}
                        @onChange={{fn
                          (mut @model.sensitiveInformation.dateOfBirth)
                        }}
                      />
                    </:content>
                  </Item>
                  <Item @labelFor="person-nationality">
                    <:label>Nationaliteit</:label>
                    <:content>
                      <NationalitySelect
                        @selected={{@model.sensitiveInformation.nationalities}}
                        @onChange={{fn
                          (mut @model.sensitiveInformation.nationalities)
                        }}
                        @id="person-nationality"
                      />
                    </:content>
                  </Item>

                  <Item @labelFor="person-gender" @alignTop={{true}}>
                    <:label>Geslacht</:label>
                    <:content>
                      <GenderSelect
                        @selected={{@model.sensitiveInformation.gender}}
                        @onChange={{fn
                          (mut @model.sensitiveInformation.gender)
                        }}
                        @id="person-gender"
                      />
                    </:content>
                  </Item>
                  <Item
                    @labelFor="person-ssn"
                    @errorMessage={{this.sensitiveInformationError}}
                  >
                    <:label>Rijksregisternummer</:label>
                    <:content as |hasError|>
                      <AuInput
                        @maskPlaceholder="_"
                        autocomplete="off"
                        @mask="##.##.##-###.##"
                        @onChange={{this.setSsn}}
                        @value={{@model.sensitiveInformation.ssn}}
                        @error={{hasError}}
                        @width="block"
                        id="person-ssn"
                        placeholder="__.__.__-___.__"
                      />
                    </:content>
                  </Item>
                {{/if}}
              </:right>
            </Card.Columns>
          </:card>
        </EditCard>

      </div>
    </form>
  </div>
</div>