<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <PageHeader class="au-u-margin-bottom-large">
      <:title>Bewerk persoonlijke gegevens</:title>
      <:subtitle>
        {{@model.person.givenName}}
        {{@model.person.familyName}}
      </:subtitle>
      <:action>
        <div>
          <AuButtonGroup class="au-c-button-group--align-right">
            <AuButton
              @loading={{this.save.isRunning}}
              @disabled={{this.save.isRunning}}
              type="submit"
              form="edit-personal-info-form"
            >
              Opslaan
            </AuButton>

            <AuLink
               {{on "click" this.cancel}}
              @skin="button-secondary"
            >
              Annuleer
            </AuLink>
          </AuButtonGroup>
          <ReportWrongData />
        </div>
      </:action>
    </PageHeader>

    <form
      id="edit-personal-info-form"
      aria-label="edit-personal-info-form"
      {{on "submit" (perform this.save)}}
    >
      <div class="au-o-flow au-o-flow--large">
        <EditCard @containsRequiredFields={{true}}>
          <:title>Persoonlijke gegevens</:title>
          <:card as |Card|>
            <Card.Columns>
              <:left as |Item|>
                <Item
                  @labelFor="person-given-name"
                  @required={{true}}
                  @errorMessage={{@model.person.error.givenName.validation}}
                >
                  <:label>Voornaam</:label>
                  <:content as |hasError|>
                    <AuInput
                      @value={{@model.person.givenName}}
                      @width="block"
                      @error={{hasError}}
                      id="person-given-name"
                    />
                  </:content>
                </Item>
                <Item
                  @labelFor="person-family-name"
                  @required={{true}}
                  @errorMessage={{@model.person.error.familyName.validation}}
                >
                  <:label>Achternaam</:label>
                  <:content as |hasError|>
                    <AuInput
                      @width="block"
                      @value={{@model.person.familyName}}
                      @error={{hasError}}
                      id="person-family-name"
                    />
                  </:content>
                </Item>
                <Item @labelFor="person-used-name">
                  <:label>Roepnaam</:label>
                  <:content>
                    <AuInput
                      @width="block"
                      @value={{@model.person.firstNameUsed}}
                      id="person-used-name"
                    />
                  </:content>
                </Item>
              </:left>
              {{! TODO: enable this once Date of Birth data is available }}
              {{! <:right as |Item|>
                <Item @labelFor="person-date-of-birth">
                  <:label>Geboorte datum</:label>
                  <:content>
                    <AuDatePicker @id="person-date-of-birth" />
                  </:content>
                </Item>
              </:right> }}
              <:right as |Item|>
                {{#unless @model.sensitiveInformation}}
                  <Item>
                    <:label>Geboortedatum</:label>
                    <:content>
                      <AuLink
                        @route="people.person.personal-information.request-sensitive-data"
                      >
                        Consulteer
                      </AuLink></:content>
                  </Item>
                  <Item>
                    <:label>Nationaliteit</:label>
                    <:content>
                      <AuLink
                        @route="people.person.personal-information.request-sensitive-data"
                      >
                        Consulteer
                      </AuLink></:content>
                  </Item>
                  <Item>
                    <:label>Geslacht</:label>
                    <:content>
                      <AuLink
                        @route="people.person.personal-information.request-sensitive-data"
                      >
                        Consulteer
                      </AuLink></:content>
                  </Item>
                  <Item>
                    <:label>Rijksregisternummer</:label>
                    <:content>
                      <AuLink
                        @route="people.person.personal-information.request-sensitive-data"
                      >
                        Consulteer
                      </AuLink></:content>
                  </Item>
                {{/unless}}
                {{#if @model.sensitiveInformation}}
                  <Item @labelFor="person-gender" @alignTop={{true}}>
                    <:label>Geslacht</:label>
                    <:content>
                      <GenderSelect
                        @selected={{@model.sensitiveInformation.gender}}
                        @onChange={{fn
                          (mut @model.sensitiveInformation.gender)
                        }}
                        @id="person-gender"
                      />
                    </:content>
                  </Item>
                  <Item @labelFor="person-date-of-birth">
                    <:label>Geboortedatum</:label>
                    <:content>
                      <Datepicker
                        @id="person-date-of-birth"
                        @value={{@model.sensitiveInformation.dateOfBirth}}
                        @onChange={{fn
                          (mut @model.sensitiveInformation.dateOfBirth)
                        }}
                      />
                    </:content>
                  </Item>
                  <Item @labelFor="person-nationality">
                    <:label>Nationaliteit</:label>
                    <:content>
                      <NationalitySelect
                        @selected={{@model.sensitiveInformation.nationalities}}
                        @onChange={{fn
                          (mut @model.sensitiveInformation.nationalities)
                        }}
                        @id="person-nationality"
                      />
                    </:content>
                  </Item>
                  <Item @labelFor="person-ssn"
                  @errorMessage={{this.sensitiveInformationError}}
                  
                  >
                    <:label>Rijksregisternummer</:label>
                    <:content  as |hasError|>
                      <AuInput
                        @maskPlaceholder="00.00.00-000.00"
                        @mask="##.##.##-###.##"
                        @onChange={{this.setSsn}}
                        @value={{@model.sensitiveInformation.ssn}}
                        @error={{hasError}}
                        @width="block"
                        id="person-ssn"
                      />
                    </:content>
                  </Item>
                {{/if}}
              </:right>
            </Card.Columns>
          </:card>
        </EditCard>
        {{#each @model.contacts as |contact|}}
          <Position::ContactEditCard
            @address={{contact.address}}
            @primaryContact={{contact.primaryContact}}
            @secondaryContact={{contact.secondaryContact}}
            @isAddressSearchEnabledInitially={{if
              contact.address.addressRegisterUri
              true
              false
            }}
          >
            <:title>Contactgegevens: {{contact.title}}</:title>
          </Position::ContactEditCard>
        {{/each}}
      </div>
    </form>
  </div>
</div>