<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-o-flow au-o-flow--large">
    <PageHeader>
      <:title>Persoonlijke gegevens</:title>
      <:subtitle>
        {{@model.person.givenName}}
        {{@model.person.familyName}}
      </:subtitle>
      <:action>
        <AuLink
          @route="people.person.personal-information.edit"
          @skin="button-secondary"
          @icon="pencil"
          @iconAlignment="left"
        >
          Bewerk
        </AuLink>
      </:action>
    </PageHeader>

    <DataCard>
      <:title>Persoonlijke gegevens</:title>
      <:card as |Card|>
        <Card.Grid as |Item|>
          <Item>
            <:label>Voornaam</:label>
            <:content>{{@model.person.givenName}}</:content>
          </Item>
        </Card.Grid>
        <Card.Grid as |Item|>
          <Item>
            <:label>Achternaam</:label>
            <:content>{{@model.person.familyName}}</:content>
          </Item>
        </Card.Grid>
        <Card.Grid as |Item|>
          {{#if @model.person.firstNameUsed}}
            <Item>
              <:label>Roepnaam</:label>
              <:content>{{@model.person.firstNameUsed}}</:content>
            </Item>
          {{/if}}
        </Card.Grid>
      </:card>
    </DataCard>

    <DataCard>
      <:title>Contactgegevens:
        {{@model.person.mandatories.firstObject.mandate.governingBody.isTimeSpecializationOf.administrativeUnit.classification.label}}
      </:title>
      <:card as |Card|>
        <Card.Grid as |Item|>
          <Item>
            <:label>Organisatie</:label>
            <:content>
              <AuLink
                @model={{@model.person.mandatories.firstObject.mandate.governingBody.isTimeSpecializationOf.administrativeUnit.id}}
                @route="administrative-units.administrative-unit"
              >
                {{@model.person.mandatories.firstObject.mandate.governingBody.isTimeSpecializationOf.administrativeUnit.name}}
              </AuLink>
            </:content>
          </Item>
        </Card.Grid>
        <Card.Grid as |Item|>
          {{#if
            @model.person.mandatories.firstObject.contacts.firstObject.email
          }}
            <Item>
              <:label>E-mail</:label>
              <:content>
                {{@model.person.mandatories.firstObject.contacts.firstObject.email}}
              </:content>
            </Item>
          {{/if}}
          {{#if
            @model.person.mandatories.firstObject.contacts.firstObject.telephone
          }}
            <Item>
              <:label>Telefoonnummer</:label>
              <:content>
                {{@model.person.mandatories.firstObject.contacts.firstObject.telephone}}
              </:content>
            </Item>
          {{/if}}
          {{#if
            @model.person.mandatories.firstObject.contacts.firstObject.contactAddress.fullAddress
          }}
            <Item>
              <:label>Adres</:label>
              <:content>
                {{@model.person.mandatories.firstObject.contacts.firstObject.contactAddress.fullAddress}}
              </:content>
            </Item>
          {{/if}}
          {{!           <Item>
            <:label>GSM nummer</:label>
            <:content></:content>
          </Item> }}
        </Card.Grid>
      </:card>
    </DataCard>
  </div>
</div>