<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-o-flow au-o-flow--large">
    <PageHeader>
      <:title>Contactgegevens</:title>
      <:subtitle>
        {{@model.person.givenName}}
        {{@model.person.familyName}}
      </:subtitle>
      <:action>
        <SecuredArea>
          <:edit>
            {{! Disabling positions editing from 01/02/2022. Don't remove position
            editing code, we will use it for positions unavailable in Loket }}
            {{#unless this.positionsCantBeCreatedOrEdited}}
              <AuLink
                @route="people.person.personal-information.edit"
                @skin="button-secondary"
                @icon="pencil"
                @iconAlignment="left"
              >
                Bewerk
              </AuLink>
            {{/unless}}
          </:edit>
          <:readOnly>
            <ReportWrongData />
          </:readOnly>
        </SecuredArea>
      </:action>
    </PageHeader>

    <DataCard>
      <:title>Persoonlijke gegevens</:title>
      <:card as |Card|>
        <Card.Columns>
          <:left as |Item|>
            <Item>
              <:label>Voornaam</:label>
              <:content>{{@model.person.givenName}}</:content>
            </Item>
            <Item>
              <:label>Achternaam</:label>
              <:content>{{@model.person.familyName}}</:content>
            </Item>
            {{#if @model.person.firstNameUsed}}
              <Item>
                <:label>Roepnaam</:label>
                <:content>{{@model.person.firstNameUsed}}</:content>
              </Item>
            {{/if}}
          </:left>
          <:right as |Item|>
            {{#if
              (or
                @model.requestSensitiveInformation
                @model.askSensitiveInformation
              )
            }}
              {{#if @model.askSensitiveInformation.dateOfBirth}}
                <Item>
                  <:label>Geboortedatum</:label>
                  <:content>
                    <AuLink
                      @route="people.person.personal-information.request-sensitive-data"
                      @query={{hash redirectUrl=this.currentURL}}
                    >
                      Consulteer
                    </AuLink>
                  </:content>
                </Item>
              {{else if @model.requestSensitiveInformation.dateOfBirth}}
                <Item>
                  <:label>Geboortedatum</:label>
                  <:content>
                    {{date-format
                      @model.requestSensitiveInformation.dateOfBirth
                    }}
                  </:content>
                </Item>
              {{/if}}
              {{#if @model.askSensitiveInformation.nationalities}}
                <Item>
                  <:label>Nationaliteit</:label>
                  <:content>
                    <AuLink
                      @route="people.person.personal-information.request-sensitive-data"
                      @query={{hash redirectUrl=this.currentURL}}
                    >
                      Consulteer
                    </AuLink>
                  </:content>
                </Item>
              {{else if @model.requestSensitiveInformation.nationalities}}
                <Item>
                  <:label>Nationaliteit</:label>
                  <:content>{{this.nationalities}}</:content>
                </Item>
              {{/if}}
              {{#if @model.askSensitiveInformation.gender}}
                <Item>
                  <:label>Geslacht</:label>
                  <:content>
                    <AuLink
                      @route="people.person.personal-information.request-sensitive-data"
                      @query={{hash redirectUrl=this.currentURL}}
                    >
                      Consulteer
                    </AuLink>
                  </:content>
                </Item>

              {{else if @model.requestSensitiveInformation.gender}}

                <Item>
                  <:label>Geslacht</:label>
                  <:content
                  >{{@model.requestSensitiveInformation.gender.label}}</:content>
                </Item>
              {{/if}}
              {{#if @model.askSensitiveInformation.ssn}}
                <Item>
                  <:label>Rijksregisternummer</:label>
                  <:content>
                    <AuLink
                      @route="people.person.personal-information.request-sensitive-data"
                      @query={{hash redirectUrl=this.currentURL}}
                    >
                      Consulteer
                    </AuLink>
                  </:content>
                </Item>
              {{else if @model.requestSensitiveInformation.ssn}}
                <Item>
                  <:label>Rijksregisternummer</:label>
                  <:content>{{rrn-format
                      @model.requestSensitiveInformation.ssn
                    }}</:content>
                </Item>
              {{/if}}
            {{/if}}
          </:right>
        </Card.Columns>
      </:card>
    </DataCard>
    {{#each @model.positions as |position|}}
      <DataCard>
        <:title>Contactgegevens:
          {{position.title}}
        </:title>
        <:card as |Card|>
          <Card.Columns>
            <:left as |Item|>
              {{#if position.administrativeUnit}}
                <Item>
                  <:label>Organisatie</:label>
                  <:content>
                    <AuLink
                      @model={{position.administrativeUnit.id}}
                      @route="administrative-units.administrative-unit"
                    >
                      {{position.administrativeUnit.name}}
                    </AuLink>
                  </:content>
                </Item>
              {{else}}
                <Item>
                  <:label>Organisaties</:label>
                  <:content>
                    {{#each
                      position.administrativeUnits
                      as |administrativeUnit index|
                    }}
                      <AuLink
                        @model={{administrativeUnit.id}}
                        @route="administrative-units.administrative-unit"
                      >
                        {{administrativeUnit.name}}
                        ({{administrativeUnit.classification.label}})
                      </AuLink>
                      {{#if (gt position.administrativeUnits.length 1)}}
                        {{unless index "/"}}
                      {{/if}}
                    {{/each}}
                  </:content>
                </Item>
              {{/if}}
              {{#if position.primaryContact.email}}
                <Item>
                  <:label>E-mail</:label>
                  <:content>
                    {{position.primaryContact.email}}
                  </:content>
                </Item>
              {{/if}}
              {{#if position.primaryContact.contactAddress.fullAddress}}
                <Item>
                  <:label>Adres</:label>
                  <:content>
                    {{position.primaryContact.contactAddress.fullAddress}}
                  </:content>
                </Item>
              {{/if}}
              {{#if position.primaryContact.contactAddress.province}}
                <Item>
                  <:label>Provincie</:label>
                  <:content>
                    {{position.primaryContact.contactAddress.province}}
                  </:content>
                </Item>
              {{/if}}
            </:left>
            <:right as |Item|>
              {{#if position.role}}
                <Item>
                  <:label>Positie</:label>
                  <:content>
                    {{#if (eq position.type "minister")}}
                      <AuLink
                        @route="people.person.positions.minister"
                        @models={{array @model.person.id position.id}}
                      >
                        {{position.role}}
                      </AuLink>
                    {{else if (eq position.type "mandatory")}}
                      <AuLink
                        @route="people.person.positions.mandatory"
                        @models={{array @model.person.id position.id}}
                      >
                        {{position.role}}
                      </AuLink>
                    {{else}}
                      <AuLink
                        @route="people.person.positions.agent"
                        @models={{array @model.person.id position.id}}
                      >
                        {{position.role}}
                      </AuLink>
                    {{/if}}
                  </:content>
                </Item>
              {{/if}}

              {{#if position.status}}
                <Item>
                  <:label>Status positie</:label>
                  <:content>
                    {{position.status.label}}
                  </:content>
                </Item>
              {{/if}}
              {{#if position.primaryContact.telephone}}
                <Item>
                  <:label>Primair telefoonnummer</:label>
                  <:content>
                    {{position.primaryContact.telephone}}
                  </:content>
                </Item>
              {{/if}}
              {{#if position.secondaryContact.telephone}}
                <Item>
                  <:label>Secundair telefoonnummer</:label>
                  <:content>
                    {{position.secondaryContact.telephone}}
                  </:content>
                </Item>
              {{/if}}
            </:right>
          </Card.Columns>
        </:card>
      </DataCard>
    {{/each}}
    <AuHelpText @skin="tertiary">
      {{@model.person.givenName}}
      {{@model.person.familyName}}
      heeft geen andere posities. Om alle posities (ook niet active) te
      bekijken, ga naar
      <AuLink @model={{@model.person}} @route="people.person.positions">
        Posities
      </AuLink>
    </AuHelpText>
  </div>
</div>
