<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-o-flow au-o-flow--large">
    <div class="au-o-flow au-o-flow--tiny">
      <AuToolbar>
        <AuToolbarGroup>
          <AuHeading>
            Persoonlijke gegevens
          </AuHeading>
        </AuToolbarGroup>
        <AuToolbarGroup>
          <AuLink @route="people.person.personal-information.edit" @skin="button-secondary" @icon="pencil"
            @iconAlignment="left">
            Bewerk
          </AuLink>
        </AuToolbarGroup>
      </AuToolbar>
      <AuHeading @level="2" @skin="3">
        {{@model.person.givenName}} {{@model.person.familyName}}
      </AuHeading>
    </div>

    <DataCard>
      <:title>Persoonlijke gegevens</:title>
      <:card as |Grid|>
        <Grid as |Item|>
          <Item>
            <:label>Voornaam</:label>
            <:content>{{@model.person.givenName}}</:content>
          </Item>
        </Grid>
        <Grid as |Item|>
          <Item>
            <:label>Achternaam</:label>
            <:content>{{@model.person.familyName}}</:content>
          </Item>
        </Grid>
        {{#if @model.person.firstNameUsed}}
        <Item>
          <:label>Roepnaam</:label>
          <:content>{{@model.person.firstNameUsed}}</:content>
        </Item>
        {{/if}}
      </:card>
    </DataCard>

    <DataCard>
      <:title>Contactgegevens:
        {{@model.person.mandatories.firstObject.mandate.governingBody.isTimeSpecializationOf.administrativeUnit.classification.label}}
      </:title>
      <:card as |Grid|>
        <Grid as |Item|>
          <Item>
            <:label>Organisatie</:label>
            <:content>
              <AuLink
                @model={{@model.person.mandatories.firstObject.mandate.governingBody.isTimeSpecializationOf.administrativeUnit.id}}
                @route="administrative-units.administrative-unit">
                {{@model.person.mandatories.firstObject.mandate.governingBody.isTimeSpecializationOf.administrativeUnit.name}}
              </AuLink>
            </:content>
          </Item>
        </Grid>
        <Grid as |Item|>
          {{#if @model.person.mandatories.firstObject.contacts.firstObject.email}}
          <Item>
            <:label>Email</:label>
            <:content>{{@model.person.mandatories.firstObject.contacts.firstObject.email}}</:content>
          </Item>
          {{/if}}
          {{#if @model.person.mandatories.firstObject.contacts.firstObject.telephone}}
          <Item>
            <:label>Telefoonnummer</:label>
            <:content>{{@model.person.mandatories.firstObject.contacts.firstObject.telephone}}</:content>
          </Item>
          {{/if}}
        </Grid>
        <Grid as |Item|>
          {{#if @model.person.mandatories.firstObject.contacts.firstObject.contactAddress.fullAddress}}
          <Item>
            <:label>Adres</:label>
            <:content>{{@model.person.mandatories.firstObject.contacts.firstObject.contactAddress.fullAddress}}
            </:content>
          </Item>
          {{/if}}
{{!--           <Item>
            <:label>GSM nummer</:label>
            <:content></:content>
          </Item> --}}
        </Grid>
      </:card>
    </DataCard>
  </div>
</div>