<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-o-flow au-o-flow--large">
    <PageHeader>
      <:title>Contact gegevens</:title>
      <:subtitle>
        {{@model.person.givenName}}
        {{@model.person.familyName}}
      </:subtitle>
      <:action>
        <SecuredArea>
          <:edit>
            <AuLink
              @route="people.person.personal-information.edit"
              @skin="button-secondary"
              @icon="pencil"
              @iconAlignment="left"
            >
              Bewerk
            </AuLink>
          </:edit>
          <:read-only>
            <ReportWrongData />
          </:read-only>
        </SecuredArea>
      </:action>
    </PageHeader>

    <DataCard>
      <:title>Persoonlijke gegevens</:title>
      <:card as |Card|>
        <Card.Columns>
          <:left as |Item|>
            <Item>
              <:label>Voornaam</:label>
              <:content>{{@model.person.givenName}}</:content>
            </Item>
            <Item>
              <:label>Achternaam</:label>
              <:content>{{@model.person.familyName}}</:content>
            </Item>
            {{#if @model.person.firstNameUsed}}
              <Item>
                <:label>Roepnaam</:label>
                <:content>{{@model.person.firstNameUsed}}</:content>
              </Item>
            {{/if}}
          </:left>
        </Card.Columns>
      </:card>
    </DataCard>
    {{#each @model.contacts as |contact|}}
      <DataCard>
        <:title>Contactgegevens:
          {{contact.title}}
        </:title>
        <:card as |Card|>
          <Card.Columns>
            <:left as |Item|>
              <Item>
                <:label>Organisatie</:label>
                <:content>
                  <AuLink
                    @model={{contact.unitId}}
                    @route="administrative-units.administrative-unit"
                  >
                    {{contact.unitName}}
                  </AuLink>
                </:content>
              </Item>
              {{#if contact.primaryContact.email}}
                <Item>
                  <:label>E-mail</:label>
                  <:content>
                    {{contact.primaryContact.email}}
                  </:content>
                </Item>
              {{/if}}
              {{#if contact.primaryContact.contactAddress.fullAddress}}
                <Item>
                  <:label>Adres</:label>
                  <:content>
                    {{contact.primaryContact.contactAddress.fullAddress}}
                  </:content>
                </Item>
              {{/if}}
            </:left>
            <:right as |Item|>
              {{#if contact.role}}
                <Item>
                  <:label>Positie</:label>
                  <:content>
                    {{#if (eq contact.type "minister")}}
                      <AuLink
                        @route="people.person.positions.minister"
                        @models={{array @model.person.id contact.id}}
                      >
                        {{contact.role}}
                      </AuLink>

                    {{else}}

                      <AuLink
                        @route="people.person.positions.mandatory"
                        @models={{ array
                         @model.person.id
                          contact.id
                        }}
                      >
                        {{contact.role}}
                      </AuLink>
                    {{/if}}
                  </:content>
                </Item>
              {{/if}}

              {{#if contact.primaryContact.telephone}}
                <Item>
                  <:label>Primair telefoonnummer</:label>
                  <:content>
                    {{contact.primaryContact.telephone}}
                  </:content>
                </Item>
              {{/if}}
              {{#if contact.secondaryContact.telephone}}
                <Item>
                  <:label>Secundair telefoonnummer</:label>
                  <:content>
                    {{contact.secondaryContact.telephone}}
                  </:content>
                </Item>
              {{/if}}
            </:right>
          </Card.Columns>
        </:card>
      </DataCard>
    {{/each}}

  </div>
</div>