<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-o-flow au-o-flow--large">
    <PageHeader>
      <:title>Consulteer persoonlijke gegevens</:title>
      <:subtitle>
        {{@model.person.givenName}}
        {{@model.person.familyName}}
      </:subtitle>
      <:action>
        <AuButton @skin="secondary" {{on "click" this.cancel}}>
          Annuleer
        </AuButton>      
        <AuButton form="request-sensitive-information" type="submit" @disabled={{not this.reasonCode}}>
          Volgende
        </AuButton>
      </:action>
    </PageHeader>

    <AuHelpText>
      Ter bescherming van de privacy, conform de GDPR regelgeving, dient u een
      reden in te geven waarom u deze gegevens wenst te consulteren op te
      bewerken. De opgegeven reden (audit trail) wordt bewaard en kan onderzocht
      worden in het geval van onrechtmatig gebruik.
    </AuHelpText>

    <form id="request-sensitive-information" {{on "submit" this.submit}}>
      <EditCard @containsRequiredFields={{true}}>
        <:title>Reden</:title>
        <:card as |Card|>
          <Card.Columns>
            <:left as |Item|>
              <Item @labelFor="reason" @required={{true}}>
                <:label>Reden</:label>
                <:content>
                  <PowerSelect
                    @allowClear={{true}}
                    @searchEnabled={{false}}
                    @loadingMessage="Aan het laden..."
                    @searchField="label"
                    @selected={{this.reasonCode}}
                    @options={{this.loadReasonCodes.last}}
                    @onChange={{fn (mut this.reasonCode)}}
                    @triggerId={{@id}}
                    as |reasonCode|
                  >
                    {{reasonCode.label}}
                  </PowerSelect>
                </:content>
              </Item>
            </:left>
          </Card.Columns>
        </:card>
      </EditCard>
    </form>
  </div>
</div>