<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-o-flow au-o-flow--large">
    <PageHeader>
      <:title>Bewerk mandataris</:title>
      <:subtitle>
        {{@model.person.givenName}}
        {{@model.person.familyName}}
      </:subtitle>
      <:action>
        <ReportWrongData />
      </:action>
    </PageHeader>

    <DataCard>
      <:title>Persoonlijke gegevens</:title>
      <:card as |Card|>
        <Card.Columns>
          <:left as |Item|>
            <Item>
              <:label>Naam</:label>
              <:content>
                {{@model.person.givenName}}
                {{@model.person.familyName}}
              </:content>
            </Item>
          </:left>

        </Card.Columns>
      </:card>
    </DataCard>
    <form
      id="edit-mandatory-form"
      aria-label="edit-mandatory-form"
      {{on "submit" (perform this.save)}}
    >
      <div class="au-o-flow au-o-flow--large">
        <DataCard>
          <:title>Positie</:title>
          <:card as |Card|>
            <Card.Columns>
              <:left as |Item|>
                <Item>
                  <:label>Type</:label>
                  <:content>Mandaat</:content>
                </Item>
                <Item>
                  <:label>Bestuursfunctie</:label>
                  <:content>
                    {{@model.mandatory.mandate.roleBoard.label}}
                  </:content>
                </Item>
              </:left>
              <:right as |Item|>
                <Item>
                  <:label>Naam Eredienst</:label>
                  <:content>
                    {{@model.administrativeUnit.name}}
                  </:content>
                </Item>
              </:right>
            </Card.Columns>
          </:card>
        </DataCard>

        <EditCard>
          <:title>Primaire contactgegevens</:title>
          <:card as |Card|>
            <Card.Columns>
              <:left as |Item|>
                {{#if @model.address.fullAddress}}
                  <Item>
                    <:label>Full address</:label>
                    <:content>
                      {{@model.address.fullAddress}}
                    </:content>
                  </Item>
                {{/if}}
                <AddressSearch
                  @address={{@model.address}}
                  @itemComponent={{Item}}
                  @isSearchEnabledInitially={{if
                    @model.address.addressRegisterUri
                    true
                    false
                  }}
                >
                  <:manual-address-input>
                    <Item
                      @labelFor="contact-address-street-name"
                      @errorMessage={{@model.address.error.street.validation}}
                    >
                      <:label>Straat</:label>
                      <:content as |errorMessage|>
                        <AuInput
                          @value={{@model.address.street}}
                          @width="block"
                          id="contact-address-street-name"
                          @error={{errorMessage}}
                        />
                      </:content>
                    </Item>
                    <Item
                      @labelFor="contact-address-house-number"
                      @errorMessage={{@model.address.error.number.validation}}
                    >
                      <:label>Huisnummer</:label>
                      <:content as |errorMessage|>
                        <AuInput
                          @value={{@model.address.number}}
                          @width="block"
                          id="contact-address-house-number"
                          @error={{errorMessage}}
                        />
                      </:content>
                    </Item>
                    <Item @labelFor="contact-address-bus-number">
                      <:label>Busnummer</:label>
                      <:content>
                        <AuInput
                          @value={{@model.address.boxNumber}}
                          @width="block"
                          id="contact-address-bus-number"
                        />
                      </:content>
                    </Item>
                    <Item
                      @labelFor="contact-address-postal-code"
                      @errorMessage={{@model.address.error.postcode.validation}}
                    >
                      <:label>Postcode</:label>
                      <:content as |errorMessage|>
                        <AuInput
                          @value={{@model.address.postcode}}
                          @width="block"
                          id="contact-address-postal-code"
                          @error={{errorMessage}}
                        />
                      </:content>
                    </Item>
                    <Item
                      @labelFor="contact-address-municipality"
                      @errorMessage={{@model.address.error.municipality.validation}}
                    >
                      <:label>Gemeente</:label>
                      <:content as |errorMessage|>
                        <MunicipalitySelect
                          @selected={{@model.address.municipality}}
                          @onChange={{fn (mut @model.address.municipality)}}
                          @id="contact-address-municipality"
                          @error={{errorMessage}}
                        />
                      </:content>
                    </Item>
                  </:manual-address-input>

                  <:common-input>
                    <Item
                      @labelFor="contact-address-province"
                      @errorMessage={{@model.address.error.province.validation}}
                    >
                      <:label>Provincie</:label>
                      <:content as |errorMessage|>
                        <ProvinceSelect
                          @selected={{@model.address.province}}
                          @onChange={{fn (mut @model.address.province)}}
                          @id="contact-address-province"
                          @error={{errorMessage}}
                        />
                      </:content>
                    </Item>

                  </:common-input>
                </AddressSearch>
              </:left>
              <:right as |Item|>
                <Item
                  @labelFor="contact-email"
                  @errorMessage={{@model.contact.error.email.validation}}
                >
                  <:label>E-mail</:label>
                  <:content as |errorMessage|>
                    <AuInput
                      @width="block"
                      @value={{@model.contact.email}}
                      @error={{errorMessage}}
                      id="contact-email"
                    />
                  </:content>
                  <:help-text>
                    {{help-text "email"}}
                  </:help-text>
                </Item>
                <Item
                  @labelFor="contact-telephone"
                  @errorMessage={{@model.contact.error.telephone.validation}}
                >
                  <:label>Vast telefoonnummer</:label>
                  <:content as |errorMessage|>
                    <AuInput
                      @width="block"
                      @value={{@model.contact.telephone}}
                      @error={{errorMessage}}
                      id="contact-telephone"
                    />
                  </:content>
                  <:help-text>
                    {{help-text "phone-number"}}
                  </:help-text>
                </Item>
              </:right>
            </Card.Columns>
          </:card>
        </EditCard>

        <EditCard @containsRequiredFields={{true}}>
          <:title>Aanstelling</:title>
          <:card as |Card|>
            <Card.Columns>
              <:left as |Item|>
                {{#if this.showHalfElectionTypeSelect}}
                  <Item
                    @labelFor="half-election-type"
                    @required={{true}}
                    @errorMessage={{@model.mandatory.error.typeHalf.validation}}
                  >
                    <:label>Verkozen</:label>
                    <:content as |errorMessage|>
                      <HalfElectionTypeSelect
                        @selected={{@model.mandatory.typeHalf}}
                        @onChange={{fn (mut @model.mandatory.typeHalf)}}
                        @id="half-election-type"
                        @error={{errorMessage}}
                      />
                    </:content>
                  </Item>
                {{/if}}
                <Item
                  @labelFor="start-date"
                  @required={{true}}
                  @errorMessage={{@model.mandatory.error.startDate.validation}}
                >
                  <:label>Start mandaat</:label>
                  <:content as |errorMessage|>
                    <Datepicker
                      @id="start-date"
                      @onChange={{fn (mut @model.mandatory.startDate)}}
                      @value={{@model.mandatory.startDate}}
                      @error={{errorMessage}}
                    />
                  </:content>
                </Item>
                <Item @labelFor="expected-end-date">
                  <:label>Geplande einddatum</:label>
                  <:content>
                    <Datepicker
                      @id="expected-end-date"
                      @onChange={{fn (mut @model.mandatory.expectedEndDate)}}
                      @value={{@model.mandatory.expectedEndDate}}
                    />
                  </:content>
                </Item>
              </:left>
              <:right as |Item|>
                <Item>
                  <:label>Bestuursperiode</:label>
                  <:content>
                    <AuInput
                      @width="block"
                      @value={{@model.governingBody.period}}
                      disabled={{true}}
                    />
                  </:content>
                </Item>
                <Item
                  @labelFor="end-date"
                  @required={{not @model.mandatory.isCurrentPosition}}
                  @errorMessage={{@model.mandatory.error.endDate.validation}}
                >
                  <:label>Effectieve einddatum</:label>
                  <:content as |errorMessage|>
                    <Datepicker
                      @id="end-date"
                      @onChange={{this.handleEndDateChange}}
                      @value={{@model.mandatory.endDate}}
                      @error={{errorMessage}}
                    />
                  </:content>
                </Item>
                <Item>
                  <:content>
                    <AuControlCheckbox
                      checked={{@model.mandatory.isCurrentPosition}}
                      @label="Huidige positie"
                      @identifier="current-position"
                      @onChange={{this.handleIsCurrentPositionChange}}
                    />
                  </:content>
                </Item>
                <Item @labelFor="reason-stop">
                  <:label>Reden stopzetting </:label>
                  <:content>
                    <AuInput
                      @value={{@model.mandatory.reasonStopped}}
                      @width="block"
                      id="reason-stop"
                    />
                  </:content>
                </Item>
              </:right>
            </Card.Columns>
          </:card>
        </EditCard>

        <AuButtonGroup>
          <AuButton
            @loading={{this.save.isRunning}}
            @disabled={{this.save.isRunning}}
            type="submit"
          >
            Opslaan
          </AuButton>

          <AuLink
            @route="administrative-units.administrative-unit.governing-bodies.governing-body"
            @skin="button-secondary"
          >
            Annuleer
          </AuLink>
        </AuButtonGroup>
      </div>
    </form>
  </div>
</div>