{{page-title "Nieuw"}}
{{breadcrumb "Nieuwe mandataris"}}

<div class="au-c-body-container au-c-body-container--scroll">
  <PageHeader class="au-u-margin au-u-margin-bottom-large">
    <:title>Voeg mandataris toe</:title>
    <:subtitle>{{@model.administrativeUnit.name}}</:subtitle>
  </PageHeader>

  {{#if this.isSelectingTargetPerson}}
    <PersonSearch
      @onSelect={{fn (mut this.targetPerson)}}
      @personCreationRedirectUrl={{this.router.currentURL}}
    />
  {{else}}
    <form
      class="au-o-box au-o-flow au-o-flow--large"
      aria-label="minister-position-creation-form"
      {{on "submit" (perform this.createMandatoryPositionTask)}}
    >
      <DataCard>
        <:title>Persoonlijke gegevens</:title>
        <:card as |Card|>
          <Card.Columns>
            <:left as |Item|>
              <Item>
                <:label>
                  Voornaam
                </:label>
                <:content>
                  {{this.targetPerson.givenName}}
                </:content>
              </Item>
            </:left>
            <:right as |Item|>
              <Item>
                <:label>
                  Achternaam
                </:label>
                <:content>
                  {{this.targetPerson.familyName}}
                </:content>
              </Item>
            </:right>
          </Card.Columns>
        </:card>
      </DataCard>

      <EditCard>
        <:title>Contactgegevens</:title>
        <:card as |Card|>
          <Card.Columns>
            <:left as |Item|>
              <Item @labelFor="address-street-name">
                <:label>Straat</:label>
                <:content>
                  <AuInput
                    @value={{@model.address.street}}
                    @width="block"
                    id="address-street-name"
                  />
                </:content>
              </Item>
              <Item @labelFor="address-house-number">
                <:label>Huisnummer</:label>
                <:content>
                  <AuInput
                    @value={{@model.address.number}}
                    @width="block"
                    id="address-house-number"
                  />
                </:content>
              </Item>
              <Item @labelFor="address-box-number">
                <:label>Busnummer</:label>
                <:content>
                  <AuInput
                    @value={{@model.address.boxNumber}}
                    @width="block"
                    id="address-box-number"
                  />
                </:content>
              </Item>
              <Item @labelFor="address-postal-code">
                <:label>Postcode</:label>
                <:content>
                  <AuInput
                    @value={{@model.address.postcode}}
                    @width="block"
                    id="address-postal-code"
                  />
                </:content>
              </Item>
              <Item @labelFor="address-municipality">
                <:label>Gemeente</:label>
                <:content>
                  <MunicipalitySelect
                    @selected={{@model.address.municipality}}
                    @onChange={{fn (mut @model.address.municipality)}}
                  />
                </:content>
              </Item>
              <Item @labelFor="address-province">
                <:label>Provincie</:label>
                <:content>
                  <ProvinceSelect
                    @selected={{@model.address.province}}
                    @onChange={{fn (mut @model.address.province)}}
                  />
                </:content>
              </Item>
            </:left>
            <:right as |Item|>
              <Item @labelFor="contact-email">
                <:label>E-mail</:label>
                <:content>
                  <AuInput
                    @value={{@model.contact.email}}
                    @width="block"
                    id="contact-email"
                    type="email"
                  />
                </:content>
              </Item>
              <Item @labelFor="contact-landline">
                <:label>Telefoonnummer</:label>
                <:content>
                  <AuInput
                    @value={{@model.contact.telephone}}
                    @width="block"
                    id="contact-landline" type="tel"
                  />
                </:content>
              </Item>
              <Item @labelFor="contact-mobile">
                <:label>GSM nummer</:label>
                <:content>
                  <AuInput
                    @width="block"
                    @value={{@model.contactMobile.telephone}}
                    id="contact-mobile"
                    type="tel"
                  />
                </:content>
              </Item>
            </:right>
          </Card.Columns>
        </:card>
      </EditCard>

      <EditCard>
        <:title>Mandaat</:title>
        <:card as |Card|>
          <Card.Columns>
            <:left as |Item|>
              <Item @labelFor="board-position">
                <:label>Bestuursfunctie*</:label>
                <:content>
                  <MandateRoleSelect
                    @selected={{this.selectedRole}}
                    @onChange={{this.handleMandateRoleSelect}}
                  />
                </:content>
              </Item>
              {{#if this.showHalfElectionTypeSelect}}
                <Item @labelFor="">
                  <:label>Verkozen</:label>
                  <:content>
                    <PowerSelect
                      @selected={{@model.mandatory.typeHalf}}
                      @options={{@model.halfElectionTypes}}
                      @onChange={{fn (mut @model.mandatory.typeHalf)}}
                      as |type|
                    >
                      {{type.label}}
                    </PowerSelect>
                  </:content>
                </Item>
              {{/if}}
            </:left>
            <:right as |Item|>
              <Item @labelFor="administrative-unit-name">
                <:label>Naam eredienst</:label>
                <:content>
                  <AuInput
                    @value={{@model.administrativeUnit.name}}
                    @width="block"
                    @disabled={{true}}
                  />
                </:content>
              </Item>
            </:right>
          </Card.Columns>
          <Card.Columns>
            <:left as |Item|>
              <Item @labelFor="start-date">
                <:label>Start mandaat</:label>
                <:content>
                  <Datepicker
                    @id="start-date"
                    @onChange={{fn (mut @model.mandatory.startDate)}}
                    @value={{@model.mandatory.startDate}}
                  />
                </:content>
              </Item>
              {{!-- TODO: Hide this if the when "lid van rechtswege" is selected --}}
              <Item @labelFor="expected-end-date">
                <:label>Geplande einddatum</:label>
                <:content>
                  <Datepicker
                    @id="expected-end-date"
                    @onChange={{fn (mut @model.mandatory.expectedEndDate)}}
                    @value={{@model.mandatory.expectedEndDate}}
                  />
                </:content>
              </Item>
            </:left>
            <:right as |Item|>
              <Item @labelFor="governing-body-period">
                <:label>Bestuursperiode</:label>
                <:content>
                  <AuInput
                    @width="block"
                    @value={{@model.governingBody.period}}
                    @disabled={{true}}
                  />
                </:content>
              </Item>
              <Item @labelFor="end-date">
                <:label>Effectieve einddatum</:label>
                <:content>
                  <Datepicker
                    @id="end-date"
                    @onChange={{fn (mut @model.mandatory.endDate)}}
                    @value={{@model.mandatory.endDate}}
                  />
                </:content>
              </Item>
              <Item>
                <:label></:label>
                <:content>
                  <AuControlCheckbox
                    checked={{this.isCurrentPosition}}
                    @label="Huidige positie"
                    @identifier="current-position"
                    @onChange={{this.handleIsCurrentPositionChange}}
                  />
                </:content>
              </Item>
              <Item @labelFor="reason-stop">
                <:label>Reden stopzetting </:label>
                <:content>
                  <AuInput
                    @value={{@model.mandatory.reasonStopped}}
                    @width="block"
                    id="reason-stop"
                  />
                </:content>
              </Item>
            </:right>
          </Card.Columns>
          <AuHelpText @skin="secondary" class="au-u-margin-top">
            * Verplicht veld
          </AuHelpText>
        </:card>
      </EditCard>

      <AuButtonGroup>
        <AuButton
          @icon="add"
          @iconAlignment="left"
          @loading={{this.createMandatoryPositionTask.isRunning}}
          @disabled={{or (not this.canSubmit) this.createMandatoryPositionTask.isRunning}}
          type="submit"
        >
          Voeg toe
        </AuButton>
        <AuLink
          @route="administrative-units.administrative-unit.governing-bodies.governing-body"
          @skin="button-secondary"
        >
          Annuleer
        </AuLink>
      </AuButtonGroup>
    </form>
  {{/if}}
</div>