{{page-title "Nieuw"}}
{{breadcrumb "Nieuwe bestuurslid"}}

<div class="au-c-body-container au-c-body-container--scroll">
  <PageHeader class="au-u-margin au-u-margin-bottom-large">
    <:title>Voeg bestuurslid toe</:title>
    <:subtitle>{{@model.administrativeUnit.name}}</:subtitle>
    <:action>
      {{#unless this.isSelectingTargetPerson}}
        <AuButtonGroup class="au-c-button-group--align-right">
          <AuButton
            @icon="add"
            @iconAlignment="left"
            @loading={{this.createMandatoryPositionTask.isRunning}}
            @disabled={{this.createMandatoryPositionTask.isRunning}}
            type="submit"
            form="minister-position-creation-form"
          >
            Voeg toe
          </AuButton>
          <AuLink
            @route="administrative-units.administrative-unit.governing-bodies.governing-body"
            @skin="button-secondary"
          >
            Annuleer
          </AuLink>
        </AuButtonGroup>
      {{/unless}}
    </:action>
  </PageHeader>

  {{#if this.isSelectingTargetPerson}}
    <PersonSearch
      @onSelect={{(perform this.selectTargetPerson)}}
      @loading={{this.selectTargetPerson.isRunning}}
      @personCreationRedirectUrl={{this.router.currentURL}}
    />
  {{else}}
    <form
      id="minister-position-creation-form"
      class="au-o-box au-o-flow au-o-flow--large"
      aria-label="minister-position-creation-form"
      {{on "submit" (perform this.createMandatoryPositionTask)}}
    >
      <DataCard>
        <:title>Persoonlijke gegevens</:title>
        <:card as |Card|>
          <Card.Columns>
            <:left as |Item|>
              <Item>
                <:label>
                  Voornaam
                </:label>
                <:content>
                  {{this.targetPerson.givenName}}
                </:content>
              </Item>
            </:left>
            <:right as |Item|>
              <Item>
                <:label>
                  Achternaam
                </:label>
                <:content>
                  {{this.targetPerson.familyName}}
                </:content>
              </Item>
            </:right>
          </Card.Columns>
        </:card>
      </DataCard>
      <AuContent>
        {{#if this.contact}}
          <ContactDetails
            @title="Contactgegevens"
            @contact={{this.contact}}
            @onUpdate={{this.updateContact}}
            @positions={{this.allContacts}}
          />
        {{/if}}
      </AuContent>
      <EditCard @containsRequiredFields={{true}}>
        <:title>Mandaat</:title>
        <:card as |Card|>
          <Card.Columns>
            <:left as |Item|>
              <Item
                @labelFor="board-position"
                @required={{true}}
                @errorMessage={{@model.mandatory.error.role.validation}}
              >
                <:label>Bestuursfunctie</:label>
                <:content as |errorMessage|>
                  <MandateRoleSelect
                    @selected={{@model.mandatory.role}}
                    @onChange={{this.handleMandateRoleSelect}}
                    @id="board-position"
                    @error={{errorMessage}}
                  />
                </:content>
              </Item>
              {{#if this.showHalfElectionTypeSelect}}
                <Item
                  @labelFor="half-election-type"
                  @required={{true}}
                  @errorMessage={{@model.mandatory.error.typeHalf.validation}}
                >
                  <:label>Verkozen</:label>
                  <:content as |errorMessage|>
                    <HalfElectionTypeSelect
                      @selected={{@model.mandatory.typeHalf}}
                      @onChange={{fn (mut @model.mandatory.typeHalf)}}
                      @id="half-election-type"
                      @error={{errorMessage}}
                    />
                  </:content>
                </Item>
              {{/if}}
            </:left>
            <:right as |Item|>
              <Item @labelFor="administrative-unit-name">
                <:label>Naam eredienst</:label>
                <:content>
                  <AuInput
                    @value={{@model.administrativeUnit.name}}
                    @width="block"
                    @disabled={{true}}
                  />
                </:content>
              </Item>
            </:right>
          </Card.Columns>
          <Card.Columns>
            <:left as |Item|>
              <Item
                @labelFor="start-date"
                @required={{true}}
                @errorMessage={{@model.mandatory.error.startDate.validation}}
              >
                <:label>Start mandaat</:label>
                <:content as |errorMessage|>
                  <Datepicker
                    @id="start-date"
                    @onChange={{fn (mut @model.mandatory.startDate)}}
                    @value={{@model.mandatory.startDate}}
                    @error={{errorMessage}}
                  />
                </:content>
              </Item>
              {{! TODO: Hide this if the when "lid van rechtswege" is selected }}
              <Item @labelFor="expected-end-date">
                <:label>Geplande einddatum</:label>
                <:content>
                  <Datepicker
                    @id="expected-end-date"
                    @onChange={{fn (mut @model.mandatory.expectedEndDate)}}
                    @value={{@model.mandatory.expectedEndDate}}
                  />
                </:content>
              </Item>
            </:left>
            <:right as |Item|>
              <Item @labelFor="governing-body-period">
                <:label>Bestuursperiode</:label>
                <:content>
                  <AuInput
                    @width="block"
                    @value={{@model.governingBody.period}}
                    @disabled={{true}}
                  />
                </:content>
              </Item>
              <Item
                @labelFor="end-date"
                @required={{not @model.mandatory.isCurrentPosition}}
                @errorMessage={{@model.mandatory.error.endDate.validation}}
              >
                <:label>Effectieve einddatum</:label>
                <:content as |errorMessage|>
                  <Datepicker
                    @id="end-date"
                    @onChange={{this.handleEndDateChange}}
                    @value={{@model.mandatory.endDate}}
                    @error={{errorMessage}}
                  />
                </:content>
              </Item>
              <Item>
                <:content>
                  <AuControlCheckbox
                    checked={{@model.mandatory.isCurrentPosition}}
                    @label="Huidige positie"
                    @identifier="current-position"
                    @onChange={{this.handleIsCurrentPositionChange}}
                  />
                </:content>
              </Item>
              <Item @labelFor="reason-stop">
                <:label>Reden stopzetting </:label>
                <:content>
                  <AuInput
                    @value={{@model.mandatory.reasonStopped}}
                    @width="block"
                    id="reason-stop"
                  />
                </:content>
              </Item>
            </:right>
          </Card.Columns>
        </:card>
      </EditCard>
    </form>
  {{/if}}
</div>