<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-o-flow au-o-flow--large">
    <PageHeader>
      <:title>
        Bestuursorgaan:
        {{@model.governingBodyClassification.label}}
      </:title>
      <:subtitle>{{@model.administrativeUnit.name}}</:subtitle>
      <:action>
        <AuLink
          @route="administrative-units.administrative-unit.governing-bodies.governing-body.edit"
          @skin="button-secondary"
          @icon="pencil"
          @iconAlignment="left"
        >
          Bewerk
        </AuLink>
      </:action>
    </PageHeader>

    <DataCard>
      <:title>Bestuursorgaan</:title>
      <:card as |Card|>
        <Card.Grid as |Item|>
          <Item>
            <:label>Type</:label>
            <:content>
              {{@model.governingBodyClassification.label}}
            </:content>
          </Item>
          {{#if @model.governingBody.startDate}}
            <Item>
              <:label>Start datum</:label>
              <:content>
                {{date-format @model.governingBody.startDate}}
              </:content>
            </Item>
          {{/if}}
          {{#if @model.governingBody.period}}
            <Item>
              <:label>Termijn</:label>
              <:content>
                Bestuursperiode
                {{@model.governingBody.period}}
              </:content>
            </Item>
          {{/if}}
          {{#if @model.governingBody.endDate}}
            <Item>
              <:label>Einddatum</:label>
              <:content>
                {{date-format @model.governingBody.endDate}}
              </:content>
            </Item>
          {{/if}}
        </Card.Grid>
      </:card>
    </DataCard>

    {{#if @model.memberMandates}}
      <div>
        <AuToolbar class="au-u-margin-bottom-small">
          <AuToolbarGroup>
            <AuHeading @level="4" @skin="5">Bestuursleden</AuHeading>
          </AuToolbarGroup>
          <AuToolbarGroup>
            {{! TODO: Replace this with a link once the "new" route is created }}
            <AuLink
              @route="administrative-units.administrative-unit.governing-bodies.governing-body"
              @skin="button-secondary"
              @icon="add"
              @iconAlignment="left"
            >
              Nieuw
            </AuLink>
          </AuToolbarGroup>
        </AuToolbar>
        <AuDataTable
          @content={{@model.memberMandates}}
          @noDataMessage="Geen Bestuursleden"
          as |t|
        >
          <t.content as |c|>
            <c.header>
              <th class="au-c-data-table__header-title">Voornaam</th>
              <th class="au-c-data-table__header-title">Achternaam</th>
              <th class="au-c-data-table__header-title">Mandaat</th>
              <th class="au-c-data-table__header-title">Start mandaat</th>
              <th class="au-c-data-table__header-title">Einde mandaat</th>
              <th></th>
            </c.header>
            <c.body as |mandate|>
              {{#let mandate.heldBy.firstObject as |mandatory|}}
                <td>
                  <AuLink
                    @route="people.person"
                    @model={{mandatory.governingAlias.id}}
                  >
                    {{mandatory.governingAlias.givenName}}
                  </AuLink>
                </td>
                <td>
                  <AuLink
                    @route="people.person"
                    @model={{mandatory.governingAlias.id}}
                  >
                    {{mandatory.governingAlias.familyName}}
                  </AuLink>
                </td>
                <td>
                  <AuLink
                    @route="people.person.positions.mandatory"
                    @models={{array mandatory.governingAlias.id mandatory.id}}
                  >
                    {{mandatory.mandate.roleBoard.label}}
                  </AuLink>
                </td>
                <td>
                  {{#if mandatory.startDate}}
                    {{date-format mandatory.startDate}}
                  {{/if}}
                </td>
                <td>
                  {{#if mandatory.endDate}}
                    {{date-format mandatory.endDate}}
                  {{else if mandatory.expectedEndDate}}
                    {{date-format mandatory.expectedEndDate}}
                  {{/if}}
                </td>
                <td>
                  <AuLink
                    @route="administrative-units.administrative-unit.governing-bodies.governing-body.mandatory.edit"
                    @model={{mandatory.id}}
                  >
                    Bewerk
                  </AuLink>
                </td>
              {{/let}}
            </c.body>
          </t.content>
        </AuDataTable>
      </div>
    {{/if}}

    <div>
      <AuToolbar class="au-u-margin-bottom-small">
        <AuToolbarGroup>
          <AuHeading @level="4" @skin="5">Mandatarissen</AuHeading>
        </AuToolbarGroup>
        <AuToolbarGroup>
          {{! TODO: Replace this with a link once the "new" route is created }}
          <AuLink
            @route="administrative-units.administrative-unit.governing-bodies.governing-body"
            @skin="button-secondary"
            @icon="add"
            @iconAlignment="left"
          >
            Nieuw
          </AuLink>
        </AuToolbarGroup>
      </AuToolbar>
      <AuDataTable
        @content={{@model.otherMandates}}
        @noDataMessage="Geen Mandatarissen"
        as |t|
      >
        <t.content as |c|>
          <c.header>
            <th class="au-c-data-table__header-title">Voornaam</th>
            <th class="au-c-data-table__header-title">Achternaam</th>
            <th class="au-c-data-table__header-title">Mandaat</th>
            <th class="au-c-data-table__header-title">Start mandaat</th>
            <th class="au-c-data-table__header-title">Einde mandaat</th>
            <th></th>
          </c.header>
          <c.body as |mandate|>
            {{#let mandate.heldBy.firstObject as |mandatory|}}
              <td>
                <AuLink
                  @route="people.person"
                  @model={{mandatory.governingAlias.id}}
                >
                  {{mandatory.governingAlias.givenName}}
                </AuLink>
              </td>
              <td>
                <AuLink
                  @route="people.person"
                  @model={{mandatory.governingAlias.id}}
                >
                  {{mandatory.governingAlias.familyName}}
                </AuLink>
              </td>
              <td>
                <AuLink
                  @route="people.person.positions.mandatory"
                  @models={{array mandatory.governingAlias.id mandatory.id}}
                >
                  {{mandate.roleBoard.label}}
                </AuLink>
              </td>
              <td>
                {{#if mandatory.startDate}}
                  {{date-format mandatory.startDate}}
                {{/if}}
              </td>
              <td>
                {{#if mandatory.endDate}}
                  {{date-format mandatory.endDate}}
                {{else if mandatory.expectedEndDate}}
                  {{date-format mandatory.expectedEndDate}}
                {{/if}}
              </td>
              <td>
                <AuLink
                  @route="administrative-units.administrative-unit.governing-bodies.governing-body.mandatory.edit"
                  @model={{mandatory.id}}
                >
                  Bewerk
                </AuLink>
              </td>
            {{/let}}
          </c.body>
        </t.content>
      </AuDataTable>
    </div>
  </div>
</div>