<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-o-flow au-o-flow--large">
    <PageHeader>
      <:title>
        Bestuursorgaan:
        {{@model.governingBodyClassification.label}}
      </:title>
      <:subtitle>{{@model.administrativeUnit.name}} ({{@model.administrativeUnit.classification.label}})</:subtitle>
      <:action>
        <SecuredArea>
          <:edit>
            <AuLink
              @route="administrative-units.administrative-unit.governing-bodies.governing-body.edit"
              @skin="button-secondary"
              @icon="pencil"
              @iconAlignment="left"
            >
              Bewerk
            </AuLink>
          </:edit>
          <:readOnly>
            <ReportWrongData />
          </:readOnly>
        </SecuredArea>
      </:action>
    </PageHeader>

    <DataCard>
      <:title>Bestuursorgaan</:title>
      <:card as |Card|>
        <Card.Columns>
          <:left as |Item|>
            <Item>
              <:label>Type</:label>
              <:content>
                {{@model.governingBodyClassification.label}}
              </:content>
            </Item>
            {{#if @model.governingBody.period}}
              <Item>
                <:label>Termijn</:label>
                <:content>
                  Bestuursperiode
                  {{@model.governingBody.period}}
                </:content>
              </Item>
            {{/if}}
          </:left>
          <:right as |Item|>
            {{#if @model.governingBody.startDate}}
              <Item>
                <:label>Startdatum</:label>
                <:content>
                  {{@model.governingBody.startDatum}}
                </:content>
              </Item>
            {{/if}}
            {{#if @model.governingBody.endDate}}
              <Item>
                <:label>Einddatum</:label>
                <:content>
                  {{@model.governingBody.eindDatum}}
                </:content>
              </Item>
            {{/if}}
          </:right>
        </Card.Columns>
      </:card>
    </DataCard>

    <div>
      <AuToolbar class="au-u-margin-bottom-small">
        <AuToolbarGroup>
          <AuHeading @level="4" @skin="5">Bestuursleden</AuHeading>
        </AuToolbarGroup>
        {{#if this.isWorshipAdministrativeUnit}}
          <AuToolbarGroup>
            <SecuredArea>
              <:edit>
                <AuLink
                  @route="administrative-units.administrative-unit.governing-bodies.governing-body.board-member.new"
                  @skin="button"
                  @icon="add"
                  @iconAlignment="left"
                >
                  Nieuw
                </AuLink>
              </:edit>
            </SecuredArea>
          </AuToolbarGroup>
        {{/if}}
      </AuToolbar>
      <AuDataTable
        @content={{@model.memberMandatories}}
        @noDataMessage="Geen bestuursleden"
        @page={{this.page}}
        @size={{this.size}}
        as |t|
      >
        <t.content as |c|>
          <c.header>
            <AuDataTableThSortable
              @field="governing-alias.given-name"
              @currentSorting={{this.sort}}
              @label="Voornaam"
            />
            <AuDataTableThSortable
              @field="governing-alias.family-name"
              @currentSorting={{this.sort}}
              @label="Achternaam"
            />
            <AuDataTableThSortable
              @field="mandate.role-board.label"
              @currentSorting={{this.sort}}
              @label="Mandaat"
            />
            <th class="au-c-data-table__header-title">Start mandaat</th>
            <th class="au-c-data-table__header-title">Einde mandaat</th>
            {{#if this.isWorshipAdministrativeUnit}}
              <SecuredArea>
                <:edit>
                  <th></th>
                </:edit>
              </SecuredArea>
            {{/if}}
          </c.header>
          <c.body as |mandatory|>
            <td>
              <AuLink
                @route="people.person"
                @model={{mandatory.governingAlias.id}}
              >
                {{mandatory.governingAlias.givenName}}
              </AuLink>
            </td>
            <td>
              <AuLink
                @route="people.person"
                @model={{mandatory.governingAlias.id}}
              >
                {{mandatory.governingAlias.familyName}}
              </AuLink>
            </td>
            <td>
              <AuLink
                @route="people.person.positions.mandatory"
                @models={{array mandatory.governingAlias.id mandatory.id}}
              >
                {{mandatory.mandate.roleBoard.label}}
              </AuLink>
            </td>
            <td>
              {{#if mandatory.startDate}}
                {{mandatory.startDatum}}
              {{/if}}
            </td>
            <td>
              {{#if mandatory.endDate}}
                {{mandatory.eindDatum}}
              {{else if mandatory.expectedEndDate}}
                {{mandatory.mandaatExpectedEndDate}}
              {{/if}}
            </td>
            {{#if this.isWorshipAdministrativeUnit}}
              <SecuredArea>
                <:edit>
                  <td>
                    <AuLink
                      @route="administrative-units.administrative-unit.governing-bodies.governing-body.board-member.edit"
                      @models={{array
                        @model.administrativeUnit.id
                        @model.governingBody.id
                        mandatory.id
                      }}
                    >
                      Bewerk
                    </AuLink>
                  </td>
                </:edit>
              </SecuredArea>
            {{/if}}
          </c.body>
        </t.content>
      </AuDataTable>
    </div>

    <div>
      <AuToolbar class="au-u-margin-bottom-small">
        <AuToolbarGroup>
          <AuHeading @level="4" @skin="5">Mandatarissen</AuHeading>
        </AuToolbarGroup>
        {{#if this.isWorshipAdministrativeUnit}}
          <AuToolbarGroup>
            <SecuredArea>
              <:edit>
                <AuLink
                  @route="administrative-units.administrative-unit.governing-bodies.governing-body.mandatory.new"
                  @skin="button"
                  @icon="add"
                  @iconAlignment="left"
                >
                  Nieuw
                </AuLink>
              </:edit>
            </SecuredArea>
          </AuToolbarGroup>
        {{/if}}
      </AuToolbar>
      <AuDataTable
        @content={{@model.otherMandatories}}
        @noDataMessage="Geen mandatarissen"
        as |t|
      >
        <t.content as |c|>
          <c.header>
            <AuDataTableThSortable
              @field="governing-alias.given-name"
              @currentSorting={{this.sort}}
              @label="Voornaam"
            />
            <AuDataTableThSortable
              @field="governing-alias.family-name"
              @currentSorting={{this.sort}}
              @label="Achternaam"
            />
            <AuDataTableThSortable
              @field="mandate.role-board.label"
              @currentSorting={{this.sort}}
              @label="Mandaat"
            />
            <th class="au-c-data-table__header-title">Start mandaat</th>
            <th class="au-c-data-table__header-title">Einde mandaat</th>
            {{#if this.isWorshipAdministrativeUnit}}
              <SecuredArea>
                <:edit>
                  <th></th>
                </:edit>
              </SecuredArea>
            {{/if}}
          </c.header>
          <c.body as |mandatory|>
            <td>
              <AuLink
                @route="people.person"
                @model={{mandatory.governingAlias.id}}
              >
                {{mandatory.governingAlias.givenName}}
              </AuLink>
            </td>
            <td>
              <AuLink
                @route="people.person"
                @model={{mandatory.governingAlias.id}}
              >
                {{mandatory.governingAlias.familyName}}
              </AuLink>
            </td>
            <td>
              <AuLink
                @route="people.person.positions.mandatory"
                @models={{array mandatory.governingAlias.id mandatory.id}}
              >
                {{mandatory.mandate.roleBoard.label}}
              </AuLink>
            </td>
            <td>
              {{#if mandatory.startDate}}
                {{mandatory.startDatum}}
              {{/if}}
            </td>
            <td>
              {{#if mandatory.endDate}}
                {{mandatory.eindDatum}}
              {{else if mandatory.expectedEndDate}}
                {{mandatory.mandaatExpectedEndDate}}
              {{/if}}
            </td>
            {{#if this.isWorshipAdministrativeUnit}}
              <SecuredArea>
                <:edit>
                  <td>
                    <AuLink
                      @route="administrative-units.administrative-unit.governing-bodies.governing-body.mandatory.edit"
                      @models={{array
                        @model.administrativeUnit.id
                        @model.governingBody.id
                        mandatory.id
                      }}
                    >
                      Bewerk
                    </AuLink>
                  </td>
                </:edit>
              </SecuredArea>
            {{/if}}
          </c.body>
        </t.content>
      </AuDataTable>
    </div>
  </div>
</div>