<div class="au-o-box">
  <AuToolbar>
    <AuToolbarGroup>
      <AuHeading>
        Bedienaren
      </AuHeading>
    </AuToolbarGroup>
    <AuToolbarGroup>
      <AuLink
        @route="administrative-units.administrative-unit.ministers.new"
        @icon="add"
        @iconAlignment="left"
        @skin="button"
      >
        Nieuw
      </AuLink>
    </AuToolbarGroup>
  </AuToolbar>
  <AuHeading @level="2" @skin="3" class="au-u-margin-top-tiny">
    {{@model.administrativeUnit.name}}
  </AuHeading>
</div>

<AuDataTable
  @content={{@model.ministerPositions}}
  @noDataMessage="Geen bedienaren"
  as |t|
>
  <t.content as |c|>
    <c.header>
      <th class="au-c-data-table__header-title">Voornaam</th>
      <th class="au-c-data-table__header-title">Achternaam</th>
      <th class="au-c-data-table__header-title">Rol</th>
      <th class="au-c-data-table__header-title">Status</th>
      <th></th>
    </c.header>
    <c.body as |ministerPosition|>
      {{#let ministerPosition.agentsInPosition.firstObject as |minister|}}
        <td>
          <AuLink @route="people.person" @model={{minister.person.id}}>
            {{minister.person.givenName}}
          </AuLink>
        </td>
        <td>
          <AuLink @route="people.person" @model={{minister.person.id}}>
            {{minister.person.familyName}}
          </AuLink>
        </td>
        <td>
          <AuLink @route="administrative-units.administrative-unit.ministers">
            {{ministerPosition.function.label}}
          </AuLink>
        </td>
        <td><AuPill @skin={{"success"}}>Actief</AuPill></td>
        <td>
          <AuLink @route="administrative-units.administrative-unit.ministers">
            Bewerk
          </AuLink>
        </td>
      {{/let}}
    </c.body>
  </t.content>
</AuDataTable>