<PageHeader class="au-o-box">
  <:title>Bedienaren</:title>
  <:subtitle>{{@model.administrativeUnit.name}}</:subtitle>
  <:action>
    <SecuredArea>
      <:readOnly>
        <ReportWrongData />
      </:readOnly>
    </SecuredArea>
  </:action>
</PageHeader>

<AuDataTable
  @content={{@model.ministers}}
  @noDataMessage="Geen bedienaren"
  as |t|
>
  <t.content as |c|>
    <c.header>
      <th class="au-c-data-table__header-title">Voornaam</th>
      <th class="au-c-data-table__header-title">Achternaam</th>
      <th class="au-c-data-table__header-title">Rol</th>
      <th class="au-c-data-table__header-title">Status</th>
    </c.header>
    <c.body as |minister|>
        <td>
          <AuLink @route="people.person" @model={{minister.person.id}}>
            {{minister.person.givenName}}
          </AuLink>
        </td>
        <td>
          <AuLink @route="people.person" @model={{minister.person.id}}>
            {{minister.person.familyName}}
          </AuLink>
        </td>
        <td>
          <AuLink
            @route="people.person.positions.minister"
            @models={{array minister.person.id minister.id}}
          >
            {{minister.ministerPosition.function.label}}
          </AuLink>
        </td>
        <td>
          <PositionStatus @endDate={{minister.agentEndDate}} />
        </td>
    </c.body>
  </t.content>
</AuDataTable>
