<PageHeader class="au-o-box">
  <:title>Bedienaren</:title>
  <:subtitle>{{@model.administrativeUnit.name}}</:subtitle>
  <:action>
    <AuLink
      @route="administrative-units.administrative-unit.ministers.new"
      @icon="add"
      @iconAlignment="left"
      @skin="button"
    >
      Nieuw
    </AuLink>
  </:action>
</PageHeader>

<AuDataTable
  @content={{@model.ministerPositions}}
  @noDataMessage="Geen bedienaren"
  as |t|
>
  <t.content as |c|>
    <c.header>
      <th class="au-c-data-table__header-title">Voornaam</th>
      <th class="au-c-data-table__header-title">Achternaam</th>
      <th class="au-c-data-table__header-title">Rol</th>
      <th class="au-c-data-table__header-title">Status</th>
      <th></th>
    </c.header>
    <c.body as |ministerPosition|>
      {{#let ministerPosition.agentsInPosition.firstObject as |minister|}}
        <td>
          <AuLink @route="people.person" @model={{minister.person.id}}>
            {{minister.person.givenName}}
          </AuLink>
        </td>
        <td>
          <AuLink @route="people.person" @model={{minister.person.id}}>
            {{minister.person.familyName}}
          </AuLink>
        </td>
        <td>
          <AuLink @route="people.person.positions.minister" @models={{array minister.person.id minister.id}}>
            {{ministerPosition.function.label}}
          </AuLink>
        </td>
        <td>
          <PositionStatus @endDate={{minister.agentEndDate}}/>
        </td>
        <td>
          <AuLink @route="people.person.positions.minister.edit"
                  @models={{array minister.person.id minister.id}}
                  @query={{hash redirectUrl=this.currentURL}}
          >
            Bewerk
          </AuLink>
        </td>
      {{/let}}
    </c.body>
  </t.content>
</AuDataTable>