{{page-title "Nieuw"}}
{{breadcrumb "Nieuw"}}

<div class="au-c-body-container au-c-body-container--scroll">
  <PageHeader class="au-u-margin au-u-margin-bottom-large">
    <:title>Voeg bedienaar toe</:title>
    <:subtitle>{{@model.administrativeUnit.name}}</:subtitle>
  </PageHeader>

  {{#if this.isSelectingTargetPerson}}
    <PersonSearch
      @onSelect={{fn (mut this.targetPerson)}}
      @personCreationRedirectUrl={{this.router.currentURL}}
    />
  {{else}}
    <form
      class="au-o-box au-o-flow au-o-flow--large"
      aria-label="minister-position-creation-form"
      {{on "submit" (perform this.createMinisterPositionTask)}}
    >
      <DataCard>
        <:title>Persoonlijke gegevens</:title>
        <:card as |Card|>
          <Card.Columns>
            <:left as |Item|>
              <Item>
                <:label>
                  Voornaam
                </:label>
                <:content>
                  {{this.targetPerson.givenName}}
                </:content>
              </Item>
            </:left>
            <:right as |Item|>
              <Item>
                <:label>
                  Achternaam
                </:label>
                <:content>
                  {{this.targetPerson.familyName}}
                </:content>
              </Item>
            </:right>
          </Card.Columns>
        </:card>
      </DataCard>

      <EditCard @containsRequiredFields={{true}}>
        <:title>Positie</:title>
        <:card as |Card|>
          <Card.Columns>
            <:left as |Item|>
              <Item @labelFor="minister-position-function" @required={{true}}>
                <:label>Positie</:label>
                <:content>
                  <MinisterPositionFunctionSelect
                    @onChange={{fn (mut this.model.position.function)}}
                    @selected={{this.model.position.function}}
                    @id="minister-position-function"
                  />
                </:content>
              </Item>
            </:left>
          </Card.Columns>
        </:card>
      </EditCard>

      <EditCard>
        <:title>Contactgegevens</:title>
        <:card as |Card|>
          <Card.Columns>
            <:left as |Item|>
              <AddressSearch
                @address={{@model.address}}
                @itemComponent={{Item}}
              >
                <:manual-address-input>
                  <Item @labelFor="address-street-name">
                    <:label>Straat</:label>
                    <:content>
                      <AuInput
                        @value={{this.model.address.street}}
                        @width="block"
                        id="address-street-name"
                      />
                    </:content>
                  </Item>
                  <Item @labelFor="address-house-number">
                    <:label>Huisnummer</:label>
                    <:content>
                      <AuInput
                        @value={{this.model.address.number}}
                        @width="block"
                        id="address-house-number"
                      />
                    </:content>
                  </Item>
                  <Item @labelFor="address-box-number">
                    <:label>Busnummer</:label>
                    <:content>
                      <AuInput
                        @value={{this.model.address.boxNumber}}
                        @width="block"
                        id="address-box-number"
                      />
                    </:content>
                  </Item>
                  <Item @labelFor="address-postal-code">
                    <:label>Postcode</:label>
                    <:content>
                      <AuInput
                        @value={{this.model.address.postcode}}
                        @width="block"
                        id="address-postal-code"
                      />
                    </:content>
                  </Item>
                  <Item @labelFor="address-municipality">
                    <:label>Gemeente</:label>
                    <:content>
                      <MunicipalitySelect
                        @selected={{this.model.address.municipality}}
                        @onChange={{fn (mut this.model.address.municipality)}}
                        @id="address-municipality"
                      />
                    </:content>
                  </Item>
                  <Item @labelFor="address-province">
                    <:label>Provincie</:label>
                    <:content>
                      <ProvinceSelect
                        @selected={{this.model.address.province}}
                        @onChange={{fn (mut this.model.address.province)}}
                        @id="address-province"
                      />
                    </:content>
                  </Item>
                </:manual-address-input>
              </AddressSearch>
            </:left>
            <:right as |Item|>
              <Item @labelFor="contact-email">
                <:label>E-mail</:label>
                <:content>
                  <AuInput
                    @value={{this.model.contact.email}}
                    @width="block"
                    id="contact-email"
                    type="email"
                  />
                </:content>
              </Item>
              <Item @labelFor="contact-landline">
                <:label>Telefoonnummer</:label>
                <:content>
                  <AuInput
                    @value={{this.model.contact.telephone}}
                    @width="block"
                    id="contact-landline"
                    type="tel"
                  />
                </:content>
              </Item>
              <Item @labelFor="contact-mobile">
                <:label>GSM nummer</:label>
                <:content>
                  <AuInput
                    @width="block"
                    @value={{this.model.contactMobile.telephone}}
                    id="contact-mobile"
                    type="tel"
                  />
                </:content>
              </Item>
            </:right>
          </Card.Columns>
        </:card>
      </EditCard>

      <EditCard>
        <:title>Aanstelling</:title>
        <:card as |Card|>
          <Card.Columns>
            <:left as |Item|>
              <Item @labelFor="start-date">
                <:label>Startdatum</:label>
                <:content>
                  <Datepicker
                    @id="start-date"
                    @onChange={{fn (mut this.model.minister.agentStartDate)}}
                    @value={{this.model.minister.agentStartDate}}
                  />
                </:content>
              </Item>
            </:left>
            <:right as |Item|>
              <Item @labelFor="end-date">
                <:label>Einddatum</:label>
                <:content>
                  <Datepicker
                    @id="end-date"
                    @onChange={{fn (mut this.model.minister.agentEndDate)}}
                    @value={{this.model.minister.agentEndDate}}
                  />
                </:content>
              </Item>
              <Item>
                <:content>
                  <AuControlCheckbox
                    checked={{this.isCurrentPosition}}
                    @label="Huidige positie"
                    @identifier="current-position"
                    @onChange={{this.handleIsCurrentPositionChange}}
                  />
                </:content>
              </Item>
            </:right>
          </Card.Columns>
        </:card>
      </EditCard>

      <EditCard>
        <:title>Financiering</:title>
        <:card as |Card|>
          <Card.Columns>
            <:left as |Item|>
              <Item @alignTop={{true}}>
                <:label>FOD financiering</:label>
                <:content>
                  <ul class="au-c-list-inline">
                    <li class="au-c-list-inline__item">
                      <AuControlRadio
                        @label="Ja"
                        @name="financing"
                        @value={{true}}
                        checked={{this.willReceiveFinancing}}
                        @onChange={{fn (mut this.willReceiveFinancing) true}}
                        @identifier="receives-financing"
                      />
                    </li>
                    <li class="au-c-list-inline__item">
                      <AuControlRadio
                        @label="Nee"
                        @name="financing"
                        @value={{false}}
                        checked={{not this.willReceiveFinancing}}
                        @onChange={{fn (mut this.willReceiveFinancing) false}}
                        @identifier="receives-no-financing"
                      />
                    </li>
                  </ul>
                </:content>
              </Item>
            </:left>
          </Card.Columns>
        </:card>
      </EditCard>

      {{! TODO: add "Voorwaarde" section once file uploads are supported }}

      <AuButtonGroup>
        <AuButton
          @icon="add"
          @iconAlignment="left"
          @loading={{this.createMinisterPositionTask.isRunning}}
          @disabled={{or
            (not this.canSubmit)
            this.createMinisterPositionTask.isRunning
          }}
          type="submit"
        >
          Voeg toe
        </AuButton>
        <AuLink
          @route="administrative-units.administrative-unit.ministers"
          @skin="button-secondary"
        >
          Annuleer
        </AuLink>
      </AuButtonGroup>
    </form>
  {{/if}}
</div>