{{page-title "Nieuw"}}
{{breadcrumb "Nieuw"}}

<div class="au-c-body-container au-c-body-container--scroll">
  <PageHeader class="au-u-margin au-u-margin-bottom-large">
    <:title>Voeg bedienaar toe</:title>
    <:subtitle>{{@model.administrativeUnit.name}}</:subtitle>

    <:action>
      {{#unless this.isSelectingTargetPerson}}
        {{! TODO: add "Voorwaarde" section once file uploads are supported }}
        <AuButtonGroup class="au-c-button-group--align-right">
          <AuButton
            @icon="add"
            @iconAlignment="left"
            @loading={{this.createMinisterPositionTask.isRunning}}
            @disabled={{this.createMinisterPositionTask.isRunning}}
            type="submit"
            form="minister-position-creation-form"
          >
            Voeg toe
          </AuButton>
          <AuLink
            @route="administrative-units.administrative-unit.ministers"
            @skin="button-secondary"
          >
            Annuleer
          </AuLink>
        </AuButtonGroup>
      {{/unless}}
    </:action>
  </PageHeader>

  {{#if this.isSelectingTargetPerson}}
    <PersonSearch
        @onSelect={{(perform this.selectTargetPerson)}}
      @loading={{this.selectTargetPerson.isRunning}}
      @personCreationRedirectUrl={{this.router.currentURL}}
    />
  {{else}}
    <form
      class="au-o-box au-o-flow au-o-flow--large"
      id="minister-position-creation-form"
      aria-label="minister-position-creation-form"
      {{on "submit" (perform this.createMinisterPositionTask)}}
    >
      <DataCard>
        <:title>Persoonlijke gegevens</:title>
        <:card as |Card|>
          <Card.Columns>
            <:left as |Item|>
              <Item>
                <:label>
                  Voornaam
                </:label>
                <:content>
                  {{this.targetPerson.givenName}}
                </:content>
              </Item>
            </:left>
            <:right as |Item|>
              <Item>
                <:label>
                  Achternaam
                </:label>
                <:content>
                  {{this.targetPerson.familyName}}
                </:content>
              </Item>
            </:right>
          </Card.Columns>
        </:card>
      </DataCard>

      <EditCard @containsRequiredFields={{true}}>
        <:title>Positie</:title>
        <:card as |Card|>
          <Card.Columns>
            <:left as |Item|>
              <Item
                @labelFor="minister-position-function"
                @required={{true}}
                @errorMessage={{@model.position.error.function.validation}}
              >
                <:label>Positie</:label>
                <:content as |errorMessage|>
                  <MinisterPositionFunctionSelect
                    @onChange={{fn (mut @model.position.function)}}
                    @selected={{@model.position.function}}
                    @id="minister-position-function"
                    @error={{errorMessage}}
                  />
                </:content>
              </Item>
            </:left>
          </Card.Columns>
        </:card>
      </EditCard>

      <AuContent>
        <ContactDetails
          @title="Contactgegevens"
          @contact={{this.contact}}
          @onUpdate={{this.updateContact}}
          @positions={{this.allContacts}}
        />
      </AuContent>
      <EditCard @containsRequiredFields={{true}}>
        <:title>Aanstelling</:title>
        <:card as |Card|>
          <Card.Columns>
            <:left as |Item|>
              <Item
                @labelFor="start-date"
                @required={{true}}
                @errorMessage={{@model.minister.error.agentStartDate.validation}}
              >
                <:label>Startdatum</:label>
                <:content as |errorMessage|>
                  <Datepicker
                    @id="start-date"
                    @onChange={{fn (mut @model.minister.agentStartDate)}}
                    @value={{@model.minister.agentStartDate}}
                    @error={{errorMessage}}
                  />
                </:content>
              </Item>
            </:left>
            <:right as |Item|>
              <Item
                @labelFor="end-date"
                @required={{not @model.minister.isCurrentPosition}}
                @errorMessage={{@model.minister.error.agentEndDate.validation}}
              >
                <:label>Einddatum</:label>
                <:content as |errorMessage|>
                  <Datepicker
                    @id="end-date"
                    @onChange={{this.handleEndDateChange}}
                    @value={{@model.minister.agentEndDate}}
                    @error={{errorMessage}}
                  />
                </:content>
              </Item>
              <Item>
                <:content>
                  <AuControlCheckbox
                    @checked={{@model.minister.isCurrentPosition}}
                    @label="Huidige positie"
                    @identifier="current-position"
                    @onChange={{this.handleIsCurrentPositionChange}}
                  />
                </:content>
              </Item>
            </:right>
          </Card.Columns>
        </:card>
      </EditCard>

      <EditCard>
        <:title>Financiering</:title>
        <:card as |Card|>
          <Card.Columns>
            <:left as |Item|>
              <Item @alignTop={{true}}>
                <:label>FOD Justitie</:label>
                <:content>
                  <ul class="au-c-list-inline">
                    <li class="au-c-list-inline__item">
                      <AuControlRadio
                        @label="Ja"
                        @name="financing"
                        @value={{true}}
                        checked={{this.willReceiveFinancing}}
                        @onChange={{fn (mut this.willReceiveFinancing) true}}
                        @identifier="receives-financing"
                      />
                    </li>
                    <li class="au-c-list-inline__item">
                      <AuControlRadio
                        @label="Nee"
                        @name="financing"
                        @value={{false}}
                        checked={{not this.willReceiveFinancing}}
                        @onChange={{fn (mut this.willReceiveFinancing) false}}
                        @identifier="receives-no-financing"
                      />
                    </li>
                  </ul>
                </:content>
              </Item>
            </:left>
          </Card.Columns>
        </:card>
      </EditCard>

    </form>
  {{/if}}
</div>