{{page-title "Nieuw"}}
{{breadcrumb "Nieuw"}}

<div class="au-c-body-container au-c-body-container--scroll">
  <PageHeader class="au-u-margin au-u-margin-bottom-large">
    <:title>Voeg bedienaar toe</:title>
    <:subtitle>{{@model.administrativeUnit.name}}</:subtitle>
  </PageHeader>

  {{#if this.isSelectingTargetPerson}}
    <PersonSearch
      @onSelect={{fn (mut this.targetPerson)}}
      @personCreationRedirectUrl={{this.router.currentURL}}
    />
  {{else}}
    <form
      class="au-o-box au-o-flow au-o-flow--large"
      aria-label="minister-position-creation-form"
      {{on "submit" (perform this.createMinisterPositionTask)}}
    >
      <DataCard>
        <:title>Persoonlijke gegevens</:title>
        <:card as |Card|>
          <Card.Columns>
            <:left as |Item|>
              <Item>
                <:label>
                  Voornaam
                </:label>
                <:content>
                  {{this.targetPerson.givenName}}
                </:content>
              </Item>
            </:left>
            <:right as |Item|>
              <Item>
                <:label>
                  Achternaam
                </:label>
                <:content>
                  {{this.targetPerson.familyName}}
                </:content>
              </Item>
            </:right>
          </Card.Columns>
        </:card>
      </DataCard>

      <EditCard @containsRequiredFields={{true}}>
        <:title>Positie</:title>
        <:card as |Card|>
          <Card.Columns>
            <:left as |Item|>
              <Item
                @labelFor="minister-position-function"
                @required={{true}}
                @errorMessage={{@model.position.error.function.validation}}
              >
                <:label>Positie</:label>
                <:content as |errorMessage|>
                  <MinisterPositionFunctionSelect
                    @onChange={{fn (mut @model.position.function)}}
                    @selected={{@model.position.function}}
                    @id="minister-position-function"
                    @error={{errorMessage}}
                  />
                </:content>
              </Item>
            </:left>
          </Card.Columns>
        </:card>
      </EditCard>

      <EditCard>
        <:title>Contactgegevens</:title>
        <:card as |Card|>
          <Card.Columns>
            <:left as |Item|>
              <AddressSearch
                @address={{@model.address}}
                @itemComponent={{Item}}
              >
                <:manual-address-input>
                  <Item
                    @labelFor="address-street-name"
                    @errorMessage={{@model.address.error.street.validation}}
                  >
                    <:label>Straat</:label>
                    <:content as |errorMessage|>
                      <AuInput
                        @value={{@model.address.street}}
                        @width="block"
                        id="address-street-name"
                        @error={{errorMessage}}
                      />
                    </:content>
                  </Item>
                  <Item
                    @labelFor="address-house-number"
                    @errorMessage={{@model.address.error.number.validation}}
                  >
                    <:label>Huisnummer</:label>
                    <:content as |errorMessage|>
                      <AuInput
                        @value={{@model.address.number}}
                        @width="block"
                        id="address-house-number"
                        @error={{errorMessage}}
                      />
                    </:content>
                  </Item>
                  <Item @labelFor="address-box-number">
                    <:label>Busnummer</:label>
                    <:content>
                      <AuInput
                        @value={{@model.address.boxNumber}}
                        @width="block"
                        id="address-box-number"
                      />
                    </:content>
                  </Item>
                  <Item
                    @labelFor="address-postal-code"
                    @errorMessage={{@model.address.error.postcode.validation}}
                  >
                    <:label>Postcode</:label>
                    <:content as |errorMessage|>
                      <AuInput
                        @value={{@model.address.postcode}}
                        @width="block"
                        id="address-postal-code"
                        @error={{errorMessage}}
                      />
                    </:content>
                  </Item>
                  <Item
                    @labelFor="address-municipality"
                    @errorMessage={{@model.address.error.municipality.validation}}
                  >
                    <:label>Gemeente</:label>
                    <:content as |errorMessage|>
                      <MunicipalitySelect
                        @selected={{@model.address.municipality}}
                        @onChange={{fn (mut @model.address.municipality)}}
                        @id="address-municipality"
                        @error={{errorMessage}}
                      />
                    </:content>
                  </Item>
                </:manual-address-input>
                <:common-input>
                  <Item @labelFor="address-province" @required={{true}}
                    @errorMessage={{@model.address.error.province.validation}}>
                    <:label>Provincie</:label>
                    <:content as |errorMessage|>
                      <ProvinceSelect @selected={{@model.address.province}} @onChange={{fn (mut @model.address.province)}}
                        @id="address-province" @error={{errorMessage}} />
                    </:content>
                  </Item>
                </:common-input>
              </AddressSearch>
            </:left>
            <:right as |Item|>
              <Item
                @labelFor="contact-email"
                @errorMessage={{@model.contact.error.email.validation}}
              >
                <:label>E-mail</:label>
                <:content as |errorMessage|>
                  <AuInput
                    @value={{@model.contact.email}}
                    @width="block"
                    @error={{errorMessage}}
                    id="contact-email"
                  />
                </:content>
                <:help-text>
                  {{help-text "email"}}
                </:help-text>
              </Item>
              <Item
                @labelFor="contact-landline"
                @errorMessage={{@model.contact.error.telephone.validation}}
              >
                <:label>Telefoonnummer</:label>
                <:content as |errorMessage|>
                  <AuInput
                    @value={{@model.contact.telephone}}
                    @width="block"
                    @error={{errorMessage}}
                    id="contact-landline"
                  />
                </:content>
                <:help-text>
                  {{help-text "phone-number"}}
                </:help-text>
              </Item>
              <Item
                @labelFor="contact-mobile"
                @errorMessage={{@model.secondaryContact.error.telephone.validation}}
              >
                <:label>GSM nummer</:label>
                <:content as |errorMessage|>
                  <AuInput
                    @width="block"
                    @value={{@model.secondaryContact.telephone}}
                    @error={{errorMessage}}
                    id="contact-mobile"
                  />
                </:content>
                <:help-text>
                  {{help-text "phone-number"}}
                </:help-text>
              </Item>
            </:right>
          </Card.Columns>
        </:card>
      </EditCard>

      <EditCard @containsRequiredFields={{true}}>
        <:title>Aanstelling</:title>
        <:card as |Card|>
          <Card.Columns>
            <:left as |Item|>
              <Item
                @labelFor="start-date"
                @required={{true}}
                @errorMessage={{@model.minister.error.agentStartDate.validation}}
              >
                <:label>Startdatum</:label>
                <:content as |errorMessage|>
                  <Datepicker
                    @id="start-date"
                    @onChange={{fn (mut @model.minister.agentStartDate)}}
                    @value={{@model.minister.agentStartDate}}
                    @error={{errorMessage}}
                  />
                </:content>
              </Item>
            </:left>
            <:right as |Item|>
              <Item
                @labelFor="end-date"
                @required={{not @model.minister.isCurrentPosition}}
                @errorMessage={{@model.minister.error.agentEndDate.validation}}
              >
                <:label>Einddatum</:label>
                <:content as |errorMessage|>
                  <Datepicker
                    @id="end-date"
                    @onChange={{this.handleEndDateChange}}
                    @value={{@model.minister.agentEndDate}}
                    @error={{errorMessage}}
                  />
                </:content>
              </Item>
              <Item>
                <:content>
                  <AuControlCheckbox
                    checked={{@model.minister.isCurrentPosition}}
                    @label="Huidige positie"
                    @identifier="current-position"
                    @onChange={{this.handleIsCurrentPositionChange}}
                  />
                </:content>
              </Item>
            </:right>
          </Card.Columns>
        </:card>
      </EditCard>

      <EditCard>
        <:title>Financiering</:title>
        <:card as |Card|>
          <Card.Columns>
            <:left as |Item|>
              <Item @alignTop={{true}}>
                <:label>FOD financiering</:label>
                <:content>
                  <ul class="au-c-list-inline">
                    <li class="au-c-list-inline__item">
                      <AuControlRadio
                        @label="Ja"
                        @name="financing"
                        @value={{true}}
                        checked={{this.willReceiveFinancing}}
                        @onChange={{fn (mut this.willReceiveFinancing) true}}
                        @identifier="receives-financing"
                      />
                    </li>
                    <li class="au-c-list-inline__item">
                      <AuControlRadio
                        @label="Nee"
                        @name="financing"
                        @value={{false}}
                        checked={{not this.willReceiveFinancing}}
                        @onChange={{fn (mut this.willReceiveFinancing) false}}
                        @identifier="receives-no-financing"
                      />
                    </li>
                  </ul>
                </:content>
              </Item>
            </:left>
          </Card.Columns>
        </:card>
      </EditCard>

      {{! TODO: add "Voorwaarde" section once file uploads are supported }}

      <AuButtonGroup>
        <AuButton
          @icon="add"
          @iconAlignment="left"
          @loading={{this.createMinisterPositionTask.isRunning}}
          @disabled={{this.createMinisterPositionTask.isRunning}}
          type="submit"
        >
          Voeg toe
        </AuButton>
        <AuLink
          @route="administrative-units.administrative-unit.ministers"
          @skin="button-secondary"
        >
          Annuleer
        </AuLink>
      </AuButtonGroup>
    </form>
  {{/if}}
</div>