{{page-title "Bewerk"}}
<div class="au-c-body-container au-c-body-container--scroll">
  <PageHeader class="au-o-box">
    <:title>Bewerk betrokken lokale besturen</:title>
    <:subtitle>{{@model.administrativeUnit.name}}</:subtitle>
    <:action>
      <div>
        <AuButtonGroup class="au-c-button-group--align-right">
          <AuButton
            @loading={{this.save.isRunning}}
            @disabled={{this.save.isRunning}}
            form="local-involvements-edit-creation"
            type="submit"
          >
            Opslaan
          </AuButton>
          <AuLink
            @route="administrative-units.administrative-unit.local-involvements"
            @skin="button-secondary"
          >
            Annuleer
          </AuLink>
        </AuButtonGroup>
        <ReportWrongData />
      </div>
    </:action>
  </PageHeader>

  <form
    id="local-involvements-edit-creation"
    {{on "submit" (perform this.save)}}
  >
    <AuDataTable
      @content={{@model.involvements}}
      @noDataMessage="Geen betrokken lokale besturen"
      as |t|
    >
      <t.content as |c|>
        <c.header>
          <th
            id="administrative-unit"
            style="min-width: 18rem;"
            {{!TODO: replace this with some width utilities}}
            {{! template-lint-disable no-inline-styles }}
          >Naam</th>
          <th id="classification">Type instelling</th>
          <th id="involvement-type">Type betrokkenheid</th>
          <th id="financial-percentage">
            Financieel percentage
            <AuHelpText @skin="tertiary" class="au-u-margin-top-none">
              Het totaal van alle percentages moet gelijk zijn aan 100
            </AuHelpText>
          </th>
          {{! Make sure this column has a minimum width so the columns don't shift when the button is shown }}
          <th
            style="min-width: 18rem;"
            {{! template-lint-disable no-inline-styles }}
          ></th>
        </c.header>
        <c.body as |involvement|>
          <td>
            {{#let
              involvement.error.administrativeUnit.validation
              as |errorMessage|
            }}
              <AdministrativeUnitSelect
                @selected={{involvement.administrativeUnit}}
                @onChange={{fn (mut involvement.administrativeUnit)}}
                @allowClear={{involvement.isNew}}
                @ariaLabelledBy="administrative-unit"
                @error={{errorMessage}}
                @classificationCodes={{this.classificationCodes}}
                as |administrativeUnit|
              >
                {{administrativeUnit.name}}
                ({{administrativeUnit.classification.label}})
              </AdministrativeUnitSelect>
              {{#if errorMessage}}
                <AuHelpText @error={{true}}>{{errorMessage}}</AuHelpText>
              {{/if}}
            {{/let}}
          </td>
          <td>
            <AuInput
              @width="block"
              @value={{involvement.administrativeUnit.classification.label}}
              @disabled={{true}}
              aria-labelledby="classification"
            />
          </td>
          <td>
            {{#let
              involvement.error.involvementType.validation
              as |errorMessage|
            }}
              <div class={{if errorMessage "ember-power-select--error"}}>
                <PowerSelect
                  @noMatchesMessage="Geen resultaten"
                  @options={{@model.involvementTypes}}
                  @selected={{involvement.involvementType}}
                  @onChange={{fn
                    this.handleInvolvementTypeSelection
                    involvement
                  }}
                  @ariaLabelledBy="involvement-type"
                  @allowClear={{involvement.isNew}}
                  as |involvementType|
                >
                  {{involvementType.label}}
                </PowerSelect>
              </div>
              {{#if errorMessage}}
                <AuHelpText @error={{true}}>{{errorMessage}}</AuHelpText>
              {{/if}}
            {{/let}}
          </td>
          <td>
            {{#let
              (or
                involvement.error.percentage.validation
                (if
                  (and
                    (this.isFinancialInvolvementType involvement)
                    this.showTotalFinancingPercentageError
                  )
                  "Het totaal van alle percentages moet gelijk zijn aan 100"
                )
              )
              as |errorMessage|
            }}
              <AuInput
                @disabled={{not (this.isFinancialInvolvementType involvement)}}
                @error={{errorMessage}}
                aria-labelledby="financial-percentage"
                value={{involvement.percentage}}
                {{on "input" (fn this.handlePercentageChange involvement)}}
              />
              {{#if errorMessage}}
                <AuHelpText @error={{true}}>{{errorMessage}}</AuHelpText>
              {{/if}}
            {{/let}}
          </td>
          <td class="align-middle">
            {{#if
              (and
                involvement.isNew
                (not involvement.administrativeUnit.id)
                (not involvement.involvementType.id)
                (eq involvement.percentage 0)
              )
            }}
              <AuButton
                @alert={{true}}
                @icon="bin"
                @iconAlignment="left"
                @skin="link"
                {{on
                  "click"
                  (fn this.deleteUnsavedLocalInvolvement involvement)
                }}
              >Verwijder</AuButton>
            {{/if}}
          </td>
        </c.body>
      </t.content>
    </AuDataTable>
  </form>

  <div class="au-o-box au-o-box--small">
    <AuButton
      @skin="secondary"
      @width="block"
      @icon="add"
      @iconAlignment="left"
      {{on "click" this.addNewLocalInvolvement}}
    >
      Voeg nieuw betrokken lokaal bestuur toe
    </AuButton>
  </div>
</div>