{{page-title "Bewerk"}}
<div class="au-c-body-container au-c-body-container--scroll">
  <PageHeader class="au-o-box">
    <:title>Bewerk betrokken lokale besturen</:title>
    <:subtitle>{{@model.administrativeUnit.name}}</:subtitle>
    <:action>
      <AuButton
        @loading={{this.save.isRunning}}
        @disabled={{or this.isFinancingTotalNotValid this.save.isRunning}}
        form="local-involvements-edit-creation"
        type="submit"
      >
        Opslaan
      </AuButton>
      <AuLink
        @route="administrative-units.administrative-unit.local-involvements"
        @skin="button-secondary"
      >
        Annuleer
      </AuLink>
    </:action>
  </PageHeader>

  <form
    id="local-involvements-edit-creation"
    {{on "submit" (perform this.save)}}
  >
    <AuDataTable
      @content={{@model.involvements}}
      @noDataMessage="Geen betrokken lokale besturen"
      as |t|
    >
      <t.content as |c|>
        <c.header>
          <th>Naam</th>
          <th>Type instelling</th>
          <th>Type betrokkenheid</th>
          <th>Financieel percentage</th>
        </c.header>
        <c.body as |involvement|>
          <td>
            <AdministrativeUnitSelect
              @selected={{involvement.administrativeUnit}}
              @onChange={{fn (mut involvement.administrativeUnit)}}
            />
          </td>
          <td>
            <AuInput
              @width="block"
              @value={{involvement.administrativeUnit.classification.label}}
              @disabled={{true}}
            />
          </td>
          <td>
            <PowerSelect
              @noMatchesMessage="Geen resultaten"
              @options={{@model.involvementTypes}}
              @selected={{involvement.involvementType}}
              @onChange={{fn this.handleInvolvementTypeSelection involvement}}
              @triggerId="involvement-type-select"
              as |involvementType|
            >
              {{involvementType.label}}
            </PowerSelect>
          </td>
          <td>
            {{#let (unique-id) as |id|}}
              <label class="au-u-hidden-visually" for={{id}}>
                Financieel percentage
              </label>
              <AuInput
                @value={{involvement.percentage}}
                id={{id}}
                @disabled={{not-eq involvement.involvementType.id this.INVOLVEMENT_TYPE.FINANCIAL}}
              />
            {{/let}}
          </td>
        </c.body>
      </t.content>
    </AuDataTable>
  </form>

  <div class="au-o-box au-o-box--small">
    <AuButton
      @skin="secondary"
      @width="block"
      @icon="add"
      @iconAlignment="left"
      {{on "click" this.addNewLocalInvolvement}}
    >
      Voeg nieuw betrokken lokaal bestuur toe
    </AuButton>
  </div>
</div>