{{page-title "Bewerk"}}
<div class="au-c-body-container au-c-body-container--scroll">
  <PageHeader class="au-o-box">
    <:title>Bewerk betrokken lokale besturen</:title>
    <:subtitle>{{@model.administrativeUnit.name}}</:subtitle>
    <:action>
      <AuButton
        @loading={{this.save.isRunning}}
        @disabled={{or this.isFinancingTotalNotValid this.save.isRunning}}
        form="local-involvements-edit-creation"
        type="submit"
      >
        Opslaan
      </AuButton>
      <AuLink
        @route="administrative-units.administrative-unit.local-involvements"
        @skin="button-secondary"
      >
        Annuleer
      </AuLink>
    </:action>
  </PageHeader>

  <form
    id="local-involvements-edit-creation"
    {{on "submit" (perform this.save)}}
  >
    <AuDataTable
      @content={{@model.involvements}}
      @noDataMessage="Geen betrokken lokale besturen"
      as |t|
    >
      <t.content as |c|>
        <c.header>
          <th
            id="administrative-unit"
            style="min-width: 18rem;"
            {{!TODO: replace this with some width utilities}}
            {{! template-lint-disable no-inline-styles }}
          >Naam</th>
          <th id="classification">Type instelling</th>
          <th id="involvement-type">Type betrokkenheid</th>
          <th id="financial-percentage">Financieel percentage</th>
          {{! Make sure this column has a minimum width so the columns don't shift when the button is shown }}
          <th
            style="min-width: 18rem;"
            {{! template-lint-disable no-inline-styles }}
          ></th>
        </c.header>
        <c.body as |involvement|>
          <td>
            <AdministrativeUnitSelect
              @selected={{involvement.administrativeUnit}}
              @onChange={{fn (mut involvement.administrativeUnit)}}
              @allowClear={{involvement.isNew}}
              @ariaLabelledBy="administrative-unit"
            />
          </td>
          <td>
            <AuInput
              @width="block"
              @value={{involvement.administrativeUnit.classification.label}}
              @disabled={{true}}
              aria-labelledby="classification"
            />
          </td>
          <td>
            <PowerSelect
              @noMatchesMessage="Geen resultaten"
              @options={{@model.involvementTypes}}
              @selected={{involvement.involvementType}}
              @onChange={{fn this.handleInvolvementTypeSelection involvement}}
              @ariaLabelledBy="involvement-type"
              @allowClear={{involvement.isNew}}
              as |involvementType|
            >
              {{involvementType.label}}
            </PowerSelect>
          </td>
          <td>
            <AuInput
              @value={{involvement.percentage}}
              @disabled={{not-eq
                involvement.involvementType.id
                this.INVOLVEMENT_TYPE.FINANCIAL
              }}
              aria-labelledby="financial-percentage"
            />
          </td>
          <td class="align-middle">
            {{#if
              (and
                involvement.isNew
                (not involvement.administrativeUnit.id)
                (not involvement.involvementType.id)
                (eq involvement.percentage 0)
              )
            }}
              <AuButton
                @alert={{true}}
                @icon="bin"
                @iconAlignment="left"
                @skin="link"
                {{on
                  "click"
                  (fn this.deleteUnsavedLocalInvolvement involvement)
                }}
              >Verwijder</AuButton>
            {{/if}}
          </td>
        </c.body>
      </t.content>
    </AuDataTable>
  </form>

  <div class="au-o-box au-o-box--small">
    <AuButton
      @skin="secondary"
      @width="block"
      @icon="add"
      @iconAlignment="left"
      {{on "click" this.addNewLocalInvolvement}}
    >
      Voeg nieuw betrokken lokaal bestuur toe
    </AuButton>
  </div>
</div>