<PageHeader class="au-o-box">
  <:title>Betrokken lokale besturen</:title>
  <:subtitle>{{@model.administrativeUnit.name}}</:subtitle>
  <:action>
    <SecuredArea>
      <:edit>
        <AuLink
          @route="administrative-units.administrative-unit.local-involvements.edit"
          @skin="button-secondary"
          @icon="pencil"
          @iconAlignment="left"
        >
          Bewerk
        </AuLink>
      </:edit>
      <:readOnly>
        <ReportWrongData />
      </:readOnly>
    </SecuredArea>
  </:action>
</PageHeader>

<AuDataTable
  @content={{@model.involvements}}
  @noDataMessage="Geen betrokken lokale besturen"
  @sort={{this.sort}}
  @page={{this.page}}
  @size={{this.size}}
  as |t|
>
  <t.content as |c|>
    <c.header>
      <AuDataTableThSortable
        @field="administrative-unit.name"
        @currentSorting={{this.sort}}
        @label="Naam"
      />
      <AuDataTableThSortable
        @field="administrative-unit.classification.label"
        @currentSorting={{this.sort}}
        @label="Type instelling"
      />
      <AuDataTableThSortable
        @field="involvement-type.label"
        @currentSorting={{this.sort}}
        @label="Type betrokkenheid"
      />
      <AuDataTableThSortable
        @field="percentage"
        @currentSorting={{this.sort}}
        @label="Financieel percentage"
      />
    </c.header>
    <c.body as |involvement|>
      <td>{{involvement.administrativeUnit.name}}</td>
      <td>{{involvement.administrativeUnit.classification.label}}</td>
      <td>{{involvement.involvementType.label}}</td>
      <td>{{involvement.percentage}}%</td>
    </c.body>
  </t.content>
</AuDataTable>