<PageHeader class="au-o-box">
  <:title>Betrokken lokale besturen</:title>
  <:subtitle>{{@model.administrativeUnit.name}}</:subtitle>
</PageHeader>

<AuDataTable @content={{@model.involvements}} @noDataMessage="Geen betrokken lokale besturen" as |t|>
  <t.content as |c|>
    <c.header>
      <th class="au-c-data-table__header-title">Naam</th>
      <th class="au-c-data-table__header-title">Type instelling</th>
      <th class="au-c-data-table__header-title">Type betrokkenheid</th>
      <th class="au-c-data-table__header-title">Financieel percentage</th>
      <th></th>
    </c.header>
    <c.body as |involvement|>
      <td>{{involvement.administrativeUnit.name}}</td>
      <td>{{involvement.administrativeUnit.classification.label}}</td>
      <td>{{involvement.involvementType.label}}</td>
      <td>{{involvement.percentage}}%</td>
      <td>
        <AuLink @route="administrative-units.administrative-unit.local-involvements">Bewerk</AuLink>
      </td>
    </c.body>
  </t.content>
</AuDataTable>