{{#if this.positionsWithSameOldAddress}}
  <PropagateContactDetailsUpdate
    @positions={{this.positionsWithSameOldAddress}}
    @person={{@model.person}}
    @newContactDetails={{this.computedContactDetails}}
    @onCancel={{this.handleTransitionTo}}
    @onSave={{this.handleTransitionTo}}
    @contact={{@model.contact}}
  />
{{else}}
  {{page-title "Bewerk"}}

  <div class="au-c-body-container au-c-body-container--scroll">
    <div class="au-o-box au-o-flow au-o-flow--large">
      <PageHeader>
        <:title>
          Positie:
          {{@model.minister.ministerPosition.function.label}}
          <br />
          {{@model.minister.ministerPosition.worshipService.name}}
        </:title>
        <:subtitle>
          {{@model.person.givenName}}
          {{@model.person.familyName}}
        </:subtitle>
        <:action>
          <div>
            {{! TODO: add "Voorwaarde" section once file uploads are supported }}
            <AuButtonGroup class="au-c-button-group--align-right">
              <AuButton
                @loading={{this.save.isRunning}}
                @disabled={{this.save.isRunning}}
                type="submit"
                form="minister-position-edit-form"
              >
                Opslaan
              </AuButton>
              <AuButton @skin="secondary" {{on "click" this.cancel}}>
                Annuleer
              </AuButton>
            </AuButtonGroup>
            <ReportWrongData />
          </div>
        </:action>
      </PageHeader>

      <form
        id="minister-position-edit-form"
        aria-label="minister-position-edit-form"
        {{on "submit" (perform this.save)}}
        class="au-o-flow au-o-flow--large"
      >
        <DataCard>
          <:title>Positie</:title>
          <:card as |Card|>
            <Card.Columns>
              <:left as |Item|>
                <Item>
                  <:label>Rol</:label>
                  <:content>
                    {{@model.minister.ministerPosition.function.label}}
                  </:content>
                </Item>
                <Item>
                  <:label>Type</:label>
                  <:content>Bedienaar</:content>
                </Item>
              </:left>
              <:right as |Item|>
                <Item>
                  <:label>Naam eredienst</:label>
                  <:content>
                    {{@model.minister.ministerPosition.worshipService.name}}
                  </:content>
                </Item>
              </:right>
            </Card.Columns>
          </:card>
        </DataCard>

        <ContactDetails
          @title="Contactgegevens"
          @contact={{@model.contact}}
          @onUpdate={{this.updateContact}}
          @positions={{@model.allContacts}}
        />

        <EditCard @containsRequiredFields={{true}}>
          <:title>Aanstelling</:title>
          <:card as |Card|>
            <Card.Columns>
              <:left as |Item|>
                <Item
                  @labelFor="start-date"
                  @required={{true}}
                  @errorMessage={{@model.minister.error.agentStartDate.validation}}
                >
                  <:label>Startdatum</:label>
                  <:content as |errorMessage|>
                    <Datepicker
                      @id="start-date"
                      @onChange={{fn (mut @model.minister.agentStartDate)}}
                      @value={{@model.minister.agentStartDate}}
                      @error={{errorMessage}}
                    />
                  </:content>
                </Item>
              </:left>
              <:right as |Item|>
                <Item
                  @labelFor="end-date"
                  @required={{not @model.minister.isCurrentPosition}}
                  @errorMessage={{@model.minister.error.agentEndDate.validation}}
                >
                  <:label>Einddatum</:label>
                  <:content as |errorMessage|>
                    <Datepicker
                      @id="end-date"
                      @onChange={{this.handleEndDateChange}}
                      @value={{@model.minister.agentEndDate}}
                      @error={{errorMessage}}
                    />
                  </:content>
                </Item>
                <Item @labelFor="end-date">
                  <:content>
                    <AuControlCheckbox
                      @checked={{@model.minister.isCurrentPosition}}
                      @label="Huidige positie"
                      @identifier="current-position"
                      @onChange={{this.handleIsCurrentPositionChange}}
                    />
                  </:content>
                </Item>
              </:right>
            </Card.Columns>
          </:card>
        </EditCard>

      <EditCard>
        <:title>Financiering</:title>
        <:card as |Card|>
          <Card.Columns>
            <:left as |Item|>
              <Item @alignTop={{true}}>
                <:label>FOD Justitie</:label>
                <:content>
                  <ul class="au-c-list-inline">
                    <li class="au-c-list-inline__item">
                      <AuControlRadio
                        @label="Ja"
                        @name="financing"
                        @value={{this.willReceiveFinancing}}
                        checked={{this.willReceiveFinancing}}
                        @onChange={{fn (mut this.willReceiveFinancing) true}}
                        @identifier="receives-financing"
                      />
                    </li>
                    <li class="au-c-list-inline__item">
                      <AuControlRadio
                        @label="Nee"
                        @name="financing"
                        @value={{this.willReceiveFinancing}}
                        checked={{not this.willReceiveFinancing}}
                        @onChange={{fn (mut this.willReceiveFinancing) false}}
                        @identifier="receives-no-financing"
                      />
                    </li>
                  </ul>
                </:content>
              </Item>
            </:left>
          </Card.Columns>
        </:card>
      </EditCard>

      </form>
    </div>
  </div>

{{/if}}
