<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-o-flow au-o-flow--large">
    <PageHeader>
      <:title>
        Positie:
        {{@model.minister.ministerPosition.function.label}}
        <br />
        {{@model.minister.ministerPosition.worshipService.name}}
      </:title>
      <:subtitle>
        {{@model.person.givenName}}
        {{@model.person.familyName}}
      </:subtitle>
      <:action>
        <SecuredArea>
          <:edit>
            <AuLink
              @route="people.person.positions.minister.edit"
              @skin="button-secondary"
              @icon="pencil"
              @iconAlignment="left"
            >
              Bewerk
            </AuLink>
          </:edit>
          <:readOnly>
            <ReportWrongData />
          </:readOnly>
        </SecuredArea>
      </:action>
    </PageHeader>

    <DataCard>
      <:title>Positie</:title>
      <:card as |Card|>
        <Card.Columns>
          <:left as |Item|>
            <Item>
              <:label>Type</:label>
              <:content>Bedienaar</:content>
            </Item>
            <Item>
              <:label>Rol</:label>
              <:content
              >{{@model.minister.ministerPosition.function.label}}</:content>
            </Item>
          </:left>
          <:right as |Item|>
            <Item>
              <:label>Naam eredienst</:label>
              <:content>
                {{#let
                  @model.minister.ministerPosition.worshipService
                  as |administrativeUnit|
                }}
                  <AuLink
                    @route="administrative-units.administrative-unit"
                    @model={{administrativeUnit.id}}
                  >
                    {{administrativeUnit.name}}
                  </AuLink>
                {{/let}}
              </:content>
            </Item>
          </:right>
        </Card.Columns>
      </:card>
    </DataCard>

    <Position::ContactDataCard
      @address={{@model.address}}
      @primaryContact={{@model.contact}}
      @secondaryContact={{@model.secondaryContact}}
    />

    {{#if (or @model.minister.agentStartDate @model.minister.agentEndDate)}}
      <DataCard>
        <:title>Aanstelling</:title>
        <:card as |Card|>
          <Card.Columns>
            <:left as |Item|>
              <Item>
                <:label>Startdatum</:label>
                <:content>{{date-format @model.minister.startDate}}</:content>
              </Item>
            </:left>
            <:right as |Item|>
              {{#if @model.minister.agentEndDate}}
                <Item>
                  <:label>Einddatum</:label>
                  <:content>{{date-format @model.minister.endDate}}</:content>
                </Item>
              {{/if}}
            </:right>
          </Card.Columns>
        </:card>
      </DataCard>
    {{/if}}

    {{#if @model.minister.financing}}
      <DataCard>
        <:title>Financiering</:title>
        <:card as |Card|>
          <Card.Columns>
            <:left as |Item|>
              <Item>
                <:label>FOD Justitie</:label>
                <:content>{{receives-financing
                    @model.minister.financing.id
                  }}</:content>
              </Item>
            </:left>
          </Card.Columns>
        </:card>
      </DataCard>
    {{/if}}
  </div>
</div>