<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-o-flow au-o-flow--large">
    <div class="au-o-flow au-o-flow--tiny">
      <AuToolbar>
        <AuToolbarGroup>
          <AuHeading>
            Positie:
            {{@model.minister.ministerPosition.function.label}},
            <br />
            {{@model.minister.ministerPosition.worshipService.name}}
          </AuHeading>
        </AuToolbarGroup>
        <AuToolbarGroup>
          {{! TODO: Replace this with the "edit" route once it is created }}
          <AuLink @route="people.person.positions.minister" @skin="button-secondary" @icon="pencil"
            @iconAlignment="left">
            Bewerk
          </AuLink>
        </AuToolbarGroup>
      </AuToolbar>
      <AuHeading @level="2" @skin="3" class="au-u-margin-top-tiny">
        {{@model.person.givenName}}
        {{@model.person.familyName}}
      </AuHeading>
    </div>

    <DataCard>
      <:title>Positie</:title>
      <:card as |Card|>
        <Card.Grid as |Item|>
          <Item>
            {{! TODO: Make it variable to also have Bedienaar}}
            <:label>Type</:label>
            <:content>Bedienaar</:content>
          </Item>
          <Item>
            <:label>Naam eredienst</:label>
            <:content>
              {{#let
              @model.minister.ministerPosition.worshipService
              as |administrativeUnit|
              }}
              <AuLink @route="administrative-units.administrative-unit" @model={{administrativeUnit.id}}>
                {{administrativeUnit.name}}
              </AuLink>
              {{/let}}
            </:content>
          </Item>
          <Item>
            <:label>Bestuursfunctie</:label>
            <:content>{{@model.minister.ministerPosition.function.label}}</:content>
          </Item>
        </Card.Grid>
      </:card>
    </DataCard>

    {{#if @model.minister.contacts}}
    <DataCard>
      <:title>Primaire contactgegevens</:title>
      <:card as |Card|>
        <Card.Grid as |Item|>
          {{#if @model.minister.contacts.firstObject.email}}
          <Item>
            <:label>Email</:label>
            <:content>
              {{@model.minister.contacts.firstObject.email}}
            </:content>
          </Item>
          {{/if}}
          {{#if @model.minister.contacts.firstObject.telephone}}
          {{! TODO: Identify if it is a landline or mobile number }}
          <Item>
            <:label>Vaste telefoonnummer</:label>
            <:content>
              {{@model.minister.contacts.firstObject.telephone}}
            </:content>
          </Item>
          {{/if}}
          {{#if
          @model.minister.contacts.firstObject.contactAddress.fullAddress
          }}
          <Item>
            <:label>Adres</:label>
            <:content>
              {{@model.minister.contacts.firstObject.contactAddress.fullAddress}}
            </:content>
          </Item>
          {{/if}}
          {{#if (get (array-index @model.minister.contacts 1) 'telephone')}}
          <Item>
            <:label>GSM nummer</:label>
            <:content>
              {{get (array-index @model.minister.contacts 1) 'telephone'}}
            </:content>
          </Item>
          {{/if}}
        </Card.Grid>
      </:card>
    </DataCard>
    {{/if}}
    
    {{#if @model.minister.agentStartDate}}
    <DataCard>
      <:title>Aanstelling</:title>
      <:card as |Card|>
        <Card.Grid as |Item|>
          <Item>
            <:label>Startdatum</:label>
            <:content>{{date-format @model.minister.agentStartDate}}</:content>
          </Item>
        </Card.Grid>
      </:card>
    </DataCard>
    {{/if}}

    {{#if @model.minister.financing}}
    <DataCard>
      <:title>Financiering</:title>
      <:card as |Card|>
        <Card.Grid as |Item|>
          <Item>
            <:label>FOD Financiering?</:label>
            <:content>{{receives-financing @model.minister.financing.id}}</:content>
          </Item>
        </Card.Grid>
      </:card>
    </DataCard>
    {{/if}}
  </div>
</div>