<AuTable @size={{@model.count}}>
  <:title>History changes</:title>
  <:header>
    <tr>
      <th>User</th>
      <th>Date</th>
      <th>Detail</th>
    </tr>
  </:header>
  <:body>
    {{#each @model.content as |history|}}
      <tr>
        <td>{{history.userFirstname}} {{history.userFamilyName}}</td>
        <td>{{history.dateCreation}}</td>
        <td>
          <AuLink
            @route="history.detail"
            @model={{history.id}}
          >
            Show detail
          </AuLink>

        </td>
      </tr>
    {{/each}}
  </:body>

</AuTable>