<PageHeader class="au-o-box">
  <:title>Vestigingen</:title>
  <:subtitle>{{@model.administrativeUnit.name}}</:subtitle>
  <:alert>
    <AuAlert @alertIcon="info-circle" @alertskin="info" @alertsize="small" class="au-u-margin-bottom-none">
      <p>Momenteel kan u nog geen nieuwe vestiging toevoegen.</p>
    </AuAlert>
  </:alert>
  {{!-- <:action>
    {{! TODO: Replace this with a link once the "new" route is created }}
    <AuButton @icon="add" @iconAlignment="left">
      Nieuw
    </AuButton>
  </:action> --}}
</PageHeader>

<AuDataTable @content={{this.sites}} @noDataMessage="Geen vestigingen" as |t|>
  <t.content as |c|>
    <c.header>
      <th class="au-c-data-table__header-title">Locatie</th>
      <th class="au-c-data-table__header-title">Type vestiging</th>
      <th class="au-c-data-table__header-title">Primair correspondentieadres </th>
      <th></th>
    </c.header>
    <c.body as |site|>
      <td>
        <AuLink @model={{site.id}} @route="administrative-units.administrative-unit.sites.site">
          {{site.address.fullAddress}}
        </AuLink>
      </td>
      <td>{{site.siteType.label}}</td>
      <td>{{if (eq site.id this.model.primarySite.id) "Ja" "Neen"}}</td>
      <td>
        <AuLink @model={{site.id}} @route="administrative-units.administrative-unit.sites.site.edit">
          Bewerk
        </AuLink>
      </td>
    </c.body>
  </t.content>
</AuDataTable>