<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-o-flow au-o-flow--large">
    <PageHeader>
      <:title>Voeg vestiging toe</:title>
      <:action>
        <AuButtonGroup class="au-c-button-group--align-right">
          <AuButton
            @loading={{this.createSiteTask.isRunning}}
            @disabled={{this.createSiteTask.isRunning}}
            @icon="add"
            @iconAlignment="left"
            type="submit"
            form="new-vestiging-form"
          >
            Voeg toe
          </AuButton>

          <AuLink
            @route="administrative-units.administrative-unit.sites"
            @skin="button-secondary"
          >
            Annuleer
          </AuLink>
        </AuButtonGroup>
      </:action>
    </PageHeader>

    <form id="new-vestiging-form" {{on "submit" (perform this.createSiteTask)}}>
      <div class="au-o-flow au-o-flow--large">
        <EditCard>
          <:title>Kerngegevens</:title>
          <:card as |Card|>
            <Card.Columns>
              <:left as |Item|>
                <Item @labelFor="site-type">
                  <:label>Type vestiging</:label>
                  <:content>
                    <SiteTypeSelect
                      @selected={{@model.site.siteType}}
                      @onChange={{fn (mut @model.site.siteType)}}
                      @isWorshipAdministrativeUnit={{this.isWorshipAdministrativeUnit}}
                      @id="site-type"
                    />
                  </:content>
                </Item>
              </:left>
              <:right as |Item|>
                <Item>
                  <:label>Primair correspondentieadres</:label>
                  <:content>
                    <ul class="au-c-list-inline">
                      <li class="au-c-list-inline__item">
                        <AuControlRadio
                          @label="Ja"
                          @name="is-primary-site"
                          @value={{this.isPrimarySite}}
                          @identifier="site-true"
                          @onChange={{fn (mut this.isPrimarySite) true}}
                          checked={{this.isPrimarySite}}
                        />
                      </li>
                      <li class="au-c-list-inline__item">
                        <AuControlRadio
                          @label="Nee"
                          @name="is-primary-site"
                          @value={{this.isPrimarySite}}
                          @identifier="site-false"
                          @onChange={{fn (mut this.isPrimarySite) false}}
                          checked={{not this.isPrimarySite}}
                        />
                      </li>
                    </ul>
                  </:content>
                </Item>
              </:right>
            </Card.Columns>
          </:card>
        </EditCard>

        <Site::ContactEditCard
          @address={{@model.address}}
          @primaryContact={{@model.contact}}
          @secondaryContact={{@model.secondaryContact}}
        >
          <:title>Contactgegevens</:title>
        </Site::ContactEditCard>
      </div>
    </form>
  </div>
</div>