{{page-title "Kerngegevens"}}

<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-o-flow au-o-flow--large">
    <PageHeader>
      <:title>Kerngegevens</:title>
      <:subtitle>{{@model.representativeBody.name}}</:subtitle>
    </PageHeader>

    <DataCard>
      <:title>Organisatie</:title>
      <:card as |Card|>
        <Card.Columns>
          <:left as |Item|>
            <Item>
              <:label>Naam</:label>
              <:content>{{@model.representativeBody.name}}</:content>
            </Item>
            <Item>
              <:label>Soort eredienst</:label>
              <:content
              >{{@model.representativeBody.recognizedWorshipType.label}}</:content>
            </Item>
          </:left>
          <:right as |Item|>
            <Item>
              <:label>Status</:label>
              <:content>
                <OrganizationStatus
                  @id={{@model.representativeBody.organizationStatus.id}}
                @label={{@model.representativeBody.organizationStatus.label}}
                />
              </:content>
            </Item>
            {{! TODO: Take the last date from the change events }}
            {{#if @model.representativeBody.resultedFrom}}
              <Item>
                <:content>
                  <AuHelpText @skin="tertiary">Gewijzigd op
                    {{date-format
                      @model.representativeBody.resultedFrom.firstObject.date
                    }}</AuHelpText>
                </:content>
              </Item>
            {{/if}}
            {{#each @model.representativeBody.identifiers as |identifier|}}
              <Item>
                <:label>{{identifier.idName}}</:label>
                <:content>
                  {{#if (this.isKboIdentifier identifier)}}
                    {{kbo-format identifier.structuredIdentifier.localId}}
                  {{else}}
                    {{identifier.structuredIdentifier.localId}}
                  {{/if}}
                </:content>
              </Item>
            {{/each}}
          </:right>
        </Card.Columns>
      </:card>
    </DataCard>

    <DataCard>
      <:title>
        Primaire contactgegevens
      </:title>
      <:card as |Card|>
        <Card.Columns>
          <:left as |Item|>
            <Item>
              <:label>Adres</:label>
              <:content>
                {{@model.representativeBody.primarySite.address.fullAddress}}
              </:content>
            </Item>
            {{#if
              @model.representativeBody.primarySite.contacts.firstObject.telephone
            }}
              <Item>
                <:label>Telefoonnummer</:label>
                <:content>
                  {{@model.representativeBody.primarySite.contacts.firstObject.telephone}}
                </:content>
              </Item>
            {{/if}}
          </:left>
          <:right as |Item|>
            <Item>
              <:label>Provincie</:label>
              <:content>
                {{@model.representativeBody.primarySite.address.province}}
              </:content>
            </Item>
            {{#if
              @model.representativeBody.primarySite.contacts.firstObject.website
            }}
              <Item>
                <:label>Website</:label>
                <:content>
                  <a
                    href={{@model.representativeBody.primarySite.contacts.firstObject.website}}
                    class="au-c-link"
                    target="_blank"
                    rel="noopener noreferrer"
                  >{{@model.representativeBody.primarySite.contacts.firstObject.website}} (externe link)</a>
                </:content>
              </Item>
            {{/if}}
          </:right>
        </Card.Columns>
      </:card>
    </DataCard>
  </div>
</div>
