{{page-title "Leidinggevenden"}}

{{breadcrumb
  "Leidinggevenden"
  route="organizations.organization.executives"
  model=(params-for "organizations.organization" param="id")
}}

<PageHeader class="au-o-box">
  <:title>Leidinggevenden</:title>
  <:subtitle>{{@model.organization.abbName}}
    ({{@model.organization.classification.label}})</:subtitle>
</PageHeader>

<AuDataTable
  @content={{@model.functionaries}}
  @noDataMessage="Geen functionarissen"
  @page={{this.page}}
  @size={{this.size}}
  as |t|
>
  <t.content as |c|>
    <c.header>
      <AuDataTableThSortable
        @field="governing-alias.given-name"
        @currentSorting={{this.sort}}
        @label="Voornaam"
      />
      <AuDataTableThSortable
        @field="governing-alias.family-name"
        @currentSorting={{this.sort}}
        @label="Achternaam"
      />
      <AuDataTableThSortable
        @field="board-position.role-board.label"
        @currentSorting={{this.sort}}
        @label="Rol"
      />
      <AuDataTableThSortable
        @field="status.label"
        @currentSorting={{this.sort}}
        @label="Status"
      />
      <AuDataTableThSortable
        @field="start-date"
        @currentSorting={{this.sort}}
        @label="Start periode"
      />
      <AuDataTableThSortable
        @field="end-date"
        @currentSorting={{this.sort}}
        @label="Einde periode"
      />
    </c.header>
    <c.body as |functionary|>
      <td>
        <AuLink @route="people.person" @model={{functionary.governingAlias.id}}>
          {{functionary.governingAlias.givenName}}
        </AuLink>
      </td>
      <td>
        <AuLink @route="people.person" @model={{functionary.governingAlias.id}}>
          {{functionary.governingAlias.familyName}}
        </AuLink>
      </td>
      <td>
        <AuLink
          @route="people.person.positions.functionary"
          @models={{array functionary.governingAlias.id functionary.id}}
        >
          {{functionary.boardPosition.roleBoard.label}}
        </AuLink>
      </td>
      <td>
        {{functionary.status.label}}
      </td>
      <td>
        {{date-format functionary.startDate}}
      </td>
      <td>
        {{date-format functionary.endDate}}
      </td>
    </c.body>
  </t.content>
</AuDataTable>
