{{page-title "Gerelateerde organisaties"}}

{{breadcrumb
  "Gerelateerde organisaties"
  route="organizations.organization.related-organizations"
  model=(params-for "organizations.organization" param="id")
}}

<div class="au-c-body-container au-c-body-container--scroll">
  <PageHeader class="au-o-box">
    <:title>Gerelateerde organisaties</:title>
    <:subtitle>{{@model.organization.name}}</:subtitle>
  </PageHeader>

  <AuDataTable id="relatedOrganizations"
    @content={{this.relatedOrganizations}}
    @isLoading={{this.isLoading}}
    @sort={{this.sort}}
    @page={{this.page}}
    @size={{this.size}}
    @noDataMessage="Geen bestuur" as |t|>
    <t.menu as |menu|>
      <menu.general>
        <div class="au-o-box">
          <AuToggleSwitch
            @label="Verberg niet actieve organisaties"
            @checked={{this.organizationStatus}}
          />
        </div>
      </menu.general>
    </t.menu>
    <t.content as |c|>
      <c.header>
        <AuDataTableThSortable @field="classification.label" @currentSorting={{this.sort}} @label="Type organisatie" />
        <AuDataTableThSortable @field="name" @currentSorting={{this.sort}} @label="Organisatie" />
        <AuDataTableThSortable @field="organizationStatus.label" @currentSorting={{this.sort}} @label="Status" />
      </c.header>
      <c.body as |organization|>
        <td>
          {{organization.classification.label}}
        </td>
        <td>
          <AuLink @route="administrative-units.administrative-unit" @model={{organization.id}}>
            {{organization.name}}
          </AuLink>
        </td>
        <td>
          <OrganizationStatus @id={{organization.organizationStatus.id}}
            @label={{organization.organizationStatus.label}} />
        </td>
      </c.body>
    </t.content>
  </AuDataTable>
</div>
