<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <PageHeader class="au-u-margin-bottom-large">
      <:title>Bewerk kerngegevens</:title>
      <:subtitle>{{@model.organization.abbName}}
        ({{@model.organization.classification.label}})</:subtitle>
      <:action>
        <div class="au-u-text-right">
          <AuButtonGroup class="au-c-button-group--align-right">
            <AuLink
              @route="organizations.organization.core-data"
              @skin="button-secondary"
            >
              Annuleer
            </AuLink>
            <AuButton
              @loading={{this.save.isRunning}}
              @disabled={{this.save.isRunning}}
              form="edit-core-info-form"
              type="submit"
            >
              Opslaan
            </AuButton>
          </AuButtonGroup>
          <Error::Save @showSaveError={{this.hasValidationErrors}} />
          <ReportWrongData />
        </div>
      </:action>
    </PageHeader>

    <form
      id="edit-core-info-form"
      aria-label="edit-core-info-form"
      {{on "submit" (perform this.save)}}
    >
      <div class="au-o-flow au-o-flow--large">
        <EditCard @containsRequiredFields={{true}}>
          <:title>Organisatie</:title>
          <:card as |Card|>
            <Card.Columns>
              <:left as |Item|>
                <Item @labelFor="organization-abb-name" @required={{true}}>
                  <:label>Naam</:label>
                  <:content as |hasError|>
                    <TrimInput
                      @width="block"
                      @disabled={{true}}
                      @value={{@model.organization.abbName}}
                      @onUpdate={{fn (mut @model.organization.name)}}
                      @error={{hasError}}
                      id="organization-abb-name"
                    />
                  </:content>
                  <:helpText>
                    {{help-text "abbName"}}
                  </:helpText>
                </Item>
                <Item
                  @labelFor="organization-legal-name"
                  @required={{true}}
                  @errorMessage={{@model.organization.error.legalName.message}}
                >
                  <:label>Juridische naam</:label>
                  <:content as |hasError|>
                    <TrimInput
                      @width="block"
                      @disabled={{or @model.organization.isMunicipality @model.organization.isProvince}}
                      @value={{@model.organization.legalName}}
                      @onUpdate={{this.setNames}}
                      @error={{hasError}}
                      id="organization-legal-name"
                    />
                  </:content>
                  <:helpText>
                    {{help-text "legalName"}}
                  </:helpText>
                </Item>
                <Item
                  @labelFor="organization-alternative-names"
                  @required={{false}}
                >
                  <:label>Alternatieve naam</:label>
                  <:content as |hasError|>
                    <TrimInput
                      @width="block"
                      @disabled={{false}}
                      @value={{@model.organization.alternativeName}}
                      @onUpdate={{this.setAlternativeNames}}
                      @error={{hasError}}
                      id="organization-alternative-names"
                    />
                  </:content>
                  <:helpText>
                    {{help-text "alternativeNames"}}
                  </:helpText>
                </Item>
                <Item @labelFor="classification">
                  <:label>Type bestuur</:label>
                  <:content>
                    <PowerSelect
                      @disabled={{true}}
                      @selected={{@model.organization.classification}}
                      @onChange={{fn (mut @model.organization.classification)}}
                      @triggerId="classification"
                      as |classification|
                    >
                      {{classification.label}}
                    </PowerSelect>
                  </:content>
                </Item>
                {{#if @model.organization.isWorshipAdministrativeUnit}}
                  <Item
                    @labelFor="recognized-worship-type-select"
                    @required={{true}}
                    @errorMessage={{@model.organization.error.recognizedWorshipType.message}}
                  >
                    <:label>Soort eredienst</:label>
                    <:content as |hasError|>
                      <RecognizedWorshipTypeSelect
                        @selected={{@model.organization.recognizedWorshipType}}
                        @onChange={{fn
                          (mut @model.organization.recognizedWorshipType)
                        }}
                        @allowClear={{false}}
                        @error={{hasError}}
                        @id="recognized-worship-type-select"
                      />
                    </:content>
                  </Item>
                {{/if}}
                {{#if @model.organization.isWorshipService}}
                  <Item @labelFor="denomination">
                    <:label>Strekking</:label>
                    <:content>
                      <TrimInput
                        @width="block"
                        @value={{@model.organization.denomination}}
                        @onUpdate={{fn (mut @model.organization.denomination)}}
                        id="denomination"
                      />
                    </:content>
                  </Item>
                  <Item>
                    <:label>Grensoverschrijvend</:label>
                    <:content>
                      <AuRadioGroup
                        @alignment="inline"
                        @name="is-cross-border"
                        @selected={{boolean @model.organization.crossBorder}}
                        @onChange={{fn (mut @model.organization.crossBorder)}}
                        as |Group|
                      >
                        <Group.Radio @value={{true}}>Ja</Group.Radio>
                        <Group.Radio @value={{false}}>Nee</Group.Radio>
                      </AuRadioGroup>
                    </:content>
                  </Item>
                {{/if}}
                {{#if @model.organization.isMunicipality}}
                  <Item @labelFor="regio">
                    <:label>Regio</:label>
                    <:content>
                      {{@model.organization.scope.locatedWithin.label}}
                    </:content>
                  </Item>
                {{/if}}
                {{#if
                  (or
                    @model.organization.isIgs
                    @model.organization.isOcmwAssociation
                    @model.organization.isPevaProvince
                    @model.organization.isPevaMunicipality
                  )
                }}
                  <Item @labelFor="igs-regio">
                    <:label>Regio</:label>
                    <:content>
                      <TrimInput
                        @width="block"
                        @value={{@model.region.label}}
                        @disabled="true"
                        id="igs-regio"
                      />
                    </:content>
                  </Item>
                {{/if}}
                {{#if @model.organization.isIgs}}
                  <Item
                    @labelFor="expectedEndDate"
                    @errorMessage={{@model.organization.error.expectedEndDate.message}}
                  >
                    <:label>Geplande einddatum</:label>
                    <:content as |hasError|>
                      <Datepicker
                        @onChange={{fn
                          (mut @model.organization.expectedEndDate)
                        }}
                        @value={{@model.organization.expectedEndDate}}
                        @error={{hasError}}
                      />
                    </:content>
                  </Item>
                  <Item @labelFor="purpose">
                    <:label>Doel</:label>
                    <:content>
                      <RichTextEditor
                        @onChange={{fn (mut @model.organization.purpose)}}
                        @value={{@model.organization.purpose}}
                      />
                    </:content>
                  </Item>
                {{/if}}
              </:left>
              <:right as |Item|>
                <Item @labelFor="status-select">
                  <:label>Status</:label>
                  <:content>
                    <PowerSelect
                      @noMatchesMessage="Geen resultaten"
                      @options={{@model.statuses}}
                      @selected={{@model.organization.organizationStatus}}
                      @onChange={{fn
                        (mut @model.organization.organizationStatus)
                      }}
                      @disabled={{true}}
                      @triggerId="status-select"
                      as |status|
                    >
                      {{status.label}}
                    </PowerSelect>
                  </:content>
                </Item>
                <Item
                  @labelFor="kbo-identifier"
                  @errorMessage={{@model.identifierKBO.error.structuredIdentifier}}
                  @required={{true}}
                >
                  <:label>{{@model.identifierKBO.idName}}</:label>
                  <:content as |hasError|>
                    <AuInput
                      @width="block"
                      @error={{hasError}}
                      autocomplete="off"
                      value={{@model.structuredIdentifierKBO.localId}}
                      id="kbo-identifier"
                      class="au-c-input--mask"
                      placeholder="____.___.___"
                      {{au-inputmask
                        options=(hash mask="####.###.###" placeholder="_")
                      }}
                      {{on "input" this.setKbo}}
                    />
                  </:content>
                  <:error as |error|>
                    <Error::KboNumber @error={{error}} />
                  </:error>
                </Item>
                <Item
                  @labelFor="sharepoint-identifier"
                  @errorMessage={{@model.identifierSharepoint.error.structuredIdentifier.message}}
                >
                  <:label>{{@model.identifierSharepoint.idName}}</:label>
                  <:content as |hasError|>
                    <TrimInput
                      @width="block"
                      @value={{@model.structuredIdentifierSharepoint.localId}}
                      @onUpdate={{fn
                        (mut @model.structuredIdentifierSharepoint.localId)
                      }}
                      @error={{hasError}}
                      id="sharepoint-identifier"
                    />
                  </:content>
                </Item>
                {{#if
                  (or
                    @model.organization.isMunicipality
                    @model.organization.isProvince
                  )
                }}
                  <Item @labelFor="nis-identifier">
                    <:label>{{@model.identifierNIS.idName}}</:label>
                    <:content>
                      {{@model.organization.scope.exactMatch.notation}}
                    </:content>
                  </Item>
                {{/if}}
                {{#if @model.structuredIdentifierOVO.localId}}
                  <Item @labelFor="ovo-identifier">
                    <:label>{{@model.identifierOVO.idName}}</:label>
                    <:content>
                      {{@model.structuredIdentifierOVO.localId}}
                    </:content>
                  </Item>
                {{/if}}
              </:right>
            </Card.Columns>
          </:card>
        </EditCard>
        {{#if (editable-contact-data @model.organization)}}
          <Site::ContactEditCard
            @address={{@model.address}}
            @isAddressSearchEnabledInitially={{if
              (or (not @model.address.id) @model.address.addressRegisterUri)
              true
              false
            }}
            @primaryContact={{@model.contact}}
            @secondaryContact={{@model.secondaryContact}}
          >
            <:title>Primaire contactgegevens</:title>
          </Site::ContactEditCard>
        {{else}}
          <Site::ContactDataCard
            @address={{@model.organization.primarySite.address}}
            @primaryContact={{@model.primaryContact}}
            @secondaryContact={{@model.secondaryContact}}
          >
            <:title>
              Primaire contactgegevens
            </:title>
            <:infotext>
              De primaire contactgegevens kunnen niet langer in het OP aangepast
              worden. De organisaties kunnen deze gegevens zelf aanpassen via de
              Contactapp.
            </:infotext>
          </Site::ContactDataCard>
        {{/if}}
      </div>
    </form>
  </div>
</div>