{{page-title @model.administrativeUnit.name}}
{{breadcrumb
  @model.administrativeUnit.name
  route="administrative-units.administrative-unit"
  model=@model.administrativeUnit.id
}}

<div class="au-c-main-container__content au-c-main-container__content--block">
  <div
    class="au-o-box au-d-component-block au-d-component-block--overflow au-o-flow"
  >
    <div class="au-o-flow au-o-flow--tiny">
      <AuToolbar>
        <AuToolbarGroup>
          <AuHeading @level="2">
            Kerngegevens
          </AuHeading>
        </AuToolbarGroup>
      </AuToolbar>
      <AuToolbar>
        <AuToolbarGroup>
          <AuHeading @skin="3">
            {{@model.administrativeUnit.name}}
          </AuHeading>
        </AuToolbarGroup>
      </AuToolbar>
    </div>
    <div class="au-o-flow au-o-flow--large">
      <div class="{{if this.isEditingCore "au-u-hidden-visually" ""}}">
        <AuToolbar class="au-u-margin-bottom-small">
          <AuToolbarGroup>
            <AuHeading @level="4" @skin="5">Bestuur van de eredienst</AuHeading>
          </AuToolbarGroup>
          <AuToolbarGroup>
            <AuButton
              @skin="tertiary"
              @icon="pencil"
              @iconAlignment="right"
              {{on "click" this.toggleEditCoreInfo}}
            >
              Bewerk
            </AuButton>
          </AuToolbarGroup>
        </AuToolbar>
        <AuCard @standOut={{true}} as |c|>
          <c.content>
            <div class="au-flow au-o-flow--large">
              <div class="au-o-grid">
                <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                  <div class="au-o-grid">
                    <div class="au-o-grid__item au-u-1-4">
                      <p><strong>Naam eredienst</strong></p>
                    </div>
                    <div class="au-o-grid__item au-u-3-4">
                      <p>{{@model.administrativeUnit.name}}</p>
                    </div>
                  </div>
                </div>
                <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                  <div class="au-o-grid">
                    <div class="au-o-grid__item au-u-1-4">
                      <p><strong>Status</strong></p>
                    </div>
                    <div class="au-o-grid__item au-u-3-4">
                      <p><AuPill
                          @skin="success"
                        >{{@model.administrativeUnit.organizationStatus.label}}</AuPill></p>
                    </div>
                  </div>
                </div>
                <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                  <div class="au-o-grid">
                    <div class="au-o-grid__item au-u-1-4">
                      <p><strong>Type eredienst</strong></p>
                    </div>
                    <div class="au-o-grid__item au-u-3-4">
                      <p
                      >{{@model.administrativeUnit.honoraryServiceType.label}}</p>
                    </div>
                  </div>
                </div>
                <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                  <div class="au-o-grid">
                    <div class="au-o-grid__item au-u-1-4">
                      <p><strong>Status datum</strong></p>
                    </div>
                    <div class="au-o-grid__item au-u-3-4">
                      <p></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="au-o-grid">
                <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                  <div class="au-o-grid">
                    <div class="au-o-grid__item au-u-1-4">
                      <p><strong>Strekking</strong></p>
                    </div>
                    <div class="au-o-grid__item au-u-3-4">
                      <p>{{@model.administrativeUnit.denomination}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="au-o-grid">
                <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                  <div class="au-o-grid">
                    <div class="au-o-grid__item au-u-1-4">
                      <p><strong>Grensoverschrijdend</strong></p>
                    </div>
                    <div class="au-o-grid__item au-u-3-4">
                      <p>{{@model.administrativeUnit.crossBorderNominal}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="au-o-grid">
                <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                  <div class="au-o-grid">
                    <div class="au-o-grid__item au-u-1-4">
                      <p><strong>Werkingsgebied</strong></p>
                    </div>
                    <div class="au-o-grid__item au-u-3-4">
                      <p></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="au-o-grid">
                {{#each @model.administrativeUnit.identifiers as |identifier|}}
                  <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                    <div class="au-o-grid">
                      <div class="au-o-grid__item au-u-1-4">
                        <p><strong>{{identifier.idName}}</strong></p>
                      </div>
                      <div class="au-o-grid__item au-u-3-4">
                        <p>{{identifier.structuredIdentifier.localId}}</p>
                      </div>
                    </div>
                  </div>
                {{/each}}
              </div>
            </div>
          </c.content>
        </AuCard>
      </div>
      <div class="{{if this.isShowingCore "au-u-hidden-visually" ""}}">
        <AuToolbar class="au-u-margin-bottom-small">
          <AuToolbarGroup>
            <AuHeading @level="4" @skin="5">Bestuur van de eredienst</AuHeading>
          </AuToolbarGroup>
          <AuToolbarGroup>
            <AuButton
              @icon="check"
              @iconAlignment="right"
              @loading={{this.isSaving}}
              form="edit-core-info-form"
              type="submit"
            >
              Bewaar
            </AuButton>
          </AuToolbarGroup>
        </AuToolbar>
        <AuCard as |c|>
          <c.content>
            <form
              class="au-c-form"
              id="edit-core-info-form"
              aria-label="edit-core-info-form"
              {{on "submit" (perform this.editCoreInfoTask) }}
            >
              <div class="au-o-grid">
                <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                  <div class="au-o-grid">
                    <div class="au-o-grid__item au-u-1-4">
                      <p><strong>Naam eredienst</strong></p>
                    </div>
                    <div class="au-o-grid__item au-u-3-4">
                      {{#let (unique-id) as |emailId|}}
                        <AuLabel
                          for={{emailId}}
                          class="au-u-hidden-visually">
                          Naam eredienst input
                        </AuLabel>
                        <AuInput
                          for={{emailId}}
                          @width="block"
                          type="text"
                          @value={{@model.administrativeUnit.name}}
                        />
                      {{/let}}
                    </div>
                  </div>
                </div>
                <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                  <div class="au-o-grid">
                    <div class="au-o-grid__item au-u-1-4">
                      <p><strong>Status</strong></p>
                    </div>
                    <div class="au-o-grid__item au-u-3-4">
                      <PowerSelect
                        @allowClear={{true}}
                        @searchEnabled={{true}}
                        @loadingMessage="Aan het laden..."
                        @noMatchesMessage="Geen resultaten"
                        @searchField="label"
                        @searchMessage="Typ om te zoeken"
                        @options={{@model.statuses}}
                        @selected={{@model.administrativeUnit.organizationStatus}}
                        @onChange={{fn
                          this.setOrganizationStatus
                          @model.administrativeUnit
                        }}
                        @triggerId="statuses"
                        as |status|
                      >
                        {{status.label}}
                      </PowerSelect>
                    </div>
                  </div>
                </div>
                <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                  <div class="au-o-grid">
                    <div class="au-o-grid__item au-u-1-4">
                      <p><strong>Type eredienst</strong></p>
                    </div>
                    <div class="au-o-grid__item au-u-3-4">
                      <PowerSelect
                        @allowClear={{true}}
                        @searchEnabled={{true}}
                        @loadingMessage="Aan het laden..."
                        @noMatchesMessage="Geen resultaten"
                        @searchMessage="Typ om te zoeken"
                        @options={{@model.honoraryServiceTypes}}
                        @selected={{@model.administrativeUnit.honoraryServiceType}}
                        @onChange={{fn
                          this.setHonoraryServiceType
                          @model.administrativeUnit
                        }}
                        @triggerId="honoraryServiceTypes"
                        as |honoraryServiceType|
                      >
                        {{honoraryServiceType.label}}
                      </PowerSelect>
                    </div>
                  </div>
                </div>
                <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                  <div class="au-o-grid">
                    <div class="au-o-grid__item au-u-1-4">
                      <p><strong>Status datum</strong></p>
                    </div>
                    <div class="au-o-grid__item au-u-3-4">
                      <AuDatePicker @label="Kies een datum" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="au-o-grid">
                <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                  <div class="au-o-grid">
                    <div class="au-o-grid__item au-u-1-4">
                      <p><strong>Strekking</strong></p>
                    </div>
                    <div class="au-o-grid__item au-u-3-4">
                      {{#let (unique-id) as |denominationId|}}
                        <AuLabel
                          for={{denominationId}}
                          class="au-u-hidden-visually"
                        >Strekking input</AuLabel>
                        <AuInput
                          id={{denominationId}}
                          @width="block"
                          type="text"
                          @value={{@model.administrativeUnit.denomination}}
                        />
                      {{/let}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="au-o-grid">
                <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                  <div class="au-o-grid">
                    <div class="au-o-grid__item au-u-1-4">
                      <p><strong>Grensoverschrijdend</strong></p>
                    </div>
                    <div class="au-o-grid__item au-u-3-4">
                      <AuControlRadio
                        @label="Ja"
                        @name="is-cross-border"
                        @value={{@model.administrativeUnit.crossBorder}}
                        @checked={{@model.administrativeUnit.crossBorder}}
                        @identifier="cross-border-true"
                        @onChange={{fn (mut @model.administrativeUnit.crossBorder)}}
                      />

                      <AuControlRadio
                        @label="Nee"
                        @name="is-cross-border"
                        @value={{@model.administrativeUnit.crossBorder}}
                        @checked={{@model.administrativeUnit.crossBorder}}
                        @identifier="cross-border-false"
                        @onChange={{fn (mut @model.administrativeUnit.crossBorder)}}
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="au-o-grid">
                <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                  <div class="au-o-grid">
                    <div class="au-o-grid__item au-u-1-4">
                      <p><strong>Werkingsgebied</strong></p>
                    </div>
                    <div class="au-o-grid__item au-u-3-4">
                      <p></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="au-o-grid">
                {{#each @model.administrativeUnit.identifiers as |identifier|}}
                  <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                    <div class="au-o-grid">
                      <div class="au-o-grid__item au-u-1-4">
                        <p><strong>{{identifier.idName}}</strong></p>
                      </div>
                      <div class="au-o-grid__item au-u-3-4">
                        <p>{{identifier.structuredIdentifier.localId}}</p>
                      </div>
                    </div>
                  </div>
                {{/each}}
              </div>
            </form>
          </c.content>
        </AuCard>
      </div>
    </div>
    <div class="au-o-flow au-o-flow--large">
      <div class="{{if this.isEditingContact "au-u-hidden-visually" ""}}">
        <AuToolbar class="au-u-margin-bottom-small">
          <AuToolbarGroup>
            <AuHeading @level="4" @skin="5">Contactgegevens maatschappelijke
              zetel</AuHeading>
          </AuToolbarGroup>
          <AuToolbarGroup>
            <AuButton
              class="au-u-hidden-visually"
              @skin="tertiary"
              @icon="pencil"
              @iconAlignment="right"
              {{on "click" this.toggleEditContactInfo}}
            >
              Bewerk
            </AuButton>
          </AuToolbarGroup>
        </AuToolbar>
        <AuCard @standOut={{true}} as |c|>
          <c.content>
            <div class="au-o-grid">
              <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                <div class="au-o-grid">
                  <div class="au-o-grid__item au-u-1-4">
                    <p><strong>Adres</strong></p>
                  </div>
                  <div class="au-o-grid__item au-u-3-4">
                    <p>
                      {{@model.administrativeUnit.primarySite.address.fullAddress}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                <div class="au-o-grid">
                  <div class="au-o-grid__item au-u-1-4">
                    <p><strong>Provincie</strong></p>
                  </div>
                  <div class="au-o-grid__item au-u-3-4">
                    <p>
                      {{@model.administrativeUnit.primarySite.address.province}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                <div class="au-o-grid">
                  <div class="au-o-grid__item au-u-1-4">
                    <p><strong>Telefoonnummer</strong></p>
                  </div>
                  <div class="au-o-grid__item au-u-3-4">
                    <p>
                      {{@model.administrativeUnit.primarySite.contacts.firstObject.telephone}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                <div class="au-o-grid">
                  <div class="au-o-grid__item au-u-1-4">
                    <p><strong>Website</strong></p>
                  </div>
                  <div class="au-o-grid__item au-u-3-4">
                    <p>
                      {{@model.administrativeUnit.primarySite.contacts.firstObject.website}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </c.content>
        </AuCard>
      </div>
      <div class="{{if this.isShowingContact "au-u-hidden-visually" ""}}">
        <AuToolbar class="au-u-margin-bottom-small">
          <AuToolbarGroup>
            <AuHeading @level="4" @skin="5">Contactgegevens maatschappelijke
              zetel</AuHeading>
          </AuToolbarGroup>
          <AuToolbarGroup>
            <AuButton
              @skin="tertiary"
              @icon="pencil"
              @iconAlignment="right"
              @loading={{this.isSavingContact}}
              form="edit-contact-info-form"
              type="submit"
            >
              Bewaar
            </AuButton>
          </AuToolbarGroup>
        </AuToolbar>
        <AuCard @standOut={{false}} as |c|>
          <c.content>
            <form
              class="au-c-form"
              id="edit-contact-info-form"
              aria-label="edit-contact-info-form"
              {{on "submit" (perform this.editContactInfoTask)}}
            >
              <div class="au-o-grid">
                <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                  <div class="au-o-grid">
                    <div class="au-o-grid__item au-u-1-4">
                      <p><strong>Huis nummer</strong></p>
                    </div>
                    <div class="au-o-grid__item au-u-3-4">
                      {{#let (unique-id) as |numberId|}}
                        <AuLabel
                          for={{numberId}}
                          class="au-u-hidden-visually"
                        >Huis nummer input</AuLabel>
                        <AuInput
                          id={{numberId}}
                          @width="block"
                          type="text"
                          @value={{@model.administrativeUnit.primarySite.address.number}}
                        />
                      {{/let}}
                    </div>
                  </div>
                </div>
                <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                  <div class="au-o-grid">
                    <div class="au-o-grid__item au-u-1-4">
                      <p><strong>Busnummer</strong></p>
                    </div>
                    <div class="au-o-grid__item au-u-3-4">
                      {{#let (unique-id) as |boxNumberId|}}
                        <AuLabel
                          for={{boxNumberId}}
                          class="au-u-hidden-visually"
                        >Busnummer input</AuLabel>
                        <AuInput
                          id={{boxNumberId}}
                          @width="block"
                          type="text"
                          @value={{@model.administrativeUnit.primarySite.address.boxNumber}}
                        />
                      {{/let}}
                    </div>
                  </div>
                </div>
                <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                  <div class="au-o-grid">
                    <div class="au-o-grid__item au-u-1-4">
                      <p><strong>Straat</strong></p>
                    </div>
                    <div class="au-o-grid__item au-u-3-4">
                      {{#let (unique-id) as |streetId|}}
                        <AuLabel for={{streetId}} class="au-u-hidden-visually">Straat
                          input</AuLabel>
                        <AuInput
                          id={{streetId}}
                          @width="block"
                          type="text"
                          @value={{@model.administrativeUnit.primarySite.address.street}}
                        />
                      {{/let}}
                    </div>
                  </div>
                </div>
                <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                  <div class="au-o-grid">
                    <div class="au-o-grid__item au-u-1-4">
                      <p><strong>Postcode</strong></p>
                    </div>
                    <div class="au-o-grid__item au-u-3-4">
                      {{#let (unique-id) as |postcodeId|}}
                        <AuLabel
                          for={{postcodeId}}
                          class="au-u-hidden-visually"
                        >Postcode input</AuLabel>
                        <AuInput
                          id={{postcodeId}}
                          @width="block"
                          type="text"
                          @value={{@model.administrativeUnit.primarySite.address.postcode}}
                        />
                      {{/let}}
                    </div>
                  </div>
                </div>
                <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                  <div class="au-o-grid">
                    <div class="au-o-grid__item au-u-1-4">
                      <p><strong>Gemeente</strong></p>
                    </div>
                    <div class="au-o-grid__item au-u-3-4">
                      <AuLabel
                        for="gemeente"
                        class="au-u-hidden-visually"
                      >Gemeente input</AuLabel>
                      <PowerSelect
                        @allowClear={{true}}
                        @searchEnabled={{true}}
                        @loadingMessage="Aan het laden..."
                        @noMatchesMessage="Geen resultaten"
                        @searchMessage="Typ om te zoeken"
                        @options={{this.singleselects}}
                        @selected={{@model.administrativeUnit.primarySite.address.municipality}}
                        @onChange={{fn (mut this.singleselect)}}
                        as |singleselect|
                      >
                        {{singleselect}}
                      </PowerSelect>
                    </div>
                  </div>
                </div>
                <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                  <div class="au-o-grid">
                    <div class="au-o-grid__item au-u-1-4">
                      <p><strong>Provincie</strong></p>
                    </div>
                    <div class="au-o-grid__item au-u-3-4">
                      <AuLabel
                        for="provincie"
                        class="au-u-hidden-visually"
                      >Provincie input</AuLabel>
                      <PowerSelect
                        @allowClear={{true}}
                        @searchEnabled={{true}}
                        @loadingMessage="Aan het laden..."
                        @noMatchesMessage="Geen resultaten"
                        @searchMessage="Typ om te zoeken"
                        @options={{this.singleselects}}
                        @selected={{@model.administrativeUnit.primarySite.address.province}}
                        @onChange={{fn (mut this.singleselect)}}
                        as |singleselect|
                      >
                        {{singleselect}}
                      </PowerSelect>
                    </div>
                  </div>
                </div>
                <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                  <div class="au-o-grid">
                    <div class="au-o-grid__item au-u-1-4">
                      <p><strong>Telefoonnummer</strong></p>
                    </div>
                    <div class="au-o-grid__item au-u-3-4">
                      {{#let (unique-id) as |telephoneId|}}
                        <AuLabel
                          for={{telephoneId}}
                          class="au-u-hidden-visually"
                        >Telefoonnummer input</AuLabel>
                        <AuInput
                          id={{telephoneId}}
                          @width="block"
                          type="text"
                          @value={{@model.administrativeUnit.primarySite.contacts.firstObject.telephone}}
                        />
                      {{/let}}
                    </div>
                  </div>
                </div>
                <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                  <div class="au-o-grid">
                    <div class="au-o-grid__item au-u-1-4">
                      <p><strong>Website</strong></p>
                    </div>
                    <div class="au-o-grid__item au-u-3-4">
                      {{#let (unique-id) as |websiteId|}}
                        <AuLabel
                          for={{websiteId}}
                          class="au-u-hidden-visually"
                        >Website input</AuLabel>
                        <AuInput
                          id={{websiteId}}
                          @width="block"
                          type="text"
                          @value={{@model.administrativeUnit.primarySite.contacts.firstObject.website}}
                        />
                      {{/let}}
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </c.content>
        </AuCard>
      </div>
    </div>
    <div class="au-o-flow au-o-flow--large">
      <div>
        <AuToolbar class="au-u-margin-bottom-small">
          <AuToolbarGroup>
            <AuHeading @level="4" @skin="5">Gerelateerde organisaties</AuHeading>
          </AuToolbarGroup>
        </AuToolbar>
        <AuCard @standOut={{true}} as |c|>
          <c.content>
            <div class="au-o-grid">
              <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                <div class="au-o-grid">
                  <div class="au-o-grid__item au-u-1-4">
                    <p><strong>Centraal bestuur</strong></p>
                  </div>
                  <div class="au-o-grid__item au-u-3-4">
                    <p>{{@model.administrativeUnit.centralService.name}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="au-o-grid">
              <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                <div class="au-o-grid">
                  <div class="au-o-grid__item au-u-1-4">
                    <p><strong>Representatief orgaan</strong></p>
                  </div>
                  <div class="au-o-grid__item au-u-3-4">
                    <p>{{@model.administrativeUnit.representiveBody.name}}</p>
                  </div>
                </div>
              </div>
            </div>
          </c.content>
        </AuCard>
      </div>
    </div>
  </div>
</div>