<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <PageHeader class="au-u-margin-bottom-large">
      <:title>Bewerk gerelateerde organisaties</:title>
      <:subtitle>{{@model.administrativeUnit.name}}</:subtitle>
      <:action>
        <div>
          <AuButtonGroup class="au-c-button-group--align-right">
            <AuButton
              @loading={{this.save.isRunning}}
              @disabled={{this.save.isRunning}}
              form="edit-core-info-form"
              type="submit"
            >
              Opslaan
            </AuButton>
            <AuLink
              @route="administrative-units.administrative-unit.related-organizations"
              @skin="button-secondary"
            >
              Annuleer
            </AuLink>
          </AuButtonGroup>
          <ReportWrongData />
        </div>
      </:action>
    </PageHeader>

    <form
      id="edit-core-info-form"
      aria-label="edit-core-info-form"
      {{on "submit" (perform this.save)}}
    >
      <div class="au-o-flow au-o-flow--large">

        {{#if this.isWorshipService}}
          <RelatedOrganizations::EditWorshipService
            @model={{@model}}
            @hasCentralWorshipService={{this.hasCentralWorshipService}}
          />
        {{/if}}
        {{#if this.isCentralWorshipService}}
          <RelatedOrganizations::EditCentralWorshipService
            @model={{@model}}
            @isAntwerpen={{this.isAntwerpen}}
            @addNewSubOrganization={{this.addNewSubOrganization}}
            @updateSubOrganization={{this.updateSubOrganization}}
            @removeSubOrganization={{this.removeSubOrganization}}
          />
        {{/if}}
        {{#if this.isDistrict}}
          <RelatedOrganizations::EditDistrict @model={{@model}} @classificationCodes={{this.classificationCodes}} />
        {{/if}}
        {{#if this.isMunicipality}}
          <RelatedOrganizations::EditMunicipality
            @model={{@model}}
            @isAntwerpen={{this.isAntwerpen}}
            @addNewSubOrganization={{this.addNewSubOrganization}}
            @updateSubOrganization={{this.updateSubOrganization}}
            @removeSubOrganization={{this.removeSubOrganization}}
          />
        {{/if}}
        {{#if this.isOCMW}}
          <RelatedOrganizations::EditOcmw
            @model={{@model}}
            @isAntwerpen={{this.isAntwerpen}}
            @addNewSubOrganization={{this.addNewSubOrganization}}
            @updateSubOrganization={{this.updateSubOrganization}}
            @removeSubOrganization={{this.removeSubOrganization}}
          />
        {{/if}}
        {{#if this.isProvince}}
          <RelatedOrganizations::EditProvince
            @model={{@model}}
            @addNewSubOrganization={{this.addNewSubOrganization}}
            @updateSubOrganization={{this.updateSubOrganization}}
            @removeSubOrganization={{this.removeSubOrganization}}
          />
        {{/if}}
      </div>
    </form>
  </div>
</div>
