<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <PageHeader class="au-u-margin-bottom-large">
      <:title>Bewerk gerelateerde organisaties</:title>
      <:subtitle>{{@model.administrativeUnit.abbName}}
        ({{@model.administrativeUnit.classification.label}})</:subtitle>
      <:action>
        <div class="au-u-text-right">
          <AuButtonGroup class="au-c-button-group--align-right">
            <AuLink
              @route="administrative-units.administrative-unit.related-organizations"
              @skin="button-secondary"
            >
              Annuleer
            </AuLink>
            <AuButton
              @loading={{this.save.isRunning}}
              @disabled={{this.save.isRunning}}
              form="edit-core-info-form"
              type="submit"
            >
              Opslaan
            </AuButton>
          </AuButtonGroup>
          <ReportWrongData />
          <Error::Save @showSaveError={{this.hasValidationErrors}} />
        </div>
      </:action>
    </PageHeader>

    <form
      id="edit-core-info-form"
      aria-label="edit-core-info-form"
      {{on "submit" (perform this.save)}}
    >
      <div class="au-o-flow au-o-flow--large">

        {{#if @model.administrativeUnit.isWorshipService}}
          <RelatedOrganizations::EditWorshipService
            @model={{@model}}
            @hasCentralWorshipService={{@model.administrativeUnit.hasCentralWorshipService}}
          />
        {{/if}}
        {{#if @model.administrativeUnit.isCentralWorshipService}}
          <RelatedOrganizations::EditCentralWorshipService
            @model={{@model}}
            @addNewSubOrganization={{this.addNewSubOrganization}}
            @updateSubOrganization={{this.updateSubOrganization}}
            @removeSubOrganization={{this.removeSubOrganization}}
            @sort={{this.sort}}
          />
        {{/if}}
        {{#if @model.administrativeUnit.isMunicipality}}
          <RelatedOrganizations::EditMunicipality
            @model={{@model}}
            @addNewSubOrganization={{this.addNewSubOrganization}}
            @updateSubOrganization={{this.updateSubOrganization}}
            @removeSubOrganization={{this.removeSubOrganization}}
            @sort={{this.sort}}
          />
        {{/if}}
        {{#if @model.administrativeUnit.isOCMW}}
          <RelatedOrganizations::EditOcmw @model={{@model}} />
        {{/if}}
        {{#if @model.administrativeUnit.isProvince}}
          <RelatedOrganizations::EditProvince
            @model={{@model}}
            @addNewSubOrganization={{this.addNewSubOrganization}}
            @updateSubOrganization={{this.updateSubOrganization}}
            @removeSubOrganization={{this.removeSubOrganization}}
            @sort={{this.sort}}
          />
        {{/if}}
        {{#if @model.administrativeUnit.isApb}}
          <RelatedOrganizations::EditApb
            @model={{@model}}
            @updateRelatedOrg={{this.updateRelatedOrg}}
            @updateRelatedSubOrg={{this.updateRelatedSubOrg}}
            @addNewSubOrganization={{this.addNewSubOrganization}}
            @updateSubOrganization={{this.updateSubOrganization}}
            @removeSubOrganization={{this.removeSubOrganization}}
            @sort={{this.sort}}
          />
        {{/if}}
        {{#if @model.administrativeUnit.isAgb}}
          <RelatedOrganizations::EditAgb
            @model={{@model}}
            @updateRelatedOrg={{this.updateRelatedOrg}}
            @addNewSubOrganization={{this.addNewSubOrganization}}
            @updateSubOrganization={{this.updateSubOrganization}}
            @removeSubOrganization={{this.removeSubOrganization}}
            @sort={{this.sort}}
          />
        {{/if}}
        {{#if @model.administrativeUnit.isIgs}}
          <RelatedOrganizations::EditIgs
            @model={{@model}}
            @classificationCodesIgsParticipants={{this.classificationCodesIgsParticipants}}
            @addNewHasParticipants={{this.addNewHasParticipants}}
            @updateHasParticipants={{this.updateHasParticipants}}
            @removeHasParticipants={{this.removeHasParticipants}}
          />
        {{/if}}
        {{#if @model.administrativeUnit.isPoliceZone}}
          <RelatedOrganizations::EditPoliceZone
            @model={{@model}}
            @sort={{this.sort}}
          />
        {{/if}}
        {{#if @model.administrativeUnit.isAssistanceZone}}
          <RelatedOrganizations::EditAssistanceZone
            @model={{@model}}
            @sort={{this.sort}}
          />
        {{/if}}
        {{#if @model.administrativeUnit.isOcmwAssociation}}
          <RelatedOrganizations::EditOcmwAssociation
            @model={{@model}}
            @classificationCodesOcmwAssociationParticipants={{this.classificationCodesOcmwAssociationParticipants}}
            @addNewHasParticipants={{this.addNewHasParticipants}}
            @updateHasParticipants={{this.updateHasParticipants}}
            @removeHasParticipants={{this.removeHasParticipants}}
          />
        {{/if}}
        {{#if @model.administrativeUnit.isPevaMunicipality}}
          <RelatedOrganizations::EditPevaMunicipality
            @model={{@model}}
            @classificationCodesParticipants={{this.classificationCodesPevaParticipants}}
            @addNewHasParticipants={{this.addNewHasParticipants}}
            @updateHasParticipants={{this.updateHasParticipants}}
            @removeHasParticipants={{this.removeHasParticipants}}
          />
        {{/if}}
        {{#if @model.administrativeUnit.isPevaProvince}}
          <RelatedOrganizations::EditPevaProvince
            @model={{@model}}
            @classificationCodesParticipants={{this.classificationCodesPevaParticipants}}
            @addNewHasParticipants={{this.addNewHasParticipants}}
            @updateHasParticipants={{this.updateHasParticipants}}
            @removeHasParticipants={{this.removeHasParticipants}}
          />
        {{/if}}
      </div>
    </form>
  </div>
</div>
