<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <PageHeader class="au-u-margin-bottom-large">
      <:title>Bewerk gerelateerde organisaties</:title>
      <:subtitle>{{@model.administrativeUnit.name}} ({{@model.administrativeUnit.classification.label}})</:subtitle>
      <:action>
        <div>
          <AuButtonGroup class="au-c-button-group--align-right">
            <AuLink
              @route="administrative-units.administrative-unit.related-organizations"
              @skin="button-secondary"
            >
              Annuleer
            </AuLink>
            <AuButton
              @loading={{this.save.isRunning}}
              @disabled={{this.save.isRunning}}
              form="edit-core-info-form"
              type="submit"
            >
              Opslaan
            </AuButton>
          </AuButtonGroup>
          <ReportWrongData />
        </div>
      </:action>
    </PageHeader>

    <form
      id="edit-core-info-form"
      aria-label="edit-core-info-form"
      {{on "submit" (perform this.save)}}
    >
      <div class="au-o-flow au-o-flow--large">

        {{#if this.isWorshipService}}
          <RelatedOrganizations::EditWorshipService
            @model={{@model}}
            @hasCentralWorshipService={{this.hasCentralWorshipService}}
          />
        {{/if}}
        {{#if this.isCentralWorshipService}}
          <RelatedOrganizations::EditCentralWorshipService
            @model={{@model}}
            @addNewSubOrganization={{this.addNewSubOrganization}}
            @updateSubOrganization={{this.updateSubOrganization}}
            @removeSubOrganization={{this.removeSubOrganization}}
            @sort={{this.sort}}
          />
        {{/if}}
        {{#if this.isMunicipality}}
          <RelatedOrganizations::EditMunicipality
            @model={{@model}}
            @addNewSubOrganization={{this.addNewSubOrganization}}
            @updateSubOrganization={{this.updateSubOrganization}}
            @removeSubOrganization={{this.removeSubOrganization}}
            @sort={{this.sort}}
          />
        {{/if}}
        {{#if this.isOCMW}}
          <RelatedOrganizations::EditOcmw
            @model={{@model}}
          />
        {{/if}}
        {{#if this.isProvince}}
          <RelatedOrganizations::EditProvince
            @model={{@model}}
            @addNewSubOrganization={{this.addNewSubOrganization}}
            @updateSubOrganization={{this.updateSubOrganization}}
            @removeSubOrganization={{this.removeSubOrganization}}
            @sort={{this.sort}}
          />
        {{/if}}

        {{#if this.isApb}}

          <RelatedOrganizations::EditApb
            @model={{@model}}
            @updateRelatedOrg={{this.updateRelatedOrg}}
            @addNewSubOrganization={{this.addNewSubOrganization}}
            @updateSubOrganization={{this.updateSubOrganization}}
            @removeSubOrganization={{this.removeSubOrganization}}
            @sort={{this.sort}}
          />
        {{/if}}
        {{#if this.isAgb}}

          <RelatedOrganizations::EditAgb
            @model={{@model}}
            @updateRelatedOrg={{this.updateRelatedOrg}}
            @addNewSubOrganization={{this.addNewSubOrganization}}
            @updateSubOrganization={{this.updateSubOrganization}}
            @removeSubOrganization={{this.removeSubOrganization}}
            @sort={{this.sort}}
          />
        {{/if}}
      </div>
    </form>
  </div>
</div>