<PageHeader class="au-o-box">
  <:title>Gerelateerde organisaties</:title>
  <:subtitle>{{@model.administrativeUnit.name}}</:subtitle>
  <:action>
    <SecuredArea>
      <:edit>
        <AuLink
          @route="administrative-units.administrative-unit.related-organizations.edit"
          @skin="button-secondary"
          @icon="pencil"
          @iconAlignment="left"
        >
          Bewerk
        </AuLink>
      </:edit>
      <:read-only>
        <ReportWrongData />
      </:read-only>
    </SecuredArea>
  </:action>
</PageHeader>

{{#if @model.isAssociatedWith.name}}
  <div>
    Representatief orgaan
    <AuLink
      @route="organizations.organization"
      @model={{@model.isAssociatedWith.id}}
    >
      {{@model.isAssociatedWith.name}}
    </AuLink>
  </div>
{{/if}}

{{#if @model.isSubOrganizationOf.name}}
  <div>
    Centraal bestuur
    <AuLink
      @route="administrative-units.administrative-unit"
      @model={{@model.isSubOrganizationOf.id}}
    >
      {{@model.isSubOrganizationOf.name}}
    </AuLink>
  </div>
{{/if}}

{{#if @model.subOrganizations.length}}
  <div>
      Besturen van eredienst
      <AuDataTable
        id="subOrganizations"
        @content={{this.model.subOrganizations}}
        @noDataMessage="Geen bestuur van de eredienst"
        as |t|
      >
        <t.content as |c|>
          <c.header>
            <AuDataTableThSortable
              @field="name"
              @currentSorting={{this.sort}}
              @label="Organizatie"
            />
            <AuDataTableThSortable
              @field="organizationStatus.label"
              @currentSorting={{this.sort}}
              @label="Status"
            />
          </c.header>
          <c.body as |subOrganization|>
            <td>
              <AuLink
                @route="administrative-units.administrative-unit"
                @model={{subOrganization.id}}
              >
                {{subOrganization.name}}
              </AuLink>
            </td>
            <td>
              <OrganizationStatus
                @id={{subOrganization.organizationStatus.id}}
                @label={{subOrganization.organizationStatus.label}}
              />
            </td>
          </c.body>
        </t.content>
      </AuDataTable>
  </div>
{{/if}}
