<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-o-flow au-o-flow--large">
    <PageHeader>
      <:title>Gerelateerde organisaties</:title>
      <:subtitle>{{@model.administrativeUnit.name}}
        ({{@model.administrativeUnit.classification.label}})</:subtitle>
      <:action>
        {{#unless this.isDistrict}}
          <SecuredArea>
            <:edit>
              <AuLink
                @route="administrative-units.administrative-unit.related-organizations.edit"
                @skin="button-secondary"
                @icon="pencil"
                @iconAlignment="left"
              >
                Bewerk
              </AuLink>
            </:edit>
            <:readOnly>
              <ReportWrongData />
            </:readOnly>
          </SecuredArea>
        {{/unless}}
      </:action>
    </PageHeader>

    {{#if this.isWorshipService}}
      <RelatedOrganizations::ViewWorshipService @model={{@model}} />
    {{/if}}
    {{#if this.isCentralWorshipService}}
      <RelatedOrganizations::ViewCentralWorshipService @model={{@model}} @sort={{this.sort}} />
    {{/if}}
    {{#if this.isDistrict}}
      <RelatedOrganizations::ViewDistrict @model={{@model}} />
    {{/if}}
    {{#if this.isMunicipality}}
      <RelatedOrganizations::ViewMunicipality @model={{@model}} @sort={{this.sort}} />
    {{/if}}
    {{#if this.isOCMW}}
      <RelatedOrganizations::ViewOcmw @model={{@model}} />
    {{/if}}
    {{#if this.isProvince}}
      <RelatedOrganizations::ViewProvince @model={{@model}} @sort={{this.sort}} />
    {{/if}}
    {{#if this.isAgb}}
      <RelatedOrganizations::ViewAgb @model={{@model}} />
    {{/if}}
    {{#if this.isApb}}
      <RelatedOrganizations::ViewApb @model={{@model}} />
    {{/if}}
    {{#if this.isIgs}}
      <RelatedOrganizations::ViewIgs @model={{@model}} @sort={{this.sort}} />
    {{/if}}
  </div>
</div>