<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-o-flow au-o-flow--large">
    <PageHeader>
      <:title>Gerelateerde organisaties</:title>
      <:subtitle>{{@model.administrativeUnit.name}}</:subtitle>
      <:action>
        <SecuredArea>
          <:edit>
            <AuLink @route="administrative-units.administrative-unit.related-organizations.edit"
              @skin="button-secondary" @icon="pencil" @iconAlignment="left">
              Bewerk
            </AuLink>
          </:edit>
          <:readOnly>
            <ReportWrongData />
          </:readOnly>
        </SecuredArea>
      </:action>
    </PageHeader>

    {{#if this.isWorshipService}}
      <RelatedOrganizations::ViewWorshipService @model={{@model}} />
    {{/if}}
    {{#if this.isCentralWorshipService}}
      <RelatedOrganizations::ViewCentralWorshipService @model={{@model}} />
    {{/if}}
    {{#if this.isDistrict}}
      <RelatedOrganizations::ViewDistrict @model={{@model}} />
    {{/if}}
    {{#if this.isMunicipality}}
      <RelatedOrganizations::ViewMunicipality @model={{@model}} />
    {{/if}}
    {{#if this.isOCMW}}
      <RelatedOrganizations::ViewOcmw @model={{@model}} />
    {{/if}}
    {{#if this.isProvince}}
      <RelatedOrganizations::ViewProvince @model={{@model}} />
    {{/if}}

  </div>
</div>
