<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-o-flow au-o-flow--large">
    <PageHeader>
      <:title>
        {{#let
          @model.mandatory.mandate.governingBody.isTimeSpecializationOf
          as |governingBody|
        }}
          Positie:
          {{@model.mandatory.mandate.roleBoard.label}},
          <br />
          {{governingBody.classification.label}}
          {{governingBody.administrativeUnit.name}}
        {{/let}}
      </:title>
      <:subtitle>
        {{@model.person.givenName}}
        {{@model.person.familyName}}
      </:subtitle>
      <:action>
        {{! TODO: Replace this with the "edit" route once it is created }}
        <AuLink
          @route="people.person.positions.mandatory"
          @skin="button-secondary"
          @icon="pencil"
          @iconAlignment="left"
        >
          Bewerk
        </AuLink>
      </:action>
    </PageHeader>

    <DataCard>
      <:title>Positie</:title>
      <:card as |Card|>
        <Card.Grid as |Item|>
          <Item>
            <:label>Type</:label>
            <:content>Mandaat</:content>
          </Item>
          <Item>
            <:label>Naam eredienst</:label>
            <:content>
              {{#let
                @model.mandatory.mandate.governingBody.isTimeSpecializationOf.administrativeUnit
                as |administrativeUnit|
              }}
                <AuLink
                  @route="administrative-units.administrative-unit"
                  @model={{administrativeUnit.id}}
                >
                  {{administrativeUnit.name}}
                </AuLink>
              {{/let}}
            </:content>
          </Item>
          <Item>
            <:label>Bestuursfunctie</:label>
            <:content>{{@model.mandatory.mandate.roleBoard.label}}</:content>
          </Item>
        </Card.Grid>
      </:card>
    </DataCard>

    {{#if @model.mandatory.contacts}}
      <DataCard>
        <:title>Primaire contactgegevens</:title>
        <:card as |Card|>
          <Card.Grid as |Item|>
            {{#if @model.mandatory.contacts.firstObject.email}}
              <Item>
                <:label>Email</:label>
                <:content>
                  {{@model.mandatory.contacts.firstObject.email}}
                </:content>
              </Item>
            {{/if}}
            {{#if @model.mandatory.contacts.firstObject.telephone}}
              <Item>
                <:label>Vaste telefoonnummer</:label>
                <:content>
                  {{@model.mandatory.contacts.firstObject.telephone}}
                </:content>
              </Item>
            {{/if}}
            {{#if
              @model.mandatory.contacts.firstObject.contactAddress.fullAddress
            }}
              <Item>
                <:label>Adres</:label>
                <:content>
                  {{@model.mandatory.contacts.firstObject.contactAddress.fullAddress}}
                </:content>
              </Item>
            {{/if}}
          </Card.Grid>
        </:card>
      </DataCard>
    {{/if}}

    <DataCard>
      <:title>Aanstelling</:title>
      <:card as |Card|>
        <Card.Grid as |Item|>
          {{#if @model.mandatory.startDate}}
            <Item>
              <:label>Start mandaat</:label>
              <:content>{{date-format @model.mandatory.startDate}}</:content>
            </Item>
          {{/if}}
          {{#if @model.mandatory.mandate.governingBody.period}}
            <Item>
              <:label>Bestuursperiode</:label>
              <:content>
                {{@model.mandatory.mandate.governingBody.period}}
              </:content>
            </Item>
          {{/if}}
          {{#if @model.mandatory.expectedEndDate}}
            <Item>
              <:label>Geplande einddatum</:label>
              <:content>
                {{date-format @model.mandatory.expectedEndDate}}
              </:content>
            </Item>
          {{/if}}
          {{#if @model.mandatory.typeHalf.label}}
            <Item>
              <:label>Verkozen</:label>
              <:content>{{@model.mandatory.typeHalf.label}}</:content>
            </Item>
          {{/if}}
          {{#if @model.mandatory.endDate}}
            <Item>
              <:label>Einddatum</:label>
              <:content>{{date-format @model.mandatory.endDate}}</:content>
            </Item>
          {{/if}}
          {{#if @model.mandatory.reasonStopped}}
            <Item>
              <:label>Stopzetting</:label>
              <:content>{{@model.mandatory.reasonStopped}}</:content>
            </Item>
          {{/if}}
        </Card.Grid>
      </:card>
    </DataCard>
  </div>
</div>