<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-o-flow au-o-flow--large">
    <PageHeader>
      <:title>Verbonden juridische structuur: {{@model.associatedStructure.name}}</:title>
      <:subtitle>{{@model.administrativeUnit.name}}</:subtitle>
      <:action>
        <AuLink
          @route="administrative-units.administrative-unit.legal-structures.legal-structure.edit"
          @skin="button-secondary"
          @icon="pencil"
          @iconAlignment="left"
        >
          Bewerk
        </AuLink>
      </:action>
    </PageHeader>

    <DataCard>
      <:title>Contactgegevens</:title>
      <:card as |Card|>
        <Card.Columns>
          <:left as |Item|>
            <Item>
              <:label>Naam</:label>
              <:content>{{@model.associatedStructure.name}}</:content>
            </Item>
            {{#if @model.associatedStructure.address.fullAddress}}
            <Item>
              <:label>Locatie</:label>
              <:content>{{@model.associatedStructure.address.fullAddress}}</:content>
            </Item>
            {{/if}}
            {{#if @model.associatedStructure.address.province}}
                <Item>
                <:label>Provincie</:label>
                <:content>{{@model.associatedStructure.address.province}}</:content>
                </Item>
            {{/if}}
          </:left>
          <:right as |Item|>
            <Item>
              <:label>Rechtsvorm</:label>
              <:content>{{@model.associatedStructure.legalType.label}}</:content>
            </Item>
            {{#if @model.associatedStructure.registration.structuredIdentifier.localId}}
            <Item>
              <:label>KBO Nummer</:label>
              <:content>{{@model.associatedStructure.registration.structuredIdentifier.localId}}</:content>
            </Item>
            {{/if}}
          </:right>
        </Card.Columns>
      </:card>
    </DataCard>
  </div>
</div>