<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <PageHeader class="au-u-margin-bottom-large">
      <:title>Bewerk gerelateerde organisaties</:title>
      <:subtitle>{{@model.organization.abbName}}
        ({{@model.organization.classification.label}})</:subtitle>
      <:action>
        <div class="au-u-text-right">
          <AuButtonGroup class="au-c-button-group--align-right">
            <AuLink
              @route="organizations.organization.related-organizations"
              @skin="button-secondary"
            >
              Annuleer
            </AuLink>
            <AuButton
              @loading={{this.save.isRunning}}
              @disabled={{this.save.isRunning}}
              form="edit-core-info-form"
              type="submit"
            >
              Opslaan
            </AuButton>
          </AuButtonGroup>
          <ReportWrongData />
          <Error::Save @showSaveError={{this.hasValidationErrors}} />
        </div>
      </:action>
    </PageHeader>

    <form
      id="edit-core-info-form"
      aria-label="edit-core-info-form"
      {{on "submit" (perform this.save)}}
    >
      <div class="au-o-flow au-o-flow--large">
        <RelatedOrganizationsEditTable
          @model={{@model}}
          @content={{this.memberships}}
          @organizationStatus={{this.organizationStatus}}
          @sort={{this.sort}}
          @page={{this.page}}
          @size={{this.size}}
          @addRelatedOrganization={{this.addMembership}}
          @removeRelatedOrganization={{this.removeMembership}}
          @updateMembershipRole={{this.updateMembershipRole}}
          @displayRoleLabel={{this.displayRoleLabel}}
          @selectedRole={{this.selectedRoleLabel}}
          @unsavedEdit={{this.hasUnsavedEdits}}
          @showConfirmMembershipRemoval={{this.founderToRemove}}
          @confirmMembershipRemoval={{this.reallyRemoveMembership}}
          @cancelMembershipRemoval={{this.cancelMembershipRemoval}}
          id="edit-related-organizations"
        />
      </div>
    </form>
  </div>
</div>