<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <PageHeader class="au-u-margin-bottom-large">
      <:title>Bewerk gerelateerde organisaties</:title>
      <:subtitle>{{@model.organization.abbName}}
        ({{@model.organization.classification.label}})</:subtitle>
      <:action>
        <div class="au-u-text-right">
          <AuButtonGroup class="au-c-button-group--align-right">
            <AuLink
              @route="organizations.organization.related-organizations"
              @skin="button-secondary"
            >
              Annuleer
            </AuLink>
            <AuButton
              @loading={{this.save.isRunning}}
              @disabled={{this.save.isRunning}}
              form="edit-core-info-form"
              type="submit"
            >
              Opslaan
            </AuButton>
          </AuButtonGroup>
          <ReportWrongData />
          <Error::Save @showSaveError={{this.hasValidationErrors}} />
        </div>
      </:action>
    </PageHeader>

    <form
      id="edit-core-info-form"
      aria-label="edit-core-info-form"
      {{on "submit" (perform this.save)}}
    >
      <div class="au-o-flow au-o-flow--large">
        {{#if @model.organization.isWorshipService}}
          <RelatedOrganizationsEditCard @model={{@model.organization}} />
        {{/if}}

        {{#if @model.organization.isCentralWorshipService}}
          <RelatedOrganizationsEditCard @model={{@model.organization}} />
          <RelatedOrganizationsEditTable
            @model={{@model.organization}}
            @elements={{@model.subOrganizations}}
            @addRelatedOrganization={{this.addNewSubOrganization}}
            @updateRelatedOrganization={{this.updateSubOrganization}}
            @removeRelatedOrganization={{this.removeSubOrganization}}
            @sort={{this.sort}}
            id="central-worship-service-sub-organizations"
          />
        {{/if}}

        {{#if @model.organization.isMunicipality}}
          <RelatedOrganizationsEditCard @model={{@model.organization}} />

          <RelatedOrganizations
            @elements={{@model.organization.foundedOrganizations}}
            @label="Heeft relatie met"
            id="municipality-founded-organizations"
            @sort={{this.sort}}
            @page={{this.page}}
            @size={{this.size}}
          />
        {{/if}}

        {{#if @model.organization.isOCMW}}
          <RelatedOrganizationsEditCard @model={{@model.organization}} />
        {{/if}}

        {{#if @model.organization.isApb}}
          <RelatedOrganizationsEditCard
            @model={{@model.organization}}
            @updateRelatedOrg={{this.updateRelatedOrg}}
            @updateRelatedSubOrg={{this.updateRelatedSubOrg}}
          />

          <RelatedOrganizations
            @elements={{@model.subOrganizations}}
            @label="Heeft relatie met"
            id="apb-sub-organizations"
            @sort={{this.sort}}
            @page={{this.page}}
            @size={{this.size}}
          />
        {{/if}}

        {{#if @model.organization.isAgb}}
          <RelatedOrganizationsEditCard
            @model={{@model.organization}}
            @updateRelatedOrg={{this.updateRelatedOrg}}
          />

          <RelatedOrganizations
            @elements={{@model.subOrganizations}}
            @label="Heeft relatie met"
            id="agb-sub-organizations"
            @sort={{this.sort}}
            @page={{this.page}}
            @size={{this.size}}
          />
        {{/if}}

        {{#if @model.organization.isIgs}}
          <RelatedOrganizationsEditCard @model={{@model.organization}} />
          <RelatedOrganizationsEditTable
            @model={{@model.organization}}
            @elements={{@model.hasParticipants}}
            @label="Heeft als participanten"
            @addRelatedOrganization={{this.addNewHasParticipants}}
            @updateRelatedOrganization={{this.updateHasParticipants}}
            @removeRelatedOrganization={{this.removeHasParticipants}}
            @sort={{this.sort}}
            id="igs-participants"
          />
        {{/if}}

        {{#if @model.organization.isPoliceZone}}
          <RelatedOrganizationsEditCard @model={{@model.organization}} />
        {{/if}}

        {{#if @model.organization.isAssistanceZone}}
          <RelatedOrganizationsEditCard @model={{@model.organization}} />
        {{/if}}

        {{#if @model.organization.isOcmwAssociation}}
          <RelatedOrganizationsEditTable
            @model={{@model.organization}}
            @elements={{@model.hasParticipants}}
            @label="Heeft als participanten"
            @addRelatedOrganization={{this.addNewHasParticipants}}
            @updateRelatedOrganization={{this.updateHasParticipants}}
            @removeRelatedOrganization={{this.removeHasParticipants}}
            @sort={{this.sort}}
            id="ocmw-association-participants"
          />

          <RelatedOrganizations
            @elements={{@model.organization.foundedOrganizations}}
            @label="Heeft relatie met"
            id="ocmw-association-founded-organizations"
            @sort={{this.sort}}
            @page={{this.page}}
            @size={{this.size}}
          />
        {{/if}}

        {{#if @model.organization.isPevaMunicipality}}
          <RelatedOrganizationsEditTable
            @model={{@model.organization}}
            @elements={{@model.hasParticipants}}
            @label="Heeft als participanten"
            @addRelatedOrganization={{this.addNewHasParticipants}}
            @updateRelatedOrganization={{this.updateHasParticipants}}
            @removeRelatedOrganization={{this.removeHasParticipants}}
            @sort={{this.sort}}
            id="peva-municipality-association-participants"
          />

          <RelatedOrganizations
            @elements={{@model.organization.foundedOrganizations}}
            @label="Heeft relatie met"
            id="peva-municipality-founded-organizations"
            @sort={{this.sort}}
            @page={{this.page}}
            @size={{this.size}}
          />
        {{/if}}

        {{#if @model.organization.isPevaProvince}}
          <RelatedOrganizationsEditTable
            @model={{@model.organization}}
            @elements={{@model.hasParticipants}}
            @label="Heeft als participanten"
            @addRelatedOrganization={{this.addNewHasParticipants}}
            @updateRelatedOrganization={{this.updateHasParticipants}}
            @removeRelatedOrganization={{this.removeHasParticipants}}
            @sort={{this.sort}}
            id="peva-province-association-participants"
          />

          <RelatedOrganizations
            @elements={{@model.organization.foundedOrganizations}}
            @label="Heeft relatie met"
            id="peva-province-founded-organizations"
            @sort={{this.sort}}
            @page={{this.page}}
            @size={{this.size}}
          />
        {{/if}}
      </div>
    </form>
  </div>
</div>