<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-o-flow au-o-flow--large">
    <PageHeader class="au-o-box">
      <:title>Gerelateerde organisaties</:title>
      <:subtitle>{{@model.organization.abbName}}
        ({{@model.organization.classification.label}})
      </:subtitle>
      <:action>
        {{#if
          (not
            (or
              @model.organization.isDistrict
              @model.organization.isProvince
              @model.organization.isRepresentativeBody
              @model.organization.isAssociationOther
              @model.organization.isCorporationOther
            )
          )
        }}
          <SecuredArea>
            <:edit>
              <AuLink
                @route="organizations.organization.related-organizations.edit"
                @skin="button-secondary"
                @icon="pencil"
                @iconAlignment="left"
              >
                Bewerk
              </AuLink>
            </:edit>
            <:readOnly>
              <ReportWrongData />
            </:readOnly>
          </SecuredArea>
        {{/if}}
      </:action>
    </PageHeader>

    {{#if @model.organization.isWorshipAdministrativeUnit}}
      <div>
        Om de gerelateerde gemeenten te zien, ga naar
        <LinkTo
          class="au-c-link"
          @model={{@model.organization.id}}
          @route="organizations.organization.local-involvements.index"
        >
          Betrokken lokale besturen
        </LinkTo>
      </div>
    {{/if}}

    {{#unless
      (or
        @model.organization.isProvince
        @model.organization.isOcmwAssociation
        @model.organization.isPevaMunicipality
        @model.organization.isPevaProvince
        @model.organization.isRepresentativeBody
      )
    }}
      <RelatedOrganizationsDataCard @model={{@model}} />
    {{/unless}}

    {{#if
      (or
        @model.organization.isCentralWorshipService
        @model.organization.isRepresentativeBody
      )
    }}
      <RelatedOrganizationsViewTable
        @elements={{@model.subOrganizations}}
        @displayWhenEmpty={{@model.organization.isRepresentativeBody}}
        @label="Heeft relatie met"
        @sort={{this.sort}}
        @page={{this.page}}
        @size={{this.size}}
        @allowHidingInactiveOrganizations={{true}}
        @organizationStatus={{this.organizationStatus}}
        id="worship-sub-organizations"
      />
    {{else}}
      {{#if
        (or
          @model.organization.isOcmwAssociation
          @model.organization.isPevaMunicipality
          @model.organization.isPevaProvince
        )
      }}
        <RelatedOrganizationsViewTable
          @elements={{@model.wasFoundedByOrganizations}}
          @displayWhenEmpty={{true}}
          @label="Werd opericht door"
          id="was-founded-by"
          @sort={{this.sort}}
          @page={{this.page}}
          @size={{this.size}}
        />
      {{/if}}

      <RelatedOrganizationsViewTable
        @elements={{@model.organization.foundedOrganizations}}
        id="founded-organizations"
        @allowHidingInactiveOrganizations={{true}}
        @organizationStatus={{this.organizationStatus}}
        @sort={{this.sort}}
        @page={{this.page}}
        @size={{this.size}}
      />

      <RelatedOrganizationsViewTable
        @elements={{@model.participatesIn}}
        @label="Participeert in"
        id="participates-in"
        @sort={{this.sort}}
        @page={{this.page}}
        @size={{this.size}}
      />

      <RelatedOrganizationsViewTable
        @elements={{@model.hasParticipants}}
        @label="Heeft als participanten"
        id="has-participants"
        @sort={{this.sort}}
        @page={{this.page}}
        @size={{this.size}}
      />
    {{/if}}
  </div>
</div>