<div class="au-c-main-container">
    <div class="au-c-main-container__sidebar">
        <div class="au-c-sidebar">
            <div class="au-c-sidebar__content au-o-box">
                <form
                  {{on "submit" this.search}}
                  class="au-c-form"
                >
                    <p>
                      <AuLabel for="filter-given-name">Voornaam</AuLabel>
                      <AuInput id="filter-given-name" @width="block" @value={{this.givenName}} />
                    </p>
                    <p>
                      <AuLabel for="filter-family-name">Achternaam</AuLabel>
                      <AuInput id="filter-family-name" @width="block" @value={{this.familyName}} />
                    </p>
                    <p>
                      <AuLabel for="filter-organization">Organisatie</AuLabel>
                      <AuInput id="filter-organization" @width="block" @value={{this.organization}} />
                    </p>
                    <AuButton
                      @loading={{this.isLoading}}
                      @disabled={{this.isLoading}}
                      @width="block"
                      type="submit"
                    >
                        Zoeken
                    </AuButton>
                </form>
            </div>
        </div>
    </div>
    <div class="au-c-main-container__content">
        <div class="au-d-component-block">
            <AuDataTable
              @content={{this.people}}
              @isLoading={{this.showTableLoader}}
              @noDataMessage="No person found"
              @page={{this.page}}
              @size={{this.size}}
              as |t|
            >
                <t.menu as |menu|>
                    <menu.general>
                        <AuToolbar class="au-o-box">
                            <AuToolbarGroup>
                                <AuHeading @skin="2">
                                    Personen
                                </AuHeading>
                            </AuToolbarGroup>
                        </AuToolbar>
                    </menu.general>
                </t.menu>
                <t.content class="au-c-data-table__table--small" as |c|>
                    <c.header>
                        <AuDataTableThSortable @field="givenName" @currentSorting={{this.sort}} @label="Voornaam"
                            @class="data-table__header-title" />
                        <AuDataTableThSortable @field="familyName" @currentSorting={{this.sort}} @label="Achternaam"
                            @class="data-table__header-title" />
                        <AuDataTableThSortable @field="mandatories.mandate.governing-body.is-time-specialization-of.administrative-unit.name" @currentSorting={{this.sort}} @label="Organisatie"
                            @class="data-table__header-title" />
                        <AuDataTableThSortable @field="mandatories.mandate.role-board.label" @currentSorting={{this.sort}} @label="Positie"
                            @class="data-table__header-title" />
                        <th>Status</th>
                    </c.header>
                    <c.body as |person|>
                        <td>{{person.givenName}}</td>
                        <td>{{person.familyName}}</td>
                        <td>{{person.mandatories.firstObject.mandate.governingBody.isTimeSpecializationOf.administrativeUnit.name}}</td>
                        <td>{{person.mandatories.firstObject.mandate.roleBoard.label}}</td>
                        <td><AuPill @status="success">{{person.mandatories.firstObject.status.label}}</AuPill></td>
                    </c.body>
                </t.content>
            </AuDataTable>
        </div>
    </div>
</div>