<SidebarContainer>
  <:sidebar>
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content au-o-box">
        <form {{on "submit" this.search}} class="au-o-grid au-o-grid--small">
          <p class="au-o-grid__item au-u-1-2@small au-u-1-1@medium">
            <AuLabel for="filter-given-name">Voornaam</AuLabel>
            <AuInput
              @width="block"
              @value={{this.givenName}}
              id="filter-given-name"
            />
          </p>
          <p  class="au-o-grid__item au-u-1-2@small au-u-1-1@medium">
            <AuLabel for="filter-family-name">Achternaam</AuLabel>
            <AuInput
              @width="block"
              @value={{this.familyName}}
              id="filter-family-name"
            />
          </p>
          <p class="au-o-grid__item">
            <AuLabel for="filter-organization">Organisatie</AuLabel>
            <AuInput
              @width="block"
              @value={{this.organization}}
              id="filter-organization"
            />
          </p>
          <div class="au-o-grid__item">
            <AuButton
              @loading={{this.isLoading}}
              @disabled={{this.isLoading}}
              @width="block"
              type="submit"
            >
              Zoeken
            </AuButton>
          </div>
        </form>
      </div>
    </div>
  </:sidebar>
  <:content>
    <AuDataTable
      @content={{this.people}}
      @isLoading={{this.showTableLoader}}
      @page={{this.page}}
      @size={{this.size}}
      as |t|
    >
      <t.menu as |menu|>
        <menu.general>
          <PageHeader class="au-o-box">
            <:title>
              Personen
            </:title>
          </PageHeader>
        </menu.general>
      </t.menu>
      <t.content class="au-c-data-table__table--small" as |c|>
        <c.header>
          <AuDataTableThSortable
            @field="givenName"
            @currentSorting={{this.sort}}
            @label="Voornaam"
          />
          <AuDataTableThSortable
            @field="familyName"
            @currentSorting={{this.sort}}
            @label="Achternaam"
          />
          <AuDataTableThSortable
            @field="mandatories.mandate.governing-body.is-time-specialization-of.administrative-unit.name"
            @currentSorting={{this.sort}}
            @label="Organisatie"
          />
          <AuDataTableThSortable
            @field="mandatories.mandate.role-board.label"
            @currentSorting={{this.sort}}
            @label="Positie"
          />
          <th>Status</th>
        </c.header>
        {{#if this.hasErrored}}
          <TableMessage::Error />
        {{else if this.hasNoResults}}
          <TableMessage>
            <p>
              Er werden geen zoekresultaten gevonden. Kijk na op spelfouten,
              of probeer een andere zoekopdracht. Indien een persoon
              ontbreekt, meldt dit aan
              <a href="mailto:{{config "contactEmail"}}"  class="au-c-link">{{config "contactEmail"}}</a>.
            </p>
          </TableMessage>
        {{else}}
          <c.body as |person|>
            {{#let person.mandatories.firstObject as |mandatory|}}
              <td>
                <AuLink
                  @route="people.person"
                  @model={{person.id}}
                >
                  {{person.givenName}}
                </AuLink>
              </td>
              <td>
                <AuLink
                  @route="people.person"
                  @model={{person.id}}
                >
                  {{person.familyName}}
                </AuLink>
              </td>
              <td>
                {{#let mandatory.mandate.governingBody.isTimeSpecializationOf.administrativeUnit as |administrativeUnit|}}
                  {{#if administrativeUnit}}
                    <AuLink
                      @route="administrative-units.administrative-unit"
                      @model={{administrativeUnit.id}}
                    >
                      {{administrativeUnit.name}}
                    </AuLink>
                  {{/if}}
                {{/let}}
              </td>
              <td>
                <AuLink
                  @route="people.person.positions.mandatory"
                  @models={{array person.id mandatory.id}}
                >
                  {{mandatory.mandate.roleBoard.label}}
                </AuLink>
              </td>
              <td>
                {{#if mandatory}}
                  <PositionStatus @endDate={{mandatory.endDate}} />
                {{/if}}
              </td>
            {{/let}}
          </c.body>
        {{/if}}
      </t.content>
    </AuDataTable>
  </:content>
</SidebarContainer>