<SidebarContainer>
  <:sidebar>
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content au-o-box">
        <form
          {{on "reset" this.resetFilters}}
          class="au-o-grid au-o-grid--small"
        >
          <p class="au-o-grid__item">
            <AuLabel for="filter-given-name">Voornaam</AuLabel>
            <AuInput
              @width="block"
              @value={{this.given_name}}
              id="filter-given-name"
            />
          </p>
          <p class="au-o-grid__item">
            <AuLabel for="filter-family-name">Achternaam</AuLabel>
            <AuInput
              @width="block"
              @value={{this.family_name}}
              id="filter-family-name"
            />
          </p>
          <p class="au-o-grid__item">
            <AuLabel for="filter-organization">Organisatie</AuLabel>
            <AdministrativeUnitSelect
              @allowClear={{true}}
              @classificationCodes={{this.classificationCodes}}
              @selected={{or this.selectedOrganization this.organization}}
              @onChange={{this.setOrganization}}
              @selectedPosition={{this.position}}
              class="grow"
            />
          </p>
          <div class="au-o-grid__item">
            <AuLabel for="positions">Positie</AuLabel>
            <PositionSelect
              @selected={{this.position}}
              @onChange={{this.setPosition}}
              @selectedAdministrativeUnit={{this.organization}}
              @id="positions"
            />
          </div>
          <div class="au-o-grid__item">
            <AuButton @skin="tertiary" type="reset">
              <AuIcon @icon="cross" @alignment="left" />
              Herstel alle filters
            </AuButton>
          </div>
        </form>
      </div>
    </div>
  </:sidebar>
  <:content>
    <AuDataTable
      @content={{this.people}}
      @isLoading={{this.showTableLoader}}
      @page={{this.page}}
      @size={{this.size}}
      as |t|
    >
      <t.menu as |menu|>
        <menu.general>
          <PageHeader class="au-o-box">
            <:title>
              Personen
            </:title>
            <:alert>
              <SecuredArea>
                <:edit>
                  <Button::New @route="people.new-position" />
                </:edit>
              </SecuredArea>
            </:alert>

          </PageHeader>
          <div class="au-o-box">
            <AuToggleSwitch
              @label="Verberg niet actieve posities"
              @checked={{this.status}}
            />
          </div>
        </menu.general>
      </t.menu>
      <t.content class="au-c-data-table__table--small" as |c|>
        <c.header>
          <AuDataTableThSortable
            @field="given_name"
            @currentSorting={{this.sort}}
            @label="Voornaam"
          />
          <AuDataTableThSortable
            @field="family_name"
            @currentSorting={{this.sort}}
            @label="Achternaam"
          />
          <AuDataTableThSortable
            @field="organization_name"
            @currentSorting={{this.sort}}
            @label="Organisatie"
          />
          <AuDataTableThSortable
            @field="position_name"
            @currentSorting={{this.sort}}
            @label="Positie"
          />
          <th>Status</th>
        </c.header>
        {{#if this.hasErrored}}
          <TableMessage::Error />
        {{else if this.hasNoResults}}
          <TableMessage>
            <p>
              Er werden geen zoekresultaten gevonden. Kijk na op spelfouten, of
              probeer een andere zoekopdracht. Indien een persoon ontbreekt,
              meldt dit aan
              <a
                href="mailto:{{config 'contactEmail'}}"
                class="au-c-link"
              >{{config "contactEmail"}}</a>.
            </p>
          </TableMessage>
        {{else}}
          <c.body as |person|>
            <td>
              <AuLink @route="people.person" @model={{person.id}}>
                {{person.given_name}}
              </AuLink>
            </td>
            <td>
              <AuLink @route="people.person" @model={{person.id}}>
                {{person.family_name}}
              </AuLink>
            </td>
            <td>
              {{#if person.organization_id}}
                <AuLink
                  @route="administrative-units.administrative-unit"
                  @model={{person.organization_id}}
                >
                  {{person.organization_name}}
                </AuLink>
              {{/if}}
            </td>
            <td>
              <AuLink
                @route={{person.positionRoute}}
                @models={{array person.id person.uuid}}
              >
                {{person.position_name}}
              </AuLink>
            </td>
            <td>
              <PositionStatus @endDate={{person.end_date}} />
            </td>
          </c.body>
        {{/if}}
      </t.content>
    </AuDataTable>
  </:content>
</SidebarContainer>