{{page-title "Nieuwe positie"}}
{{breadcrumb "Nieuwe positie" route="people.new"}}

<AuBodyContainer @scroll={{true}}>
  <div class="au-o-box au-o-flow au-o-flow--large">
    <PageHeader>
      <:title>Nieuwe positie</:title>
      <:action>
        <AuButtonGroup class="au-c-button-group--align-right">
          <AuButton @skin="secondary" {{on "click" this.cancel}}>
            Annuleer
          </AuButton>          
          <AuButton form="person-creation" type="submit" @disabled={{not this.valid}}>
            Volgende
          </AuButton>
        </AuButtonGroup>
      </:action>
    </PageHeader>
    <div>
      Op dit moment kan je geen nieuwe personen aanmaken. De posities van mandatarissen, bestuursleden en
      bedienaren (voor erediensten) worden automatisch ge-update door de bestuurseenheden zelf. Merk je dat
      een positie of persoon niet wordt vermeld of de data is verkeerd, meld dit via onze
      <a href="https://binnenland.atlassian.net/servicedesk/customer/portal/13" class="au-c-link">helpdesk</a>.
      We verzoeken dan de besturen om deze data aan te passen. Samen houden we het OrganisatiePortaal up-to-date!
    </div>
  </div>
</AuBodyContainer>