{{page-title "Nieuwe persoon"}}
{{breadcrumb "Nieuwe persoon" route="people.new"}}

<AuBodyContainer @scroll={{true}}>
  <div class="au-o-box au-o-flow au-o-flow--large">
    <PageHeader>
      <:title>Voeg een nieuwe persoon toe</:title>
    </PageHeader>

    <form id="person-creation" {{on "submit" (perform this.savePersonTask)}}>
      <EditCard @containsRequiredFields={{true}}>
        <:title>Persoonlijke gegevens</:title>
        <:card as |Card|>
          <Card.Columns>
            <:left as |Item|>
              <Item
                @labelFor="person-given-name"
                @required={{true}}
                @errorMessage={{@model.person.error.givenName.validation}}
              >
                <:label>Voornaam</:label>
                <:content as |hasError|>
                  <AuInput
                    @value={{@model.person.givenName}}
                    @width="block"
                    @error={{hasError}}
                    id="person-given-name"
                  />
                </:content>
              </Item>
              <Item
                @labelFor="person-family-name"
                @required={{true}}
                @errorMessage={{@model.person.error.familyName.validation}}
              >
                <:label>Achternaam</:label>
                <:content as |hasError|>
                  <AuInput
                    @value={{@model.person.familyName}}
                    @width="block"
                    @error={{hasError}}
                    id="person-family-name"
                  />
                </:content>
              </Item>
              <Item @labelFor="person-first-name-used">
                <:label>Roepnaam</:label>
                <:content>
                  <AuInput
                    @value={{@model.person.firstNameUsed}}
                    @width="block"
                    id="person-first-name-used"
                  />
                </:content>
              </Item>
            </:left>
            <:right as |Item|>
              <Item @labelFor="person-gender" @alignTop={{true}}>
                <:label>Geslacht</:label>
                <:content>
                  <GenderSelect
                    @selected={{@model.sensitiveInformation.gender}}
                    @onChange={{fn (mut @model.sensitiveInformation.gender)}}
                    @id="person-gender"
                  />
                </:content>
              </Item>
              <Item @labelFor="person-date-of-birth">
                <:label>Geboortedatum</:label>
                <:content>
                  <Datepicker
                    @id="person-date-of-birth"
                    @value={{@model.sensitiveInformation.dateOfBirth}}
                    @onChange={{fn
                      (mut @model.sensitiveInformation.dateOfBirth)
                    }}
                  />
                </:content>
              </Item>
              <Item @labelFor="person-nationality">
                <:label>Nationaliteit</:label>
                <:content>
                  <NationalitySelect
                    @selected={{@model.sensitiveInformation.nationalities}}
                    @onChange={{fn
                      (mut @model.sensitiveInformation.nationalities)
                    }}
                    @id="person-nationality"
                  />
                </:content>
              </Item>
              <Item @labelFor="person-ssn">
                <:label>Rijksregisternummer</:label>
                <:content>
                  <AuInput
                    @value={{@model.sensitiveInformation.ssn}}
                    @width="block"
                    id="person-ssn"
                  />
                </:content>
              </Item>
            </:right>
          </Card.Columns>
        </:card>
      </EditCard>
    </form>

    <AuButtonGroup>
      <AuButton
        @loading={{this.savePersonTask.isRunning}}
        @disabled={{this.savePersonTask.isRunning}}
        form="person-creation"
        type="submit"
      >
        Opslaan
      </AuButton>

      <AuButton @skin="secondary" {{on "click" this.cancel}}>
        Annuleer
      </AuButton>
    </AuButtonGroup>
  </div>
</AuBodyContainer>