<PageHeader class="au-o-box">
  <:title>Posities</:title>
  <:subtitle>
    {{@model.person.givenName}}
    {{@model.person.familyName}}
  </:subtitle>
</PageHeader>

<AuDataTable
  @content={{@model.positions}}
  @noDataMessage="Geen posities"
  as |t|
>
  <t.content as |c|>
    <c.header>
      <th class="au-c-data-table__header-title">Positie</th>
      <th class="au-c-data-table__header-title">Organisatie</th>
      <th class="au-c-data-table__header-title">Status</th>
      {{! <th></th> }}
    </c.header>
    <c.body as |position|>
      <td>
        {{#if (eq position.type "minister")}}
          <AuLink
            @route="people.person.positions.minister"
            @models={{array @model.person.id position.id}}
          >
            {{position.role}}
          </AuLink>
        {{else if (eq position.type "mandatory")}}
          <AuLink
            @route="people.person.positions.mandatory"
            @models={{array @model.person.id position.id}}
          >
            {{position.role}}
          </AuLink>
        {{else}}
          <AuLink
            @route="people.person.positions.agent"
            @models={{array @model.person.id position.id}}
          >
            {{position.role}}
          </AuLink>
        {{/if}}
      </td>
      <td>
          {{#if position.administrativeUnit}}
            <AuLink
              @route="administrative-units.administrative-unit"
              @model={{position.administrativeUnit.id}}
            >
              {{position.administrativeUnit.name}}
            </AuLink>
          {{/if}}
      </td>
      <td>
        <PositionStatus @endDate={{position.endDate}} />
      </td>
    </c.body>
  </t.content>
</AuDataTable>
