<PageHeader class="au-o-box">
  <:title>Posities</:title>
  <:subtitle>
    {{@model.person.givenName}}
    {{@model.person.familyName}}
  </:subtitle>
  <:alert>
    <SecuredArea>
      <:edit>
        <AuAlert
          @alertIcon="info-circle"
          @alertskin="info"
          @alertsize="small"
          class="au-u-margin-bottom-small au-u-margin-top-small"
        >
          <p>Momenteel kan u nieuwe posities toevoegen en bestaande posities
            bewerken via het bestuursorgaan waar de persoon een positie heeft.</p>
        </AuAlert>
      </:edit>
      <:readOnly>
        <ReportWrongData />
      </:readOnly>
    </SecuredArea>
  </:alert>
  {{!-- <:action>
    {{! TODO: Replace this with the "new" route once it is created }}
    <AuLink
      @route="people.person.positions"
      @icon="add"
      @iconAlignment="left"
      @skin="button"
    >
      Nieuw
    </AuLink>
  </:action> --}}
</PageHeader>

<AuDataTable
  @content={{@model.positions}}
  @noDataMessage="Geen posities"
  as |t|
>
  <t.content as |c|>
    <c.header>
      <th class="au-c-data-table__header-title">Positie</th>
      <th class="au-c-data-table__header-title">Organisatie</th>
      <th class="au-c-data-table__header-title">Status</th>
      {{! <th></th> }}
    </c.header>
    <c.body as |position|>
      <td>
        {{#if (eq position.type "minister")}}
          <AuLink
            @route="people.person.positions.minister"
            @models={{array @model.person.id position.id}}
          >
            {{position.role}}
          </AuLink>
        {{else}}
          <AuLink
            @route="people.person.positions.mandatory"
            @models={{array @model.person.id position.id}}
          >
            {{position.role}}
          </AuLink>
        {{/if}}
      </td>
      <td>
          {{#if position.administrativeUnit}}
            <AuLink
              @route="administrative-units.administrative-unit"
              @model={{position.administrativeUnit.id}}
            >
              {{position.administrativeUnit.name}}
            </AuLink>
          {{/if}}
      </td>
      <td>
        <PositionStatus @endDate={{position.endDate}} />
      </td>
      {{! <td>
        TODO Replace this with the correct route
        <AuLink @route="people.person.positions">Bewerk</AuLink>
      </td> }}
    </c.body>
  </t.content>
</AuDataTable>