<PageHeader class="au-o-box">
  <:title>Posities</:title>
  <:subtitle>
    {{@model.person.givenName}}
    {{@model.person.familyName}}
  </:subtitle>
</PageHeader>

<AuDataTable
  @content={{@model.positions}}
  @noDataMessage="Geen posities"
  @page={{this.page}}
  @size={{this.size}}
  as |t|
>
  <t.content as |c|>
    <c.header>
      <AuDataTableThSortable
        @class="au-c-data-table__header-title"
        @field="position.role"
        @currentSorting={{this.sort}}
        @label="Positie"
      />
      <AuDataTableThSortable
        @class="au-c-data-table__header-title"
        @field="position.status"
        @currentSorting={{this.sort}}
        @label="Status positie"
      />
      <AuDataTableThSortable
        @class="au-c-data-table__header-title"
        @field="position.administrative-unit.name"
        @currentSorting={{this.sort}}
        @label="Organisatie(s)"
      />
      <AuDataTableThSortable
        @class="au-c-data-table__header-title"
        @field="position.status"
        @currentSorting={{this.sort}}
        @label="Status"
      />
    </c.header>
    <c.body as |position|>
      <td>
        {{#if (eq position.type "minister")}}
          <AuLink
            @route="people.person.positions.minister"
            @models={{array @model.person.id position.id}}
          >
            {{position.role}}
          </AuLink>
        {{else if (eq position.type "mandatory")}}
          <AuLink
            @route="people.person.positions.mandatory"
            @models={{array @model.person.id position.id}}
          >
            {{position.role}}
          </AuLink>
        {{else}}
          <AuLink
            @route="people.person.positions.agent"
            @models={{array @model.person.id position.id}}
          >
            {{position.role}}
          </AuLink>
        {{/if}}
      </td>
      <td>{{position.status.label}}</td>
      <td>
        {{#if position.administrativeUnit}}
          <AuLink
            @route="administrative-units.administrative-unit"
            @model={{position.administrativeUnit.id}}
          >
            {{position.administrativeUnit.name}}
          </AuLink>
        {{else}}
          {{#each position.administrativeUnits as |administrativeUnit index|}}
            <AuLink
              @route="administrative-units.administrative-unit"
              @model={{administrativeUnit.id}}
            >
              {{administrativeUnit.name}}
              ({{administrativeUnit.classification.label}})
            </AuLink>
            {{#if (gt position.administrativeUnits.length 1)}}
              {{unless index "/"}}
            {{/if}}
          {{/each}}
        {{/if}}
      </td>
      <td>
        <PositionStatus @endDate={{position.endDate}} />
      </td>
    </c.body>
  </t.content>
</AuDataTable>
