<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <PageHeader class="au-u-margin-bottom-large">
      <:title>Bewerk kerngegevens</:title>
      <:subtitle>{{@model.administrativeUnit.name}}</:subtitle>
    </PageHeader>

    <form
      id="edit-core-info-form"
      aria-label="edit-core-info-form"
      {{on "submit" (perform this.save)}}
    >
      <div class="au-o-flow au-o-flow--large">
        <EditCard>
          <:title>Bestuurseenheid</:title>
          <:card as |Card|>
            <Card.Grid as |Item|>
              <Item @labelFor="worship-service-name">
                <:label>Naam eredienst</:label>
                <:content>
                  <AuInput
                    @width="block"
                    @value={{@model.administrativeUnit.name}}
                    id="worship-service-name"
                  />
                </:content>
              </Item>
              <Item @labelFor="status-select">
                <:label>Status</:label>
                <:content>
                  <PowerSelect
                    @noMatchesMessage="Geen resultaten"
                    @options={{@model.statuses}}
                    @selected={{@model.administrativeUnit.organizationStatus}}
                    @onChange={{fn
                      (mut @model.administrativeUnit.organizationStatus)
                    }}
                    @disabled={{true}}
                    @triggerId="status-select"
                    as |status|
                  >
                    {{status.label}}
                  </PowerSelect>
                </:content>
              </Item>
            </Card.Grid>
            <Card.Grid as |Item|>
              <Item>
                <:label>Type bestuur</:label>
                <:content>
                  <PowerSelect
                    @disabled={{true}}
                    @selected={{@model.administrativeUnit.classification}}
                    @onChange={{fn
                      (mut @model.administrativeUnit.classification)
                    }}
                    as |classification|
                  >
                    {{classification.label}}
                  </PowerSelect>
                </:content>
              </Item>
            </Card.Grid>
            <Card.Grid as |Item|>
              <Item @labelFor="recognized-worship-type-select">
                <:label>Soort eredienst</:label>
                <:content>
                  <RecognizedWorshipTypeSelect
                    @selected={{this.model.administrativeUnit.recognizedWorshipType}}
                    @onChange={{fn
                      (mut this.administrativeUnit.recognizedWorshipType)
                    }}
                  />
                </:content>
              </Item>
            </Card.Grid>
            {{#if
              (eq
                @model.administrativeUnit.constructor.modelName
                "worship-service"
              )
            }}
              <Card.Grid as |Item|>
                <Item @labelFor="denomination">
                  <:label>Strekking</:label>
                  <:content>
                    <AuInput
                      @width="block"
                      @value={{@model.administrativeUnit.denomination}}
                      id="denomination"
                    />
                  </:content>
                </Item>
              </Card.Grid>
              <Card.Grid as |Item|>
                <Item>
                  <:label>Grensoverschrijvend</:label>
                  <:content>
                    <AuControlRadio
                      @label="Ja"
                      @name="is-cross-border"
                      @value={{@model.administrativeUnit.crossBorder}}
                      @identifier="cross-border-true"
                      @onChange={{fn
                        (mut @model.administrativeUnit.crossBorder)
                        true
                      }}
                      checked={{@model.administrativeUnit.crossBorder}}
                    />

                    <br />

                    <AuControlRadio
                      @label="Nee"
                      @name="is-cross-border"
                      @value={{@model.administrativeUnit.crossBorder}}
                      @identifier="cross-border-false"
                      @onChange={{fn
                        (mut @model.administrativeUnit.crossBorder)
                        false
                      }}
                      checked={{not @model.administrativeUnit.crossBorder}}
                    />
                  </:content>
                </Item>
              </Card.Grid>
            {{/if}}
            <Card.Grid as |Item|>
              <Item @labelFor="administrative-unit-scope">
                <:label>Werkingsgebied</:label>
                <:content>
                  {{! TODO: Enable multiple selections and concat the selections in one label }}
                  <ScopeSelect
                    @selected={{this.model.administrativeUnit.scope}}
                    @onChange={{fn (mut this.model.administrativeUnit.scope)}}
                  />
                </:content>
              </Item>
              {{#each @model.administrativeUnit.identifiers as |identifier|}}
                <Item>
                  <:label>{{identifier.idName}}</:label>
                  <:content>
                    <AuInput
                      @width="block"
                      @value={{identifier.structuredIdentifier.localId}}
                      id={{identifier.idName}}
                    />
                  </:content>
                </Item>
                <Item>
                  <:label></:label>
                  <:content></:content>
                </Item>
              {{/each}}
            </Card.Grid>
          </:card>
        </EditCard>

        <EditCard>
          <:title>Primaire contactgegevens</:title>
          <:card as |Card|>
            <Card.Grid as |Item|>
              <Item @labelFor="primary-site-address-street-name">
                <:label>Straat</:label>
                <:content>
                  <AuInput
                    @value={{@model.administrativeUnit.primarySite.address.street}}
                    @width="block"
                    id="primary-site-address-street-name"
                  />
                </:content>
              </Item>
              <Item @labelFor="primary-site-address-house-number">
                <:label>Huisnummer</:label>
                <:content>
                  <AuInput
                    @value={{@model.administrativeUnit.primarySite.address.number}}
                    @width="block"
                    id="primary-site-address-house-number"
                  />
                </:content>
              </Item>
              <Item @labelFor="primary-site-address-bus-number">
                <:label>Busnummer</:label>
                <:content>
                  <AuInput
                    @value={{@model.administrativeUnit.primarySite.address.boxNumber}}
                    @width="block"
                    id="primary-site-address-bus-number"
                  />
                </:content>
              </Item>
              <Item @labelFor="primary-site-address-postal-code">
                <:label>Postcode</:label>
                <:content>
                  <AuInput
                    @value={{@model.administrativeUnit.primarySite.address.postcode}}
                    @width="block"
                    id="primary-site-address-postal-code"
                  />
                </:content>
              </Item>
              <Item @labelFor="primary-site-address-municipality">
                <:label>Gemeente</:label>
                <:content>
                  <MunicipalitySelect
                    @selected={{this.model.administrativeUnit.primarySite.address.municipality}}
                    @onChange={{fn
                      (mut
                        this.model.administrativeUnit.primarySite.address.municipality
                      )
                    }}
                  />
                </:content>
              </Item>
              <Item @labelFor="primary-site-address-province">
                <:label>Provincie</:label>
                <:content>
                  <ProvinceSelect
                    @selected={{this.model.administrativeUnit.primarySite.address.province}}
                    @onChange={{fn
                      (mut
                        this.model.administrativeUnit.primarySite.address.province
                      )
                    }}
                  />
                </:content>
              </Item>
              <Item @labelFor="primary-site-contact-phone-number">
                <:label>Telefoonnummer</:label>
                <:content>
                  <AuInput
                    @value={{@model.administrativeUnit.primarySite.contacts.firstObject.telephone}}
                    @width="block"
                    id="primary-site-contact-phone-number"
                  />
                </:content>
              </Item>
              <Item @labelFor="primary-site-contact-website">
                <:label>Website</:label>
                <:content>
                  <AuInput
                    @value={{@model.administrativeUnit.primarySite.contacts.firstObject.website}}
                    @width="block"
                    id="primary-site-contact-website"
                  />
                </:content>
              </Item>
            </Card.Grid>
          </:card>
        </EditCard>

        <EditCard>
          <:title>Gerelateerde organisaties</:title>
          <:card as |Card|>
            {{#if
              (eq
                @model.administrativeUnit.constructor.modelName
                "worship-service"
              )
            }}
              <Card.Grid as |Item|>
                <Item>
                  <:label>Centraal bestuur</:label>
                  <:content>
                    <CentralWorshipSelect
                      @selected={{this.model.administrativeUnit.isSubOrganizationOf}}
                      @onChange={{fn
                        (mut this.model.administrativeUnit.isSubOrganizationOf)
                      }}
                    />
                  </:content>
                </Item>
              </Card.Grid>
            {{/if}}
            {{#if
              (eq
                @model.administrativeUnit.constructor.modelName
                "central-worship-service"
              )
            }}
              {{#each @model.administrativeUnit.subOrganizations as |worship|}}
                <Card.Grid as |Item|>
                  <Item>
                    {{! TODO: Enable to edit the list of worship services that are linked to central worship service }}
                    <:label>Bestuur van de eredienst</:label>
                    <:content>
                      {{worship.name}}
                    </:content>
                  </Item>
                </Card.Grid>
              {{/each}}
            {{/if}}
            <Card.Grid as |Item|>
              <Item>
                <:label>Representatief orgaan</:label>
                <:content>
                  <RepresentativeBodySelect
                    @selected={{this.model.administrativeUnit.isAssociatedWith}}
                    @onChange={{fn
                      (mut this.model.administrativeUnit.isAssociatedWith)
                    }}
                  />
                </:content>
              </Item>
            </Card.Grid>
          </:card>
        </EditCard>

        <AuButtonGroup>
          <AuButton
            @loading={{this.save.isRunning}}
            @disabled={{this.save.isRunning}}
            type="submit"
          >
            Pas aan
          </AuButton>

          <AuLink
            @route="administrative-units.administrative-unit.core-data"
            @skin="button-secondary"
          >
            Annuleer
          </AuLink>
        </AuButtonGroup>
      </div>
    </form>
  </div>
</div>