<div class="au-c-main-container__content au-c-main-container__content--scroll au-o-box">
  <AuHeading class="au-u-margin-bottom-tiny">
    Bewerk kerngegevens
  </AuHeading>
  <AuHeading @level="2" @skin="3" class="au-u-margin-bottom-large">
    {{@model.administrativeUnit.name}}
  </AuHeading>

  <form
    id="edit-core-info-form"
    aria-label="edit-core-info-form"
    {{on "submit" (perform this.save)}}
  >
    <div class="au-o-flow au-o-flow--large">
      <div>
        <AuHeading @level="3" @skin="5" class="au-u-margin-bottom-small">Bestuur van de eredienst</AuHeading>
        <AuCard as |c|>
          <c.content>
            <div class="au-o-grid">
              <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                <div class="au-o-grid">
                  <div class="au-o-grid__item au-u-1-4">
                    <AuLabel for="worship-service-name">
                      Naam eredienst
                    </AuLabel>
                  </div>
                  <div class="au-o-grid__item au-u-3-4">
                    <AuInput
                      @width="block"
                      @value={{@model.administrativeUnit.name}}
                      id="worship-service-name"
                    />
                  </div>
                </div>
              </div>
              <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                <div class="au-o-grid">
                  <div class="au-o-grid__item au-u-1-4">
                    <AuLabel for="status-select">
                      Status
                    </AuLabel>
                  </div>
                  <div class="au-o-grid__item au-u-3-4">
                    <PowerSelect
                      @noMatchesMessage="Geen resultaten"
                      @options={{@model.statuses}}
                      @selected={{@model.administrativeUnit.organizationStatus}}
                      @onChange={{fn
                        (mut @model.administrativeUnit.organizationStatus)
                      }}
                      @disabled={{true}}
                      @triggerId="status-select"
                      as |status|
                    >
                      {{status.label}}
                    </PowerSelect>
                  </div>
                </div>
              </div>
              <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                <div class="au-o-grid">
                  <div class="au-o-grid__item au-u-1-4">
                    <AuLabel for="honorary-service-type-select">
                      Type eredienst
                    </AuLabel>
                  </div>
                  <div class="au-o-grid__item au-u-3-4">
                    <PowerSelect
                      @searchEnabled={{true}}
                      @searchField="label"
                      @noMatchesMessage="Geen resultaten"
                      @searchMessage="Typ om te zoeken"
                      @options={{@model.honoraryServiceTypes}}
                      @selected={{@model.administrativeUnit.honoraryServiceType}}
                      @onChange={{fn
                        (mut this.administrativeUnit.honoraryServiceType)
                      }}
                      @triggerId="honorary-service-type-select"
                      as |honoraryServiceType|
                    >
                      {{honoraryServiceType.label}}
                    </PowerSelect>
                  </div>
                </div>
              </div>
            </div>
            <div class="au-o-grid">
              <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                <div class="au-o-grid">
                  <div class="au-o-grid__item au-u-1-4">
                    <AuLabel for="denomination">Strekking</AuLabel>
                  </div>
                  <div class="au-o-grid__item au-u-3-4">
                    <AuInput
                      @width="block"
                      @value={{@model.administrativeUnit.denomination}}
                      id="denomination"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="au-o-grid">
              <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                <div class="au-o-grid">
                  <div class="au-o-grid__item au-u-1-4">
                    <AuLabel>Grensoverschrijvend</AuLabel>
                  </div>
                  <div class="au-o-grid__item au-u-3-4">
                    <AuControlRadio
                      @label="Ja"
                      @name="is-cross-border"
                      @value={{@model.administrativeUnit.crossBorder}}
                      @identifier="cross-border-true"
                      @onChange={{fn
                        (mut @model.administrativeUnit.crossBorder)
                        true
                      }}
                      checked={{@model.administrativeUnit.crossBorder}}
                    />

                    <br>

                    <AuControlRadio
                      @label="Nee"
                      @name="is-cross-border"
                      @value={{@model.administrativeUnit.crossBorder}}
                      @identifier="cross-border-false"
                      @onChange={{fn
                        (mut @model.administrativeUnit.crossBorder)
                        false
                      }}
                      checked={{not @model.administrativeUnit.crossBorder}}
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="au-o-grid">
              <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                <div class="au-o-grid">
                  <div class="au-o-grid__item au-u-1-4">
                    <AuLabel for="administrative-unit-scope">Werkingsgebied</AuLabel>
                  </div>
                  <div class="au-o-grid__item au-u-3-4">
                    {{!-- TODO Make this work --}}
                    <PowerSelectMultiple
                      @disabled={{true}}
                      @allowClear={{true}}
                      @searchEnabled={{true}}
                      @loadingMessage="Aan het laden..."
                      @noMatchesMessage="Geen resultaten"
                      @searchMessage="Typ om te zoeken"
                      @selected={{@model.administrativeUnit.scope}}
                      @onChange={{fn (mut @model.administrativeUnit.scope)}}
                      @triggerId="administrative-unit-scope"
                      as |scope|
                    >
                      {{scope}}
                    </PowerSelectMultiple>
                  </div>
                </div>
              </div>
            </div>
            <div class="au-o-grid">
              {{#each @model.administrativeUnit.identifiers as |identifier|}}
                <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                  <div class="au-o-grid">
                    <div class="au-o-grid__item au-u-1-4">
                      <p><strong>{{identifier.idName}}</strong></p>
                    </div>
                    <div class="au-o-grid__item au-u-3-4">
                      <p>{{identifier.structuredIdentifier.localId}}</p>
                    </div>
                  </div>
                </div>
              {{/each}}
            </div>
          </c.content>
        </AuCard>
      </div>

      <div>
        <AuHeading @level="3" @skin="5" class="au-u-margin-bottom-small">Contactgegevens maatschappelijke zetel</AuHeading>
        <AuCard @standOut={{false}} as |c|>
          <c.content>
            <div class="au-o-grid">
              <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                <div class="au-o-grid">
                  <div class="au-o-grid__item au-u-1-4">
                    <AuLabel for="primary-site-address-street-name">Straat</AuLabel>
                  </div>
                  <div class="au-o-grid__item au-u-3-4">
                    <AuInput
                      @value={{@model.administrativeUnit.primarySite.address.street}}
                      @width="block"
                      id="primary-site-address-street-name"
                    />
                  </div>
                </div>
              </div>
              <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                <div class="au-o-grid">
                  <div class="au-o-grid__item au-u-1-4">
                    <AuLabel for="primary-site-address-house-number">Huisnummer</AuLabel>
                  </div>
                  <div class="au-o-grid__item au-u-3-4">
                    <AuInput
                      @value={{@model.administrativeUnit.primarySite.address.number}}
                      @width="block"
                      id="primary-site-address-house-number"
                    />
                  </div>
                </div>
              </div>
              <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                <div class="au-o-grid">
                  <div class="au-o-grid__item au-u-1-4">
                    <AuLabel for="primary-site-address-bus-number">Busnummer</AuLabel>
                  </div>
                  <div class="au-o-grid__item au-u-3-4">
                    <AuInput
                      @value={{@model.administrativeUnit.primarySite.address.boxNumber}}
                      @width="block"
                      id="primary-site-address-bus-number"
                    />
                  </div>
                </div>
              </div>
              <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                <div class="au-o-grid">
                  <div class="au-o-grid__item au-u-1-4">
                    <AuLabel for="primary-site-address-postal-code">Postcode</AuLabel>
                  </div>
                  <div class="au-o-grid__item au-u-3-4">
                    <AuInput
                      @value={{@model.administrativeUnit.primarySite.address.postcode}}
                      @width="block"
                      id="primary-site-address-postal-code"
                    />
                  </div>
                </div>
              </div>
              <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                <div class="au-o-grid">
                  <div class="au-o-grid__item au-u-1-4">
                    <AuLabel for="primary-site-address-municipality">Gemeente</AuLabel>
                  </div>
                  <div class="au-o-grid__item au-u-3-4">
                    <PowerSelect
                      @allowClear={{true}}
                      @searchEnabled={{true}}
                      @loadingMessage="Aan het laden..."
                      @noMatchesMessage="Geen resultaten"
                      @searchMessage="Typ om te zoeken"
                      @options={{@model.municipalities}}
                      @selected={{@model.administrativeUnit.primarySite.address.municipality}}
                      @onChange={{fn (mut @model.administrativeUnit.primarySite.address.municipality)}}
                      @triggerId="primary-site-address-municipality"
                      as |municipality|
                    >
                      {{municipality}}
                    </PowerSelect>
                  </div>
                </div>
              </div>
              <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                <div class="au-o-grid">
                  <div class="au-o-grid__item au-u-1-4">
                    <AuLabel for="primary-site-address-province">Provincie</AuLabel>
                  </div>
                  <div class="au-o-grid__item au-u-3-4">
                    <PowerSelect
                      @allowClear={{true}}
                      @searchEnabled={{true}}
                      @loadingMessage="Aan het laden..."
                      @noMatchesMessage="Geen resultaten"
                      @searchMessage="Typ om te zoeken"
                      @options={{@model.provinces}}
                      @selected={{@model.administrativeUnit.primarySite.address.province}}
                      @onChange={{fn (mut  @model.administrativeUnit.primarySite.address.province)}}
                      @triggerId="primary-site-address-province"
                      as |province|
                    >
                      {{province}}
                    </PowerSelect>
                  </div>
                </div>
              </div>
              <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                <div class="au-o-grid">
                  <div class="au-o-grid__item au-u-1-4">
                    <AuLabel class="primary-site-contact-phone-number">Telefoonnummer</AuLabel>
                  </div>
                  <div class="au-o-grid__item au-u-3-4">
                      <AuInput
                        @value={{@model.administrativeUnit.primarySite.contacts.firstObject.telephone}}
                        @width="block"
                        id="primary-site-contact-phone-number"
                      />
                  </div>
                </div>
              </div>
              <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                <div class="au-o-grid">
                  <div class="au-o-grid__item au-u-1-4">
                    <AuLabel for="primary-site-contact-website">Website</AuLabel>
                  </div>
                  <div class="au-o-grid__item au-u-3-4">
                    <AuInput
                      @value={{@model.administrativeUnit.primarySite.contacts.firstObject.website}}
                      @width="block"
                      id="primary-site-contact-website"
                    />
                  </div>
                </div>
              </div>
            </div>
          </c.content>
        </AuCard>
      </div>

      <AuButtonGroup>
        <AuButton type="submit">
          Pas aan
        </AuButton>

        <AuLink
          @route="administrative-units.administrative-unit.core-data"
          @skin="button-secondary"
        >
          Annuleer
        </AuLink>
      </AuButtonGroup>
    </div>
  </form>
</div>