<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <PageHeader class="au-u-margin-bottom-large">
      <:title>Bewerk kerngegevens</:title>
      <:subtitle>{{@model.administrativeUnit.name}} ({{@model.administrativeUnit.classification.label}})</:subtitle>
      <:action>
        <div>
          <AuButtonGroup class="au-c-button-group--align-right">
            <AuLink
              @route="administrative-units.administrative-unit.core-data"
              @skin="button-secondary"
            >
              Annuleer
            </AuLink>
            <AuButton
              @loading={{this.save.isRunning}}
              @disabled={{this.save.isRunning}}
              form="edit-core-info-form"
              type="submit"
            >
              Opslaan
            </AuButton>
          </AuButtonGroup>
          <ReportWrongData />
        </div>
      </:action>
    </PageHeader>

    <form
      id="edit-core-info-form"
      aria-label="edit-core-info-form"
      {{on "submit" (perform this.save)}}
    >
      <div class="au-o-flow au-o-flow--large">
        <EditCard @containsRequiredFields={{true}}>
          <:title>Bestuurseenheid</:title>
          <:card as |Card|>
            <Card.Columns>
              <:left as |Item|>
                <Item
                  @labelFor="worship-service-name"
                  @required={{true}}
                  @errorMessage={{@model.administrativeUnit.error.name.validation}}
                >
                  <:label>Naam</:label>
                  <:content as |hasError|>
                    <TrimInput
                      @width="block"
                      @disabled={{or this.isProvince this.isMunicipality}}
                      @value={{@model.administrativeUnit.name}}
                      @onUpdate={{fn (mut @model.administrativeUnit.name)}}
                      @error={{hasError}}
                      id="worship-service-name"
                    />
                      {{#if (or this.isProvince this.isMunicipality)}}
                      <AuHelpText>
        De naam van een gemeente en provincie kan voorlopig niet langer aangepast worden. Indien toch een aanpassing nodig, gelieve deze via de helpdesk aan te vragen.
                      </AuHelpText>
                    {{/if}}
                  </:content>
                </Item>
                <Item @labelFor="classification">
                  <:label>Type bestuur</:label>
                  <:content>
                    <PowerSelect
                      @disabled={{true}}
                      @selected={{@model.administrativeUnit.classification}}
                      @onChange={{fn
                        (mut @model.administrativeUnit.classification)
                      }}
                      @triggerId="classification"
                      as |classification|
                    >
                      {{classification.label}}
                    </PowerSelect>
                  </:content>
                </Item>
                {{#if this.isWorshipAdministrativeUnit}}
                  <Item
                    @labelFor="recognized-worship-type-select"
                    @required={{true}}
                    @errorMessage={{@model.administrativeUnit.error.recognizedWorshipType.validation}}
                  >
                    <:label>Soort eredienst</:label>
                    <:content as |hasError|>
                      <RecognizedWorshipTypeSelect
                        @selected={{@model.administrativeUnit.recognizedWorshipType}}
                        @onChange={{fn
                          (mut @model.administrativeUnit.recognizedWorshipType)
                        }}
                        @allowClear={{false}}
                        @error={{hasError}}
                        @id="recognized-worship-type-select"
                      />
                    </:content>
                  </Item>
                {{/if}}
                {{#if this.isWorshipService}}
                  <Item @labelFor="denomination">
                    <:label>Strekking</:label>
                    <:content>
                      <TrimInput
                        @width="block"
                        @value={{@model.administrativeUnit.denomination}}
                        @onUpdate={{fn (mut @model.administrativeUnit.denomination)}}
                        id="denomination"
                      />
                    </:content>
                  </Item>
                  <Item>
                    <:label>Grensoverschrijvend</:label>
                    <:content>
                      <ul class="au-c-list-inline">
                        <li class="au-c-list-inline__item">
                          <AuControlRadio
                            @label="Ja"
                            @name="is-cross-border"
                            @value={{@model.administrativeUnit.crossBorder}}
                            @identifier="cross-border-true"
                            @onChange={{fn
                              (mut @model.administrativeUnit.crossBorder)
                              true
                            }}
                            checked={{@model.administrativeUnit.crossBorder}}
                          />
                        </li>
                        <li class="au-c-list-inline__item">
                          <AuControlRadio
                            @label="Nee"
                            @name="is-cross-border"
                            @value={{@model.administrativeUnit.crossBorder}}
                            @identifier="cross-border-false"
                            @onChange={{fn
                              (mut @model.administrativeUnit.crossBorder)
                              false
                            }}
                            checked={{not
                              @model.administrativeUnit.crossBorder
                            }}
                          />
                        </li>
                      </ul>
                    </:content>
                  </Item>
                {{/if}}
                {{#if this.isMunicipality}}
                  <Item @labelFor="regio">
                    <:label>Regio</:label>
                    <:content>
                      <RegionSelect
                        @selected={{@model.administrativeUnit.scope.locatedWithin}}
                        @onChange={{fn
                          (mut @model.administrativeUnit.scope.locatedWithin)
                        }}
                        @id="regio"
                      />
                    </:content>
                  </Item>
                {{/if}}
              </:left>
              <:right as |Item|>
                <Item @labelFor="status-select">
                  <:label>Status</:label>
                  <:content>
                    <PowerSelect
                      @noMatchesMessage="Geen resultaten"
                      @options={{@model.statuses}}
                      @selected={{@model.administrativeUnit.organizationStatus}}
                      @onChange={{fn
                        (mut @model.administrativeUnit.organizationStatus)
                      }}
                      @disabled={{true}}
                      @triggerId="status-select"
                      as |status|
                    >
                      {{status.label}}
                    </PowerSelect>
                  </:content>
                </Item>
                <Item
                  @labelFor="kbo-identifier"
                  @errorMessage={{@model.structuredIdentifierKBO.error.localId.validation}}
                >
                  <:label>{{@model.identifierKBO.idName}}</:label>
                  <:content as |hasError|>
                    <AuInput
                      @maskPlaceholder="_"
                      autocomplete="off"
                      @mask="####.###.###"
                      @onChange={{this.setKbo}}
                      @width="block"
                      @value={{@model.structuredIdentifierKBO.localId}}
                      @error={{hasError}}
                      id="kbo-identifier"
                      placeholder="____.___.___"
                    />
                  </:content>
                  <:error as |error|>
                    <Error::KboNumber @error={{error}} />
                  </:error>
                </Item>
                <Item @labelFor="sharepoint-identifier">
                  <:label>{{@model.identifierSharepoint.idName}}</:label>
                  <:content>
                    <TrimInput
                      @width="block"
                      @value={{@model.structuredIdentifierSharepoint.localId}}
                      @onUpdate={{fn (mut @model.structuredIdentifierSharepoint.localId)}}
                      id="sharepoint-identifier"
                    />
                  </:content>
                </Item>
                {{#if (or this.isMunicipality this.isProvince)}}
                  <Item @labelFor="nis-identifier">
                    <:label>{{@model.identifierNIS.idName}}</:label>
                    <:content>
                      {{@model.administrativeUnit.scope.exactMatch.notation}}
                    </:content>
                  </Item>
                {{/if}}
                {{#unless this.isWorshipAdministrativeUnit}}
                  <Item @labelFor="ovo-identifier">
                    <:label>{{@model.identifierOVO.idName}}</:label>
                    <:content>
                      {{@model.structuredIdentifierOVO.localId}}
                    </:content>
                  </Item>
                {{/unless}}
              </:right>
            </Card.Columns>
          </:card>
        </EditCard>

        <Site::ContactEditCard
          @address={{@model.address}}
          @isAddressSearchEnabledInitially={{if
            (or (not @model.address.id) @model.address.addressRegisterUri)
            true
            false
          }}
          @primaryContact={{@model.contact}}
          @secondaryContact={{@model.secondaryContact}}
        >
          <:title>Primaire contactgegevens</:title>
        </Site::ContactEditCard>
      </div>
  {{#if (and @model.administrativeUnit.classification (or this.isAgb this.isApb))}}
      <EditCard @containsRequiredFields={{true}}>
        <:title>Gerelateerde organisaties</:title>
        <:card as |Card|>
            <Card.Columns>
              <:left as |Item|>
              {{#if this.isAgb}}
                <Item
                  @labelFor="related-gemeente"
                  @required={{true}}
                  @errorMessage={{@model.administrativeUnit.error.isSubOrganizationOf.validation}}
                >
                  <:label>Gemeente</:label>
                  <:content as |hasError|>
                    <AdministrativeUnitSelect
                      @selected={{@model.administrativeUnit.isSubOrganizationOf}}
                      @onChange={{fn
                        (mut @model.administrativeUnit.isSubOrganizationOf)
                      }}
                      @classificationCodes={{this.classificationCodes}}
                      @error={{hasError}}
                      @id="related-gemeente"
                    />
                  </:content>
                </Item>

                {{#if @model.administrativeUnit.isSubOrganizationOf}}
                  <Item>
                    <:label>
                      Provincie
                    </:label>
                    <:content>
                      {{@model.administrativeUnit.isSubOrganizationOf.isSubOrganizationOf.name}}
                    </:content>
                  </Item>
                {{/if}}

                  <Item
                    @labelFor="oprichting-gemeente"
                    @required={{true}}
                    @errorMessage={{@model.administrativeUnit.error.wasFoundedByOrganization.validation}}
                  >
                    <:label>Werd opgericht door</:label>
                    <:content as |hasError|>
                    <AdministrativeUnitSelect
                      @selected={{@model.administrativeUnit.wasFoundedByOrganization}}
                      @onChange={{fn
                        (mut @model.administrativeUnit.wasFoundedByOrganization)
                      }}
                      @classificationCodes={{this.classificationCodes}}
                      @error={{hasError}}
                      @id="oprichting-gemeente"
                    />
                    </:content>
                </Item>
              {{else}}
                  <Item
                    @labelFor="related-provincie"
                    @required={{true}}
                    @errorMessage={{@model.administrativeUnit.error.isSubOrganizationOf.validation}}
                  >
                    <:label>Provincie</:label>
                    <:content as |hasError|>
                      <ProvinceOrganizationSelect
                        @selected={{@model.administrativeUnit.isSubOrganizationOf}}
                        @onChange={{fn
                          (mut @model.administrativeUnit.isSubOrganizationOf)
                        }}
                        @error={{hasError}}
                        @id="related-provincie"
                      />
                    </:content>
                  </Item>
  <Item
                  @labelFor="related-gemeente"
                  @required={{true}}
                  @errorMessage={{@model.administrativeUnit.error.isAssociatedWith.validation}}
                >
                  <:label>Gemeente</:label>
                  <:content as |hasError|>
                    <AdministrativeUnitSelect
                      @selected={{@model.administrativeUnit.isAssociatedWith}}
                      @onChange={{fn
                        (mut @model.administrativeUnit.isAssociatedWith)
                      }}
                      @classificationCodes={{this.classificationCodes}}
                      @error={{hasError}}
                      @id="related-gemeente"
                    />
                  </:content>
                </Item>
                  <Item
                    @labelFor="opregicht-provincie"
                    @required={{true}}
                    @errorMessage={{@model.administrativeUnit.error.wasFoundedByOrganization.validation}}
                  >
                    <:label>Werd opgericht door</:label>
                    <:content as |hasError|>
                      <ProvinceOrganizationSelect
                        @selected={{@model.administrativeUnit.wasFoundedByOrganization}}
                        @onChange={{fn
                          (mut @model.administrativeUnit.wasFoundedByOrganization)
                        }}
                        @error={{hasError}}
                        @id="opregicht-provincie"
                      />
                    </:content>
                  </Item>

                {{/if}}
              </:left>
            </Card.Columns>
        </:card>
      </EditCard>
    {{/if}}

    </form>
  </div>
</div>