<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box">
    <PageHeader class="au-u-margin-bottom-large">
      <:title>Bewerk kerngegevens</:title>
      <:subtitle>{{@model.administrativeUnit.name}}</:subtitle>
    </PageHeader>

    <form
      id="edit-core-info-form"
      aria-label="edit-core-info-form"
      {{on "submit" (perform this.save)}}
    >
      <div class="au-o-flow au-o-flow--large">
        <EditCard>
          <:title>Bestuurseenheid</:title>
          <:card as |Card|>
            <Card.Columns>
              <:left as |Item|>
                <Item @labelFor="worship-service-name">
                  <:label>Naam</:label>
                  <:content>
                    <AuInput
                      @width="block"
                      @value={{@model.administrativeUnit.name}}
                      id="worship-service-name"
                    />
                  </:content>
                </Item>
                <Item @labelFor="classification">
                  <:label>Type bestuur</:label>
                  <:content>
                    <PowerSelect
                      @disabled={{true}}
                      @selected={{@model.administrativeUnit.classification}}
                      @onChange={{fn
                        (mut @model.administrativeUnit.classification)
                      }}
                      @triggerId="classification"
                      as |classification|
                    >
                      {{classification.label}}
                    </PowerSelect>
                  </:content>
                </Item>
                <Item @labelFor="recognized-worship-type-select">
                  <:label>Soort eredienst</:label>
                  <:content>
                    <RecognizedWorshipTypeSelect
                      @selected={{this.model.administrativeUnit.recognizedWorshipType}}
                      @onChange={{fn
                        (mut this.administrativeUnit.recognizedWorshipType)
                      }}
                      @id="recognized-worship-type-select"
                    />
                  </:content>
                </Item>
                {{#if
                  (eq
                    @model.administrativeUnit.constructor.modelName
                    "worship-service"
                  )
                }}
                  <Item @labelFor="denomination">
                    <:label>Strekking</:label>
                    <:content>
                      <AuInput
                        @width="block"
                        @value={{@model.administrativeUnit.denomination}}
                        id="denomination"
                      />
                    </:content>
                  </Item>
                  <Item>
                    <:label>Grensoverschrijvend</:label>
                    <:content>
                      <ul class="au-c-list-inline">
                        <li class="au-c-list-inline__item">
                          <AuControlRadio
                            @label="Ja"
                            @name="is-cross-border"
                            @value={{@model.administrativeUnit.crossBorder}}
                            @identifier="cross-border-true"
                            @onChange={{fn
                              (mut @model.administrativeUnit.crossBorder)
                              true
                            }}
                            checked={{@model.administrativeUnit.crossBorder}}
                          />
                        </li>
                        <li class="au-c-list-inline__item">
                          <AuControlRadio
                            @label="Nee"
                            @name="is-cross-border"
                            @value={{@model.administrativeUnit.crossBorder}}
                            @identifier="cross-border-false"
                            @onChange={{fn
                              (mut @model.administrativeUnit.crossBorder)
                              false
                            }}
                            checked={{not
                              @model.administrativeUnit.crossBorder
                            }}
                          />
                        </li>
                      </ul>
                    </:content>
                  </Item>
                {{/if}}

                {{!-- Temporarily disabled - cf https://binnenland.atlassian.net/browse/OP-583
                <Item @labelFor="administrative-unit-scope">
                  <:label>Werkingsgebied</:label>
                  <:content>
                    <ScopeSelect
                      @selected={{this.model.administrativeUnit.scope}}
                      @onChange={{fn (mut this.model.administrativeUnit.scope)}}
                    />
                  </:content>
                </Item> --}}
              </:left>
              <:right as |Item|>
                <Item @labelFor="status-select">
                  <:label>Status</:label>
                  <:content>
                    <PowerSelect
                      @noMatchesMessage="Geen resultaten"
                      @options={{@model.statuses}}
                      @selected={{@model.administrativeUnit.organizationStatus}}
                      @onChange={{fn
                        (mut @model.administrativeUnit.organizationStatus)
                      }}
                      @disabled={{true}}
                      @triggerId="status-select"
                      as |status|
                    >
                      {{status.label}}
                    </PowerSelect>
                  </:content>
                </Item>

                {{#each @model.administrativeUnit.identifiers as |identifier|}}
                  <Item @labelFor={{identifier.idName}}>
                    <:label>{{identifier.idName}}</:label>
                    <:content>
                      <AuInput
                        @width="block"
                        @value={{identifier.structuredIdentifier.localId}}
                        id={{identifier.idName}}
                      />
                    </:content>
                  </Item>
                {{/each}}
              </:right>
            </Card.Columns>
          </:card>
        </EditCard>

        <EditCard>
          <:title>Primaire contactgegevens</:title>
          <:card as |Card|>
            <Card.Columns>
              <:left as |Item|>
                <Item @labelFor="primary-site-address-street-name">
                  <:label>Straat</:label>
                  <:content>
                    <AuInput
                      @value={{@model.administrativeUnit.primarySite.address.street}}
                      @width="block"
                      id="primary-site-address-street-name"
                    />
                  </:content>
                </Item>
                <Item @labelFor="primary-site-address-house-number">
                  <:label>Huisnummer</:label>
                  <:content>
                    <AuInput
                      @value={{@model.administrativeUnit.primarySite.address.number}}
                      @width="block"
                      id="primary-site-address-house-number"
                    />
                  </:content>
                </Item>
                <Item @labelFor="primary-site-address-bus-number">
                  <:label>Busnummer</:label>
                  <:content>
                    <AuInput
                      @value={{@model.administrativeUnit.primarySite.address.boxNumber}}
                      @width="block"
                      id="primary-site-address-bus-number"
                    />
                  </:content>
                </Item>
                <Item @labelFor="primary-site-address-postal-code">
                  <:label>Postcode</:label>
                  <:content>
                    <AuInput
                      @value={{@model.administrativeUnit.primarySite.address.postcode}}
                      @width="block"
                      id="primary-site-address-postal-code"
                    />
                  </:content>
                </Item>
                <Item @labelFor="primary-site-address-municipality">
                  <:label>Gemeente</:label>
                  <:content>
                    <MunicipalitySelect
                      @selected={{this.model.administrativeUnit.primarySite.address.municipality}}
                      @onChange={{fn
                        (mut
                          this.model.administrativeUnit.primarySite.address.municipality
                        )
                      }}
                      @id="primary-site-address-municipality"
                    />
                  </:content>
                </Item>
                <Item @labelFor="primary-site-address-province">
                  <:label>Provincie</:label>
                  <:content>
                    <ProvinceSelect
                      @selected={{this.model.administrativeUnit.primarySite.address.province}}
                      @onChange={{fn
                        (mut
                          this.model.administrativeUnit.primarySite.address.province
                        )
                      }}
                      @id="primary-site-address-province"
                    />
                  </:content>
                </Item>
              </:left>
              <:right as |Item|>
                <Item @labelFor="primary-site-contact-phone-number">
                  <:label>Telefoonnummer</:label>
                  <:content>
                    <AuInput
                      @value={{@model.administrativeUnit.primarySite.contacts.firstObject.telephone}}
                      @width="block"
                      id="primary-site-contact-phone-number"
                    />
                  </:content>
                </Item>
                <Item @labelFor="primary-site-contact-website">
                  <:label>Website</:label>
                  <:content>
                    <AuInput
                      @value={{@model.administrativeUnit.primarySite.contacts.firstObject.website}}
                      @width="block"
                      id="primary-site-contact-website"
                    />
                  </:content>
                </Item>
              </:right>
            </Card.Columns>
          </:card>
        </EditCard>

        <EditCard>
          <:title>Gerelateerde organisaties</:title>
          <:card as |Card|>
            <Card.Columns>
              <:left as |Item|>
                {{#if
                  (eq
                    @model.administrativeUnit.constructor.modelName
                    "worship-service"
                  )
                }}
                  <Item @labelFor="related-central-worship-service">
                    <:label>Centraal bestuur</:label>
                    <:content>
                      <CentralWorshipSelect
                        @selected={{this.model.administrativeUnit.isSubOrganizationOf}}
                        @onChange={{fn
                          (mut
                            this.model.administrativeUnit.isSubOrganizationOf
                          )
                        }}
                        @id="related-central-worship-service"
                      />
                    </:content>
                  </Item>
                {{/if}}
                {{#if
                  (eq
                    @model.administrativeUnit.constructor.modelName
                    "central-worship-service"
                  )
                }}
                  <Item @labelFor="related-worship-service">
                    <:label>Bestuur van de eredienst</:label>
                    <:content>
                      <WorshipServiceSelect
                        @selected={{this.model.administrativeUnit.subOrganizations}}
                        @onChange={{fn
                          (mut this.model.administrativeUnit.subOrganizations)
                        }}
                        @id="related-worship-service"
                      />
                    </:content>
                  </Item>
                {{/if}}
                <Item @labelFor="related-representative-body">
                  <:label>Representatief orgaan</:label>
                  <:content>
                    <RepresentativeBodySelect
                      @selected={{this.model.administrativeUnit.isAssociatedWith}}
                      @onChange={{fn
                        (mut this.model.administrativeUnit.isAssociatedWith)
                      }}
                      @id="related-representative-body"
                    />
                  </:content>
                </Item>
              </:left>
            </Card.Columns>
          </:card>
        </EditCard>

        <AuButtonGroup>
          <AuButton
            @loading={{this.save.isRunning}}
            @disabled={{this.save.isRunning}}
            type="submit"
          >
            Opslaan
          </AuButton>

          <AuLink
            @route="administrative-units.administrative-unit.core-data"
            @skin="button-secondary"
          >
            Annuleer
          </AuLink>
        </AuButtonGroup>
      </div>
    </form>
  </div>
</div>