<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-o-flow au-o-flow--large">
    <PageHeader>
      <:title>Kerngegevens</:title>
      <:subtitle>{{@model.administrativeUnit.name}} ({{@model.administrativeUnit.classification.label}})</:subtitle>
      <:action>
        <SecuredArea>
          <:edit>
            <AuLink
              @route="administrative-units.administrative-unit.core-data.edit"
              @skin="button-secondary"
              @icon="pencil"
              @iconAlignment="left"
            >
              Bewerk
            </AuLink>
          </:edit>
          <:readOnly>
            <ReportWrongData />
          </:readOnly>
        </SecuredArea>
      </:action>
    </PageHeader>

    <DataCard>
      <:title>Bestuurseenheid</:title>
      <:card as |Card|>
        <Card.Columns>
          <:left as |Item|>
            <Item>
              <:label>Naam</:label>
              <:content>{{@model.administrativeUnit.name}}</:content>
            </Item>
            <Item>
              <:label>Type bestuur</:label>
              <:content>
                {{@model.administrativeUnit.classification.label}}
              </:content>
            </Item>

            {{#if this.isMunicipality}}
              <Item>
                <:label>Stadstitel</:label>
                <:content>
                  {{#if @model.isCity}}
                    Ja
                  {{else}}
                    Nee
                  {{/if}}
                </:content>
              </Item>
            {{/if}}

            {{#if this.isWorshipService}}
              <Item>
                <:label>Soort eredienst</:label>
                <:content
                >{{@model.administrativeUnit.recognizedWorshipType.label}}</:content>
              </Item>
            {{/if}}
            {{#if @model.administrativeUnit.denomination}}
              <Item>
                <:label>Strekking</:label>
                <:content>{{@model.administrativeUnit.denomination}}</:content>
              </Item>
            {{/if}}
            {{#if
              (eq
                @model.administrativeUnit.constructor.modelName
                "worship-service"
              )
            }}
              <Item>
                <:label>Grensoverschrijdend</:label>
                <:content>
                  {{@model.administrativeUnit.crossBorderNominal}}
                </:content>
              </Item>
            {{/if}}
            {{#if @model.administrativeUnit.locatedWithin}}
              <Item>
                <:label>Regio</:label>
                <:content>
                  {{@model.administrativeUnit.locatedWithin.label}}
                </:content>
              </Item>
            {{/if}}
          </:left>
          <:right as |Item|>
            <Item>
              <:label>Status</:label>
              <:content>
                <OrganizationStatus
                  @id={{@model.administrativeUnit.organizationStatus.id}}
                  @label={{@model.administrativeUnit.organizationStatus.label}}
                />
              </:content>
            </Item>
            {{! TODO: Take the last date from the change events }}
            {{#if @model.administrativeUnit.resultedFrom}}
              <Item>
                <:content>
                  <AuHelpText @skin="tertiary" class="au-u-margin-top-none">
                    Gewijzigd op
                    {{date-format
                      @model.administrativeUnit.resultedFrom.firstObject.date
                    }}
                  </AuHelpText>
                </:content>
              </Item>
            {{/if}}
            {{#if this.kboIdentifier.structuredIdentifier.localId}}
              <Item>
                <:label>{{this.kboIdentifier.idName}}</:label>
                <:content>
                  {{kbo-format this.kboIdentifier.structuredIdentifier.localId}}
                </:content>
              </Item>
            {{/if}}
            {{#if this.sharepointIdentifier.structuredIdentifier.localId}}
              <Item>
                <:label>{{this.sharepointIdentifier.idName}}</:label>
                <:content>
                  <AuLinkExternal
                    href="{{this.sharePointLinkBase}}{{this.sharepointIdentifier.structuredIdentifier.localId}}"
                  >
                    {{this.sharepointIdentifier.structuredIdentifier.localId}}
                    (externe link)
                  </AuLinkExternal>
                </:content>
              </Item>
            {{/if}}
            {{#if @model.administrativeUnit.scope.exactMatch}}
              <Item>
                <:label>NIS</:label>
                <:content>
                  {{@model.administrativeUnit.scope.exactMatch.notation}}
                </:content>
              </Item>
            {{/if}}
            {{#if this.ovoIdentifier.structuredIdentifier.localId}}
              <Item>
                <:label>{{this.ovoIdentifier.idName}}</:label>
                <:content>
                  {{this.ovoIdentifier.structuredIdentifier.localId}}
                </:content>
              </Item>
            {{/if}}
          </:right>
        </Card.Columns>
      </:card>
    </DataCard>

    <Site::ContactDataCard
      @address={{@model.administrativeUnit.primarySite.address}}
      @primaryContact={{@model.primaryContact}}
      @secondaryContact={{@model.secondaryContact}}
    >
      <:title>
        Primaire contactgegevens
      </:title>
    </Site::ContactDataCard>
  </div>
</div>