<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-o-flow au-o-flow--large">
    <PageHeader>
      <:title>Kerngegevens</:title>
      <:subtitle>{{@model.administrativeUnit.name}}</:subtitle>
      <:action>
        <AuLink
          @route="administrative-units.administrative-unit.core-data.edit"
          @skin="button-secondary"
          @icon="pencil"
          @iconAlignment="left"
        >
          Bewerk
        </AuLink>
      </:action>
    </PageHeader>

    <DataCard>
      <:title>Bestuurseenheid</:title>
      <:card as |Card|>
        <Card.Columns>
          <:left as |Item|>
            <Item>
              <:label>Naam</:label>
              <:content>{{@model.administrativeUnit.name}}</:content>
            </Item>
            <Item>
              <:label>Type bestuur</:label>
              <:content>
                {{@model.administrativeUnit.classification.label}}
              </:content>
            </Item>
            <Item>
              <:label>Soort eredienst</:label>
              <:content
              >{{@model.administrativeUnit.recognizedWorshipType.label}}</:content>
            </Item>
            {{#if @model.administrativeUnit.denomination}}
              <Item>
                <:label>Strekking</:label>
                <:content>{{@model.administrativeUnit.denomination}}</:content>
              </Item>
            {{/if}}
            {{#if
              (eq
                @model.administrativeUnit.constructor.modelName
                "worship-service"
              )
            }}
              <Item>
                <:label>Grensoverschrijdend</:label>
                <:content>
                  {{@model.administrativeUnit.crossBorderNominal}}
                </:content>
              </Item>
            {{/if}}
            {{!-- Temporarily disabled - cf https://binnenland.atlassian.net/browse/OP-583
            {{#if @model.administrativeUnit.scope.label}}
              <Item>
                <:label>Werkingsgebied</:label>
                <:content>{{@model.administrativeUnit.scope.label}}</:content>
              </Item>
            {{/if}} --}}
          </:left>
          <:right as |Item|>
            <Item>
              <:label>Status</:label>
              <:content>
                <OrganizationStatus
                  @status={{@model.administrativeUnit.organizationStatus}}
                />
              </:content>
            </Item>
            {{! TODO: Take the last date from the change events }}
            {{#if @model.administrativeUnit.resultedFrom}}
              <Item>
                <:content>
                  <AuHelpText @skin="tertiary" class="au-u-margin-top-none">
                    Gewijzigd op
                    {{date-format
                      @model.administrativeUnit.resultedFrom.firstObject.date
                    }}
                  </AuHelpText>
                </:content>
              </Item>
            {{/if}}
            {{#each @model.administrativeUnit.identifiers as |identifier|}}
              {{#if identifier.structuredIdentifier.localId}}
                <Item>
                  <:label>{{identifier.idName}}</:label>
                  <:content>
                    {{#let
                      identifier.structuredIdentifier.localId
                      as |localId|
                    }}
                      {{#if (this.isSharePointIdentifier identifier)}}
                        <AuLinkExternal
                          href="{{this.sharePointLinkBase}}{{localId}}"
                        >
                          {{localId}}
                          (externe link)
                        </AuLinkExternal>
                      {{else}}
                        {{localId}}
                      {{/if}}
                    {{/let}}
                  </:content>
                </Item>
              {{/if}}
            {{/each}}
          </:right>
        </Card.Columns>
      </:card>
    </DataCard>

    <DataCard>
      <:title>
        Primaire contactgegevens
      </:title>
      <:card as |Card|>
        <Card.Columns>
          <:left as |Item|>
            <Item>
              <:label>Adres</:label>
              <:content>
                {{@model.administrativeUnit.primarySite.address.fullAddress}}
              </:content>
            </Item>

            <Item>
              <:label>Provincie</:label>
              <:content>
                {{@model.administrativeUnit.primarySite.address.province}}
              </:content>
            </Item>
          </:left>
          <:right as |Item|>
            {{#if
              @model.administrativeUnit.primarySite.contacts.firstObject.telephone
            }}
              <Item>
                <:label>Telefoonnummer</:label>
                <:content>
                  {{@model.administrativeUnit.primarySite.contacts.firstObject.telephone}}
                </:content>
              </Item>
            {{/if}}
            {{#if
              @model.administrativeUnit.primarySite.contacts.firstObject.website
            }}
              <Item>
                <:label>Website</:label>
                <:content>
                  <a
                    href={{@model.administrativeUnit.primarySite.contacts.firstObject.website}}
                    class="au-c-link"
                    target="_blank"
                    rel="noopener noreferrer"
                  >{{@model.administrativeUnit.primarySite.contacts.firstObject.website}}
                    (externe link)</a>
                </:content>
              </Item>
            {{/if}}
          </:right>
        </Card.Columns>
      </:card>
    </DataCard>

    {{#if
      (or
        @model.administrativeUnit.isSubOrganizationOf.name
        @model.administrativeUnit.isAssociatedWith.name
      )
    }}
      <DataCard>
        <:title>
          Gerelateerde organisaties
        </:title>
        <:card as |Card|>
          <Card.Columns>
            <:left as |Item|>
              {{#if @model.administrativeUnit.isSubOrganizationOf.name}}
                <Item>
                  <:label>Centraal bestuur</:label>
                  <:content>
                    <AuLink
                      @route="administrative-units.administrative-unit"
                      @model={{@model.administrativeUnit.isSubOrganizationOf.id}}
                    >
                      {{@model.administrativeUnit.isSubOrganizationOf.name}}
                    </AuLink>
                  </:content>
                </Item>
              {{/if}}
              {{#if @model.subOrganizations}}
                {{#each @model.subOrganizations as |worship|}}
                  <Item>
                    <:label>Bestuur van de eredienst</:label>
                    <:content>
                      <AuLink
                        @route="administrative-units.administrative-unit"
                        @model={{worship.id}}
                      >
                        {{worship.name}}
                      </AuLink>
                    </:content>
                  </Item>
                {{/each}}
              {{/if}}
              {{#if @model.administrativeUnit.isAssociatedWith.name}}
                <Item>
                  <:label>Representatief orgaan</:label>
                  <:content>
                    <AuLink
                      @route="organizations.organization"
                      @model={{@model.administrativeUnit.isAssociatedWith.id}}
                    >
                      {{@model.administrativeUnit.isAssociatedWith.name}}
                    </AuLink>
                  </:content>
                </Item>
              {{/if}}
            </:left>
          </Card.Columns>
        </:card>
      </DataCard>
    {{/if}}
  </div>
</div>