<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-o-flow au-o-flow--large">
    <PageHeader>
      <:title>Kerngegevens</:title>
      <:subtitle>{{@model.administrativeUnit.name}}</:subtitle>
      <:action>
        <AuLink
          @route="administrative-units.administrative-unit.core-data.edit"
          @skin="button-secondary"
          @icon="pencil"
          @iconAlignment="left"
        >
          Bewerk
        </AuLink>
      </:action>
    </PageHeader>

    <DataCard>
      <:title>Bestuurseenheid</:title>
      <:card as |Card|>
        <Card.Grid as |Item|>
          <Item>
            <:label>Naam eredienst</:label>
            <:content>{{@model.administrativeUnit.name}}</:content>
          </Item>
          <Item>
            <:label>Status</:label>
            <:content>
              <OrganizationStatus
                @status={{@model.administrativeUnit.organizationStatus}}
              />
            </:content>
          </Item>
        </Card.Grid>
        <Card.Grid as |Item|>
          <Item>
            <:label>Type bestuur</:label>
            <:content>
              {{@model.administrativeUnit.classification.label}}
            </:content>
          </Item>
          {{!-- TODO: Take the last date from the change events --}}
          {{#if @model.administrativeUnit.resultedFrom}}
            <Item>
              <:label> </:label>
              <:content>
                <AuHelpText @skin="tertiary">Gewijzigd op
                  {{date-format
                    @model.administrativeUnit.resultedFrom.firstObject.date
                  }}</AuHelpText>
              </:content>
            </Item>
          {{/if}}
        </Card.Grid>
        <Card.Grid as |Item|>
          <Item>
            <:label>Type eredienst</:label>
            <:content
            >{{@model.administrativeUnit.recognizedWorshipType.label}}</:content>
          </Item>
        </Card.Grid>

        {{#if @model.administrativeUnit.denomination}}
          <Card.Grid as |Item|>
            <Item>
              <:label>Strekking</:label>
              <:content>{{@model.administrativeUnit.denomination}}</:content>
            </Item>
          </Card.Grid>
        {{/if}}

        {{#if
          (eq @model.administrativeUnit.constructor.modelName "worship-service")
        }}
          <Card.Grid as |Item|>
            <Item>
              <:label>Grensoverschrijdend</:label>
              <:content
              >{{@model.administrativeUnit.crossBorderNominal}}</:content>
            </Item>
          </Card.Grid>
        {{/if}}

        <Card.Grid as |Item|>
          {{#if @model.administrativeUnit.scope.label}}
            <Item>
              <:label>Werkingsgebied</:label>
              <:content>{{@model.administrativeUnit.scope.label}}</:content>
            </Item>
          {{/if}}
          {{#each @model.administrativeUnit.identifiers as |identifier|}}
            <Item>
              <:label>{{identifier.idName}}</:label>
              <:content>{{identifier.structuredIdentifier.localId}}</:content>
            </Item>
            {{!-- Force to have only right column --}}
            <Item>
              <:label></:label>
              <:content></:content>
            </Item>
          {{/each}}
        </Card.Grid>
      </:card>
    </DataCard>

    <DataCard>
      <:title>
        Primaire contactgegevens
      </:title>
      <:card as |Card|>
        <Card.Grid as |Item|>
          <Item>
            <:label>Adres</:label>
            <:content>
              {{@model.administrativeUnit.primarySite.address.fullAddress}}
            </:content>
          </Item>
          <Item>
            <:label>Provincie</:label>
            <:content>
              {{@model.administrativeUnit.primarySite.address.province}}
            </:content>
          </Item>
          {{#if
            @model.administrativeUnit.primarySite.contacts.firstObject.telephone
          }}
            <Item>
              <:label>Telefoonnummer</:label>
              <:content>
                {{@model.administrativeUnit.primarySite.contacts.firstObject.telephone}}
              </:content>
            </Item>
          {{/if}}
          {{#if
            @model.administrativeUnit.primarySite.contacts.firstObject.website
          }}
            <Item>
              <:label>Website</:label>
              <:content>
                <a
                  href={{@model.administrativeUnit.primarySite.contacts.firstObject.website}}
                  class="au-c-link"
                  target="_blank"
                  rel="noopener noreferrer"
                >{{@model.administrativeUnit.primarySite.contacts.firstObject.website}}</a>
              </:content>
            </Item>
          {{/if}}
        </Card.Grid>
      </:card>
    </DataCard>

    {{#if
      (or
        @model.administrativeUnit.isSubOrganizationOf.name
        @model.administrativeUnit.isAssociatedWith.name
      )
    }}
      <DataCard>
        <:title>
          Gerelateerde organisaties
        </:title>
        <:card as |Card|>
          {{#if @model.administrativeUnit.isSubOrganizationOf.name}}
            <Card.Grid as |Item|>
              <Item>
                <:label>Centraal bestuur</:label>
                <:content>
                  <AuLink
                    @route="administrative-units.administrative-unit"
                    @model={{@model.administrativeUnit.isSubOrganizationOf.id}}
                  >
                    {{@model.administrativeUnit.isSubOrganizationOf.name}}
                  </AuLink>
                </:content>
              </Item>
            </Card.Grid>
          {{/if}}
          {{#if @model.administrativeUnit.subOrganizations}}
            {{#each @model.administrativeUnit.subOrganizations as |worship|}}
              <Card.Grid as |Item|>
                <Item>
                  <:label>Bestuur van de eredienst</:label>
                  <:content>
                    <AuLink
                      @route="administrative-units.administrative-unit"
                      @model={{worship.id}}
                    >
                      {{worship.name}}
                    </AuLink>
                  </:content>
                </Item>
              </Card.Grid>
            {{/each}}
          {{/if}}
          {{#if @model.administrativeUnit.isAssociatedWith.name}}
            <Card.Grid as |Item|>
              <Item>
                <:label>Representatief orgaan</:label>
                <:content>
                  <AuLink
                    @route="administrative-units.administrative-unit"
                    {{!-- @model={{@model.administrativeUnit.isAssociatedWith.id}} --}}
                  >
                    {{@model.administrativeUnit.isAssociatedWith.name}}
                  </AuLink>
                </:content>
              </Item>
            </Card.Grid>
          {{/if}}
        </:card>
      </DataCard>
    {{/if}}
  </div>
</div>