<BreadcrumbsItem as |linkClass|>
  <LinkTo
    @route="administrative-units.administrative-unit"
    @model={{@model.id}}
    class={{linkClass}}
  >
    {{@model.name}}
  </LinkTo>
</BreadcrumbsItem>

<div class="au-c-main-container">
    <div class="au-c-main-container__sidebar">
        <div class="au-d-component-block au-c-sidebar">
          <ul class="au-c-list-navigation">
            <li class="au-c-list-navigation__item">
              <AuNavigationLink @linkRoute="administrative-units.administrative-unit">
                Kerngegevens
              </AuNavigationLink>
            </li>
            <li class="au-c-list-navigation__item">
              <AuNavigationLink>
                Vestigingen
              </AuNavigationLink>
            </li>
            <li class="au-c-list-navigation__item">
              <AuNavigationLink>
                Betrokken lokale besturen
              </AuNavigationLink>
            </li>
            <li class="au-c-list-navigation__item">
              <AuNavigationLink>
                Verbonden Juridische structuren
              </AuNavigationLink>
            </li>
            <li class="au-c-list-navigation__item">
              <AuNavigationLink>
                Bestuursorganen
              </AuNavigationLink>
            </li>
            <li class="au-c-list-navigation__item">
              <AuNavigationLink>
                Bedienaren
              </AuNavigationLink>
            </li>
            <li class="au-c-list-navigation__item">
              <AuNavigationLink>
                Veranderingsgebeurtenissen
              </AuNavigationLink>
            </li>
            <li class="au-c-list-navigation__item">
              <AuNavigationLink>
                Documenten
              </AuNavigationLink>
            </li>
            <li class="au-c-list-navigation__item">
              <AuNavigationLink>
                Dossiers
              </AuNavigationLink>
            </li>
          </ul>
      </div> 
    </div>
    <div class="au-c-main-container__content au-c-body-container--scroll au-o-box">
      <div class="au-d-component-block au-d-component-block--overflow au-o-flow">
        <div class="au-o-flow au-o-flow--tiny">     
          <AuToolbar>
            <AuToolbarGroup>
                <AuHeading @level="2">
                  Kerngegevens
                </AuHeading>
            </AuToolbarGroup>
          </AuToolbar>
          <AuToolbar>
            <AuToolbarGroup>
              <AuHeading @skin="3">
                  {{@model.name}}
              </AuHeading>
            </AuToolbarGroup>
          </AuToolbar>
        </div>
        <div class="au-o-flow au-o-flow--large">
          <div class="{{ if this.isEditingCore "au-u-hidden-visually" ""}}">
            <AuToolbar class="au-u-margin-bottom-small">
              <AuToolbarGroup>
                <AuHeading @level="4" @skin="5">Bestuur van de eredienst</AuHeading>
              </AuToolbarGroup>
              <AuToolbarGroup>
                <AuButton @skin="tertiary" @icon="pencil" @iconAlignment="right" {{on "click" this.toggleEditCoreInfo}}>
                  Bewerk
                </AuButton>
              </AuToolbarGroup>
            </AuToolbar>
            <AuCard @standOut={{true}} as |c|>
              <c.content>
                <div class="au-flow au-o-flow--large">
                  <div class="au-o-grid">
                    <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                      <div class="au-o-grid">
                        <div class="au-o-grid__item au-u-1-4">
                          <p><strong>Naam eredienst</strong></p>
                        </div>
                        <div class="au-o-grid__item au-u-3-4">
                          <p>{{@model.name}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="au-o-grid__item  au-u-1-1 au-u-1-2@medium">
                      <div class="au-o-grid">
                        <div class="au-o-grid__item au-u-1-4">
                          <p><strong>Status</strong></p>
                        </div>
                        <div class="au-o-grid__item au-u-3-4">
                          <p><AuPill @skin="success">{{@model.organizationStatus.label}}</AuPill></p>
                        </div>
                      </div>
                    </div>
                    <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                      <div class="au-o-grid">
                        <div class="au-o-grid__item au-u-1-4">
                          <p><strong>Type eredienst</strong></p>
                        </div>
                        <div class="au-o-grid__item au-u-3-4">
                          <p>{{@model.honoraryServiceType.label}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                      <div class="au-o-grid">
                        <div class="au-o-grid__item au-u-1-4">
                          <p><strong>Status datum</strong></p>
                        </div>
                        <div class="au-o-grid__item au-u-3-4">
                          <p></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="au-o-grid">
                    <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                      <div class="au-o-grid">
                        <div class="au-o-grid__item au-u-1-4">
                          <p><strong>Strekking</strong></p>
                        </div>
                        <div class="au-o-grid__item au-u-3-4">
                          <p>{{@model.denomination}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="au-o-grid">
                    <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                      <div class="au-o-grid">
                        <div class="au-o-grid__item au-u-1-4">
                          <p><strong>Grensoverschrijdend</strong></p>
                        </div>
                        <div class="au-o-grid__item au-u-3-4">
                          <p>{{@model.crossBorderNominal}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="au-o-grid">
                    <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                      <div class="au-o-grid">
                        <div class="au-o-grid__item au-u-1-4">
                          <p><strong>Werkingsgebied</strong></p>
                        </div>
                        <div class="au-o-grid__item au-u-3-4">
                          <p></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="au-o-grid">
                    {{#each @model.identifiers as |identifier|}}
                      <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                        <div class="au-o-grid">
                          <div class="au-o-grid__item au-u-1-4">
                            <p><strong>{{identifier.idName}}</strong></p>
                          </div>
                          <div class="au-o-grid__item au-u-3-4">
                            <p>{{identifier.structuredIdentifier.localId}}</p>
                          </div>
                        </div>
                      </div>
                    {{/each}}
                  </div>
                </div>
              </c.content>
            </AuCard>
          </div>
          <div class="{{ if this.isShowingCore "au-u-hidden-visually" ""}}">
            <AuToolbar class="au-u-margin-bottom-small">
              <AuToolbarGroup>
                <AuHeading @level="4" @skin="5">Bestuur van de eredienst</AuHeading>
              </AuToolbarGroup>
              <AuToolbarGroup>
                <AuButton @icon="check" @iconAlignment="right"  form="edit-core-info-form"
                          type="submit">
                  Bewaar
                </AuButton>
              </AuToolbarGroup>
            </AuToolbar>
            <AuCard as |c|>
              <c.content>
                <form class="au-c-form" id="edit-core-info-form" {{on "submit" this.editCoreInfo}}>
                  <div class="au-o-grid">
                    <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                      <div class="au-o-grid">
                        <div class="au-o-grid__item au-u-1-4">
                          <p><strong>Naam eredienst</strong></p>
                        </div>
                        <div class="au-o-grid__item au-u-3-4">
                          <AuLabel for="naam-eredienst" class="au-u-hidden-visually">Naam eredienst input</AuLabel>
                          <AuInput id="naam-eredienst"  @width="block" type="text" value={{@model.name}}/>
                        </div>
                      </div>
                    </div>
                    <div class="au-o-grid__item  au-u-1-1 au-u-1-2@medium">
                      <div class="au-o-grid">
                        <div class="au-o-grid__item au-u-1-4">
                          <p><strong>Status</strong></p>
                        </div>
                        <div class="au-o-grid__item au-u-3-4">
                          <PowerSelect
                            @allowClear={{true}}
                            @searchEnabled={{true}}
                            @loadingMessage="Aan het laden..."
                            @noMatchesMessage="Geen resultaten"
                            @searchMessage="Typ om te zoeken"
                            @options={{this.singleselects}}
                            @selected={{@model.organizationStatus.label}}
                            @onChange={{fn (mut this.singleselect)}} as |singleselect|>
                            {{singleselect}}
                          </PowerSelect>
                        </div>
                      </div>
                    </div>
                    <div class="au-o-grid__item  au-u-1-1 au-u-1-2@medium">
                      <div class="au-o-grid">
                        <div class="au-o-grid__item au-u-1-4">
                          <p><strong>Type eredienst</strong></p>
                        </div>
                        <div class="au-o-grid__item au-u-3-4">
                          <PowerSelect
                            @allowClear={{true}}
                            @searchEnabled={{true}}
                            @loadingMessage="Aan het laden..."
                            @noMatchesMessage="Geen resultaten"
                            @searchMessage="Typ om te zoeken"
                            @options={{this.singleselects}}
                            @selected={{@model.honoraryServiceType.label}}
                            @onChange={{fn (mut this.singleselect)}} as |singleselect|>
                            {{singleselect}}
                          </PowerSelect>
                        </div>
                      </div>
                    </div>
                    <div class="au-o-grid__item  au-u-1-1 au-u-1-2@medium">
                      <div class="au-o-grid">
                        <div class="au-o-grid__item au-u-1-4">
                          <p><strong>Status datum</strong></p>
                        </div>
                        <div class="au-o-grid__item au-u-3-4">
                          <AuDatePicker @label="Choose a date" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="au-o-grid">
                    <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                      <div class="au-o-grid">
                        <div class="au-o-grid__item au-u-1-4">
                          <p><strong>Strekking</strong></p>
                        </div>
                        <div class="au-o-grid__item au-u-3-4">
                          <AuLabel for="strekking" class="au-u-hidden-visually">Strekking input</AuLabel>
                          <AuInput id="strekking"  @width="block" type="text" value={{@model.denomination}}/>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="au-o-grid">
                    <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                      <div class="au-o-grid">
                        <div class="au-o-grid__item au-u-1-4">
                          <p><strong>Grensoverschrijdend</strong></p>
                        </div>
                        <div class="au-o-grid__item au-u-3-4">
                          <ul>
                            <li>
                              <AuControlRadio @label="Ja" @name="ja-nee" @value="true" @check={{@model.crossBorder}} @identifier="ja" />
                            </li>
                            <li>
                              <AuControlRadio @label="Nee" @name="ja-nee" @value="false" @check={{@model.crossBorder}} @identifier="nee" />
                            </li>
                          </ul>
                          <p>{{@model.crossBorderNominal}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="au-o-grid">
                    <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                      <div class="au-o-grid">
                        <div class="au-o-grid__item au-u-1-4">
                          <p><strong>Werkingsgebied</strong></p>
                        </div>
                        <div class="au-o-grid__item au-u-3-4">
                          <p></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="au-o-grid">
                    {{#each @model.identifiers as |identifier|}}
                      <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                        <div class="au-o-grid">
                          <div class="au-o-grid__item au-u-1-4">
                            <p><strong>{{identifier.idName}}</strong></p>
                          </div>
                          <div class="au-o-grid__item au-u-3-4">
                            <p>{{identifier.structuredIdentifier.localId}}</p>
                          </div>
                        </div>
                      </div>
                    {{/each}}
                  </div>
                </form>
              </c.content>
            </AuCard>
          </div>
        </div>
        <div class="au-o-flow au-o-flow--large">
          <div>
            <AuToolbar class="au-u-margin-bottom-small">
              <AuToolbarGroup>
                <AuHeading @level="4" @skin="5">Contactgegevens maatschappelijke zetel</AuHeading>
              </AuToolbarGroup>
              <AuToolbarGroup>
                <AuButton @skin="tertiary" @icon="pencil" @iconAlignment="right">
                  Bewerk
                </AuButton>
              </AuToolbarGroup>
            </AuToolbar>
            <AuCard @standOut={{true}} as |c|>
              <c.content>
                <div class="au-o-grid">
                  <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                    <div class="au-o-grid">
                      <div class="au-o-grid__item au-u-1-4">
                        <p><strong>Adres</strong></p>
                      </div>
                      <div class="au-o-grid__item au-u-3-4">
                        <p>{{@model.primarySite.address.fullAddress}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="au-o-grid__item  au-u-1-1 au-u-1-2@medium">
                    <div class="au-o-grid">
                      <div class="au-o-grid__item au-u-1-4">
                        <p><strong>Provincie</strong></p>
                      </div>
                      <div class="au-o-grid__item au-u-3-4">
                        <p>{{@model.primarySite.address.province}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                    <div class="au-o-grid">
                      <div class="au-o-grid__item au-u-1-4">
                        <p><strong>Telefoonnummer</strong></p>
                      </div>
                      <div class="au-o-grid__item au-u-3-4">
                        <p>{{@model.primarySite.contacts.firstObject.telephone}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                    <div class="au-o-grid">
                      <div class="au-o-grid__item au-u-1-4">
                        <p><strong>Website</strong></p>
                      </div>
                      <div class="au-o-grid__item au-u-3-4">
                        <p>{{@model.primarySite.contacts.firstObject.website}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </c.content>
            </AuCard>
          </div>
        </div>
        <div class="au-o-flow au-o-flow--large">
          <div>
            <AuToolbar class="au-u-margin-bottom-small">
              <AuToolbarGroup>
                <AuHeading @level="4" @skin="5">Gerelateerde organisaties</AuHeading>
              </AuToolbarGroup>
              <AuToolbarGroup>
                <AuButton @skin="tertiary" @icon="pencil" @iconAlignment="right">
                  Bewerk
                </AuButton>
              </AuToolbarGroup>
            </AuToolbar>
            <AuCard @standOut={{true}} as |c|>
              <c.content>
                <div class="au-o-grid">
                  <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
                    <div class="au-o-grid">
                      <div class="au-o-grid__item au-u-1-4">
                        <p><strong>Centraal bestuur</strong></p>
                      </div>
                      <div class="au-o-grid__item au-u-3-4">
                        <p>{{@model.centralService.name}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="au-o-grid">
                  <div class="au-o-grid__item  au-u-1-1 au-u-1-2@medium">
                    <div class="au-o-grid">
                      <div class="au-o-grid__item au-u-1-4">
                        <p><strong>Representatief orgaan</strong></p>
                      </div>
                      <div class="au-o-grid__item au-u-3-4">
                        <p>{{@model.representiveBody.name}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </c.content>
            </AuCard>
          </div>
        </div>
      </div>
    </div>
</div>