<div class="au-c-main-container">
    <div class="au-c-main-container__sidebar">
        <div class="au-c-sidebar">
            <div class="au-c-sidebar__content au-o-box">
                <div class="au-c-form">
                    <p>
                        <AuLabel for="filter-name">Naam</AuLabel>
                        <AuInput id="filter-name" @width="block" @value={{this.name}} />

                    </p>
                    <p>
                        <AuLabel for="filter-municipality">Gemeente</AuLabel>
                        <AuInput id="filter-municipality" @width="block" @value={{this.municipality}} />
                    </p>
                    <p>
                        <AuLabel for="classifications">Soort eredienst</AuLabel>
                        <PowerSelect
                            @allowClear={{true}}
                            @searchEnabled={{true}}
                            @noMatchesMessage="Geen resultaten"
                            @searchField="label"
                            @options={{@model.classifications}}
                            @selected={{this.selectedClassification}}
                            @onChange={{this.setClassification}}
                            @triggerId="classifications" as |classification|>
                            {{classification.label}}
                        </PowerSelect>
                    </p>
                    <p>
                        <AuLabel for="statuses">Status</AuLabel>
                        <PowerSelect
                            @allowClear={{true}} {{!-- @disabled={{disabled}} --}}
                            @searchEnabled={{true}}
                            @loadingMessage="Aan het laden..."
                            @noMatchesMessage="Geen resultaten"
                            @searchField="label"
                            @searchMessage="Typ om te zoeken"
                            @options={{@model.statuses}}
                            @selected={{this.selectedOrganizationStatus}}
                            @onChange={{this.setOrganizationStatus}}
                            @triggerId="statuses" as |status|>
                            {{status.label}}
                        </PowerSelect>
                    </p>
                    <AuButton @width="block" {{on "click" this.search}}>
                        Zoeken
                    </AuButton>
                </div>
            </div>
        </div>
    </div>
    <div class="au-c-main-container__content">
        <div class="au-d-component-block">
            <AuDataTable
              @content={{@model.administrativeUnits}}
              @noDataMessage="No Administrative unit found"
              @page={{this.page}}
              @size={{this.size}}
              as |t|
            >
                <t.menu as |menu|>
                    <menu.general>
                        <AuToolbar class="au-o-box">
                            <AuToolbarGroup>
                                <AuHeading @skin="2">
                                    Bestuurseenheden
                                </AuHeading>
                            </AuToolbarGroup>
                        </AuToolbar>
                    </menu.general>
                </t.menu>
                <t.content class="au-c-data-table__table--small" as |c|>
                    <c.header>
                        <AuDataTableThSortable @field="name" @currentSorting={{this.sort}}  @label="Naam" />
                        <AuDataTableThSortable @field="classification.label" @currentSorting={{this.sort}}  @label="Type bestuur" />
                        <AuDataTableThSortable @field="province.label" @currentSorting={{this.sort}} @label="Provincie" />
                        <AuDataTableThSortable @field="municipality.label" @currentSorting={{this.sort}} @label="Gemeente" />
                        <th>Status</th>
                    </c.header>
                    <c.body as |adminUnit|>
                        <td>
                            <LinkTo class="au-c-link" @model={{adminUnit.id}} @route="administrative-units.administrative-unit.index">
                              {{adminUnit.name}}
                            </LinkTo>
                        </td>
                        <td>{{adminUnit.classification.label}}</td>
                        <td>{{adminUnit.province.label}}</td>
                        <td>{{adminUnit.municipality.label}}</td>
                        <td>                            
                          <AuPill @skin="success">
                            {{adminUnit.organizationStatus.label}}
                          </AuPill>
                        </td>
                    </c.body>
                </t.content>
            </AuDataTable>
        </div>
    </div>
</div>