<SidebarContainer>
  <:sidebar>
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content au-o-box">
        <form class="au-c-form" {{on "submit" this.search}}>
          <div>
            <AuLabel for="filter-name">Naam</AuLabel>
            <AuInput id="filter-name" @width="block" @value={{this.name}} />
          </div>
          <div>
            <AuLabel for="filter-municipality">Gemeente</AuLabel>
            <MunicipalitySelect
              @selected={{this.municipality}}
              @onChange={{this.setMunicipality}}
            />
          </div>
          <div>
            <AuLabel for="filter-province">Provincie</AuLabel>
            <ProvinceSelect
              @selected={{this.province}}
              @onChange={{this.setProvince}}
            />
          </div>
          <div>
            <AuLabel for="classifications">Type bestuur</AuLabel>
            <PowerSelect
              @allowClear={{true}}
              {{!-- @searchEnabled={{true}} --}}
              {{! @noMatchesMessage="Geen resultaten" }}
              {{! @searchField="label" }}
              @options={{@model.classifications}}
              @selected={{this.selectedClassification}}
              @onChange={{this.setClassification}}
              @triggerId="classifications"
              as |classification|
            >
              {{classification.label}}
            </PowerSelect>
          </div>
          <div>
            <AuLabel for="recognized-worship-types">Soort eredienst</AuLabel>
            <RecognizedWorshipTypeSelect
              @selected={{this.selectedRecognizedWorshipType}}
              @onChange={{this.setRecognizedWorshipType}}
            />
          </div>
          <div>
            <AuLabel for="statuses">Status</AuLabel>
            <PowerSelect
              @allowClear={{true}}
              @options={{@model.statuses}}
              @selected={{this.selectedOrganizationStatus}}
              @onChange={{this.setOrganizationStatus}}
              @triggerId="statuses"
              as |status|
            >
              {{status.label}}
            </PowerSelect>
          </div>
          <AuButton
            @loading={{this.isLoading}}
            @disabled={{this.isLoading}}
            @width="block"
            type="submit"
          >
            Zoeken
          </AuButton>
        </form>
      </div>
    </div>
  </:sidebar>
  <:content>
    <AuDataTable
      @content={{this.administrativeUnits}}
      @isLoading={{this.showTableLoader}}
      @page={{this.page}}
      @size={{this.size}}
      as |t|
    >
      <t.menu as |menu|>
        <menu.general>
          <PageHeader class="au-o-box">
            <:title>Bestuurseenheden</:title>
            <:action>
              {{! TODO: Replace this with a link once the "new" route is created }}
              <AuButton @icon="add" @iconAlignment="left">
                Nieuw
              </AuButton>
            </:action>
          </PageHeader>
        </menu.general>
      </t.menu>
      <t.content class="au-c-data-table__table--small" as |c|>
        <c.header>
          <AuDataTableThSortable
            @field="name"
            @currentSorting={{this.sort}}
            @label="Naam"
          />
          <AuDataTableThSortable
            @field="classification.label"
            @currentSorting={{this.sort}}
            @label="Type bestuur"
          />
          <AuDataTableThSortable
            @field="recognized-worship-type.label"
            @currentSorting={{this.sort}}
            @label="Soort eredienst"
          />
          <AuDataTableThSortable
            @field="primary-site.address.province"
            @currentSorting={{this.sort}}
            @label="Provincie"
          />
          <AuDataTableThSortable
            @field="primary-site.address.municipality"
            @currentSorting={{this.sort}}
            @label="Gemeente"
          />
          <th>Status</th>
        </c.header>
        {{#if this.hasErrored}}
          <TableMessage::Error />
        {{else if this.hasNoResults}}
          <TableMessage>
            <p>
              Er werden geen zoekresultaten gevonden. Kijk na op spelfouten, of
              probeer een andere zoekopdracht. Indien een organisatie ontbreekt,
              meldt dit aan
              <a
                class="au-c-link"
                href="mailto:{{config "contactEmail"}}"
              >{{config "contactEmail"}}</a>
              of
              <AuLink @route="index">maak een organisatie aan.</AuLink>
              {{! TODO add the correct
                          route }}
            </p>
          </TableMessage>
        {{else}}
          <c.body as |adminUnit|>
            <td>
              <LinkTo
                class="au-c-link"
                @model={{adminUnit.id}}
                @route="administrative-units.administrative-unit.index"
              >
                {{adminUnit.name}}
              </LinkTo>
            </td>
            <td>{{adminUnit.classification.label}}</td>
            <td>{{adminUnit.recognizedWorshipType.label}}</td>
            <td>{{adminUnit.primarySite.address.province}}</td>
            <td>{{adminUnit.primarySite.address.municipality}}</td>
            <td>
              {{#if adminUnit.organizationStatus}}
                <OrganizationStatus @status={{adminUnit.organizationStatus}} />
              {{/if}}
            </td>
          </c.body>
        {{/if}}
      </t.content>
    </AuDataTable>
  </:content>
</SidebarContainer>