<SidebarContainer>
  <:sidebar>
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content au-o-box">
        <form class="au-o-grid au-o-grid--small" {{on "submit" this.search}}>
          <div class="au-o-grid__item au-u-1-2@small au-u-1-1@medium">
            <AuLabel for="filter-name">Naam</AuLabel>
               <AdministrativeUnitSelectByName
                        @id="filter-name"
                        @selected={{this.name}}
                        @onChange={{fn (mut this.name)}}
                        class="grow"
                      />
          </div>
          <div class="au-o-grid__item au-u-1-2@small au-u-1-1@medium">
            <AuLabel for="filter-municipality">Gemeente</AuLabel>
            <MunicipalitySelect
              @selected={{this.municipality}}
              @onChange={{this.setMunicipality}}
              @id="filter-municipality"
            />
          </div>
          <div class="au-o-grid__item au-u-1-2@small au-u-1-1@medium">
            <AuLabel for="filter-province">Provincie</AuLabel>
            <ProvinceSelect
              @selected={{this.province}}
              @onChange={{this.setProvince}}
              @id="filter-province"
            />
          </div>
          <div class="au-o-grid__item au-u-1-2@small au-u-1-1@medium">
            <AuLabel for="classification">Type bestuur</AuLabel>
            <ClassificationSelect
              @selected={{this.classificationId}}
              @onChange={{this.setClassificationId}}
              @allowClear={{true}}
              @id="classification"
            />
          </div>
          <div class="au-o-grid__item au-u-1-2@small au-u-1-1@medium">
            <AuLabel for="recognized-worship-types">Soort eredienst</AuLabel>
            <RecognizedWorshipTypeSelect
              @selected={{this.recognizedWorshipTypeId}}
              @onChange={{this.setRecognizedWorshipTypeId}}
              @allowClear={{true}}
              @id="recognized-worship-types"
            />
          </div>
          <div class="au-o-grid__item au-u-1-2@small au-u-1-1@medium">
            <AuLabel for="statuses">Status</AuLabel>
            <OrganizationStatusSelect
              @selected={{this.organizationStatus}}
              @onChange={{this.setOrganizationStatus}}
              @allowClear={{true}}
              @id="statuses"
            />
          </div>
          <div class="au-o-grid__item">
            <AuButton
              @loading={{this.isLoading}}
              @disabled={{this.isLoading}}
              @width="block"
              type="submit"
            >
              Zoeken
            </AuButton>
          </div>
        </form>
      </div>
    </div>
  </:sidebar>
  <:content>
    <AuDataTable
      @content={{this.administrativeUnits}}
      @isLoading={{this.showTableLoader}}
      @page={{this.page}}
      @size={{this.size}}
      as |t|
    >
      <t.menu as |menu|>
        <menu.general>
          <PageHeader class="au-o-box">
            <:title>Bestuurseenheden</:title>
            <:action>
              <SecuredArea>
                <:edit>
                  <AuLink
                    @route="administrative-units.new"
                    @icon="add"
                    @iconAlignment="left"
                    @skin="button"
                  >
                    Nieuw
                  </AuLink>
                </:edit>
              </SecuredArea>
            </:action>
          </PageHeader>
        </menu.general>
      </t.menu>
      <t.content class="au-c-data-table__table--small" as |c|>
        <c.header>
          <AuDataTableThSortable
            @field="name"
            @currentSorting={{this.sort}}
            @label="Naam"
          />
          <AuDataTableThSortable
            @field="classification_name"
            @currentSorting={{this.sort}}
            @label="Type bestuur"
          />
          <AuDataTableThSortable
            @field="recognized_worship_type_name"
            @currentSorting={{this.sort}}
            @label="Soort eredienst"
          />
          <AuDataTableThSortable
            @field="province"
            @currentSorting={{this.sort}}
            @label="Provincie"
          />
          <AuDataTableThSortable
            @field="municipality"
            @currentSorting={{this.sort}}
            @label="Gemeente"
          />
          <AuDataTableThSortable
            @field="status"
            @currentSorting={{this.sort}}
            @label="Status"
          />
        </c.header>
        {{#if this.hasErrored}}
          <TableMessage::Error />
        {{else if this.hasNoResults}}
          <TableMessage>
            <p>
              Er werden geen zoekresultaten gevonden. Kijk na op spelfouten, of
              probeer een andere zoekopdracht. Indien een organisatie ontbreekt,
              meldt dit aan
              <a
                class="au-c-link"
                href="mailto:{{config "contactEmail"}}"
              >{{config "contactEmail"}}</a>
              of
              <AuLink @route="administrative-units.new">maak een organisatie
                aan.</AuLink>
            </p>
          </TableMessage>
        {{else}}
          <c.body as |adminUnit|>
            <td>
              <LinkTo
                class="au-c-link"
                @model={{adminUnit.id}}
                @route="administrative-units.administrative-unit.index"
              >
                {{adminUnit.name}}
              </LinkTo>
            </td>
            <td>{{adminUnit.classification_name}}</td>
            <td>{{adminUnit.recognized_worship_type_name}}</td>
            <td>{{adminUnit.province}}</td>
            <td>{{adminUnit.municipality}}</td>
            <td>
              {{#if adminUnit.status}}
                <OrganizationStatus  @id={{adminUnit.status_id}} @label={{adminUnit.status}}/>
              {{/if}}
            </td>
          </c.body>
        {{/if}}
      </t.content>
    </AuDataTable>
  </:content>
</SidebarContainer>