<div class="au-c-main-container">
    <div class="au-c-main-container__sidebar">
        <div class="au-c-sidebar">
            <div class="au-c-sidebar__content au-o-box">
                <div class="au-c-form">
                    <p>
                      <AuLabel for="input-block">Naam</AuLabel>
                      <AuDataTableTextSearch @filter={{this.filter}}/>
                    </p>
                    <p>
                        <AuLabel for="input-block">Municipality</AuLabel>
                        <PowerSelect @allowClear={{true}} {{!-- @disabled={{disabled}} --}} @searchEnabled={{true}}
                            @loadingMessage="Aan het laden..." @noMatchesMessage="Geen resultaten"
                            @searchMessage="Typ om te zoeken" @options={{this.singleselects}}
                            @selected={{this.singleselect}} @onChange={{fn (mut this.singleselect)}} as |singleselect|>
                            {{singleselect}}
                        </PowerSelect>
                    </p>
                    <p>
                        <AuLabel for="input-regular">Type eredienst</AuLabel>
                        <PowerSelect @allowClear={{true}} @searchEnabled={{true}}
                            @noMatchesMessage="Geen resultaten" @searchField="label"
                            @options={{this.getTypesEredienst}}
                            @selected={{this.typeEredienst}} @onChange={{fn (mut this.handleTypeEredienstSelection)}} as |typeEredienst|>
                            {{typeEredienst.label}}
                        </PowerSelect>
                    </p>
                    <p>
                        <AuLabel for="input-regular">Status</AuLabel>
                        <PowerSelect @allowClear={{true}} {{!-- @disabled={{disabled}} --}} @searchEnabled={{true}}
                            @loadingMessage="Aan het laden..." @noMatchesMessage="Geen resultaten"
                            @searchMessage="Typ om te zoeken" @options={{this.singleselects}}
                            @selected={{this.singleselect}} @onChange={{fn (mut this.singleselect)}} as |singleselect|>
                            {{singleselect}}
                        </PowerSelect>
                    </p>
                    <AuButton @width="block">
                        Search
                    </AuButton>
                </div>
            </div>
        </div>
    </div>
    <div class="au-c-main-container__content">
        <div class="au-d-component-block">
            <AuDataTable @content={{@model}} @fields="province municipality" @noDataMessage="No Administrative unit found" as |t|>
                <t.menu as |menu|>
                    <menu.general>
                        <AuToolbar class="au-o-box">
                            <AuToolbarGroup>
                                <AuHeading @skin="2">
                                    Bestuurseenheden (sample)
                                </AuHeading>
                            </AuToolbarGroup>
                        </AuToolbar>
                    </menu.general>
                </t.menu>
                <t.content class="au-c-data-table__table--small" as |c|>
                    <c.header>
                        <th>Name</th>
                        <AuDataTableThSortable @field="typeEredienst" @currentSorting={{this.sort}}  @label="Type Eredienst" 
                            @class="data-table__header-title" />
                         <AuDataTableThSortable @field="province" @currentSorting={{this.sort}} @label="Province"
                            @class="data-table__header-title" />
                         <AuDataTableThSortable @field="municipality" @currentSorting={{this.sort}} @label="Municipality"
                            @class="data-table__header-title" />
                        <th>Status</th>
                    </c.header>
                    <c.body as |adminUnit|>
                        <td>
                            <LinkTo class="au-c-link" @model={{adminUnit.id}} @route="administrative-units.administrative-unit.index">
                              {{adminUnit.name}}
                            </LinkTo>
                        </td>
                        <td>{{adminUnit.classification.label}}</td>
                        <td>{{adminUnit.primarySite.address.province}}</td>
                        <td>{{adminUnit.primarySite.address.municipality}}</td>
                        <td>                            
                          <AuPill @skin="success">
                            {{adminUnit.organizationStatus.label}}
                          </AuPill>
                        </td>
                    </c.body>
                </t.content>
            </AuDataTable>
        </div>
    </div>
</div>