{{page-title "Voeg bestuurseenheid toe"}}
{{breadcrumb "Voeg bestuurseenheid toe"}}

<div class="au-c-body-container au-c-body-container--scroll">
  <PageHeader class="au-u-margin au-u-margin-bottom-large">
    <:title>Voeg bestuurseenheid toe</:title>
  </PageHeader>

  <form
    class="au-o-box au-o-flow au-o-flow--large"
    aria-label="administrative-unit-creation-form"
    {{on "submit" (perform this.createAdministrativeUnitTask)}}
  >
    <EditCard @containsRequiredFields={{true}}>
      <:title>Bestuurseenheid</:title>
      <:card as |Card|>
        <Card.Columns>
          <:left as |Item|>
            <Item
              @labelFor="administrative-unit-name"
              @required={{true}}
              @errorMessage={{@model.administrativeUnit.error.name.validation}}
            >
              <:label>Naam</:label>
              <:content as |hasError|>
                <AuInput
                  @width="block"
                  @value={{@model.administrativeUnit.name}}
                  @error={{hasError}}
                  id="administrative-unit-name"
                />
              </:content>
            </Item>
            <Item
              @labelFor="recognized-worship-type-select"
              @required={{true}}
              @errorMessage={{@model.administrativeUnit.error.recognizedWorshipType.validation}}
            >
              <:label>Soort eredienst</:label>
              <:content as |hasError|>
                <RecognizedWorshipTypeSelect
                  @selected={{@model.administrativeUnit.recognizedWorshipType}}
                  @onChange={{fn
                    (mut @model.administrativeUnit.recognizedWorshipType)
                  }}
                  @error={{hasError}}
                  @id="recognized-worship-type-select"
                />
              </:content>
            </Item>
            <Item
              @labelFor="classification-select"
              @required={{true}}
              @errorMessage={{@model.administrativeUnit.error.classification.validation}}
            >
              <:label>Type bestuur</:label>
              <:content as |hasError|>
                <ClassificationSelect
                  @selected={{@model.administrativeUnit.classification}}
                  @onChange={{fn
                    (mut @model.administrativeUnit.classification)
                  }}
                  @error={{hasError}}
                  @id="classification-select"
                />
              </:content>
            </Item>
            {{#if this.isNewWorshipService}}
              <Item @labelFor="denomination">
                <:label>Strekking</:label>
                <:content>
                  <AuInput
                    @width="block"
                    @value={{@model.worshipService.denomination}}
                    id="denomination"
                  />
                </:content>
              </Item>
              <Item @alignTop={{true}}>
                <:label>Grensoverschrijvend</:label>
                <:content>
                  <ul class="au-c-list-inline">
                    <li class="au-c-list-inline__item">
                      <AuControlRadio
                        @label="Ja"
                        @name="is-cross-border"
                        @value={{@model.worshipService.crossBorder}}
                        @identifier="cross-border-true"
                        @onChange={{fn
                          (mut @model.worshipService.crossBorder)
                          true
                        }}
                        checked={{@model.worshipService.crossBorder}}
                      />
                    </li>
                    <li class="au-c-list-inline__item">
                      <AuControlRadio
                        @label="Nee"
                        @name="is-cross-border"
                        @value={{@model.worshipService.crossBorder}}
                        @identifier="cross-border-false"
                        @onChange={{fn
                          (mut @model.worshipService.crossBorder)
                          false
                        }}
                        checked={{not @model.worshipService.crossBorder}}
                      />
                    </li>
                  </ul>
                </:content>
              </Item>
            {{/if}}
            {{! hide for now, until we know how we are going to implement this correctly }}
            {{!-- <Item @labelFor="administrative-unit-scope">
              <:label>Werkingsgebied</:label>
              <:content>
                {{! TODO: Enable multiple selections and concat the selections in one label }}
                <ScopeSelect @selected={{@model.administrativeUnit.scope}} @onChange={{fn (mut
                  @model.administrativeUnit.scope)}} />
              </:content>
            </Item> --}}
          </:left>
          <:right as |Item|>
            <Item
              @labelFor="status-select"
              @required={{true}}
              @errorMessage={{@model.administrativeUnit.error.organizationStatus.validation}}
            >
              <:label>Status</:label>
              <:content as |hasError|>
                <OrganizationStatusSelect
                  @selected={{@model.administrativeUnit.organizationStatus}}
                  @onChange={{fn
                    (mut @model.administrativeUnit.organizationStatus)
                  }}
                  @error={{hasError}}
                  @id="status-select"
                />
              </:content>
            </Item>
            <Item @labelFor="kbo-identifier">
              <:label>KBO Nummer</:label>
              <:content>
                <AuInput
                  @width="block"
                  @value={{@model.structuredIdentifierKBO.localId}}
                  id="kbo-identifier"
                />
              </:content>
            </Item>
            <Item @labelFor="sharepoint-identifier">
              <:label>Sharepoint Identificator</:label>
              <:content>
                <AuInput
                  @width="block"
                  @value={{@model.structuredIdentifierSharepoint.localId}}
                  id="sharepoint-identifier"
                />
              </:content>
            </Item>
          </:right>
        </Card.Columns>
      </:card>
    </EditCard>

    <EditCard @containsRequiredFields={{true}}>
      <:title>Primaire contactgegevens</:title>
      <:card as |Card|>
        <Card.Columns>
          <:left as |Item|>
            <Item
              @labelFor="primary-site-address-street-name"
              @required={{true}}
              @errorMessage={{@model.address.error.street.validation}}
            >
              <:label>Straat</:label>
              <:content as |hasError|>
                <AuInput
                  @width="block"
                  @value={{@model.address.street}}
                  @error={{hasError}}
                  id="primary-site-address-street-name"
                />
              </:content>
            </Item>
            <Item
              @labelFor="primary-site-address-house-number"
              @required={{true}}
              @errorMessage={{@model.address.error.number.validation}}
            >
              <:label>Huisnummer</:label>
              <:content as |hasError|>
                <AuInput
                  @width="block"
                  @value={{@model.address.number}}
                  @error={{hasError}}
                  id="primary-site-address-house-number"
                />
              </:content>
            </Item>
            <Item @labelFor="primary-site-address-bus-number">
              <:label>Busnummer</:label>
              <:content>
                <AuInput
                  @width="block"
                  @value={{@model.address.boxNumber}}
                  id="primary-site-address-bus-number"
                />
              </:content>
            </Item>
            <Item
              @labelFor="primary-site-address-postal-code"
              @required={{true}}
              @errorMessage={{@model.address.error.postcode.validation}}
            >
              <:label>Postcode</:label>
              <:content as |hasError|>
                <AuInput
                  @width="block"
                  @value={{@model.address.postcode}}
                  @error={{hasError}}
                  id="primary-site-address-postal-code"
                />
              </:content>
            </Item>
            <Item
              @labelFor="primary-site-address-municipality"
              @required={{true}}
              @errorMessage={{@model.address.error.municipality.validation}}
            >
              <:label>Gemeente</:label>
              <:content as |hasError|>
                <MunicipalitySelect
                  @selected={{@model.address.municipality}}
                  @onChange={{fn (mut @model.address.municipality)}}
                  @id="primary-site-address-municipality"
                  @error={{hasError}}
                />
              </:content>
            </Item>
            <Item
              @labelFor="primary-site-address-province"
              @required={{true}}
              @errorMessage={{@model.address.error.province.validation}}
            >
              <:label>Provincie</:label>
              <:content as |hasError|>
                <ProvinceSelect
                  @selected={{@model.address.province}}
                  @onChange={{fn (mut @model.address.province)}}
                  @id="primary-site-address-province"
                  @error={{hasError}}
                />
              </:content>
            </Item>
          </:left>
          <:right as |Item|>
            <Item
              @labelFor="primary-site-contact-phone-number"
              @errorMessage={{@model.contact.error.telephone.validation}}
            >
              <:label>Telefoonnummer</:label>
              <:content as |hasError|>
                <AuInput
                  @width="block"
                  @value={{@model.contact.telephone}}
                  @error={{hasError}}
                  id="primary-site-contact-phone-number"
                  type="tel"
                />
              </:content>
              <:help-text>
                {{help-text "phone-number"}}
              </:help-text>
            </Item>
            <Item
              @labelFor="primary-site-contact-website"
              @errorMessage={{@model.contact.error.website.validation}}
            >
              <:label>Website</:label>
              <:content as |hasError|>
                <AuInput
                  @width="block"
                  @value={{@model.contact.website}}
                  @error={{hasError}}
                  id="primary-site-contact-website"
                />
              </:content>
              <:help-text>
                {{help-text "url"}}
              </:help-text>
            </Item>
          </:right>
        </Card.Columns>
      </:card>
    </EditCard>

    <EditCard @containsRequiredFields={{true}}>
      <:title>Gerelateerde organisaties</:title>
      <:card as |Card|>
        <Card.Columns>
          <:left as |Item|>
            {{#if this.isNewCentralWorshipService}}
              <Item @labelFor="related-worship-service">
                <:label>Bestuur van de eredienst</:label>
                <:content>
                  <WorshipServiceSelect
                    @selected={{@model.administrativeUnit.subOrganizations}}
                    @onChange={{fn
                      (mut @model.administrativeUnit.subOrganizations)
                    }}
                    id="related-worship-service"
                  />
                </:content>
              </Item>
            {{else}}
              <Item @labelFor="related-central-worship-service">
                <:label>Centraal bestuur</:label>
                <:content>
                  <CentralWorshipSelect
                    @selected={{@model.administrativeUnit.isSubOrganizationOf}}
                    @onChange={{fn
                      (mut @model.administrativeUnit.isSubOrganizationOf)
                    }}
                    @id="related-central-worship-service"
                  />
                </:content>
              </Item>
            {{/if}}
            <Item
              @labelFor="related-representative-body"
              @required={{true}}
              @errorMessage={{@model.administrativeUnit.error.isAssociatedWith.validation}}
            >
              <:label>Representatief orgaan</:label>
              <:content as |hasError|>
                <RepresentativeBodySelect
                  @selected={{@model.administrativeUnit.isAssociatedWith}}
                  @onChange={{fn
                    (mut @model.administrativeUnit.isAssociatedWith)
                  }}
                  @error={{hasError}}
                  @id="related-representative-body"
                />
              </:content>
            </Item>
          </:left>
        </Card.Columns>
      </:card>
    </EditCard>

    <AuButtonGroup>
      <AuButton
        @loading={{this.createAdministrativeUnitTask.isRunning}}
        type="submit"
        @icon="add"
        @iconAlignment="left"
      >
        Voeg toe
      </AuButton>

      <AuLink @route="administrative-units" @skin="button-secondary">
        Annuleer
      </AuLink>
    </AuButtonGroup>
  </form>
</div>