{{page-title "Voeg bestuurseenheid toe"}}
{{breadcrumb "Voeg bestuurseenheid toe"}}

<div class="au-c-body-container au-c-body-container--scroll">
  <PageHeader class="au-u-margin au-u-margin-bottom-large">
    <:title>Voeg bestuurseenheid toe</:title>
  </PageHeader>

  <form
    class="au-o-box au-o-flow au-o-flow--large"
    aria-label="administrative-unit-creation-form"
    {{on "submit" (perform this.createAdministrativeUnitTask)}}
  >
    <EditCard>
      <:title>Bestuurseenheid</:title>
      <:card as |Card|>
        <Card.Columns>
          <:left as |Item|>
            <Item @labelFor="administrative-unit-name">
              <:label>Naam</:label>
              <:content>
                <AuInput
                  @width="block"
                  @value={{this.model.administrativeUnit.name}}
                  id="administrative-unit-name"
                />
              </:content>
            </Item>
            <Item @labelFor="recognized-worship-type-select">
              <:label>Type eredienst</:label>
              <:content>
                <RecognizedWorshipTypeSelect
                  @selected={{this.model.administrativeUnit.recognizedWorshipType}}
                  @onChange={{fn
                    (mut this.model.administrativeUnit.recognizedWorshipType)
                  }}
                />
              </:content>
            </Item>
            <Item>
              <:label>Type bestuur</:label>
              <:content>
                <ClassificationSelect
                  @selected={{this.model.administrativeUnit.classification}}
                  @onChange={{fn
                    (mut this.model.administrativeUnit.classification)
                  }}
                />
              </:content>
            </Item>
            {{#if this.isNewWorshipService}}
              <Item @labelFor="denomination">
                <:label>Strekking</:label>
                <:content>
                  <AuInput
                    @width="block"
                    @value={{this.model.worshipService.denomination}}
                    id="denomination"
                  />
                </:content>
              </Item>
            {{/if}}
          </:left>
          <:right as |Item|>
            <Item @labelFor="status-select">
              <:label>Status</:label>
              <:content>
                <OrganizationStatusSelect
                  @selected={{this.model.administrativeUnit.organizationStatus}}
                  @onChange={{fn
                    (mut this.model.administrativeUnit.organizationStatus)
                  }}
                />
              </:content>
            </Item>
            <Item @labelFor="kbo-identifier">
              <:label>KBO Nummer</:label>
              <:content>
                <AuInput
                  @width="block"
                  @value={{this.model.structuredIdentifierKBO.localId}}
                  id="kbo-identifier"
                />
              </:content>
            </Item>
          </:right>
        </Card.Columns>
        <Card.Columns>
          <:left as |Item|>
            {{#if this.isNewWorshipService}}
              <Item @alignTop={{true}}>
                <:label>Grensoverschrijvend</:label>
                <:content>
                  <AuControlRadio
                    @label="Ja"
                    @name="is-cross-border"
                    @value={{this.model.worshipService.crossBorder}}
                    @identifier="cross-border-true"
                    @onChange={{fn
                      (mut this.model.worshipService.crossBorder)
                      true
                    }}
                    checked={{this.model.worshipService.crossBorder}}
                  />
                  <br />
                  <AuControlRadio
                    @label="Nee"
                    @name="is-cross-border"
                    @value={{this.model.worshipService.crossBorder}}
                    @identifier="cross-border-false"
                    @onChange={{fn
                      (mut this.model.worshipService.crossBorder)
                      false
                    }}
                    checked={{not this.model.worshipService.crossBorder}}
                  />
                </:content>
              </Item>
            {{/if}}
            {{! hide for now, until we know how we are going to implement this correctly }}
            {{!-- <Item @labelFor="administrative-unit-scope">
              <:label>Werkingsgebied</:label>
              <:content>
                {{! TODO: Enable multiple selections and concat the selections in one label }}
                <ScopeSelect @selected={{this.model.administrativeUnit.scope}} @onChange={{fn (mut
                  this.model.administrativeUnit.scope)}} />
              </:content>
            </Item> --}}
          </:left>
          <:right as |Item|>
            <Item @labelFor="sharepoint-identifier">
              <:label>Sharepoint Identificator</:label>
              <:content>
                <AuInput
                  @width="block"
                  @value={{this.model.structuredIdentifierSharepoint.localId}}
                  id="sharepoint-identifier"
                />
              </:content>
            </Item>
          </:right>
        </Card.Columns>
      </:card>
    </EditCard>

    <EditCard>
      <:title>Primaire contactgegevens</:title>
      <:card as |Card|>
        <Card.Columns>
          <:left as |Item|>
            <Item @labelFor="primary-site-address-street-name">
              <:label>Straat</:label>
              <:content>
                <AuInput
                  @width="block"
                  @value={{this.model.address.street}}
                  id="primary-site-address-street-name"
                />
              </:content>
            </Item>
            <Item @labelFor="primary-site-address-bus-number">
              <:label>Busnummer</:label>
              <:content>
                <AuInput
                  @width="block"
                  @value={{this.model.address.boxNumber}}
                  id="primary-site-address-bus-number"
                />
              </:content>
            </Item>
            <Item @labelFor="primary-site-address-municipality">
              <:label>Gemeente</:label>
              <:content>
                <MunicipalitySelect
                  @selected={{this.model.address.municipality}}
                  @onChange={{fn (mut this.model.address.municipality)}}
                />
              </:content>
            </Item>
            <Item @labelFor="primary-site-contact-phone-number">
              <:label>Telefoonnummer</:label>
              <:content>
                <AuInput
                  @width="block"
                  @value={{this.model.contact.telephone}}
                  id="primary-site-contact-phone-number"
                />
              </:content>
            </Item>
          </:left>
          <:right as |Item|>
            <Item @labelFor="primary-site-address-house-number">
              <:label>Huisnummer</:label>
              <:content>
                <AuInput
                  @width="block"
                  @value={{this.model.address.number}}
                  id="primary-site-address-house-number"
                />
              </:content>
            </Item>
            <Item @labelFor="primary-site-address-postal-code">
              <:label>Postcode</:label>
              <:content>
                <AuInput
                  @width="block"
                  @value={{this.model.address.postcode}}
                  id="primary-site-address-postal-code"
                />
              </:content>
            </Item>
            <Item @labelFor="primary-site-address-province">
              <:label>Provincie</:label>
              <:content>
                <ProvinceSelect
                  @selected={{this.model.address.province}}
                  @onChange={{fn (mut this.model.address.province)}}
                />
              </:content>
            </Item>
            <Item @labelFor="primary-site-contact-website">
              <:label>Website</:label>
              <:content>
                <AuInput
                  @width="block"
                  @value={{this.model.contact.website}}
                  id="primary-site-contact-website"
                />
              </:content>
            </Item>
          </:right>
        </Card.Columns>
      </:card>
    </EditCard>

    <EditCard>
      <:title>Gerelateerde organisaties</:title>
      <:card as |Card|>
        <Card.Columns>
          <:left as |Item|>
            <Item>
              <:label>Centraal bestuur</:label>
              <:content>
                <CentralWorshipSelect
                  @selected={{this.model.administrativeUnit.isSubOrganizationOf}}
                  @onChange={{fn
                    (mut this.model.administrativeUnit.isSubOrganizationOf)
                  }}
                />
              </:content>
            </Item>
            <Item>
              <:label>Representatief orgaan</:label>
              <:content>
                <RepresentativeBodySelect
                  @selected={{this.model.administrativeUnit.isAssociatedWith}}
                  @onChange={{fn
                    (mut this.model.administrativeUnit.isAssociatedWith)
                  }}
                />
              </:content>
            </Item>
          </:left>
        </Card.Columns>
      </:card>
    </EditCard>

    <AuButtonGroup>
      <AuButton
        @loading={{this.createAdministrativeUnitTask.isRunning}}
        type="submit"
      >
        Voeg toe
      </AuButton>

      <AuLink @route="administrative-units" @skin="button-secondary">
        Annuleer
      </AuLink>
    </AuButtonGroup>
  </form>
</div>