{{page-title "Voeg bestuurseenheid toe"}}
{{breadcrumb "Voeg bestuurseenheid toe"}}

<div class="au-c-body-container au-c-body-container--scroll">
  <PageHeader class="au-u-margin au-u-margin-bottom-large">
    <:title>Voeg bestuurseenheid toe</:title>
    <:action>
      <AuButtonGroup class="au-c-button-group--align-right">
        <AuLink @route="administrative-units" @skin="button-secondary">
          Annuleer
        </AuLink>
        <AuButton
          @loading={{this.createAdministrativeUnitTask.isRunning}}
          type="submit"
          form="administrative-unit-creation-form"
          @icon="add"
          @iconAlignment="left"
        >
          Voeg toe
        </AuButton>
      </AuButtonGroup>
    </:action>
  </PageHeader>

  <form
    class="au-o-box au-o-flow au-o-flow--large"
    id="administrative-unit-creation-form"
    aria-label="administrative-unit-creation-form"
    {{on "submit" (perform this.createAdministrativeUnitTask)}}
  >
    <EditCard @containsRequiredFields={{true}}>
      <:title>Bestuurseenheid</:title>
      <:card as |Card|>
        <Card.Columns>
          <:left as |Item|>
            <Item
              @labelFor="administrative-unit-name"
              @required={{true}}
              @errorMessage={{@model.administrativeUnitChangeset.error.name.validation}}
            >
              <:label>Naam</:label>
              <:content as |hasError|>
                <TrimInput
                  @width="block"
                  @value={{@model.administrativeUnitChangeset.name}}
                  @onUpdate={{fn (mut @model.administrativeUnitChangeset.name)}}
                  @error={{hasError}}
                  id="administrative-unit-name"
                />
              </:content>
            </Item>
            <Item
              @labelFor="classification-select"
              @required={{true}}
              @errorMessage={{@model.administrativeUnitChangeset.error.classification.validation}}
            >
              <:label>Type bestuur</:label>
              <:content as |hasError|>
                <ClassificationSelect
                  @selected={{@model.administrativeUnitChangeset.classification}}
                  @selectedRecognizedWorshipTypeId={{@model.administrativeUnitChangeset.recognizedWorshipType.id}}
                  @onChange={{this.setClassification}}
                  @restrictForNewBestuursenheden={{true}}
                  @error={{hasError}}
                  @id="classification-select"
                />
              </:content>
            </Item>
            {{#if this.isNewWorshipAdministrativeUnit}}
              <Item
                @labelFor="recognized-worship-type-select"
                @required={{true}}
                @errorMessage={{@model.administrativeUnitChangeset.error.recognizedWorshipType.validation}}
              >
                <:label>Soort eredienst</:label>
                <:content as |hasError|>
                  <RecognizedWorshipTypeSelect
                    @selected={{@model.administrativeUnitChangeset.recognizedWorshipType}}
                    @onChange={{fn
                      (mut @model.administrativeUnitChangeset.recognizedWorshipType)
                    }}
                    @allowClear={{true}}
                    @error={{hasError}}
                    @id="recognized-worship-type-select"
                  />
                </:content>
              </Item>
            {{/if}}
            {{#if this.isNewWorshipService}}
              <Item @labelFor="denomination">
                <:label>Strekking</:label>
                <:content>
                  <TrimInput
                    @width="block"
                    @value={{@model.worshipService.denomination}}
                    @onUpdate={{fn (mut @model.worshipService.denomination)}}
                    id="denomination"
                  />
                </:content>
              </Item>
              <Item @alignTop={{true}}>
                <:label>Grensoverschrijvend</:label>
                <:content>
                  <ul class="au-c-list-inline">
                    <li class="au-c-list-inline__item">
                      <AuControlRadio
                        @label="Ja"
                        @name="is-cross-border"
                        @value={{@model.worshipService.crossBorder}}
                        @identifier="cross-border-true"
                        @onChange={{fn
                          (mut @model.worshipService.crossBorder)
                          true
                        }}
                        checked={{@model.worshipService.crossBorder}}
                      />
                    </li>
                    <li class="au-c-list-inline__item">
                      <AuControlRadio
                        @label="Nee"
                        @name="is-cross-border"
                        @value={{@model.worshipService.crossBorder}}
                        @identifier="cross-border-false"
                        @onChange={{fn
                          (mut @model.worshipService.crossBorder)
                          false
                        }}
                        checked={{not @model.worshipService.crossBorder}}
                      />
                    </li>
                  </ul>
                </:content>
              </Item>
            {{/if}}
            {{#if this.isNewMunicipality}}
              <Item @labelFor="regio">
                <:label>Regio</:label>
                <:content>
                  <RegionSelect
                    @selected={{@model.administrativeUnitChangeset.scope.locatedWithin}}
                    @onChange={{fn
                      (mut @model.administrativeUnitChangeset.scope.locatedWithin)
                    }}
                    @id="regio"
                  />
                </:content>
              </Item>
            {{/if}}
          </:left>
          <:right as |Item|>
            <Item
              @labelFor="status-select"
              @required={{true}}
              @errorMessage={{@model.administrativeUnitChangeset.error.organizationStatus.validation}}
            >
              <:label>Status</:label>
              <:content as |hasError|>
                <OrganizationStatusSelect
                  @selected={{@model.administrativeUnitChangeset.organizationStatus}}
                  @onChange={{fn
                    (mut @model.administrativeUnitChangeset.organizationStatus)
                  }}
                  @error={{hasError}}
                  @id="status-select"
                />
              </:content>
            </Item>
            <Item
              @labelFor="kbo-identifier"
              @errorMessage={{@model.structuredIdentifierKBO.error.localId.validation}}
            >
              <:label>{{@model.identifierKBO.idName}}</:label>
              <:content as |hasError|>
                <AuInput
                  @maskPlaceholder="_"
                  autocomplete="off"
                  @mask="####.###.###"
                  @onChange={{this.setKbo}}
                  @width="block"
                  @value={{@model.structuredIdentifierKBO.localId}}
                  @error={{hasError}}
                  id="kbo-identifier"
                  placeholder="____.___.___"
                />
              </:content>
              <:error as |error|>
                <Error::KboNumber @error={{error}} />
              </:error>
            </Item>
            <Item @labelFor="sharepoint-identifier">
              <:label>{{@model.identifierSharepoint.idName}}</:label>
              <:content>
                <TrimInput
                  @width="block"
                  @value={{@model.structuredIdentifierSharepoint.localId}}
                  @onUpdate={{fn (mut @model.structuredIdentifierSharepoint.localId)}}
                  id="sharepoint-identifier"
                />
              </:content>
            </Item>
          </:right>
        </Card.Columns>
      </:card>
    </EditCard>

    <Site::ContactEditCard
      @address={{@model.address}}
      @primaryContact={{@model.contact}}
      @secondaryContact={{@model.secondaryContact}}
    >
      <:title>Primaire contactgegevens</:title>
    </Site::ContactEditCard>

    {{#if this.model.administrativeUnitChangeset.classification}}
      <EditCard @containsRequiredFields={{true}}>
        <:title>Gerelateerde organisaties</:title>
        <:card as |Card|>
          {{#if this.isNewWorshipAdministrativeUnit}}
            <Card.Columns>
              <:left as |Item|>
                {{#if this.isNewCentralWorshipService}}
                  <Item @labelFor="related-worship-service">
                    <:label>Bestuur van de eredienst</:label>
                    <:content>
                      <WorshipServiceMultipleSelect
                        @selected={{@model.administrativeUnitChangeset.subOrganizations}}
                        @onChange={{fn
                          (mut @model.administrativeUnitChangeset.subOrganizations)
                        }}
                        id="related-worship-service"
                      />
                    </:content>
                  </Item>
                {{else if this.hasCentralWorshipService}}
                  <Item
                    @labelFor="related-central-worship-service"
                    @required={{false}}
                    @errorMessage={{@model.administrativeUnitChangeset.error.isSubOrganizationOf.validation}}
                  >
                    <:label>Centraal bestuur</:label>
                    <:content as |hasError|>
                      <CentralWorshipSelect
                        @selected={{@model.administrativeUnitChangeset.isSubOrganizationOf}}
                        @onChange={{fn
                          (mut @model.administrativeUnitChangeset.isSubOrganizationOf)
                        }}
                        @error={{hasError}}
                        @id="related-central-worship-service"
                      />
                    </:content>
                  </Item>
                {{/if}}
                <Item
                  @labelFor="related-representative-body"
                  @required={{true}}
                  @errorMessage={{@model.administrativeUnitChangeset.error.isAssociatedWith.validation}}
                >
                  <:label>Representatief orgaan</:label>
                  <:content as |hasError|>
                    <RepresentativeBodySelect
                      @selected={{@model.administrativeUnitChangeset.isAssociatedWith}}
                      @onChange={{fn
                        (mut @model.administrativeUnitChangeset.isAssociatedWith)
                      }}
                      @error={{hasError}}
                      @id="related-representative-body"
                    />
                  </:content>
                </Item>
              </:left>
            </Card.Columns>
          {{else}}

            <Card.Columns>
              <:left as |Item|>
              {{#if (or this.isNewOCMW this.isNewAgb this.isNewDistrict)}}
                <Item
                  @labelFor="related-gemeente"
                  @required={{false}}
                  @errorMessage={{@model.administrativeUnitChangeset.error.isSubOrganizationOf.validation}}
                >
                  <:label>Gemeente</:label>
                  <:content as |hasError|>
                    <AdministrativeUnitSelect
                      @selected={{@model.administrativeUnitChangeset.isSubOrganizationOf}}
                      @onChange={{fn
                        (mut @model.administrativeUnitChangeset.isSubOrganizationOf)
                      }}
                      @classificationCodes={{this.classificationCodes}}
                      @error={{hasError}}
                      @id="related-gemeente"
                    />
                  </:content>
                </Item>

                {{#if @model.administrativeUnitChangeset.isSubOrganizationOf}}
                  <Item>
                    <:label>
                      Provincie
                    </:label>
                    <:content>
                      {{@model.administrativeUnitChangeset.isSubOrganizationOf.isSubOrganizationOf.name}}
                    </:content>
                  </Item>
                {{/if}}

              {{else}}
                  <Item
                    @labelFor="related-provincie"
                    @required={{false}}
                    @errorMessage={{@model.administrativeUnitChangeset.error.isSubOrganizationOf.validation}}
                  >
                    <:label>Provincie</:label>
                    <:content as |hasError|>
                      <ProvinceOrganizationSelect
                        @selected={{@model.administrativeUnitChangeset.isSubOrganizationOf}}
                        @onChange={{fn
                          (mut @model.administrativeUnitChangeset.isSubOrganizationOf)
                        }}
                        @error={{hasError}}
                        @id="related-provincie"
                      />
                    </:content>
                  </Item>
                  {{#if this.isNewApb}}
  <Item
                  @labelFor="related-gemeente"
                  @required={{false}}
                  @errorMessage={{@model.administrativeUnitChangeset.error.isAssociatedWith.validation}}
                >
                  <:label>Gemeente</:label>
                  <:content as |hasError|>
                    <AdministrativeUnitSelect
                      @selected={{@model.administrativeUnitChangeset.isAssociatedWith}}
                      @onChange={{fn
                        (mut @model.administrativeUnitChangeset.isAssociatedWith)
                      }}
                      @classificationCodes={{this.classificationCodes}}
                      @error={{hasError}}
                      @id="related-gemeente"
                    />
                  </:content>
                </Item>
                  {{/if}}

                {{/if}}
              </:left>
            </Card.Columns>
          {{/if}}
        </:card>
      </EditCard>
    {{/if}}
  </form>
</div>