<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-o-flow au-o-flow--large">
    <div class="au-o-flow au-o-flow--tiny">
      <AuToolbar>
        <AuToolbarGroup>
          <AuHeading>
            {{#let
              @model.mandatory.mandate.governingBody.isTimeSpecializationOf
              as |governingBody|
            }}
              Positie:
              {{@model.mandatory.mandate.roleBoard.label}},
              <br />
              {{governingBody.classification.label}}
              {{governingBody.administrativeUnit.name}}
            {{/let}}
          </AuHeading>
        </AuToolbarGroup>
        <AuToolbarGroup>
          {{! TODO: Replace this with the "edit" route once it is created }}
          <AuLink
            @route="people.person.positions.position"
            @skin="button-secondary"
            @icon="pencil"
            @iconAlignment="left"
          >
            Bewerk
          </AuLink>
        </AuToolbarGroup>
      </AuToolbar>
      <AuHeading @level="2" @skin="3" class="au-u-margin-top-tiny">
        {{@model.person.givenName}}
        {{@model.person.familyName}}
      </AuHeading>
    </div>

    <DataCard>
      <:title>Positie</:title>
      <:card as |Grid|>
        <Grid as |Item|>
          {{! TODO: Make it variable }}
          <Item>
            <:label>Type</:label>
            <:content>Mandaat</:content>
          </Item>
          <Item>
            <:label>Naam eredienst</:label>
            <:content>
              {{#let
                @model.mandatory.mandate.governingBody.isTimeSpecializationOf.administrativeUnit
                as |administrativeUnit|
              }}
                <AuLink
                  @route="administrative-units.administrative-unit"
                  @model={{administrativeUnit.id}}
                >
                  {{administrativeUnit.name}}
                </AuLink>
              {{/let}}
            </:content>
          </Item>
          <Item>
            <:label>Bestuursfunctie</:label>
            <:content>{{@model.mandatory.mandate.roleBoard.label}}</:content>
          </Item>
        </Grid>
      </:card>
    </DataCard>

    {{#if @model.mandatory.contacts}}
      <DataCard>
        <:title>Primaire contactgegevens</:title>
        <:card as |Grid|>
          <Grid as |Item|>
            {{#if @model.mandatory.contacts.firstObject.email}}
              <Item>
                <:label>Email</:label>
                <:content
                >{{@model.mandatory.contacts.firstObject.email}}</:content>
              </Item>
            {{/if}}
            {{#if @model.mandatory.contacts.firstObject.telephone}}
              {{! TODO: Identify if it is a landline or mobile number }}
              <Item>
                <:label>Vaste telefoonnummer</:label>
                <:content
                >{{@model.mandatory.contacts.firstObject.telephone}}</:content>
              </Item>
            {{/if}}
            {{#if
              @model.mandatory.contacts.firstObject.contactAddress.fullAddress
            }}
              <Item>
                <:label>Adres</:label>
                <:content
                >{{@model.mandatory.contacts.firstObject.contactAddress.fullAddress}}</:content>
              </Item>
            {{/if}}
          </Grid>
        </:card>
      </DataCard>
    {{/if}}

    <DataCard>
      <:title>Aanstelling</:title>
      <:card as |Grid|>
        <Grid as |Item|>
          <Item>
            {{! TODO: Ember complains about having a component inside a label component }}
            <:label>Start mandaat</:label>
            <:content>{{@model.mandatory.startDate}}</:content>
            {{!-- <:content>{{date-format @model.mandatory.startDate}}</:content> --}}
          </Item>
          {{#if @model.mandatory.mandate.governingBody.period}}
            <Item>
              <:label>Bestuursperiode</:label>
              <:content>
                {{@model.mandatory.mandate.governingBody.period}}
              </:content>
            </Item>
          {{/if}}
          <Item>
            {{! TODO: Ember complains about having a component inside a label component }}
            <:label>Geplande einddatum</:label>
            <:content>{{@model.mandatory.expectedEndDate}}</:content>
            {{!-- <:content>{{date-format
                @model.mandatory.expectedEndDate
              }}</:content> --}}
          </Item>
          {{#if @model.mandatory.typeHalf.label}}
            <Item>
              <:label>Verkozen</:label>
              <:content>{{@model.mandatory.typeHalf.label}}</:content>
            </Item>
          {{/if}}
          {{#if @model.mandatory.endDate}}
            <Item>
              {{! TODO: Ember complains about having a component inside a label component }}
              <:label>Einddatum</:label>
              <:content>{{@model.mandatory.endDate}}</:content>
              {{!-- <:content>{{date-format @model.mandatory.endDate}}</:content> --}}
            </Item>
          {{/if}}
          {{#if @model.mandatory.reasonStopped}}
            <Item>
              <:label>Stopzetting</:label>
              <:content>{{@model.mandatory.reasonStopped}}</:content>
            </Item>
          {{/if}}
        </Grid>
      </:card>
    </DataCard>
  </div>
</div>