{{page-title
  (concat
    'Organisatie Portaal' (if this.showEnvironment (concat ' - ' this.environmentName))
  )
}}

<AuApp class='{{(if this.showEnvironment (concat 'au-c-app--environment au-c-environment--' this.environmentName))}}'>
  {{#if this.showEnvironment}}
    <EnvironmentBanner
      @applicationName="OrganisatiePortaal"
      @environmentName={{this.environmentName}}
      @skin={{this.environmentValues.skin}}
      @message='Dit is de <strong>{{this.environmentValues.title}}</strong> van het Organisatie Portaal met fictieve en testgegevens. De productieomgeving met de echte data vind je op <a href="https://organisaties.abb.lblod.info/" title="Organisatie Portaal" rel="tag">https://organisaties.abb.lblod.info/</a>.'
    />
  {{/if}}  
  <AppHeader />
  {{#if (eq "true" (config "announce.maintenance.enabled"))}}
    <AuAlert @skin="warning"  @icon="alert-triangle" class="au-u-margin-bottom-none au-c-env-announcement">
      <p>{{config "announce.maintenance.message"}}</p>
    </AuAlert>
  {{else if (eq "true" (config "announce.newDeployment.enabled"))}}
    <AuAlert @skin="warning" @icon="alert-triangle"  class="au-u-margin-bottom-none au-c-env-announcement">
      <p>{{config "announce.newDeployment.message"}}</p>
    </AuAlert>
  {{else if (eq "true" (config "announce.testing.enabled"))}}
    <AuAlert @skin="warning" @icon="alert-triangle"  class="au-u-margin-bottom-none au-c-env-announcement">
      <p>{{config "announce.testing.message"}}</p>
    </AuAlert>
  {{/if}}
  <main id="main" class="au-c-main-container">
    <div class="au-c-main-container__content au-c-main-container__content--scroll" id="content" tabindex="-1">
      {{outlet}}
    </div>
  </main>
</AuApp> 