<SidebarContainer>
  <:sidebar>
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content au-o-box">
        <form
          {{on "submit" this.filter}}
          class="au-o-grid au-o-grid--small"
        >
          <div class="au-o-grid__item">
              <AuDatePicker
                @id="history-datepicker"
                @label="Vanaf"
                @value={{this.fromDate}}
                @onChange={{(fn (mut this.fromDate))}}
              />
            </div>
          <div class="au-o-grid__item">
            <AuDatePicker
              @id="tot-datepicker"
              @label="Tot"
              @value={{this.toDate}}
                @onChange={{(fn (mut this.toDate))}}

            />
          </div>
          <div class="au-o-grid__item">
            <AuButton @skin="primary" type="submit">
              Filter
            </AuButton>
          </div>
        </form>
      </div>
      <div class="au-c-sidebar__footer">
        <a
          href={{config "userManual.general"}}
          class="au-c-link au-c-link--secondary au-c-link--icon"
          target="_blank"
          rel="noopener noreferrer"
        >
          <AuIcon @icon="manual" @alignment="left" />
          Handleiding (externe link)
        </a>
        <AuHelpText @skin="secondary">
          {{config "appName"}}
          {{#if (config "showAppVersionHash")}}
            (<a
              class="au-c-link"
              href="https://github.com/lblod/frontend-organization-portal/commit/{{app-version
                shaOnly=true
              }}"
            >{{app-version shaOnly=true}}</a>)
          {{else}}
            v{{app-version versionOnly=true}}
          {{/if}}
        </AuHelpText>
      </div>
    </div>
  </:sidebar>
  <:content>

    <AuDataTable
      id="historyOfChanges"
      @content={{this.histories}}
      @isLoading={{this.showTableLoader}}
      @page={{this.page}}
      @size={{this.size}}
      @noDataMessage="Geen data"
      as |t|
    >
      <t.content as |c|>
        <c.header>
          <th>Gebruiker</th>
          <th>Datum</th>
          <th></th>
        </c.header>
        <c.body as |history|>
          <td>{{history.userFirstname}} {{history.userFamilyName}}</td>
          <td>{{history.dateCreation}}</td>
          <td>
            <AuLink @route="history-detail" @model={{history.id}}>
              Toon detail
            </AuLink>

          </td>
        </c.body>
      </t.content>
    </AuDataTable>

  </:content>
</SidebarContainer>