<SidebarContainer>
  <:sidebar>
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content">
        <div class="au-c-sidebar__header">
          <h6 class="au-u-h6 au-u-medium">Menu modules</h6>
        </div>
        <ul class="au-c-list-navigation">
          <li class="au-c-list-navigation__item">
            <AuNavigationLink @route="organizations">
              Organisaties
            </AuNavigationLink>
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink @route="people">
              Personen
            </AuNavigationLink>
          </li>
        </ul>
      </div>
      <div class="au-c-sidebar__footer">
        <a
          href={{config "userManual.general"}}
          class="au-c-link au-c-link--secondary au-c-link--icon"
          target="_blank"
          rel="noopener noreferrer"
        >
          <AuIcon @icon="manual" @alignment="left" />
          Handleiding (externe link)
        </a>
        <AuHelpText @skin="secondary">
          {{config "appName"}}
          {{#if (config "showAppVersionHash")}}
            (<a
              class="au-c-link"
              href="https://github.com/lblod/frontend-organization-portal/commit/{{app-version
                shaOnly=true
              }}"
            >{{app-version shaOnly=true}}</a>)
          {{else}}
            v{{app-version versionOnly=true}}
          {{/if}}
        </AuHelpText>
      </div>
    </div>
  </:sidebar>
  <:content>
    <div class="au-o-box">
      <AuHeading @skin="2" class="au-u-margin-bottom-large">
        {{this.currentSession.user.fullName}}
      </AuHeading>

      <AuHeading @level="2" @skin="3" class="au-u-margin-bottom">
        Beschikbare modules
      </AuHeading>

      <ul class="au-o-grid au-o-grid">
        <li class="au-o-grid__item au-u-1-2@medium au-u-2-5@large">
          <AuCard @flex={{true}} as |c|>
            <c.header @badgeSkin="brand" @badgeIcon="sitemap">
              <AuHeading @level="3" @skin="4">
                Organisaties
              </AuHeading>
            </c.header>
            <c.content>
              <ul>
                <li>
                  Kerninformatie over organisaties
                </li>
                <li>
                  Bestuursorganen en mandaten
                </li>
                <li>
                  Gerelateerde organisaties
                </li>
              </ul>
            </c.content>
            <c.footer>
              <AuButtonGroup class="au-c-button-group--wrap">
                <AuButton {{on "click" (fn this.goToContext "organizations")}}>
                  Ga naar organisaties
                </AuButton>
                <a
                  href={{config "userManual.module.organizations"}}
                  class="au-c-button au-c-button--link-secondary"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <AuIcon @icon="manual" @alignment="left" />
                  Handleiding (externe link)
                </a>
              </AuButtonGroup>
            </c.footer>
          </AuCard>
        </li>
        <li class="au-o-grid__item au-u-1-2@medium au-u-2-5@large">
          <AuCard @flex={{true}} as |c|>
            <c.header @badgeSkin="brand" @badgeIcon="users">
              <AuHeading @level="2" @skin="4">
                Personen
              </AuHeading>
            </c.header>
            <c.content>
              <ul>
                <li>
                  Persoonlijke informatie over personen
                </li>
                <li>
                  Contactinformatie
                </li>
                <li>
                  Posities
                </li>
              </ul>
            </c.content>
            <c.footer>
              <AuButtonGroup class="au-c-button-group--wrap">
                <AuButton {{on "click" (fn this.goToContext "people")}}>
                  Ga naar personen
                </AuButton>
                <a
                  href={{config "userManual.module.people"}}
                  class="au-c-button au-c-button--link-secondary"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <AuIcon @icon="manual" @alignment="left" />
                  Handleiding (externe link)
                </a>
              </AuButtonGroup>
            </c.footer>
          </AuCard>
        </li>
      </ul>
    </div>
  </:content>
</SidebarContainer>