<div class="au-c-main-container" itemprop="mainContentOfPage">
    <div class="au-c-main-container__content au-c-main-container__content--scroll">
        <main id="content">
            <div class="au-o-region-large">
                <div class="au-o-layout">
                    {{#if this.session.isAuthenticated}}
                    Logged in
                    <MockLogout />
                    {{else}}
                    <MockLogin as |login|>
                        {{#if login.isLoading}}
                        loading...
                        {{else}}
                        {{#if login.errorMessage}}
                        {{login.errorMessage}}
                        {{/if}}
                        <AuHeading @skin="4">Kies een bestuurseenheid om mee in te loggen.</AuHeading>

                        <ul>
                            {{#each this.model as |account|}}
                            <li>
                                <div class="au-o-box au-o-box--small au-c-card au-u-margin-bottom-small">
                                    <button type="button" {{on "click" (fn login.login account.id
                                        account.user.group.id)}}>
                                        <strong>{{account.user.firstName}} {{account.user.lastName}}</strong>
                                        {{account.user.group.name}}
                                    </button>
                                </div>

                            </li>
                            {{/each}}
                        </ul>
                        {{/if}}
                    </MockLogin>
                    {{/if}}
                </div>
            </div>
        </main>
    </div>
</div>