<PageHeader class="au-o-box">
  <:title>Vestigingen</:title>
  <:subtitle>{{@model.organization.abbName}}
    ({{@model.organization.classification.label}})</:subtitle>
  <:action>
    {{#if (is-feature-enabled "edit-contact-data")}}
      <SecuredArea>
        <:edit>
          <AuLink
            @route="organizations.organization.sites.new"
            @icon="add"
            @iconAlignment="left"
            @skin="button"
          >
            Nieuw
          </AuLink>
        </:edit>
        <:readOnly>
          <ReportWrongData />
        </:readOnly>
      </SecuredArea>
    {{else}}
      <ReportWrongData />
    {{/if}}
  </:action>
</PageHeader>

<AuDataTable @content={{this.sites}} @noDataMessage="Geen vestigingen" as |t|>
  <t.content as |c|>
    <c.header>
      <th class="au-c-data-table__header-title">Locatie</th>
      <th class="au-c-data-table__header-title">Type vestiging</th>
      <th class="au-c-data-table__header-title">Primair correspondentieadres
      </th>
      <SecuredArea>
        <:edit>
          <th></th>
        </:edit>
      </SecuredArea>
    </c.header>
    <c.body as |site|>
      <td>
        <AuLink
          @model={{site.id}}
          @route="organizations.organization.sites.site"
        >
          {{site.address.fullAddress}}
        </AuLink>
      </td>
      <td>
        <SiteTypeWithName @site={{site}} />
      </td>
      <td>{{if (eq site.id this.model.primarySite.id) "Ja" "Neen"}}</td>
      <SecuredArea>
        <:edit>
          <td>
            {{#if (is-feature-enabled "edit-contact-data")}}
              <AuLink
                @model={{site.id}}
                @route="organizations.organization.sites.site.edit"
              >
                Bewerk
              </AuLink>
            {{/if}}
          </td>
        </:edit>
      </SecuredArea>
    </c.body>
  </t.content>
</AuDataTable>